[2022-11-07 23:31] #11336 closed

[2022-11-07 23:35] jilladams commented on #11155
@maxx1128 is there an associated PR for this closed ticket? Figuring out if it should be included in Sprint 70 reporting or not.

[2022-11-07 23:36] jilladams commented on #11155
NM - found it - https://github.com/department-of-veterans-affairs/content-build/pull/1332. Adding Sprint 70.

[2022-11-07 23:42] jilladams commented on #10454
Noted on PR: this ticket needs an update for current status. It's been riding sprint to sprint, but I'd propose pulling out of sprint until it's clear what the steps are to get it merged / complete and that's a priority. (cc @dawnpruitt )

[2022-11-08 00:09] jilladams commented on #11495
Hi - reminder this happened awhile ago: https://github.com/department-of-veterans-affairs/va.gov-cms/issues/9085

[2022-11-08 00:15] apisandipas commented on #10916
@wesrowe @jilladams @ryguyk  I've completed the main ask of this ticket, e.g, the question reordering, hiding of the button on the final deadend etc. However, I'm blocked by a new Eslint rule asking us to migrate to the va-radio web component, as the RadioButton React component will be subset next month, as per https://dsva.slack.com/archives/C03R5SBELQM/p1666879267774979. I see we [have a ticket

[2022-11-08 00:26] jilladams commented on #10699
Moving back to Unrefined while we figure out next steps. (cc @wesrowe )

[2022-11-08 00:35] wesrowe opened #11500 "Add CSV Download capability to Form Audit view"
## Description

E.g., download results of [this search](https://prod.cms.va.gov/admin/content/va-forms/audit?combine=&moderation_state=editorial-published&workbench_access_section__section=All&field_va_form_administration_target_id=All&field_va_form_issue_date_value_op=%3C%3D&field_va_form_issue_date_value%5Bvalue%5D=03/03/2022&field_va_form_issue_date_value%5Bmin%5D=&field_va_form_issue_date_valu

[2022-11-08 00:42] jilladams commented on #10800
Since this is now in motion, removing Public Websites tag so it doesn't double up in our sprint reporting across the 2 teams. If you need us, just @

[2022-11-08 03:08] chri5tia commented on #11438
@jilladams @wesrowe Something I didn't think about. Typically menu links are part of content, so these links should be added on prod and not in a code config. I want to confirm that the expectation here is that:
- [x] the footer is available on prod
- [ ] the footer links are added on prod

[2022-11-08 05:29] dsinla commented on #9967
@EWashb @davidmpickett Following up on this ticket - Do we need to schedule a midpoint review here?

[2022-11-08 05:32] dsinla commented on #9894
I think this ticket got lost in the shuffle somehow. No action is/was required  required - shifting to the new survey was done at the Platform level.

[2022-11-08 05:32] #9894 closed

[2022-11-08 13:21] davidconlon commented on #10282
@JayDarnell @dsinla The VBA DB unfortunately does not support UTF-8.
I have now made the change to use "VetSuccess on Campus at University of Hawaii at Manoa"

This will propagate tonight through Lighthouse

[2022-11-08 13:21] #10282 closed

[2022-11-08 13:43] swirtSJW opened #11503 "Cover Non-clinical services and VBA services with workbench access"
## Description
![image](https://user-images.githubusercontent.com/5752113/200579345-d4c007b2-77cd-4aec-833e-01ed5064f150.png)

Its current state is that any vamc  or vba editor could  edit any any service of any other facility.  They should only be able to edit services in their section.

## Acceptance Criteria
- [ ] VAMC non-clinical services are covered by workbench access restrictions.
- [ ] VB

[2022-11-08 14:24] omahane commented on #11488
Checking https://www.va.gov/greater-los-angeles-health-care/locations/west-los-angeles-va-medical-center/
This is the page in prod where the description is set:
https://prod.cms.va.gov/taxonomy/term/35/edit?destination=/admin/structure/taxonomy/manage/health_care_service_taxonomy/overview

[2022-11-08 14:30] omahane commented on #11488
@dsinla I'll only be able to verify that that the HTML is rendering on the node:view screen, not on the front end where the React is running. That's a @ryguyk or @maxx1128 question. I'm testing on my local to see if the HTML will show to the editor as rendered or plain text.

But @laflannery 's question about approval is still pertinent. I think @davidconlon manages the VA Services taxonomy. Corre

[2022-11-08 14:49] JayDarnell commented on #10454
@jilladams @dsinla  this ticket is done. We are basically in a holding pattern until the lighthouse team fixes their latency issue and gives us the greenlight to merge.

[2022-11-08 15:12] davidconlon commented on #11488
There is a filter on the front end for linking phone numbers that needs to be applied to this field I believe.
The health service taxonomy is plain text.

[2022-11-08 15:45] JayDarnell commented on #10282
Thank you @davidconlon

[2022-11-08 16:00] swirtSJW commented on #11496
Now in this particular case, the error is caused by the suite 115 entry from address line 2.  However, I think it is likely that in other cases the link may end up wrong because line 2 is NOT included.  Though it would be interesting to see if we can find other cases where there is data in line 2 and that we end up with either a pass or a fail on the map link

[2022-11-08 16:23] edmund-dunn opened #11504 "Add last touched by a human datetime field to all content types"
## Description
We need to add a new datetime field to all content types. It will be automagically populated by functionality attached to the save button. This will allow us to track the last time a human reviewed/touched a node.

## Acceptance Criteria
- [ ] Add datetime field to all content types. The field will be disabled but visible on the form and view in the CMS.
- [ ] Update the Save button

[2022-11-08 16:23] edmund-dunn opened #11505 "Add last touched by a human datetime field to all content types"
## Description
We need to add a new datetime field to all content types. It will be automagically populated by functionality attached to the save button. This will allow us to track the last time a human reviewed/touched a node.

## Acceptance Criteria
- [ ] Add datetime field to all content types. The field will be disabled but visible on the form and view in the CMS.
- [ ] Update the Save button

[2022-11-08 16:23] EWashb opened #11506 "Update outdated content report with human-edited field"
## Description

After the completion of #11497 and #11505, we will need to update the outdated content report to reflect the new field. The outdated content report should only account for the last human-edited content.

## Acceptance Criteria
- [ ] refactor outdated content report to only use the last-human edited date
- [ ] refactor CSV export of outdated content to only use the last-human edited

[2022-11-08 16:26] dsasser commented on #11160
@jilladams @wesrowe I restored this AC after talking with Swirt:

[code]
Block _edit_ permissions *can* be controlled via Section access (workbench access).

[2022-11-08 16:29] EWashb commented on #11497
Currently blocked by @edmund-dunn's work on #11505

[2022-11-08 16:33] chri5tia commented on #11438
Code changes that the new cypress test applies to:
https://github.com/department-of-veterans-affairs/va.gov-cms/pull/10574/files

[2022-11-08 17:06] EWashb commented on #11495
@edmund-dunn you might want to take a look at #9085. I didn't realize we had a previous audit.

[2022-11-08 17:07] jilladams commented on #10097
Injected header / footer documentation: https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/public-websites#header--footer-injection, which further points out to the deeper docs for injecting / testing in [Proxy-rewrite README](https://github.com/department-of-veterans-affairs/vets-website/blob/main/src/applications/proxy-rewrite/README.md) with implementation & test

[2022-11-08 17:07] #10097 closed

[2022-11-08 17:10] jilladams opened #11507 "SPIKE: Review previous notes & create punchlist of header considerations for future iteration"
## Description
We need a deep dive analysis of the header / footer, to start thinking about next iteration.

What to consider:
* Header megamenu
* Footer
* Contexts:
  * Desktop
  * Mobile
  * Injected into TeamSite
* User experience angles:
  * 508
  * Performance
  * Use of React

## Existing documentation to review
 * Header documentation: https://github.com/department-of-veterans-affairs/va.go

[2022-11-08 17:10] laflannery commented on #10793
@edmund-dunn I reviewed this with Randi today and she pointed out a couple examples of pages that were appearing in the audit but not longer had tables.  I looked and she's correct - I also can't figure out what might be happening - our only guess is that maybe the audit is pulling previous revisions?

- Example 1:
  - https://www.va.gov/resources/helpful-va-phone-numbers/
  - https://prod.cms.va.

[2022-11-08 17:16] laflannery commented on #11435
Randi and I discovered a [discrepancy ](https://github.com/department-of-veterans-affairs/va.gov-cms/issues/10793#issuecomment-1307552025) with the new table audit.  I wanted to mention it here so these could possible be looked at together

[2022-11-08 17:17] laflannery commented on #10800
An additional [discrepancy ](https://github.com/department-of-veterans-affairs/va.gov-cms/issues/10793#issuecomment-1307552025) has been surfaced, waiting to see if this can be resolved

[2022-11-08 17:22] jilladams commented on #11507
I wrote this ticket up based on a sync with Dave / Wes, re: opting to punt #10698 for now, and wrap it into a bigger iteration. BUT: this feels giant and gnarly, and maybe impractical to expect a single engineer to determine a comprehensive scope of header issues / problems / opportunities to optimize in a single sprint issue, across all these dimensions.

Assigning to @wesrowe as a start, to refi

[2022-11-08 17:28] jilladams commented on #11358
@wesrowe Bryan flagged in scrum today that FE code is now throwing eslint errors where the old buttons are used, which becomes a merge blocking error that we have to override. Ideally, we'd pipeline this work and get the existing buttons swapped.

[2022-11-08 18:04] jilladams commented on #11438
Confirming: menu links should go in on Prod. We need to first confirm (per scrum discussion) that the existing Footer menu isn't exposed in any front-end code. We don't want new links showing up on prod front-end where they're not expected.

[2022-11-08 18:08] jilladams commented on #10454
Noting convo David and I had yesterday: one option in future when work is completed in a sprint but not yet mergeable:  merge your PR into an integration branch, so you can get code review / close the current-sprint ticket. A sep ticket can track  merging the integration branch to main in a future sprint. (We on PW usually make creating that follow up ticket an AC, so it doesn't get lost.)

[2022-11-08 18:21] omahane commented on #11488
I made these changes to the demo environment and ran content release. More details as they are made available.
![main-ersyymdhh8rrzxlevrh1xsmeyx7pzcpv demo cms va gov_taxonomy_term_35_edit_destination=_admin_structure_taxonomy_manage_health_care_service_taxonomy_overview](https://user-images.githubusercontent.com/766573/200644481-fbc4b7d4-457a-4513-b663-773f4c32c53e.png)

[2022-11-08 18:25] #11473 closed

[2022-11-08 18:25] #11468 closed

[2022-11-08 18:45] omahane opened #11508 "Show VA Services description fields in term:view as rendered"
## User Story or Problem Statement

As an editor, I want to see the VA Services description fields rendered as HTML rather than plain text so that I see an approximation of the content on the front-end.

The fields to render:

- field_vet_center_service_descrip
- field_tricare_description
- field_vba_service_descrip

### Manage Display Can't Change This
![va-gov-cms.ddev.site_admin_structure_taxon

[2022-11-08 18:48] jilladams opened #11509 "SPIKE: Character limit on Link text"
#11119 includes direction to add a character limit to link text on link fields. That paradigm doesn't exist.

We decided to implement #11119 up to anything with existing paradigms, and break out new concepts into separate tickets, limiting that ticket to a 3 point effort.

## Acceptance Criteria

- [ ] Investigate whether / how we might add char limits to link text
- [ ] Document options and inclu

[2022-11-08 18:51] jilladams commented on #11119
From sprint planning:
* Keep this ticket to 3 points -- implement everything that has an existing paradigm to manage char limits
* Any items that do _not_ have an existing paradigm / require special work, break out into separate tickets
* One known item in that bucket: link text doesn't currently have a way to add char limits. SPIKE ticketed for follow up: #11509

[2022-11-08 18:51] omahane commented on #11488
VAMC Page on front end:
<img width="1114" alt="Screen Shot 2022-11-08 at 12 49 49 PM" src="https://user-images.githubusercontent.com/766573/200650534-de333a57-97cb-4760-9499-2745a5acb929.png">

[2022-11-08 18:58] jilladams commented on #11438
Updated body to add notes that Language selector links don't need to go into this menu.

[2022-11-08 19:21] jilladams commented on #10916
From scrum:
* Leave Radio Buttons, to be addressed under #11358
* Write an exception/override, to get this PR past that blocker

[2022-11-08 19:22] JayDarnell commented on #11338
Updating the estimate as this initially requires a fair bit of database wrangling and I need to refresh myself on how I did it the first time.

[2022-11-08 19:56] omahane opened #11510 "Align VBA Facility Service inline entity editor to Vet Center"
## User Story or Problem Statement

As an editor, I want the editing of VBA Facilities Services on the VBA Facility content type to mirror the Vet Center experience to make work more consistent and predictable.

## Questions and Suggested changes

- UX: Add instructions to the Services field
- UX question: Should we make the Services table header include the Facility name?
- UX question: Should we

[2022-11-08 19:58] jilladams commented on #10699
Next step: #11347
https://dsva.slack.com/archives/C52CL1PKQ/p1667933509460979?thread_ts=1667852808.205269&cid=C52CL1PKQ

[2022-11-08 20:05] timcosgrove commented on #11312
Deprecation warnings can be supressed with the following syntax:

[2022-11-08 20:13] jilladams opened #11511 "Update email newsletter form with form action"
Form action = `action="https://public.govdelivery.com/accounts/USVACHOOSE/subscribers/qualify"`
Based on implementation from https://www.choose.va.gov/.

ACs:

- [ ] verify successful submission (TBD how from @mmiddaugh )

[2022-11-08 20:15] dawnpruitt commented on #10507
From my 11/2 sync with Dave - notes on potential PCT questions:
Public Contact Center Team Research
Dawn/Dave Sync 11-2, Dave’s thoughts
•	PCT Staff: another lens of the Veteran experience at the Regional office
•	Understand the services offered
•	Is there nuance (someone drives to the office to meet with a person but is then handed a phone)?
•	Services they see people using
•	Frequent problems th

[2022-11-08 20:16] jilladams opened #11512 "SPIKE: Email sub field email validation"
Email subscription form should ideally validate email structure before allowing submit, e.g. `@` and `.com` are present

## ACs

- [x] Check design system for options
- [x] Check HTML5 form validation / how far it extends re: browser support
- [x] Document how we could achieve this, with level of effort
- [x] Update #11511 with any notes

[2022-11-08 20:23] jilladams commented on #11425
Need to be mindful of URL change and publishing to Staging only until launch.

[2022-11-08 20:23] dsinla commented on #11510
@BlakeOrgan @EWashb Can you weigh in? Is there any existing research/feedback from Vet Center editors?
The Dev team is looking for some guidance before executing. Please advise when this might fit in your timeline?

[2022-11-08 20:40] ryguyk opened #11513 "[Search] DRY up SearchDropdownComponent typeahead handler"
## Status
* **[2024-09-13]** DST bug has shipped, now unblocked
* **[2024-08-01]** Blocked by DST bug: https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/3117
- **[2024-07-24]** Blocking DST ticket is now closed
- **[2024-05-30]** Still awaiting completion of ticket noted below
- **[2024-05-21]** Still awaiting completion of ticket noted below
- **[2024-05-15

[2022-11-08 20:55] laflannery commented on #11448
@wesrowe I believe this falls under Public Websites - this is not something that is a very high priority at all.  It is however being reported in our daily accessibility scan and I am just ignoring it for now but if this is something that could fit into a relatively soon-ish sprint (next 1 or 2 maybe?) that would be helpful.

Let me know if you want to chat about this or need any additional inform

[2022-11-08 21:22] EWashb commented on #11510
@dsinla we do have Vet Center research! I conducted a large study this time last year. Want to try to meet to chat about it? We also have insights listed in our Airtable Repository

[2022-11-08 21:47] ryguyk opened #11514 "Defect: Appointment wait times not loading"
## Description
See: https://dsva.slack.com/archives/C0FQSS30V/p1667871147267639

### Steps to understand problem:
1. Visit: https://www.va.gov/greater-los-angeles-health-care/locations/west-los-angeles-va-medical-center/
2. Expand one of the Health Services accordions.
3. Notice the spinner that remains rather than a widget eventually loading and replacing the spinner.

![image](https://user-image

[2022-11-08 22:18] omahane commented on #11488
@laflannery The term descriptions in VAMC and Vet Center for Suicide Prevention have been updated on prod:
![Screen Shot 2022-11-08 at 4 16 48 PM](https://user-images.githubusercontent.com/766573/200687876-f5303ff5-80dc-481f-a296-0a173f4ef395.png)

[2022-11-08 22:20] omahane commented on #11488
The terms "Advice Nurse" and "Pharmacy" do not use the 988 number, so those entries must be specific to individual facility services. We'll need an audit of those to find all uses.

[2022-11-08 22:32] omahane opened #11516 "CMS: Show Services name and description VBA Facility node:view"
## User Story or Problem Statement

As an editor, I want to see the name and description of the services on the VBA Facility node:view so that I can see what services are currently listed and how they are described.

## Acceptance Criteria

- [ ] Under SERVICES: the name of the service <Facility name> - <Service name> is displayed, followed by the description from the "VBA description" in the "VA

[2022-11-08 22:46] wesrowe commented on #11448
@ryguyk, I assigned this to you for pre-refinement because it involves looking for patterns elsewhere in the FE. If you'd prefer to hand it off that's fine with me.

[2022-11-08 22:57] omahane opened #11519 "Make Vet Center node:view services listing text the same as the front-end"
## User Story or Problem Statement

As an editor, I want the Services listing on the Vet Center node:view to more closely mirror the front-end, so I know that the information I've entered is accurate, complete and not redundant of the national content from the taxonomy term.

## Example of the Current Difference
https://www.va.gov/san-juan-vet-center/
vs
https://prod.cms.va.gov/san-juan-vet-center

[2022-11-08 23:22] apisandipas commented on #11324
@mmiddaugh  I had a question: What should the 'action key' be for the new events to be logged. Not sure if thats clear what I mean, so see below:

The Mega Menu items have an object with and event key and then a 'nav-header-action' key. The Mega Menu Block has an action key of 'nav-hub-action'.  Is there a specific 'action key' desired for the newly logged events, such as the Homepage CTA or Foote

[2022-11-08 23:26] wesrowe opened #11520 "[Certificate Alert] Remove PDF Cert Expiration Alerts (end-of-usefulness)"
## Description
Per Beth Potts, we should remove the alert implemented in this [ticket](https://github.com/department-of-veterans-affairs/va.gov-cms/issues/10956).

## Acceptance Criteria
- [x] Remove alert code
- [x] Remove flipper control logic & flipper itself, `pdf_warning_banner`
- [x] Create Platform support request to remove flipper from the UI, e.g. https://dsva.slack.com/archives/CBU0KDSB1

[2022-11-09 01:45] stefaniefgray commented on #11367
@dsinla All Vet Center required services were added to the live site properly when the CMS was built.

HOWEVER, there are no guardrails to keep editors from changing an _existing_ required service page to being linked to a different service altogether.

**Example:**
- The Cleveland Vet Center was missing the required Vet Center facility service "Veteran Connections"
- This required service page ac

[2022-11-09 13:41] laflannery commented on #11488
@omahane When I first reviewed this I confirmed that the other 2 numbers had been updated, only the Crisis number still needed updating (look at my comment from Sep 29).  I also just confirmed that the numbers in Advice Nurse and Pharmacy are not taxonomy content but service descriptions, [here's an example](https://prod.cms.va.gov/puget-sound-health-care/health-services/advice-nurse-at-va-puget-s

[2022-11-09 14:42] #11471 closed

[2022-11-09 15:07] omahane commented on #11488
@laflannery OK, thanks for the confirmation. Do we need another ticket for updating the service descriptions? Also, do we have a report of all of those? They look like they'll be hard to find.

[2022-11-09 15:48] #11488 closed

[2022-11-09 17:10] swirtSJW opened #11524 "Table audit published column issues"
## Describe the defect
On our new table audit View, the published column does not seem to reflect the expected results.

- issue A : Not descriptive of what "published" means.  Is this the parent node for the table paragraph?
- issued B: No unpublished nodes seem to be surfaced  Or if they are, column sort does now work because regardless of which way the sort it, unpublished never exist at the to

[2022-11-09 17:13] wesrowe opened #11525 "Collab: Update FaF Product Guide PPT for post-Jan7 and submit to Contact Center team"
## Description

[Slack thread with details](https://dsva.slack.com/archives/CNCEXNXK4/p1667863000409709).

I'm not sure if this is being tracked closly by the Collab Cycle ticket.

Updates needed:
- Download instructions always appear
- Form Search screenshot with alert
- Form Detail shot with alert
- New slide about PDF Cert issue

## Acceptance Criteria
- [ ] Update PPT
- [ ] Submit via slack – 

[2022-11-09 17:14] laflannery opened #11526 "Table audit displays tables that no longer exist on the current node"
## Describe the defect
When reviewing the new table audit with Randi and she pointed out a couple examples of pages that were appearing in the audit but no longer had tables. I looked and she's correct - I also can't figure out what might be happening - our only guess is that maybe the audit is pulling previous revisions?

Example 1:
https://www.va.gov/resources/helpful-va-phone-numbers/
https://p

[2022-11-09 17:22] michelle-dooley commented on #11262
@wesrowe and @ryguyk - this event is driven by web components that are already configured in GTM and working across other pages, so the GTM work is done, this needs FE code implementation on those 2 pages for event: int-accordion-expand and int-accordion-collapse.

![image](https://user-images.githubusercontent.com/93597659/200898098-f30b36eb-99c2-4076-86df-1bcca6e28803.png)

![image](https://user

[2022-11-09 17:41] timcosgrove commented on #10383
This is not needed. Closing.

[2022-11-09 17:41] #10383 closed

[2022-11-09 17:46] ndouglas opened #11528 "Discovery for automated tests for upstream and downstream API dependencies."
## Description
We have a number of [upstream](https://github.com/department-of-veterans-affairs/va.gov-cms/blob/main/READMES/upstream-dependencies.md) and [downstream](https://github.com/department-of-veterans-affairs/va.gov-cms/blob/main/READMES/downstream_dependencies.md) dependencies, but I'm not sure we have a clear picture of which of these are and are not covered by automated tests.

Some of

[2022-11-09 17:57] swirtSJW commented on #10877
Forms API external consumer uses GraphQL.    So risk is minimal there an easily surfaced.  However I don't know what they have in place to test their access from say the tugboat environment to make sure they are getting the same response.   We ought to be able to run their query (if we can find it) against our current environment and the php8 env and just diff the results to make sure there is no

[2022-11-09 18:03] #11404 closed

[2022-11-09 18:15] #8950 closed

[2022-11-09 18:25] jilladams opened #11530 "PW: Deprecate unused feature flags / toggles / flippers in FE and CMS"
## Status:
- 2024-01-25: Per Dave C we should start whittling these down and work on them as when possible.

## Background

Request from @RachalCassity:
Console Services Team is evaluating site performance, and identified that feature toggles (Flipper) in vets-api and vets-website repos.

Feature toggles endpoint is called multiple times per page, and causes Sentry errors / site latency.

Proposed

[2022-11-09 18:39] jilladams commented on #10698
Thanks! Also noting: we've added this to an epic to begin aggregating issues for that header iteration: https://github.com/department-of-veterans-affairs/va.gov-cms/issues/9136

[2022-11-09 18:41] jilladams opened #11532 "va-forms audit view: Make Form administration header click-sortable"

[2022-11-09 18:58] JayDarnell commented on #10877
Thank you very much for your response @swirtSJW

[2022-11-09 19:23] ryguyk commented on #11262
Let me take a deeper look at this. My commentary above was based on an extremely brief initial dive. I had not previously engaged with these analytics.

[2022-11-09 19:23] #11514 closed

[2022-11-09 19:29] swirtSJW commented on #11524
paragraph "publish" behavior is not parallel with published nodes.  It is not quite the same thing at all when workbench moderation is enabled.
https://www.drupal.org/project/paragraphs/issues/2949412

[2022-11-09 19:33] EWashb commented on #10507
document with feedback shared with @dsinla and @dawnpruitt. Will add final doc once we agree on direction

[2022-11-09 19:34] EWashb commented on #9967
Yes! this will need a midpoint review @dsinla

[2022-11-09 19:36] JayDarnell commented on #11338
[Mental Health Phone Number Audit.xlsx](https://github.com/department-of-veterans-affairs/va.gov-cms/files/9974480/Mental.Health.Phone.Number.Audit.xlsx)

There are two tabs in this sheet. In the first tab I've trimmed down the result set significantly to 143 items. There are no archived items in this list. For each item that remains there are either phone numbers in the Appointment Phone or Servi

[2022-11-09 19:47] #11282 closed

[2022-11-09 20:01] laflannery commented on #11524
I was going through the table audit and I found a real life example of this that I just wanted to document so we can be sure this is working properly later:

- Bedford Health Care - [Confined Space Information - BK-03-B004A-PRCS page](https://www.va.gov/bedford-health-care/work-with-us/doing-business-with-us/confined-space-information-bk-03-b004a-prcs) is archived, but the :
- This is [archived in

[2022-11-09 20:24] dsinla commented on #10914
@omahane: Notes from discussion with @davidconlon:
Regarding:
Shared VHA Location (field_shared_vha_location)
Parent Office Location (field_parent_office_location)
-> make sure this is identified as or links to the already existing facility node ID
"Don't just migrate, but look up and link"  We know that this vha_123 maps to node in cms node5555

It's ok if this mapping is a separate task after th

[2022-11-09 20:33] mmiddaugh opened #11535 "Redesigned homepage - soft launch modal"
## Issue description
As a Veteran, I want to be given the opportunity to check out the redesigned homepage once per session so that I can know what's coming and offer feedback.

As the Sitewide Homepage team, we need a way to offer the opportunity to use the new redesigned homepage experience to Veteran and beneficiaries visiting VA.gov. so that we can gather feedback to determine readiness for cu

[2022-11-09 20:33] mmiddaugh opened #11536 "Redesigned homepage - soft launch modal"
## Issue description
As the Sitewide Homepage team, we need a way to offer the opportunity to use the new redesigned homepage experience to Veteran and beneficiaries visiting VA.gov.

A similar need occurred during the original launch of VA.gov but was managed using a preview subdomain which is not an option for this launch.

Two options were evaluated during a design, accessibility and implementa

[2022-11-09 20:37] mmiddaugh commented on #11536
closing as a duplicate - Zenhub fluke

[2022-11-09 20:38] mmiddaugh commented on #11389
Discussed with Ryan today - design input to be provided by 11/11/2022

[2022-11-09 20:38] chri5tia commented on #11404
PR: https://github.com/department-of-veterans-affairs/va.gov-cms/pull/11498

[2022-11-09 20:47] mmiddaugh opened #11537 "Redesigned homepage - implement feedback button for launch"
## Issue description
As the Sitewide Homepage team, we need a way for Veterans and beneficiaries to provide feedback on the redesigned homepage experience.

Note, this implementation may require some custom work as the position of the feedback button on the current homepage may compete with other page elements or cause confusion given the proximity with the row of Veteran portraits and the email s

[2022-11-09 21:01] mmiddaugh opened #11538 "Redesigned homepage - update "Create account" area"
## Issue description
As the Sitewide Homepage team, we need a method to present the value for creating a VA.gov account and information on choosing the type of account.

**Cross-functional team decision**
- Create a Resources and Support page to support account creation
- Update language (as needed) in "Create account" area on redesigned homepage
   _- (note from Danielle, the copy should say "...

[2022-11-09 21:25] mmiddaugh commented on #11324
@apisandipas - for a given event, I'd like to be able to identify 1) what was clicked and 2) from where (assuming there might be several possible locations).
I like the specificity of `homepage-cta-action` rather than the generic `action`.
But unless I'm missing a piece of the bigger picture, I think we'll need at least a partial title or link text to differentiate one homepage CTA from another, s

[2022-11-09 21:37] apisandipas commented on #11324
@mmiddaugh Understood, I was purposefully non specific in my example. Thanks for your response!

[2022-11-09 22:14] heyjoni commented on #11487
These links are ready to implement,

[2022-11-09 22:22] swirtSJW commented on #11524
This problem is likely bigger than this ticket.  We ,ay want to just remove the published column and filter from the View as  it is meaningless and offers no functionality.

[2022-11-10 00:31] chri5tia commented on #11438
https://github.com/department-of-veterans-affairs/content-build/blob/main/src/platform/static-data/footer-links.json

[2022-11-10 00:59] wesrowe commented on #11438
Link to [DSVA slack thread](https://dsva.slack.com/archives/C52CL1PKQ/p1668035722276659) where we discuss some enhancements that may be necessary to the Drupal data model. Changes depend on the FE architecture design.

Things the FE probably needs to know, based on json file in comment above:
- column
- href
- title
- order - should be captured by drupal's `weight`
- target ("" or "_blank")
- rel

[2022-11-10 02:06] ryguyk commented on #11262
Thanks @michelle-dooley for the additional information.

@wesrowe I've got my head around this more clearly now.

**Importantly, this problem potentially goes beyond our team's purview. It might not be our issue to solve.**

That said, in order to help figure out if that might be the case, I've done a little leg work to understand the issue better and outline a potential solution.

## Problem deta

[2022-11-10 03:46] dsinla opened #11541 "PM: Test QR code instructions with the field and determine next steps"
## Description

[Provide instructions to VAMCs for encoding QR code campaign values](https://github.com/department-of-veterans-affairs/va.gov-cms/issues/11311) was closed in Sprint 70, but the AC's weren't clear. The backend GA data is in place, next we want to test the provided instructions in the field, and determine how this will roll out to other sites.

## Acceptance Criteria
- [ ] Test the p

[2022-11-10 04:00] dsinla opened #11542 "[EPIC] Facility Locator iteration 2023-2024"
The work described below is big picture and represents the larger context for multiple epics, including

- Update Vets-API to Lighthouse v1 (Phase 1) #15344
- Facility Locator uses Lighthouse API v1 with existing functionality (Phase 2)#12907
- Update Facility Locator to allow plain language search for Lighthouse V1 implementation (Phase 3) (#14993)
- Facility Locator Mobile Map experience #16001

[2022-11-10 13:37] swirtSJW commented on #11505
@BlakeOrgan @EWashb
Something doesn't feel right about this.  If this is a field that is automatically set and editors can not edit it anyway, is there any reason to surface it as a field on the node-edit form?
![image](https://user-images.githubusercontent.com/5752113/201104020-f20a7336-dd52-4472-9e29-c636b62f6280.png)

It makes sense for the value to appear on node-view as that is how anyone can

[2022-11-10 14:20] EWashb commented on #11505
So I've been thinking a lot about this. You raise really good points here, Swirt.
I know they cannot interact with it, but I wonder if there is value in surfacing it since we are hoping editors will start refreshing content on a more regular cadence. Keeping this field in view may encourage them to be more proactive with 6102 compliance. However, I'm curious about @BlakeOrgan's opinion here.

[2022-11-10 15:45] laflannery commented on #11504
Duplicate Erika said to close

[2022-11-10 15:45] #11504 closed

[2022-11-10 15:52] ndouglas commented on #11505
We could render it as just text in the sidebar, couldn't we?

[2022-11-10 15:57] BlakeOrgan commented on #11505
I talked with @edmund-dunn about this the other day and mentioned that I thought it was weird that we were surfacing this field on the edit form when it is always going to be disabled. I do think that it's good to show this "Last edited by a human" timestamp in the node view, but I don't think that doing it in the edit flow is necessary. I like @ndouglas's idea of rendering it as text in the sideb

[2022-11-10 17:03] #9697 closed

[2022-11-10 17:05] omahane commented on #10914
@dsinla Thanks for that clarity.

I wanted to make sure I had this down correctly regarding the Sections taxonomy. Is it right that the structure should be as follows (for example with "El Paso Veteran Readiness and Employment Office", vba_349v):
- VBA facilities
  - Continental
    - Waco VA Regional Benefit Office

While I know we've talked about it, I couldn't find my notes or where it was note

[2022-11-10 17:16] omahane commented on #10914
@swirtSJW On a related note, I am unclear about the Sections taxonomy.
I’m thinking I should add the districts manually.
Then, I could do I migration of terms, using the 58 Regional benefit offices.

Then, I could do the Facility  additional fields import.

Does that make sense?

[2022-11-10 17:27] dsinla commented on #10914
@omahane The taxonomy structure as you describe it was the agreed strategy.  I need to find it, but I believe it was in a @davidmpickett design ticket where he offered a couple alternatives, and we got confirmation that YES, we will go with

- VBA Facilities
  - District
    - RO

There was no need for more granularity. An editor at an RO will have rights to all the child facility types within tha

[2022-11-10 17:39] wesrowe commented on #11153
Additional ACs:
- [ ] UI tiles display all categories for a given item
- [ ] Filters evaluate all item categories present

[2022-11-10 17:48] dsinla commented on #11367
Proposed: If this is a required service, the field for selecting the service is disabled for non-admins.

[2022-11-10 17:52] omahane commented on #10914
There 4 districts:

1. Continental
2. Northeast
3. Pacific
4. Southeast

In terms of nomenclature, how should the districts look? I can think of several ways, but these seem the most likely:
<img width="580" alt="Screen Shot 2022-11-10 at 11 50 36 AM" src="https://user-images.githubusercontent.com/766573/201170115-c207292f-7e9f-458f-8dab-6b3ecec8329a.png">

@dsinla or @swirtSJW What do you think?

[2022-11-10 17:53] cmaeng opened #11543 "Migrate runtime tasks off of Jenkins to GHA"
## Description
As part of the migration off of BRD, the first set of tasks we want to move are runtime tasks. This is based on the spike done in #9765

Tasks that occur outside of a deployment. In the near future these will need a different orchestration/automation tool to trigger and run these actions. So far, Github Actions is the leading candidate. It is free, similar to Jenkins, and has self-h

[2022-11-10 17:57] dsinla commented on #11401
Suggest tackling this in Q1 2023

[2022-11-10 18:05] dsinla commented on #11484
EOL for PHP 7.4 - moving to 8.1 - is Nov 28th.
Likely we can address this without waiting for the larger COVID status re-strategy.

[2022-11-10 18:08] dsinla commented on #11028
Suggestion: If publish state is archive, and they're non admin, dont display Save button - or- Remove Edit tab?

[2022-11-10 18:15] dsinla commented on #11542
We've often spoken of a Service Locator vs a Facility Locator - to what extent do we incorporate a refocusing in this ticket?

[2022-11-10 18:20] cmaeng opened #11544 "Determine an approach for CMS every-minute tasks run on prod"
## Description
As part of the migration off of BRD, the first set of tasks we want to move are runtime tasks through the Ansible playbook. This is based on the spike done in https://github.com/department-of-veterans-affairs/va.gov-cms/issues/9765

http://jenkins.vfs.va.gov/job/cms/job/cms-every-minute-prod/
Jenkins initiates the execution of the program (binary file) task on a CMS instance. Task t

[2022-11-10 18:20] cmaeng opened #11545 "CMS periodic tasks run on prod"
## Description
As part of the migration off of BRD, the first set of tasks we want to move are runtime tasks. This is based on the spike done in https://github.com/department-of-veterans-affairs/va.gov-cms/issues/9765

http://jenkins.vfs.va.gov/job/cms/job/cms-periodic-prod/
Jenkins initiates the execution of the program (binary file) task on a CMS instance. Task takes a configuration file and a t

[2022-11-10 18:20] cmaeng opened #11546 "CMS daily-0800 tasks run, stored in va.gov-cms repo"
## Description
As part of the migration off of BRD, the first set of tasks we want to move are runtime tasks. This is based on the spike done in https://github.com/department-of-veterans-affairs/va.gov-cms/issues/9765

http://jenkins.vfs.va.gov/job/cms/job/cms-daily-0800/
Jenkins initiates the execution of the program (binary file) task on a CMS instance. Task takes a configuration file and a task

[2022-11-10 18:20] cmaeng opened #11547 "Report CMS Content Release Metrics to Prometheus"
## Description
As part of the migration off of BRD, the first set of tasks we want to move are runtime tasks. This is based on the spike done in https://github.com/department-of-veterans-affairs/va.gov-cms/issues/9765

http://jenkins.vfs.va.gov/job/cms/job/cms-content-release-metrics/
No longer needed and supplanted with Datadog.

**META** pipeline DB/EFS backup and sanitize
http://jenkins.vfs.va.

[2022-11-10 18:21] cmaeng opened #11548 "Backup database on prod.cms.va.gov"
## Description
As part of the migration off of BRD, the first set of tasks we want to move are runtime tasks. This is based on the spike done in https://github.com/department-of-veterans-affairs/va.gov-cms/issues/9765

http://jenkins.vfs.va.gov/job/cms/job/cms-db-backup-prod/
Jenkins initiates the execution of Ansible plays. The plays reference roles that have tasks to be carried out on the target

[2022-11-10 18:21] cmaeng opened #11549 "Backup EFS sites/default/files/ on prod.cms.va.gov"
## Description
As part of the migration off of BRD, the first set of tasks we want to move are runtime tasks. This is based on the spike done in https://github.com/department-of-veterans-affairs/va.gov-cms/issues/9765

http://jenkins.vfs.va.gov/job/cms/job/cms-efs-backup-prod/
Jenkins initiates the execution of Ansible plays. The plays reference roles that have tasks to be carried out on the targe

[2022-11-10 18:21] cmaeng opened #11550 "Sanitize database on prod.cms.va.gov"
## Description
As part of the migration off of BRD, the first set of tasks we want to move are runtime tasks. This is based on the spike done in https://github.com/department-of-veterans-affairs/va.gov-cms/issues/9765

http://jenkins.vfs.va.gov/job/cms/job/cms-db-sanitize/
Jenkins initiates the execution of Ansible plays. The plays reference roles that have tasks to be carried out on the target de

[2022-11-10 18:24] laflannery commented on #11136
Updated [draft article here](https://docs.google.com/document/d/1CrlwVLZpWjnvrpi1lZAc7UJ9vjomdYFI28yyRMbsZYE/edit#)

@edmund-dunn Can you review for correctness - making sure my explanation of the filters and all that makes sense and I didn't miss anything?

@EWashb could you review and see if the entire article make sense logically in how I presented it?

Thanks!

[2022-11-10 18:25] dsinla commented on #11519
This is a defect with current Vet Center behavior. We do NOT want to reproduce this behavior to VBA.  No dependencies, this can just be fixed.

[2022-11-10 18:29] laurwill commented on #11022
Hi @wesrowe ,
Just confirming a few details as we draft content:
- Will this alert show only on form detail pages with a "last updated" date before March 2022?
- Will the "last updated" date change when forms managers update the certificate?
- If the "last updated" date changes, will this alert then disappear?

Thank you!

[2022-11-10 18:36] cmaeng opened #11551 "CMS daily tasks run, stored in va.gov-cms repo"
## Description
As part of the migration off of BRD, the first set of tasks we want to move are runtime tasks. This is based on the spike done in https://github.com/department-of-veterans-affairs/va.gov-cms/issues/9765

http://jenkins.vfs.va.gov/job/cms/job/cms-daily/
Jenkins initiates the execution of the program (binary file) task on a CMS instance. Task takes a configuration file and a task name

[2022-11-10 18:38] laflannery commented on #10949
@jilladams I came across this and it seems like a duplicate of #10793 - both are to ensure that all tables are being displayed in the table audit. Do you know if this is a true duplicate and could it be closed or was this intended to be something else?

[2022-11-10 18:46] swirtSJW commented on #10914
The terms get created on the fly during this migration.  Let me get you some notes.

[2022-11-10 18:52] omahane commented on #10914
Ok, so both the parent and child terms are created, along with the new field content, during the same migration?

[2022-11-10 18:55] jilladams commented on #10949
Pretty sure it ended up being a true dupe. The goal was: identify any tables missing that Sitewide Content knew should be there. I believe #10793 achieved that.

[2022-11-10 18:56] laflannery commented on #10949
Ok, I just wanted to make sure I wasn't closing a ticket of yours that I misunderstood, thanks!

[2022-11-10 18:56] #10949 closed

[2022-11-10 18:58] swirtSJW commented on #10914
For bringing in the sections you want to mimic what it done here
docroot/modules/custom/va_gov_migrate/config/install/migrate_plus.migration.health_care_region_page.yml

https://github.com/department-of-veterans-affairs/va.gov-cms/blob/main/docroot/modules/custom/va_gov_migrate/config/install/migrate_plus.migration.health_care_region_page.yml#L81-L93     only use entity generate... which will gene

[2022-11-10 19:38] jilladams commented on #11326
@stefaniefgray (cc @TroyA6 , @wesrowe , @EWashb ):  Draft how to create Publication article:  https://prod.cms.va.gov/how-to-create-outreach-materials-publications

[2022-11-10 20:14] cmaeng commented on #11547
determined not to be needed

[2022-11-10 20:14] #11547 closed

[2022-11-10 20:27] cmaeng commented on #11544
@timcosgrove why isn't there a cron job on our servers that does this?

@ElijahLynn : everything was in this one container; eventual consistency, who's the leader that's going to be running the cron? this makes it easier and observable. architected to be able to modify individual tasks (declaration in the application repo). Argo workflows (?) could be a consideration if we think we're going to use

[2022-11-10 20:27] cmaeng commented on #11544
more time is needed to think through an approach for this.

[2022-11-10 20:32] laflannery opened #11553 "PHP 8.1 Testing: Errors found on Compare Revisions page"
## Describe the defect
Errors were found on the Compare revisions page when testing PHP 8.1:

## To Reproduce
Steps to reproduce the behavior:
1. Go to https://vacms-10870-upgrade-to-php81-rh7pjindaxvyxvr35alvilr3mqpgaoko.ci.cms.va.gov/node/50765/revisions/view/721480/721481/visual_inline
2. See errors being reporting at the top of the page

## AC / Expected behavior

- [ ] Investigate/Resolve err

[2022-11-10 20:36] cmaeng opened #11554 "Determination on best workflow tool & Implement"
## Description
As part of the migration off of BRD, there was a spike done in #9765 to inventory all CMS tasks that need to be moved.

Before starting any migrations, we need to determine the best workflow tool to leverage. We defaulted to GitHub Actions but have brainstormed multiple potential issues with that.

- Limitation on frequency of job runs
- GHA isn't great to see the output of tasks th

[2022-11-10 20:41] ElijahLynn commented on #11554
Slack discussion here > https://dsva.slack.com/archives/CJYRZK2HH/p1668112547807419

[2022-11-10 20:42] cmaeng commented on #11554
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/11554?planning-poker) with Zenhub @ElijahLynn @olivereri @timcosgrove

[2022-11-10 20:48] laflannery opened #11555 "PHP 8.1 Testing: Empty related office dropdown"
## Describe the defect
I am not sure if this is related to the PHP upgrade or not.

On VAMC Detail Pages, the dropdown for "Related office or health care system" has no available options beings populated in the select box. Normally, this shows all available VAMCs.

## To Reproduce
Steps to reproduce the behavior:
1. Go to https://vacms-10870-upgrade-to-php81-rh7pjindaxvyxvr35alvilr3mqpgaoko.ci.cms

[2022-11-10 21:33] laflannery commented on #11205
@jilladams I reviewed the above example pages I had previously identified in this situation and I have a few updates:

- The [English COVID FAQ page](https://www.va.gov/coronavirus-veteran-frequently-asked-questions/)
  - There is one section that is incorrect here - these accordions should be H3s:
![image](https://user-images.githubusercontent.com/106678594/201208289-7b9dbb4a-77c2-4d99-ba01-f8674

[2022-11-10 21:35] laflannery opened #11556 "PHP 8.1 Testing: Errors found on Benefits Hub Landing Page"
## Describe the defect
Errors found on Benefits Hub Landing Page Edit screen when testing PHP 8.1:

## To Reproduce
Steps to reproduce the behavior:
1. Go to https://vacms-10870-upgrade-to-php81-rh7pjindaxvyxvr35alvilr3mqpgaoko.ci.cms.va.gov/node/74/edit
2. See errors being reporting at the top of the page

## AC / Expected behavior

- [ ] Investigate/Resolve errors

## Screenshots
![image](https:

[2022-11-10 21:46] JayDarnell commented on #11375
@dsinla did we sort out the ACs for this? I feel like we talked about this as a group this week but I don't remember what was decided, if anything, and the ticket hasn't been updated.

[2022-11-10 23:22] wesrowe commented on #11438
Notes:
- Adjust ACs to 3 col + rail
-
- Talk to content designer (Pickett) about Col 4, aria-labels
  - Col headers: Parent-level links will not have links/hrefs
  - Order of 3 cols will be determined by order in drupal
- Inform Pickett about 3-menu approach
- Document rationale in this ticket
  - Col 4 may need extra attributes in
- Be cognizant of:
  - Injection
  - Mobile differences (drupal do

[2022-11-10 23:33] swirtSJW commented on #11375
@JayDarnell  This ticket should be closed as the only outcome that needed action was
![image](https://user-images.githubusercontent.com/5752113/201227938-add9083e-cf33-426a-be34-681c88c50aea.png)

[2022-11-10 23:34] swirtSJW commented on #11375
@dsinla If that ticket has been created, this can be closed.

[2022-11-10 23:45] dsinla commented on #11375
Thanks @JayDarnell for following up
I will
1. Add the question for VHADM - do the links in the Update Block have analogs for TRICARE?
2. Create a ticket and add to punchlist ticket for correcting the link to Operating Status page.

[2022-11-11 00:22] dsinla opened #11557 "CMS: Lovell Federal TRICARE Operating Status page issues"
## Description
In the demo environment, on the [Lovell Federal Tricare system page ](https://web-liqqgmzl7tsyfbwyulbkuborufuuttav.demo.cms.va.gov/lovell-federal-tricare-health-care/), in the Updates Block, the link to the Operating status points to the VA side when it should point to Lovell.

![image](https://user-images.githubusercontent.com/62269210/201233184-0ab5f4a5-0d97-464e-8a1b-72d3bb0c09bf

[2022-11-11 00:41] davidmpickett commented on #10914
Here's the ticket @dsinla referenced above: https://github.com/department-of-veterans-affairs/va.gov-cms/issues/11333

[2022-11-11 00:59] dsinla commented on #11557
Poking around a bit further, looks like editors can enter an Operating Status and Link text in the System page, but it's blank in the demo env for Lovell TRICARE system.  Looking at a few other systems in production, it looks like we explictly denote the Operating Status page.

![image](https://user-images.githubusercontent.com/62269210/201234592-8f4fc309-0a65-4b85-a045-8df4a1700542.png)

Right no

[2022-11-11 13:33] #11503 closed

[2022-11-11 22:09] apisandipas commented on #11511
* The Design System doesn't have an explicit email field
* The [Text Input](https://design.va.gov/storybook/?path=/docs/components-va-text-input--default) does accept 'type' and 'inputmode' attributes, which can be set to 'email' and provides with own validation UI.
* Looking at the [forthcoming design iteration](https://www.sketch.com/s/3aa40506-4be2-46cc-876b-93f1a9f3a857/p/EAD305BC-3082-4F81-AD

[2022-11-14 15:08] TheBoatyMcBoatFace opened #11564 "Onboarding: Bentley Hensel"
<details><summary>Welcome!</summary>

# Welcome to the VA.gov Modernization Team! 👋
We're thrilled to have you join us on this journey! 🎆🎉🙌

Our [vision](https://docs.google.com/presentation/d/14mK-4OMeEnR_-fgj62U4lUHBHg6htj4i4ucTA5DJFzg/edit#slide=id.g11ae1dc437e_0_1) is to craft a seamless editorial experience that empowers editors to create Veteran-centered content. In April of 2022, we also as

[2022-11-14 17:39] JayDarnell commented on #11357
@dsinla is there anything you need from the Dev team for this item?

[2022-11-14 17:40] JayDarnell commented on #10853
@dsinla is there anything you need from the Dev team for this?

[2022-11-14 17:45] JayDarnell commented on #1939
@dsinla @swirtSJW all subtasks for this epic are complete and the facilities in question were manually added to production in October. Can we close this epic?

[2022-11-14 17:47] JayDarnell commented on #10027
@swirtSJW do you feel we are far enough along now that this is unblocked and actionable?

[2022-11-14 18:17] dsinla commented on #11357
@JayDarnell I'm currently refactoring the notes above into a more complete plan, and creating tickets. So the short answer is - Not now, but would like a review when I have that done in the next day or so.

[2022-11-14 18:18] olivereri opened #11566 "SSOi SAML certificate in Prod needs replacement"
## Description
The IAM team will be replacing the SSOi SAML certificate in the Production environment on Thursday, December 9, 2021 at 9:00pm EST. This activity will impact SSOi SAML Partners only (NOT WebAgent Partners). Upon completion of the certificate update, Partners will be required to update the SSOi SAML certificate.

## Acceptance Criteria
- [x] Replace the existing SSOi SAML certificate

[2022-11-14 18:22] dsinla commented on #10853
@JayDarnell  We determined that previous runbooks didn't really have a plan that could be adapted, so we're documenting our plan on the similar ticket: https://github.com/department-of-veterans-affairs/va.gov-cms/issues/11357

Again, I think the next step is a review with DEV when I've got the plan in a solid draft.  Thanks!

[2022-11-14 18:23] olivereri commented on #11566
**logon.iam.va.gov** certificate

-----BEGIN CERTIFICATE-----
MIIFBTCCA+2gAwIBAgIHPQAAAACnDTANBgkqhkiG9w0BAQsFADBHMRMwEQYKCZIm
iZPyLGQBGRYDZ292MRIwEAYKCZImiZPyLGQBGRYCdmExHDAaBgNVBAMTE1ZBLUlu
dGVybmFsLVMyLUlDQTQwHhcNMjIxMTAxMTkxMzE1WhcNMjMxMTI1MTkxMzE1WjB2
MQswCQYDVQQGEwJVUzERMA8GA1UECBMIVmlyZ2luaWExEDAOBgNVBAcTB0FzaGJ1
cm4xJzAlBgNVBAoTHkRlcGFydG1lbnQgb2YgVmV0ZXJhbnMgQWZmYWlyczEZMBcG
A1UEAxMQbG9nb

[2022-11-14 18:23] dsinla commented on #1939
@JayDarnell I'm going to say YES as far as I'm concerned.

[2022-11-14 18:30] olivereri commented on #11566
@cmaeng found last year's IAM cert update. Copied the contents here for this Thursdays cert replacement.
https://github.com/department-of-veterans-affairs/va.gov-cms/issues/7026

[2022-11-14 18:30] wesrowe commented on #10698
Moving back to Needs refining for the team to address when the time comes

[2022-11-14 18:30] dsinla commented on #11350
@JayDarnell is this a duplicate of https://github.com/department-of-veterans-affairs/va.gov-cms/issues/11422 ?

[2022-11-14 18:36] #11350 closed

[2022-11-14 18:38] dsinla commented on #11350
Closing as duplicate of #11422

[2022-11-14 18:46] JayDarnell commented on #11212
I'm going to take a first pass at this @dsinla and sync up with you after.

[2022-11-14 18:47] JayDarnell commented on #1939
Closing as discussed.

[2022-11-14 18:47] #1939 closed

[2022-11-14 19:22] JayDarnell commented on #11422
@maxx1128 I would be interested in taking this off your plate if you're currently overloaded and if I can get a primer for where this lives in the front end code.

[2022-11-14 19:39] cmaeng commented on #11566
perfect, thanks @olivereri !

[2022-11-14 19:47] jilladams commented on #11160
As Daniel and I are [QAing the permission changes](https://github.com/department-of-veterans-affairs/va.gov-cms/pull/11534#issuecomment-1310750553),  most of our content / settings for the homepage are on admin screens (menus, blocks). Standard set up is that only Drupal Admins can access those screens, so there are some things to note that we will need to work out:

## **Menus**
1. We can add the

[2022-11-14 19:48] wesrowe commented on #11022
Yes to all 3, @laurwill

[2022-11-14 20:17] jilladams opened #11568 "[Blocked] FE: Top pages menu: Make H2 dynamic /read from CMS menu title"
**BLOCKED: the editable field in the CMS gets overwritten from code, so you cannot actually modify the menu name via editable CMS field**

## Menu title
#11654 will update the H2 name of this menu from `Popular on VA.gov` > `Top pages`

Section title is currently hard coded: https://github.com/department-of-veterans-affairs/content-build/blob/main/src/site/includes/common-tasks.drupal.liquid#L48

[2022-11-14 20:23] jilladams commented on #11205
Reopening to investigate further.

[2022-11-14 21:38] BlakeOrgan commented on #11505
Talked with @edmund-dunn about this and we decided to render this as text in the right sidebar with some help text.

Last saved: {timestamp}
Help text: This is the last time this content was saved either by a human or an automated process.
Updated by: {account}

Last updated by an editor: {timestamp}
Help text: This is the last time an editor updated this content.

We also discussed the possibilit

[2022-11-14 22:40] jilladams commented on #11438
@wesrowe @ryguyk @chri5tia we need to make sure #11482 keeps up with outcomes here so if someone like Bryan or Josh implement, they have everything they need in one place. I took a pass today, based on our last convo, but we should plan to go through it in refinement when this ticket is done just to confirm it lines up with where we land here.

[2022-11-14 23:06] davidmpickett commented on #11372
I'm gonna propose this be the first project for Jordan to tackle once she's onboard

[2022-11-14 23:09] davidmpickett commented on #10506
This seems complete. The draft was submitted and feedback was received.

[2022-11-14 23:12] DanielleThierryUSDSVA opened #11680 "Redirect Request: VHA /healthbenefits redirects - 11/30 target"
### Instructions
- Requests must be submitted **AT LEAST** 2 weeks in advance.  Some requests take a significant amount of time and coordination to implement, so start the process as soon as you know you will need one.
- This issue will be used from initial request through implementation to ensure all individuals working on this are notified of status updates.  Please do not create multiple issues

[2022-11-14 23:16] davidmpickett commented on #11207
There are no names listed for Albuquerque. Just want to confirm that they will not have a representative?

[2022-11-14 23:17] davidmpickett commented on #11209
@dawnpruitt @dsinla - Was there any expectation that this work will begin this sprint?

[2022-11-14 23:19] davidmpickett commented on #11361
This might be a good candidate for Jordan to work on

[2022-11-14 23:20] davidmpickett commented on #11452
@dsinla @dawnpruitt This is absolutely not happening in sprint 71. It is blocked by recruitment & scheduling

[2022-11-14 23:48] wesrowe opened #11569 "Implement limit on number of "Top pages" links"
## Description
As a Veteran, I want the number of links in "Popular on VAgov" to be strongly governed so that I can read them easily in the layout of the home page.

See [this comment](https://github.com/department-of-veterans-affairs/va.gov-cms/issues/10785#issuecomment-1270725161) on the original implementation ticket for context. The basic question: Should the FE template enforce this limit by

[2022-11-14 23:50] wesrowe opened #11570 "PW - Sprint 72 Plan"
## Q4 Priorities

### 1. Harden homepage for prod

**Page itself:**
- [ ] #11425 (3)
- [ ] #11654 (2)
- [ ] #11467 (5) 🥅
- [ ] #11389 (5)
- [ ] #11538 (3)
- [ ] #11537 (2)

**Modal:**
  - [ ] #11587 (5) 🥅
  - [ ] (stretch) #11682 ()
  - [ ] (stretch) #11653 (3)
  - [ ] (stretch, follows 11587) #11535 ()

**Post-MVP, not launch blocking (and not in Sprint)**
  - #11569
  - #11568 (2)

**What else?*

[2022-11-15 00:15] dsinla commented on #11207
@davidmpickett ALBU names have been added, thanks for catching.

[2022-11-15 00:20] dsinla commented on #11209
@davidmpickett @dawnpruitt Originally we hoped the initial scheduling could have been started (not that the interviews would occur in this sprint, but that the scheduling of the interviews could have been started). We needed to identify the Research Lead who will be the interviewer, and the interviewer has to provide open windows, which we can then bring to the list of interviewees.
Having said th

[2022-11-15 00:24] ElijahLynn commented on #11185
Tugboat 8.1 (https://github.com/department-of-veterans-affairs/va.gov-cms/tree/25305fbd4e367dccdb2bdbcb218cb86eaa1594ef) vs 7.4 (https://github.com/department-of-veterans-affairs/va.gov-cms/tree/bf325514df6ccdb549699d5df464cbffb63f6cd9) is fairly comparable right now for a cold cache content build.

8.1: 3:03
7.4: 3:13

![image](https://user-images.githubusercontent.com/1504756/201795984-d7919dc4-

[2022-11-15 00:36] dsinla commented on #11452
@davidmpickett Taking this out of the sprint. As a team we discussed adopting a new policy where issues can be assigned to the Stretch/Next Sprint pipeline, but they should be sprint-less. This simplified the reporting that the DMs do upon the completion of a sprint.

[2022-11-15 03:15] davidmpickett commented on #11207
The research plan recruitment lists "Have been in the role for at least 6 months" as a requirement for the interviewees. Was that part of the criteria when the recruitment email was sent out? If not we'll have to fold that into the scheduling email

[2022-11-15 11:33] dawnpruitt commented on #10656
@maxx1128 is there any change to status on this one? Thanks!

[2022-11-15 11:35] dawnpruitt commented on #10914
@JayDarnell is there any status update for this ticket? Thank you!

[2022-11-15 13:57] omahane commented on #10914
@dawnpruitt I was working on this, but @swirtSJW is now on the case.

[2022-11-15 14:12] omahane commented on #10914
@davidconlon I noticed that some data should be fixed before migration:
## Non_VA_Location_URL addresses need to be https
Veteran Readiness and Employment Office at Tampa Workforce Office, 317j
VetSuccess on Campus at Leeward Community College, 459b
Pre-Discharge Site at Marine Corp Air Station Miramar, 377a
VetSuccess on Campus at Salt Lake Community College, 341d

## Non_VA_Location_URL is not c

[2022-11-15 14:31] laflannery commented on #10800
Stats generated from review of tables:

**VAMC Detail Pages:**
- About 30% of existing tables should not be tables.  The content being displayed would be better suited for a different format (list, paragraph, etc.) as is it simple content and using a table makes it unnecessarily complex.
- About 10% of existing tables would be better using the old, column-header only format, rather than the more r

[2022-11-15 14:50] dawnpruitt commented on #11373
@maxx1128 please point this ticket :) Thanks!

[2022-11-15 14:52] laflannery commented on #10800
@jilladams and @wesrowe I finished my portion of the content audit for tables.  The 2 big questions we had were blank headings and how the new heading pattern worked:

1. Blank headings do not appear to be a large issue. It occurs infrequently and in the majority of cases it was when tables were being used incorrectly as layout tables. That being said, I think the updated helper text and not encou

[2022-11-15 15:07] chri5tia commented on #10605
From: https://github.com/department-of-veterans-affairs/va.gov-cms/pull/10574
QA Steps:

Cypress translation:

Scenario:
- [x]  Given I am logged in as a user with "content_admin" role
- [x]  And I am at "node/add/event"
- [ ]   And I set the location type to "At a VA facility"
- [ ]   I can see a field for "Facility location" and "Building, floor, or room"

Add the spec here:
[va.gov-cms/tests/cy

[2022-11-15 15:19] chri5tia commented on #10605
Conversely to my logic above, looking at [Steve's steps to reproduce the original problem](https://github.com/department-of-veterans-affairs/va.gov-cms/issues/9649#issue-1289602901), I might want to revise the test spec:

[2022-11-15 15:21] #11376 closed

[2022-11-15 15:21] #11378 closed

[2022-11-15 15:21] #11379 closed

[2022-11-15 15:21] #11380 closed

[2022-11-15 15:21] #11381 closed

[2022-11-15 15:21] #11382 closed

[2022-11-15 15:21] #11383 closed

[2022-11-15 15:21] #11385 closed

[2022-11-15 15:22] chri5tia commented on #10682
@wesrowe Can you explain what conditionals we are testing for event registration? I'm trying to fill this out so I can write something like this for the location conditionals, specifically the spec:
https://github.com/department-of-veterans-affairs/va.gov-cms/issues/10605#issuecomment-1315445323

[2022-11-15 15:22] laflannery opened #11575 "Outdated Content Tool - Match CSV export columns to audit tool columns"
## Description
In the CMS the [outdated content tool](https://prod.cms.va.gov/admin/content/outdated_content) is able to be exported as a CSV. However, the columns in the CSV exported are not quite the same as the tool displays in the CMS which is a bit confusing if you were using these together. It also is different from other exports as the CSV does tend to match the CMS display view.

### Diffe

[2022-11-15 15:22] EWashb commented on #11440
This was deprioritized for sprint 71. Will pick back up possibly 72 or 73

[2022-11-15 15:54] laflannery opened #11577 "PHP 8.1 Testing Errors"
## Background
The Sitewide CMS team is working on PHP upgrades heading into the end of life for PHP 7.4, slated for 11/28/22. We are updating to PHP 8.1. Testing is being done on this [tugboat link](https://vacms-10870-upgrade-to-php81-rh7pjindaxvyxvr35alvilr3mqpgaoko.ci.cms.va.gov/) and any bugs/issues/questions should be added as individual, separate issues and attached to this epic to be invest

[2022-11-15 15:56] edmund-dunn commented on #11505
Talked with @BlakeOrgan. We swapped saved and update so I twill say Last updated: and Last saved by an editor:

[2022-11-15 15:59] dsinla commented on #11207
@davidmpickett The 6 month requirement was not surfaced when asking for names of PCT members.
I believe @dawnpruitt already has the email draft which has been reviewed, let's make sure we track for the 6 months.
Would we still interview folks who have under 6 months, but gather their responses separately?

[2022-11-15 16:04] dsasser commented on #11119
@wesrowe @jilladams @mmiddaugh
These ACs are not doable without custom code/additional work:

## Benefit Promo:
- [ ] Block description - As an editor, I need to understand that this will be seen only within Drupal and not on the front end.

The block description isn't editable as seen on the block/add or block/edit pages.

- [ ] Link text - 40 characters and help text "Use this text to tell Veter

[2022-11-15 16:47] dawnpruitt commented on #10046
@JayDarnell please reach out to @laflannery; this ticket isn't as clear cut as it first appears and she has the context you'll need. Thank you!

[2022-11-15 17:04] chri5tia commented on #11438
Footer done, primarily. I need to comb over and double-check everything. The Footer Rail will be done today.
https://prod.cms.va.gov/admin/structure/menu/manage/footer

[2022-11-15 17:21] EWashb commented on #9939
@ndouglas do you know if this has been completed yet?

[2022-11-15 17:22] ndouglas commented on #9939
Whoops, yes, this was completed.

[2022-11-15 17:22] #9939 closed

[2022-11-15 17:41] jilladams commented on #11095
@wesrowe @mmiddaugh closing this ticket, since per Michelle, design updates required have been added elsewhere on specific tickets:

Redesigned homepage - soft launch modal #11535
Redesigned homepage - implement feedback button for launch #11537
Redesigned homepage - update "Create account" area #11538

[2022-11-15 17:41] #11095 closed

[2022-11-15 17:44] jilladams commented on #11535
Currently blocked on design. Moved to Stretch, as we need to act on this as soon as we have design.

[2022-11-15 17:46] jilladams commented on #11570
Homepage: Added 3 tickets where Michelle has spelled out punchlist of FE changes from the V3 designs.

[2022-11-15 17:54] laflannery opened #11578 "Errors found on Q&A Edit page"
## Describe the defect
Errors found on Q&A- Single Edit screen when testing PHP 8.1:

## To Reproduce
Steps to reproduce the behavior:
1. Go to https://vacms-10870-upgrade-to-php81-rh7pjindaxvyxvr35alvilr3mqpgaoko.ci.cms.va.gov/node/44282/edit
2. See errors being reporting at the top of the page

## AC / Expected behavior

- [ ] Investigate/Resolve errors

## Screenshots
![image](https://user-imag

[2022-11-15 17:55] cmaeng commented on #11469
based on investigations so far we've determined:
- performance slow downs may not be PHP related as we've seen the same slow down with 7.4
- because the root cause is inconclusive, we would recommend moving forward with putting 8.1 on staging in order to be able to research further

[2022-11-15 17:59] laflannery opened #11579 "Error found on Knowledge Base article"
## Describe the defect
Error found on Knowledge Base article View and Edit screens when testing PHP 8.1:

## To Reproduce
Steps to reproduce the behavior:
1. Go to https://vacms-10870-upgrade-to-php81-rh7pjindaxvyxvr35alvilr3mqpgaoko.ci.cms.va.gov/help/vet-centers/vet-center-website-development-status OR https://vacms-10870-upgrade-to-php81-rh7pjindaxvyxvr35alvilr3mqpgaoko.ci.cms.va.gov/node/27516

[2022-11-15 18:01] davidmpickett commented on #10507
Noting that I sent an updated version of the plan to Dave C for review last night
[Research Plan for VBA MVP Public Contact Staff Interviews.docx](https://github.com/department-of-veterans-affairs/va.gov-cms/files/10015088/Research.Plan.for.VBA.MVP.Public.Contact.Staff.Interviews.docx)

[2022-11-15 18:05] davidmpickett opened #11580 "Update VBA Public Contact Staff Conversation Guide"
## Description

The [conversation guide](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/regional-offices/research/2022-9-public-contact/conversation-guide.md) needs to be revised to match the [updated research plan](https://github.com/department-of-veterans-affairs/va.gov-cms/issues/10507).

Suggested workflow:
- [ ] Solicit feedback on artifacts from

[2022-11-15 18:06] davidmpickett commented on #11580
@dawnpruitt @dsinla Per our conversation yesterday, I just spun up this ticket to handle updating the conversation guide.

[2022-11-15 18:18] maxx1128 commented on #11422
@JayDarnell Sorry I should have been clearer here, I'm okay with you taking this ticket. I'm not hugely familiar with the accordian content here myself so likely can't give much of a primer unfortunately.

[2022-11-15 18:25] davidmpickett commented on #11209
Note that since we did not screen for length of time in position in the initial participant identification, we will need to layer that into the scheduling communications so we have that data and can judge whether we are getting the sample we want.

[2022-11-15 18:32] laflannery opened #11581 "Errors found on Vet Center page"
## Describe the defect
Errors found on Vet Center View screen when testing PHP 8.1:

## To Reproduce
Steps to reproduce the behavior:
1. Go to https://vacms-10870-upgrade-to-php81-rh7pjindaxvyxvr35alvilr3mqpgaoko.ci.cms.va.gov/jupiter-vet-center
2. See errors being reporting at the top of the page

## AC / Expected behavior

- [ ] Investigate/Resolve errors

## Screenshots
![image](https://user-im

[2022-11-15 18:39] #11153 closed

[2022-11-15 18:49] jilladams commented on #11512
@apisandipas closeable?

[2022-11-15 18:52] apisandipas commented on #11512
Yes

[2022-11-15 18:59] #11512 closed

[2022-11-15 19:02] davidmpickett commented on #9557
@BlakeOrgan @EWashb FYI I just copy and pasted in the Research Runbook markdown for this ticket. You can delete the Veteran-facing research bits when it's refinement time

[2022-11-15 19:10] davidmpickett opened #11582 "Schedule participants for CMS Notification Research"
## Description

**Editor-facing research**
* The Research Lead should work with Product Manager, Product Owner, and Business Stakeholders to identify a list of potential participants
  * The pool of potential participants should be at least 2-3 times larger than the desired # of participants
* The Research Lead contacts and schedules participants
  * Using their VA.gov email address or the shared

[2022-11-15 19:18] cmaeng commented on #11469
per @mchelen on 11/15/22:
- if we see content build speeds increased by up to 5 mins, once per day (on cold cache), this is not a launch blocker
- possible editor experience effects need to be run by UX experts within the program to assess

[2022-11-15 19:19] jilladams commented on #11349
This came up with Dave in PW sync today with me / @wesrowe . Per Dave: anyone with OPIA Section permissions should be able to modify the OPIA homepage blocks.

[2022-11-15 19:19] #11349 closed

[2022-11-15 19:24] cmaeng commented on #11293
worth exploring what GH support might suggest to remediate the issues we're seeing.

[2022-11-15 19:24] jilladams commented on #11160
Permissions came up with Dave in PW sync today with me / @wesrowe, with some new information:

* **V2 Home page Blocks** per Dave: anyone with OPIA Section permissions should be able to modify the OPIA homepage blocks. I think this means that all OPIA Section users may need the Homepage Content Publisher role for this task.
* **Benefit hub menu** - Sitewide Content (Content admins) needs permissio

[2022-11-15 19:24] davidmpickett commented on #9554
@EWashb @BlakeOrgan I copy and pasted the content of the "Draft Research Plan & Conversation Guide" template here and just removed the stop that was specific to the research plan. Not sure if you've confirmed with Dave C if he wants to review the Research Plan & Conversation Guide separately or together. The working review meetings for those documents are a relatively new addition to the process

[2022-11-15 19:25] dsinla commented on #11212
As discussed today, we will focus on providing VHADM and the Editors all the tools they need to create content, and rely on them to make the best decisions on what content is best shared with VA visitors and with TRICARE visitors.

@JayDarnell attaching the XLS I've been using - noting that this is just a snapshot of the current understanding.

[LovellContentSitemap.xlsx](https://github.com/depart

[2022-11-15 19:35] davidmpickett opened #11583 "Conduct CMS Notifications Research Readout and Document Findings in Research Repository"
## Description

**Crafting Recommendations**

Recommendations are key outputs of the research process. They connect your findings back to the product roadmap(s) and shape the experience of future users. Depending on the type of research conducted, recommendations might be narrowly focused on improving a specific interface component of your team's product, or they might have broad implications for

[2022-11-15 19:39] jilladams commented on #11442
This is maybe not how design system intends things to act.

Josh flag: https://dsva.slack.com/archives/C52CL1PKQ/p1668522628557179

Wes follow up with Design system: https://dsva.slack.com/archives/C01DBGX4P45/p1668536794031689

Marking Blocked.

[2022-11-15 19:43] laflannery opened #11584 "Linky issues"
## Describe the defect
When testing PHP 8.1, it does not seem as though Linky is working as it should. Adding new links within nodes is not creating new Managed links and when I view the links within the Source view I see the true end destination, rather than a Linky reference.

## To Reproduce
Steps to reproduce the behavior:
1. Go to [Managed Links](https://vacms-10870-upgrade-to-php81-rh7pjinda

[2022-11-15 19:48] davidmpickett commented on #11490
@jilladams @wesrowe  I'm catching up on threads from when I was out and this surfaced.

it seems like there are other problems to deal with before we get back to this point, but it would be good to proactively plan a meeting to bring Design up to speed on this problem space. I think the only piece of this I've previously seen is a list of Taxonomy terms.

[2022-11-15 19:49] jilladams commented on #11490
https://dsva.slack.com/archives/CT4GZBM8F/p1667849814426629

[2022-11-15 19:52] jilladams commented on #11490
@davidmpickett saw your comment after my other changes on this ticket (to move to stretch / assign to blake based on the above slack thread, fyi @EWashb @dawnpruitt).

We can definitely chat. The tl;dr is: this is the first multi-select list available in the CMS as far as we know. So Dave flagged that fact (which we didn't realize til late in the implementation), thusly: this ticket. I'm not sure

[2022-11-15 19:55] ndouglas commented on #11584
This works for me (see [here](https://vacms-10870-upgrade-to-php81-rh7pjindaxvyxvr35alvilr3mqpgaoko.ci.cms.va.gov/lovell-federal-va-health-care/events/51056)).  Linky only engages for external links, not local links using nodes, etc.  I suspect that's what you're seeing here.

[2022-11-15 19:57] laflannery commented on #11584
I totally forgot about the external link situation, I was 100% using a different node to test.  Closing this, thanks!

Also really glad you used my test suggestion of shenanigans :)

[2022-11-15 19:57] #11584 closed

[2022-11-15 20:10] dsinla commented on #10506
@dawnpruitt @dsinla  Verify with Dave C in sync

[2022-11-15 20:14] dsinla commented on #10196
Verify that we have PO approval, then @davidmpickett to update github

[2022-11-15 20:15] laflannery opened #11585 "Errors found on Delete tab for nodes"
## Describe the defect
Errors found on the Delete tab for nodes when testing PHP 8.1:

## To Reproduce
Steps to reproduce the behavior:
1. Go to https://vacms-10870-upgrade-to-php81-rh7pjindaxvyxvr35alvilr3mqpgaoko.ci.cms.va.gov/node/51057/delete
2. See errors being reporting at the top of the page

## AC / Expected behavior

- [ ] Investigate/Resolve errors

## Screenshots
![image](https://user-i

[2022-11-15 20:28] dsasser commented on #11160
Well, the 'Homepage Content Publisher' role will help get users to the block admin page, should we decide to give that role the appropriate Drupal permission, but OPIA section users technically have the ability to edit the homepage blocks, providing they hit the url directly (I realize this is not ideal, but it is how it currently works, we don't yet have guidance on how to handle block admin acce

[2022-11-15 20:38] TroyA6 commented on #11326
Hi Jill -
Thank you for submitting the article!

I have reviewed it and found it to be complete and accurate.
However, I did find the following:

The link on Step 1 points to two different locations:
[image: image.png]

[image: image.png]

[image: image.png]

Please let me know if you have any questions.
Thank you,

Troy Griffin

VA Drupal CMS Helpdesk Support

On Thu, Nov 10, 2022 at 1:38 PM Jill

[2022-11-15 20:47] jilladams commented on #11389
Closing #11511 as a dupe of this:
* The Design System doesn't have an explicit email field
* The [Text Input](https://design.va.gov/storybook/?path=/docs/components-va-text-input--default) does accept 'type' and 'inputmode' attributes, which can be set to 'email' and provides with own validation UI.
* Looking at the [forthcoming design iteration](https://www.sketch.com/s/3aa40506-4be2-46cc-876b-93

[2022-11-15 20:48] jilladams commented on #11511
Closing as dupe of #11389, and pasted over any special sauce from here into there.

[2022-11-15 20:48] #11511 closed

[2022-11-15 20:54] jilladams commented on #11326
Fixed! Ok to publish.

[2022-11-15 21:05] swirtSJW commented on #11160
There are a lot of questions to cover here.
 Let me look into the menu one some more.

The blocks, I'd rather not open up all blocks to just account for a limited sub-set.   This comes back to my suggestion for a section based dashboard that gives access to what is needed rather than the whole thing(s).

I'll circle back to this... but creating a whole bunch of expanded perms seems a bit much. Esp

[2022-11-15 21:05] jilladams commented on #11160
Talked to Daniel, final answers:
* Menus (Popular on VA.gov, Other search toosl) = solved = Drupal admins (PW only)
* Entityqueues (hub list) = solved = has built in permissions we can and have harnessed
* Blocks (Promo / Benefit) = solved = will use a content admin view, e.g. https://prod.cms.va.gov/admin/content/promos ([Tugboat proof of concept](https://pr11534-fjy928oobogzqvsgrrf2dfp2rletf7lk.

[2022-11-15 21:08] jilladams commented on #11160
Regarding scope: the new view is stubbed out, and could use some improvements but I'm proposing: merge what we've got and iterate in future tickets as needed, since that view will technically help solve the access issue as part of this permissions ticket. (FYI @swirtSJW for when it comes code review time.)

[2022-11-15 21:13] jilladams commented on #11509
Daniel was able resolve this during work on #11119 . We no longer need the spike, closing.

[2022-11-15 21:13] #11509 closed

[2022-11-15 21:31] davidmpickett commented on #11490
Okay, rereading the Slack thread it seems like @EWashb already has a good understanding of the scenarios this affects, so maybe her + Blake have enough context to handle this (if not the capacity).

It also looks like the ticket that this is blocking is just a ticket to implement this guidance, so it's not like this is blocking any vital work.

[2022-11-15 21:37] mmiddaugh opened #11586 "[Homepage post-MVP] help-text and character limits for Homepage drupal fields"
## Description
As an Editor working on the new Homepage, I want to see helpful text with fields of custom blocks so that it's clear what I need to do to conform with governance.

This issue covers non-MVP areas which could benefit from Drupal help text, continuing the work done in [Implement help-text and character limits for all Homepage drupal fields #11119](https://app.zenhub.com/workspaces/vag

[2022-11-15 21:41] #11293 closed

[2022-11-15 21:41] wesrowe commented on #11442
It's a little unclear still whether this is behaving as the Design System intends with their `va-pagination` component. However, this page (and Search Results, and probably others) uses an older pagination component.

- In some circumstances the DS component would continue to show page 1 as the user increments to higher pages – e.g., if there are only 5 pages, page 1 would always be visible in pag

[2022-11-15 21:41] #11442 closed

[2022-11-15 21:53] dawnpruitt commented on #11422
Can we remove the blocker showing above?

[2022-11-15 21:57] wesrowe commented on #10800
@laflannery, thanks for the update. To your last question (2.i.), it seems like you're talking about less-experienced Editors making these mistakes with table data. I don't know how to prevent that, but it sounds likely to be a challenge for Facilities.

[2022-11-15 22:02] olivereri commented on #11554
Starting a discussion with Github support to explore what our options are for running workflows on a sub-5-minute schedule: https://dsva.slack.com/archives/CU1E4CX9U/p1668549708262719

[2022-11-15 22:03] wesrowe commented on #10800
@laflannery, I should have asked: are you and Sitewide-CMS taking on the job of reworking the content in your scenario no. 2? In that case, I feel like we can probably stop our development efforts here, rather than enabling Editors to choose to put headers on the left side also/instead of the top.

[2022-11-15 22:10] DanielleThierryUSDSVA opened #11649 "Redirect Request: Vanity URL for covid + flu vaccine campaign landing page - ASAP target timing"
### Instructions
- Requests must be submitted **AT LEAST** 2 weeks in advance.  Some requests take a significant amount of time and coordination to implement, so start the process as soon as you know you will need one.
- This issue will be used from initial request through implementation to ensure all individuals working on this are notified of status updates.  Please do not create multiple issues

[2022-11-15 22:20] wesrowe commented on #10682
I'm not familiar with the logic and I know Daniel is underwater – @swirtSJW, can you help?

[2022-11-15 22:26] wesrowe commented on #10681
@chri5tia, I think you're on the right track. I noticed that there's a sort of nested set of tests – if I select something other than 'None' from the CtA dropdown, I expect to see a URL field.

[2022-11-15 22:27] jilladams commented on #10682
I think we are talking here about if you specify Location: At a non-VA location. Selecting that radio button triggers exposing the full address fields:

![Screen Shot 2022-11-15 at 2 27 02 PM](https://user-images.githubusercontent.com/85581471/202038305-caec10ea-d1d9-4c56-9c4d-733b97395f14.png)

[2022-11-15 22:28] wesrowe commented on #10682
What @jilladams said – and also, selecting Online makes a URL field show.

[2022-11-15 22:31] wesrowe commented on #10682
Oh wait... what's the difference between this one and  [Implement tests for event location form-state conditionals](https://github.com/department-of-veterans-affairs/va.gov-cms/issues/10605)?

[2022-11-15 22:38] wesrowe commented on #11538
@mmiddaugh, the H1 changed on the new layout to look more like an H1 also. I'll add that to the ACs. Can you have a second look for any other tweaks in the design?

[2022-11-15 22:51] jilladams commented on #10682
All of these test tickets started from [this PR](https://github.com/department-of-veterans-affairs/va.gov-cms/pull/10574), where folks requested Cypress tests to imitate his manual QA steps. @chri5tia if you consider the 3 tickets a batch, and those QA steps as the desired end result for Cypress coverage, does that help us through?

[2022-11-15 22:59] wesrowe opened #11587 "SPIKE: Address potential challenges around homepage soft launch modal"
## Description

Before implementing #11535, we need to understand the mechanics around a few UX/tech risks:
- AUDIT: Competing modals on VAgov – there is already a [modal that appears for users redirected from explore.va.gov](https://www.va.gov/?from=explore.va.gov). We need to see how/where that modal is coded and determine a way to prevent our modal from displaying in that use case.
  - Desired

[2022-11-15 23:43] olivereri commented on #11554
Previous exploration of Lagoon as a solution:
https://github.com/department-of-veterans-affairs/va.gov-cms/issues/6673

[2022-11-16 00:32] dsinla opened #11588 "FE: Establish criteria to remove flipper facilities_locator_mobile_covid_online_scheduling"
## Description
As we investigate each Facilities related Flipper, document the criteria and timeline for when it should be removed.

Refer to https://github.com/department-of-veterans-affairs/va.gov-cms/issues/10656

## Acceptance Criteria
- [ ] Criteria for Flipper removal is created in this ticket

### CMS Team
Please check the team(s) that will do this work.

- [ ] `Program`
- [ ] `Platform CMS

[2022-11-16 00:35] dsinla opened #11589 "Combine facilities_ppms_suppress_all and facilities_ppms_suppress_pharmacies flippers"
## Description
We need to retain the functionality to suppress PPMS data, but we can combine our similar PPMS flippers:

- `facilities_ppms_suppress_all`
- `facilities_ppms_suppress_pharmacies`

In any code where `facilities_ppms_suppress_all` is applicable, the Pharmacies suppression code should also apply.

Example: https://github.com/department-of-veterans-affairs/vets-website/blob/87758bcb1866

[2022-11-16 00:36] dsinla opened #11590 "Establish criteria to remove flipper facilities_ppms_suppress_community_care"
## Description
As we investigate each Facilities related Flipper, document the criteria and timeline for when it should be removed.

Refer to https://github.com/department-of-veterans-affairs/va.gov-cms/issues/10656

## Acceptance Criteria
- [ ] Criteria for Flipper removal is created in this ticket

### CMS Team
Please check the team(s) that will do this work.

- [ ] `Program`
- [ ] `Platform CMS

[2022-11-16 00:39] dsinla opened #11591 "Update flipper to indicate which of our flippers are required to keep for long-term use"
## Description
Both of these flippers are required to keep for long term operations / maintenance, should PPMS API have outages:
* facilities_ppms_suppress_pharmacies
* facilities_ppms_suppress_all
* banner_use_alternative_banners

## Tasks
- [ ] Update the documentation line in the definition of these flippers to indicate that they are required to keep, for long-term operational use

[2022-11-16 00:40] dsinla opened #11592 "FE: Establish criteria to remove flipper facility_locator_lighthouse_covid_vaccine_query"
## Description
As we investigate each Facilities related Flipper, document the criteria and timeline for when it should be removed.

Refer to https://github.com/department-of-veterans-affairs/va.gov-cms/issues/10656

## Acceptance Criteria
- [ ] Criteria for Flipper removal is created in this ticket

### CMS Team
Please check the team(s) that will do this work.

- [ ] `Program`
- [ ] `Platform CMS

[2022-11-16 00:42] dsinla opened #11593 "Establish criteria to remove flipper facility_locator_ppms_forced_unique_id"
## Description
As we investigate each Facilities related Flipper, document the criteria and timeline for when it should be removed.

Refer to https://github.com/department-of-veterans-affairs/va.gov-cms/issues/10656

## Acceptance Criteria
- [ ] Criteria for Flipper removal is created in this ticket

### CMS Team
Please check the team(s) that will do this work.

- [ ] `Program`
- [ ] `Platform CMS

[2022-11-16 00:42] dsinla opened #11594 "Evaluate flipper facility_locator_ppms_legacy_urgent_care_to_pos_locator for removal"
## Description
Investigate facility_locator_ppms_legacy_urgent_care_to_pos_locator flipper for current use and eligibility for removal.

Refer to https://github.com/department-of-veterans-affairs/va.gov-cms/issues/10656

[code]

[2022-11-16 00:45] dsinla opened #11595 "Evaluate flipper facility_locator_pull_operating_status_from_lighthouse for removal"
## Description
Investigate facility_locator_pull_operating_status_from_lighthouse flipper for current use and eligibility for removal.

Refer to https://github.com/department-of-veterans-affairs/va.gov-cms/issues/10656

[code]

[2022-11-16 00:46] dsinla opened #11596 "Remove facility_locator_rails_engine flipper"
## Description
Remove `facility_locator_rails_engine` from all its code usage.

[code]

[2022-11-16 00:46] dsinla opened #11597 "Remove facility_locator_restore_community_care_pagination flipper"
## Description
Remove `facility_locator_restore_community_care_pagination` flipper from any place it's used in vets-website and vets-api.

[code]

[2022-11-16 00:48] dsinla opened #11598 "FE: Establish criteria to remove flipper facility_locator_show_community_cares"
## Description
As we investigate each Facilities related Flipper, document the criteria and timeline for when it should be removed.

Refer to https://github.com/department-of-veterans-affairs/va.gov-cms/issues/10656

## Acceptance Criteria
- [ ] Criteria for Flipper removal is created in this ticket

### CMS Team
Please check the team(s) that will do this work.

- [ ] `Program`
- [ ] `Platform CMS

[2022-11-16 00:48] dsinla opened #11599 "Remove facility_locator_show_health_connect_number flipper"
## Description
Remove `facility_locator_show_health_connect_number` from all code where it is used

[code]

[2022-11-16 00:49] dsinla opened #11600 "Remove flipper show_expandable_vamc_alert and its implementation"
## Description
Remove the `show_expandable_vamc_alert` and its code usage here:

- https://github.com/department-of-veterans-affairs/vets-website/blob/main/src/platform/site-wide/alerts/showVaAlertExpandable.js
- https://github.com/department-of-veterans-affairs/vets-website/blob/87758bcb186617f19dfc15d90eaadf14fa755199/src/platform/utilities/feature-toggles/featureFlagNames.json#L228

[code]

[2022-11-16 00:50] dsinla opened #11601 "Establish criteria to remove flipper caregiver_use_facilities_API"
## Description
As we investigate each Facilities related Flipper, document the criteria and timeline for when it should be removed.

Refer to https://github.com/department-of-veterans-affairs/va.gov-cms/issues/10656

## Acceptance Criteria
- [ ] Criteria for Flipper removal is created in this ticket

### CMS Team
Please check the team(s) that will do this work.

- [ ] `Program`
- [ ] `Platform CMS

[2022-11-16 03:02] dsinla opened #11605 "PM: Investigate Lovell-specific training needs"
## Description
VHADM has requested a training/refresher for Lovell editors. We should focus on how Lovell editing tasks are like all other sites, with a few exceptions that can be demonstrated in a training.

## Acceptance Criteria
- [ ] Discuss training with Support
- [ ] Determine goals of training with VHADM
- [ ] Determine if live training is appropriate
- [ ] Review Lovell specific KBs with S

[2022-11-16 05:42] swirtSJW commented on #11557
That is a mistake.  Operating status pages reference specific facilities.  Since the facilities are split between VA and TRICARE, there is no way we can have one page that spans both.   The existing one should be set to section Lovell - VA and a new one needs to be created for Lovell - TRICARE.

[2022-11-16 05:45] #11375 closed

[2022-11-16 09:54] chri5tia commented on #10682
Yes @Jill, and @Wes that's what I am wondering. I thought maybe there were conditionals within the address section of non-VA facility, but I don't see it. I have a strong feeling this ticket is related to the work I've already scoped and am finishing up for the location one that you linked to. (#10605).

[2022-11-16 09:58] chri5tia commented on #10681
@Wes, ah yeah and then those should clear out as well. I bet this is what the #10682 10682 ticket is supposed to be for. For now, I am going to reword the ticket to include this piece (URL instead of Addresss).

[2022-11-16 12:55] EWashb commented on #9864
I've done this already

[2022-11-16 12:55] #9864 closed

[2022-11-16 13:53] laflannery commented on #10800
@wesrowe Yes I will be taking on the responsibility of the content but possibly not actually editing myself. I need to speak with Dave to discuss if we have the authority to change content outright on VAMC pages or only to contact editors and ask them to make these changes.

[2022-11-16 14:14] chri5tia commented on #10682
Cypress tests pass for:

  Scenario: Confirm that the event form registration checkbox reveals conditional form elements
    Given I am logged in as a user with the "content_admin" role
    And I am at "node/add/event"
    And I check the "Include registration information" checkbox
    Then I should see "Registration is required for this event"
    And I should see "Call to action"
    And I selec

[2022-11-16 14:18] chri5tia commented on #10681
These tickets are all running together. As I posted in #10682,   Scenario: Confirm that the event form registration checkbox reveals conditional form elements
    Given I am logged in as a user with the "content_admin" role
    And I am at "node/add/event"
    And I check the "Include registration information" checkbox
    Then I should see "Registration is required for this event"
    And I shoul

[2022-11-16 15:19] ndouglas opened #11609 "Cypress "I should see" step definitions should use `be.visible`, not `exist`."
## Description
I can't remember why I changed these, but they should be changed back, additional step definitions added as necessary, etc.

## Acceptance Criteria
- [x] A new step definition has been created that checks _existence_ of elements with the specified selector, rather than _visibility_.
- [x] The existing `should (not) see` step definitions are altered to use _visibility_ rather than _e

[2022-11-16 15:30] laflannery opened #11610 "Adding Inline guidance from UI doesn't show"
## Describe the defect
Using the Drupal UI to add inline guidance is not working as expected.  I am not sure if this is a defect or it's just not set up to work but I wanted to mention just in case.

## To Reproduce
Steps to reproduce the behavior:
1. Go to Structure > Content Types > Full Width Alert > [Manage Form display](https://vacms-10870-upgrade-to-php81-rh7pjindaxvyxvr35alvilr3mqpgaoko.ci.

[2022-11-16 15:48] ndouglas commented on #8308
Not even a little.  Absolutely clueless.

[2022-11-16 15:48] chri5tia commented on #11609
https://github.com/department-of-veterans-affairs/va.gov-cms/pull/11611 Draft PR

[2022-11-16 16:26] TroyA6 opened #11612 "Locations Page 'PAGE INTRODUCTION' Field Appears in CMS Edit Mode, but is hidden on Published Page"
## On VAMC / Locations page, there is a content field labeled 'PAGE INTRODUCTION'. Content can be added / edited, etc. in EDIT Mode. However, after being published, the field does not appear on the Production site page.

## To Reproduce
Steps to reproduce the behavior:
1. Go to [https://prod.cms.va.gov/madison-health-care/locations](https://prod.cms.va.gov/madison-health-care/locations)
2. View (o

[2022-11-16 16:28] chri5tia commented on #11609
Something to note for the future, might be resolved already: https://github.com/cypress-io/cypress/issues/9348

[2022-11-16 17:04] #10143 closed

[2022-11-16 17:06] EWashb commented on #8308
Found this: [CKEditor 5 is now a stable core module](https://www.drupal.org/node/3308362)

[2022-11-16 17:45] wesrowe commented on #11442
Update: Matt Dingee said in this [comment](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/1233#issuecomment-1258046629) (referenced in this [slack thread](https://dsva.slack.com/archives/C01DBGX4P45/p1668606657619829?thread_ts=1668536794.031689&cid=C01DBGX4P45)) that the DST is "going to adopt the [USWDS pagination](https://designsystem.digital.gov/compon

[2022-11-16 17:47] cmaeng commented on #11295
with the holiday week being 11/21-25, we're proposing to install this on prod the week of 11/28.

[2022-11-16 17:48] cmaeng commented on #10874
this will need to be taken off of STAGING once testing is complete

[2022-11-16 17:48] ndouglas commented on #8308
Yeah, we need to update to Drupal 9.5 as part of the Drupal 10 process.  I looked for a ticket and didn't find one -- and then remembered that [when I created this ticket](https://github.com/department-of-veterans-affairs/va.gov-cms/issues/8159), it was still up in the air whether Drupal 9.4 or 9.5 would be equivalent to Drupal 10.

If you don't know, and to clarify for the benefit of anyone else

[2022-11-16 17:51] ndouglas opened #11614 "SE: Drupal Upgrade"
## Description
Drupal 9.5 is going to be released [soon](https://www.drupal.org/project/drupal/releases/9.5.0-rc1), presumably.

Drupal 9.5 is the deprecated-code-friendly equivalent to Drupal 10, which will be released about the same time.

## Acceptance Criteria
- [x] We've upgraded from Drupal 9.4 to 9.5, along with the relevant dependencies.

[2022-11-16 17:52] ndouglas commented on #8308
Opened #11614.  This would be fine to block on that issue.  I don't personally think it's necessary to start investigating Drupal 9.5 _yet_, but we could take a gander, just to check the state of CK5 and if there are any immediate nightmares that pop up in casual testing.

[2022-11-16 17:52] cmaeng commented on #11309
testing of one instance type was accomplished in sprint 71. we'll need another sprint to test the other two.

[2022-11-16 17:57] wesrowe commented on #11490
The only thing I would add is: this is a terrible and unintuitive UX that Drupal has given us. To multi-select, you have to hold down Ctrl (on a mac anyway). So even a "skilled" user like we expect on this product may have trouble without help text.

[2022-11-16 19:08] EWashb commented on #11614
Let's think through which version and run all of the regression testing.

[2022-11-16 19:09] EWashb commented on #11614
check runbooks for minor vs. major around upgrades.

[2022-11-16 19:24] dsasser commented on #11119
I have a draft PR for the current ACs. This will need review by @mmiddaugh and or @laflannery.

[2022-11-16 19:30] omahane commented on #10914
## Instructions for VBA DB export transformation
_Note: Columns letters are reset after each removal._
1. Remove columns C (Facility_Type) - AL (Website_URL).
2. Remove columns D (ro_facility_url) and E (Country)
3. Remove column G (Phone)
4. Export as CSV with comma field delimiters and double quotes enclosures/text delimiters.

[2022-11-16 19:32] EWashb commented on #10760
Deeper analysis will need to be done, this may have failed in the initial roll out. Need to think through other reccs and a read out with the findings. Share with VHA Dig Media and possibly a meeting with PAOs.

[2022-11-16 19:35] EWashb commented on #10760
plan an artifact/readout for Sprint 73 with Blake and Justin.

[2022-11-16 19:37] wesrowe commented on #11119
I crossed out help-text ACs that didn't have text – those will be moved to #11586.

[2022-11-16 19:38] davidmpickett commented on #11580
Pulling this in to Sprint 71 per message this AM from @dawnpruitt following a sync with Dave C

[2022-11-16 19:44] davidmpickett commented on #10914
@omahane You should probably double check facility 310h to make sure it reflects the correction made in this defect ticket -> https://github.com/department-of-veterans-affairs/va.gov-cms/issues/10098

[2022-11-16 19:45] olivereri commented on #11554
## Options
### Take Over Existing Jenkins
### Role Our Own Jenkins in EKS
### Github Actions Worflows
### Lagoon
### Argo Workflows
### Kubernetes CronJob

[2022-11-16 19:57] mmiddaugh commented on #11119
I've moved the relevant guidance from @laflannery into #11586

[2022-11-16 20:14] dsinla commented on #10506
@davidconlon sent feedback today
Closing

[2022-11-16 20:15] #10800 closed

[2022-11-16 20:17] dsinla commented on #10196
Confirmed with @davidconlon
Only step remains is placing in github/research library @davidmpickett

[2022-11-16 20:19] dsinla commented on #11210
confirmed with @davidconlon . close with https://github.com/department-of-veterans-affairs/va.gov-cms/issues/11580

[2022-11-16 20:20] laflannery commented on #11136
[Published article here](https://prod.cms.va.gov/help/cms-basics/outdated-content-audit-tool)

[2022-11-16 20:20] #11136 closed

[2022-11-16 20:30] dsinla commented on #10914
@omahane @davidconlon is not sure what you're asking for _Non_VA_Location_URL is not correctly formed_
For example 459g and 459d doesn't have a non-VA URL
He will address the other two groups of issues

[2022-11-16 20:48] BlakeOrgan commented on #11490
Agreed. This definitely needs more than just help text. UI updates would be needed before it would be intuitive that you are able to select multiple items. I've got ideas on how to update that, but I would just need to know when to work on this among other priorities. @EWashb or @dawnpruitt would be able to give better guidance on that.

[2022-11-16 21:12] davidmpickett commented on #1392
@dawnpruitt @dsinla Might be good to tidy up this epic before the mid-Q4 check in tomorrow. There's a lot of old tickets in here and it's not clear how this maps to the q4 mural.

[2022-11-16 21:12] wesrowe opened #11616 "Mid-December: Update PDF Cert Alert content when all forms have been re-saved"
## Description
Alerts were first implemented in #11021 and #11022.

### New content:

#### For FaF Search Page alert:
Heading: We recently updated our forms
Body: If you downloaded certain VA forms before December 2022, you may not be able to use them anymore. You can download new copies now.

#### For Form Detail page alert:
(to display on _all_ Detail pages)
Heading: We recently updated this for

[2022-11-16 21:18] #10506 closed

[2022-11-16 21:26] stefaniefgray commented on #10821
Draft homepage and health services are ready for review: https://prod.cms.va.gov/birmingham-health-care/locations/birmingham-east-va-clinic

[2022-11-16 21:28] mmiddaugh opened #11617 "Expand CLP audience list (needs PO prioritization)"
## Description
As a Vet Center editor, I want to select additional audiences for my Campaign Landing page.

## Problems to solve

Vet Centers want to select `All Veterans`, `Family members and caregivers`, `Service members`, plus an additional audience of `Community partners `
   - Currently the CLP template limits the selection of audiences to 3.
   - There is no equivalent audience for "Communit

[2022-11-16 21:28] mmiddaugh commented on #11617
@davidconlon fysa

[2022-11-16 21:41] mmiddaugh opened #11618 "Vet Center social media links (needs PO prioritization)"
## Description
As a Vet Center editor, I want to be able to select Vet Center specific social media and contact links.

## Problems to solve

- Vet Centers are part of VHA but have their own [Facebook feed](facebook.com/VAVetCenters/) and want to be able to add that social media link to their Campaign Landing page.
- Currently the dropdown list for the Connect with us panel includes NCA, VACO, VBA

[2022-11-16 21:42] mmiddaugh commented on #11618
@davidconlon fysa

[2022-11-16 22:11] omahane commented on #10914
![Screen Shot 2022-11-16 at 4 09 55 PM](https://user-images.githubusercontent.com/766573/202305340-9937f3c1-92be-4440-816f-3bcc0fdf2b25.png)
These are the rows with neither "NULL" nor "http" in them @dsinla .

[2022-11-16 22:15] timcosgrove commented on #11309
I laid out this Datadog Notebook looking at the differences between C5 and M5 instances for our use case: https://vagov.ddog-gov.com/notebook/975/content-build-c5-instances-vs-m5
[PDF version](https://github.com/department-of-veterans-affairs/va.gov-cms/files/10026084/c5_vs_m5.analysis.pdf)

Findings summary:
* moving to C5 saves approximately 100 seconds in the build phase
* moving to C5 currentl

[2022-11-16 22:18] jilladams commented on #11444
verified in prod

[2022-11-16 22:18] jilladams commented on #11386
verified in prod

[2022-11-16 22:18] jilladams commented on #11378
verified in prod

[2022-11-16 22:19] jilladams commented on #11385
verified in prod

[2022-11-16 22:19] jilladams commented on #11381
verified in prod

[2022-11-16 22:20] jilladams commented on #11380
verified in prod

[2022-11-16 22:20] jilladams commented on #11382
verified in prod

[2022-11-16 22:39] jilladams commented on #10800
QQ: We are tracking 4 open items in this epic, that it now sounds like we may be able to close. @wesrowe / @laflannery can you confirm?

1. #10675 - the previously paused work to update the module
2. #10683 - CMS UX input for ^
3. #10676 - FE work to follow ^
4. #10948 - a deeper dive table audit that I think Laura completed in this ticket

[2022-11-16 23:44] timcosgrove commented on #11450
Two PRs are open, one that hides the deprecations on prod and one that hides them everywhere. We will discuss them with the larger engineering team and then merge one.

[2022-11-16 23:55] timcosgrove opened #11622 "Update GraphQL module 3.x for use with PHP 8.1"
## Description
We currently use Drupal GraphQL module version 3.x. This version includes functions/syntax that are deprecated in PHP 8.1. It also includes an older version of webonyx/graphql-php (v0.12.6), which also includes deprecated functions/syntax.

Updating to version 4.x is a large undertaking, while updating 3.x to function under PHP 8.1 is relatively fast.

## Acceptance Criteria
- [ ] A

[2022-11-16 23:56] timcosgrove commented on #11312
Ticket for updating 3.x to work under PHP 8.1: https://github.com/department-of-veterans-affairs/va.gov-cms/issues/11622

[2022-11-17 00:10] jilladams commented on #11324
One open question from QA, on the PR: https://github.com/department-of-veterans-affairs/vets-website/pull/22652#issuecomment-1317831053

Otherwise, that comment includes screenshots of successful ACs, using Google Analytics Debugger.

[2022-11-17 00:34] wesrowe commented on #11482
@ryguyk, FYI, Dave Conlon agreed to our strategy of leaving Column 4 (contact stuff) out of this ticket.

Regarding `rel`, `referrer` and `target` attributes, did we decide that this can be handled automatically by the FE? E.g., I recall someone noticing that only links outside the modernized VAgov experience open in a new tab.

[2022-11-17 01:02] timcosgrove commented on #11622
I've opened a DNM PR for this here: https://github.com/department-of-veterans-affairs/va.gov-cms/pull/11624

This demos how we could go about updating GraphQL 3.x for PHP 8.1.

[2022-11-17 01:16] timcosgrove opened #11625 "Update Drupal GraphQL module to version 4.x"
## Background

### User Story or Problem Statement

As a CMS, I need all my packages to be on up-to-date & supported versions so I can be sure to get security and bug fixes.

### Affected users and stakeholders

* Developers of CMS teams

## Assumptions
* All entities in the CMS must have schema and data producers created for them, as outlined in the GraphQL 4.x documentation: https://drupal-graph

[2022-11-17 01:24] davidmpickett commented on #10507
Updated Research Plan is on GitHub: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/regional-offices/research/2022-9-public-contact/research-plan.md

[2022-11-17 01:27] timcosgrove commented on #11312
Epic created to gather work for updating the CMS to use GraphQL version 4.x: https://github.com/department-of-veterans-affairs/va.gov-cms/issues/11625

My thoughts about GraphQL 4.x
* The amount of work needed to be done for this is substantial. Because GraphQL 4.x does not automatically provide schemas and data producers for Drupal entities, where GraphQL 3.x did, we must create those schemas & d

[2022-11-17 01:29] davidmpickett commented on #10507
@dawnpruitt @dsinla This should be good to close

[2022-11-17 01:52] dsinla commented on #1392
@davidmpickett @dawnpruitt  Agree that this Epic has changed in scope and strategy. Not gonna get to this before tomorrow, but can outline my current understanding:

1. Dev work to implement allow_only_one VAMCBA if an editor attempts to create a 2nd <- **DONE** and waiting in the wings
2. Dev work to enforce character limit <- Trivial to do when we're ready to flip the switch
4. Audit - Understan

[2022-11-17 02:11] dsinla opened #11627 "CMS: Determine if Provider Core Training flag is available via current API calls"
## Description
The Facility Locator currently returns providers for the following 4 search criteria

![image](https://user-images.githubusercontent.com/62269210/202336480-000db14a-509f-47d5-a6c9-b39f2a3ed62f.png)

We need to determine if the Provider Core Training applies to each of these 4 and if the current API for PPMS (and other db's?) returns any Provider Core Training flag.

_Department of V

[2022-11-17 02:43] dsinla commented on #10914
I think we may be seeing the difference between what @davidconlon was seeing in the live db, vs what @omahane was seeing in his export from July. Let's see what the latest CSV export reveals. If we don't have a new CSV on Thurs, @omahane can still have the migration set up and can demo on Friday, and we'll address the ~dozen URL issues in the next iteration.

[2022-11-17 02:59] dsinla commented on #11557
Thanks @swirtSJW!

I set the existing page that was **Lovell Federal health care** to **Lovell - VA**
https://prod.cms.va.gov/lovell-federal-tricare-health-care/operating-status

I created a new VAMC System Operating Status. assigned it **Lovell - TRICARE**
https://prod.cms.va.gov/lovell-federal-tricare-health-care/operating-status

I published nothing, saved as DRAFT.

Upon creating of the new Op

[2022-11-17 03:37] dsinla commented on #10507
Thanks @davidmpickett!
Closing with all AC's completed.

[2022-11-17 03:37] #10507 closed

[2022-11-17 03:56] swirtSJW opened #11628 "When a VBA facility name changes the section name needs to change"
## Description
When a VBA facility name change comes in via migration from the facility API, The name on the node changes, but if it is a Regional Office, the corresponding section name does not update,  so the two become out of sync.

## Acceptance Criteria
- [ ] When a VBA regional office name changes, the corresponding section name should also change.
- [ ] Aliases for all  VBA facilities assig

[2022-11-17 04:39] dsinla commented on #10027
I've begun the scaffolding for these KB topics [here](https://docs.google.com/document/d/1wkeJNJxen_TNYnGqlzDzjFCSKq2vRxt_6dy6pkuspR0/edit#)
Reviewed with @JayDarnell today
Also shared with @stefaniefgray and @TroyA6 to begin discussing

[2022-11-17 04:52] dsinla commented on #11601
Relevant detail from [this slack chat ](https://dsva.slack.com/archives/CMJ2V70UV/p1667403093401779) below

David Shannon
@Matt Long  I work with @Dawn Pruitt  on the Facilities team. As a follow up, can you speak to the eventual criteria/plan to remove this flipper, and the one for HCA? We're trying to improve our process, and we want every flipper (ideally when created) to have a corresponding r

[2022-11-17 08:06] ElijahLynn commented on #11469
I deployed same codebase on 7.4 and 8.1 on test.staging.cms.va.gov and test.prod.cms.va.gov respectively and overall GQL query times for the content build are near the same, around 9-10 minutes on a cold cache, and then PHP 7.4 with same codebase on staging.cms.va.gov was 5-6 minutes. So I am now working on deploying the 8.1 + codebase branch to the staging.cms.va.gov server to see if the times im

[2022-11-17 09:06] ElijahLynn commented on #10874
I created PR https://github.com/department-of-veterans-affairs/devops/pull/12251/ for this and deployed it to STAGING.

I tried to login with PIV and got a DNS error on SOCKS and then remembered that I need to test SSO/PIV login ON the network, so tried to login with CAG and got an error:

So I need to call helpdesk tomorrow to get my PIV reactivated.

[2022-11-17 12:22] ndouglas opened #11629 "Record performance metrics for accessibility tests in DataDog."
## Description
Each of the accessibility tests should receive a corresponding gauge metric for elapsed time in DataDog.  This should be reported only on staging.

## Acceptance Criteria
- [ ] Elapsed time is recorded for each accessibility test.
- [ ] That figure is reported upstream to DataDog with an appropriate name in a form such that it can be queried for and exposed in dashboards.

[2022-11-17 12:46] ndouglas opened #11630 "Record performance metrics for behavioral tests in DataDog."
## Description
See #11629.

It'd be good to record performance metrics from our behavioral tests and report them upstream to DataDog, since they reflect significant aspects of the editorial experience.

For instance, almost every Cypress test currently involves logging in.  That gives us a reasonable metric, and happily some good code-injection points, for the responsiveness of the login experienc

[2022-11-17 12:55] ndouglas opened #11631 "Create and save media entities in behavioral tests."
## Description
See #11493.  Similarly, we should ensure that we can create Media content.

## Acceptance Criteria
- [x] A test exercises creating and saving a media entity of every type.
- [x] The relevant code is created in the right place (see #9277).
- [ ] Elapsed time is recorded and posted to DataDog, if we're doing that.

[2022-11-17 13:01] ndouglas opened #11632 "Report `content-build-gql` elapsed time metric to DataDog."
## Description
Probably on Staging only.

## Acceptance Criteria
- [ ] Elapsed time figure for the `content-build-gql` test is reported upstream to DataDog.

[2022-11-17 13:37] laflannery commented on #10800
@jilladams Yes, I my opinion these can be closed.  The majority of tables are correct with the new column/row header pattern and in future the idea is that this should be correct as well - simpler tables (that might only need one of these headers) would usually be better formatted as a list, or something else that isn't a table.  Therefore I don't think  we need this tablefield patch anymore

@wes

[2022-11-17 14:27] laflannery commented on #9823
Notes from Drupal a11y meeting:
- Consider row headers in table
- Consider aria-describedby

[2022-11-17 15:57] davidconlon commented on #10914
![xlsx](https://user-images.githubusercontent.com/56046371/202495072-1efcc6e5-5ec7-4b39-878d-b5a72e7f5f56.svg)

[2022-11-17 15:59] davidconlon commented on #10914
For future reference, I'm uploading the exports into the Files section of the VBA Modernization Teams channel

[2022-11-17 16:21] laflannery commented on #11438
@wesrowe @jilladams I think I may have found a bug with this footer:

On the Drupal CMS login page, in the footer, I am now seeing this:
![image](https://user-images.githubusercontent.com/106678594/202499754-d3b9c504-bf04-4f5d-a5ab-b38db562f6dc.png)
Whereas before I used to have actual footer links (I know one of them was VA Design system because there is an old screenshot [in this ticket](https:/

[2022-11-17 16:37] dsinla commented on #10656
@dawnpruitt
These 3 are ready from Max's [comment above](https://github.com/department-of-veterans-affairs/va.gov-cms/issues/10656#issuecomment-1298909446)

Did you send messages to owners? ..are waiting for some approval?

[2022-11-17 16:41] chri5tia commented on #11438
@laflannery Thanks for catching this! Fixed.
Now we know what the `footer` menu is being used for and that it is, in fact, being used somewhere.

[2022-11-17 16:47] dsinla opened #11633 "Conduct Lovell editor training"
## Description
Based on feedback and requirements from VHADM, deliver a Lovell-specific training.

## Acceptance Criteria
- [x] Training agenda/topics is agreed with VHADM
- [x] Training is scheduled
- [x] Training is delivered

### CMS Team
Please check the team(s) that will do this work.

- [ ] `Program`
- [ ] `Platform CMS Team`
- [ ] `Sitewide Crew`
- [x] `⭐️ Sitewide CMS`
- [ ] `⭐️ Public Web

[2022-11-17 16:48] chri5tia commented on #11438
Team, I am thinking we should create a new footer for the CMS log in page, called `footer_cms`. And then userp the `footer` for the purpose we planned. (In lieu of creating a new footer with a more confusing machine name.)

[2022-11-17 16:53] dsinla opened #11634 "Determine existence of any legal requirement for Mental Health Phone number"
## Description
Ask VHADM for explicit identification of legislation, if any, for "Mental health phone number is required" - anecdotal?
Legal vs Policy
Ask VHADM/PAO to verify official phone number where there are discrepancies or multiple
Consult with Mental Health program office for some of these questions
Iteration on the content model
Longer term - develop strategy for having editors define Pri

[2022-11-17 16:59] #11505 closed

[2022-11-17 17:13] dsinla opened #11635 "PM: Configure beta Banner alerts for Lovell pages"
## Description
As we publish Lovell pages, we want a banner on the top stating "This is a beta"

Look at the revision history for other alerts and the revision history for the old Lovell node itself to find potential language we might use for this.

## Acceptance Criteria
- [x] Review and refine wording of existing banner - DC to send to Dave C
- [x] Does banner provide link to Teamsite page?
- [

[2022-11-17 17:19] jsimonVA opened #11642 "Redirect VRAPP page - target 11 Dec"
### Instructions
- Requests must be submitted **AT LEAST** 2 weeks in advance.  Some requests take a significant amount of time and coordination to implement, so start the process as soon as you know you will need one.
- This issue will be used from initial request through implementation to ensure all individuals working on this are notified of status updates.  Please do not create multiple issues

[2022-11-17 17:33] jilladams commented on #11326
Approved: https://agilesix.slack.com/archives/C01DTUNHFE2/p1668639431097389
And published!

[2022-11-17 17:33] #11326 closed

[2022-11-17 17:59] ElijahLynn commented on #11450
Also causing tests to fail right now, see https://dsva.slack.com/archives/C02HX4AQZ33/p1668697131826159.

[2022-11-17 18:00] dsinla commented on #11508
Low priority given that this page only is used by a select few.

[2022-11-17 18:05] jilladams commented on #11438
That seems reasonable to me, and please make sure the menu "Description" gets updated for both, to make sure it's clear what the menus are doing, and in which context they appear in the front end.

e.g.
Footer = VA.gov footer, columns 1-3
Footer Bottom Rail = VA.gov footer, bottom-most menu below VA logo
footer_cms = CMS footer menu, appears on CMS login page

[2022-11-17 18:07] swirtSJW opened #11636 "Validate that Full width banner alert for Lovell will show"

[2022-11-17 18:15] davidmpickett commented on #11489
Reminder of the really thorough Change Management Runbook from Denise: https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/facilities/change-management

[2022-11-17 18:19] ryguyk commented on #11482
I'm not sure that things are consistent enough to handle this via patterns. The two settings below together provide a good example of variability that could not be accounted for. Specifically, both are VA subdomains, but only one is set with `target="_blank"`.

[code]
[code]

It's a separate but useful question to ask whether we know the current behavior is correct/required. Might it be the case,

[2022-11-17 18:24] edmund-dunn commented on #10046
This was reverted because of regressions.

[2022-11-17 18:28] dawnpruitt commented on #10656
Please do not remove the  caregiver_use_facilities_API -as noted above, the health apps team does not want that to be removed.

Regarding the other two, I was under the impression they were owned by the previous Facilities team, but we are now that team and can make the decision.

I have not taken any action on any of the other flippers.

[2022-11-17 18:28] dsinla commented on #11361
Option 1 - 2 free open text fields.
Operating status: Stays as is
COVID Health Protection Levels
Keep High Medium Low
Adding limited RTF ~ 500 character
Based on H, M, L - populate with policy language
No need to preserve state if they switch from M to L
RTF does not need to go to Lighthouse
Do not surface policy language in FL, link to page .

[2022-11-17 18:28] wesrowe commented on #11164
@swirtSJW, according to my bookkeeping this is unblocked now. Do you concur?
cc @chri5tia

[2022-11-17 18:29] EWashb commented on #3329
This is extremely out of scope for the current system and will require a lot of work. I'm going to close it for now but we can reopen when/if the time comes.

[2022-11-17 18:29] #3329 closed

[2022-11-17 19:01] jilladams opened #11637 "Change robots.txt to allow by default"
[Robots.txt (content-build)](https://github.com/department-of-veterans-affairs/content-build/blob/main/src/site/assets/robots.txt) historically has been set to disallow everything (`Disallow: /`) from being crawled, and explicitly add / allow top level directories as they're added / approved.

We will reverse the logic in order to allow by default / disallow by explicit decision.

## Additional co

[2022-11-17 19:18] edmund-dunn commented on #11435
Not adding filters at this time. That will have to be a separate issue at a later time. This iteration will remove the old table audit, and make the other requested updates.

[2022-11-17 19:47] #8671 closed

[2022-11-17 19:53] wesrowe commented on #10800
Nope, I think we're good. I'll close.

[2022-11-17 20:05] cmaeng commented on #11295
will want to coordinate with where @edmund-dunn is at with testing and confidence

[2022-11-17 20:05] ndouglas opened #11639 "Change `status-error` test to parse Drush output rather than count lines."
## Description
We can use `--format=json` and `jq` to parse the output and not get thrown off by incidental notices/deprecation messages/etc.

## Acceptance Criteria
- [ ] `status-error` test parses JSON rather than counting lines from the useless `--format=list`.

[2022-11-17 20:07] cmaeng commented on #8849
should review all related tickets to determine which are relevant and carve a path forward

[2022-11-17 20:16] cmaeng opened #11640 "Supporting Platform Crew efforts for vets-website on Tugboat"
## Description
As Platform Crew explores options for the future of review instances, they are looking at Tugboat as a specific solution. This ticket is to timebox to provide any needed support in their efforts.

## Acceptance Criteria
- [ ] Provide support to Platform Crew as needed

### CMS Team
Please check the team(s) that will do this work.

- [ ] `Program`
- [x] `Platform CMS Team`
- [ ] `Sit

[2022-11-17 20:29] dsinla commented on #11557
It was determined that this is an edge case specific to Operating Status pages.
I deleted the original page - which couldn't have its title updated.
I created a new page which displays the correct title:
**Operating status | Lovell Federal VA health care**
https://prod.cms.va.gov/lovell-federal-va-health-care/operating-status

[2022-11-17 20:29] ElijahLynn commented on #11450
This is incorrect, it wasn't this error but a different one having to do with the AWS PHP SDK, see thread.

[2022-11-17 21:08] mmiddaugh commented on #11119
<details>
<summary> Screenshots from PR tugboat </summary>

![block screnshot](https://user-images.githubusercontent.com/55411834/202559938-b01e30a9-5821-4eb8-9ed9-4a1fda3b02e5.PNG)
![image](https://user-images.githubusercontent.com/55411834/202559599-093ddae0-cdb4-4f6e-992e-0146f7936afa.png)
![image](https://user-images.githubusercontent.com/55411834/202559609-7d4872a3-93ce-4063-87ce-f2bc2ec4f114

[2022-11-17 21:19] EWashb opened #11641 "Discovery: Go live for continuous content releases"
## Description

Continuous release from 8a-8p is ready to go live for the CMS content build. We need to think through the timeline and change management plan for editors. After we determine what the best approach is regarding communication and what documentation might be needed, we can determine the "when".

To consider: Explaining the variation and what 8-8 means for editors in the simplest terms

[2022-11-17 21:22] EWashb commented on #8930
Add to tech debt mob at the end of Q4 2022

[2022-11-17 21:51] jilladams opened #11643 "Income limits: technical strategy & architecture; prep questions for stakeholders"
## Description

The original product had a database behind it.

### Design assumptions
- The UX will be wizard-like
- The wizard will collect a few pieces of information from the Veteran (eg, location, dependents, income)
- The app will then look up their income limit using the gathered information

### Eng questions
- Where does data come from?
- Will there be an API?
- What team will own data so

[2022-11-17 21:57] jilladams commented on #11021
@wesrowe this ticket doesn't mention any of the date-related logic. We need to add that into ACs.

[2022-11-17 22:14] dsinla commented on #10656
Quick chat with @mmiddaugh she will take a look at covid_vaccine_scheduling_frontend

[2022-11-17 22:21] cweagans commented on #8849
Happy to provide any information that's helpful. Either @ me on tickets or I can jump on a quick call!

[2022-11-17 22:22] wesrowe commented on #11482
Also, I pinged the SW Content channel about whether there is existing guidance on targets/new-tab.

[2022-11-17 22:43] mmiddaugh commented on #10656
It looks like [Max has investigated the flag](https://github.com/department-of-veterans-affairs/va.gov-cms/issues/10656#issuecomment-1290901435) for covid_vaccine_scheduling_frontend. This is another situation where the functionality was built but only briefly implemented. In this case, I believe this was waiting for backend integration with VAOS. Meanwhile, the need for appointments was quickly r

[2022-11-17 23:17] jilladams opened #11644 "Onboarding: Jordan Wood"
<details><summary>Welcome!</summary>

# Welcome to the VA.gov Modernization Team! 👋
We're thrilled to have you join us on this journey! 🎆🎉🙌

Our [vision](https://docs.google.com/presentation/d/14mK-4OMeEnR_-fgj62U4lUHBHg6htj4i4ucTA5DJFzg/edit#slide=id.g11ae1dc437e_0_1) is to craft a seamless editorial experience that empowers editors to create Veteran-centered content. In April of 2022, we also as

[2022-11-17 23:34] ElijahLynn commented on #10874
SSO is working on 8.1. Eric tested this on STAGING today and it works.

![image](https://user-images.githubusercontent.com/1504756/202582288-6d351ef6-a78d-4b35-b7e1-bf62a861a7c7.png)

Disregard the Error in this screenshot, it is only that way because of an issue where we remove all the email addresses on STAGING (to prevent accidentally emailing lots of folks) on lower ENVs that use a developer D

[2022-11-17 23:34] #10874 closed

[2022-11-18 00:06] BlakeOrgan commented on #9553
The research plan for CMS Notifications is complete and can be found [here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/cms/research/CMS%20Notifications/Notifications-Research-Plan.md).

A couple of notes to address the AC and updates to the comments @EWashb made above.

- Prototype/mockup of emails is no longer a blocker for this ticket. The mockup and conve

[2022-11-18 00:06] #9553 closed

[2022-11-18 02:44] DanielleThierryUSDSVA opened #11677 "Redirect Request: Camp Lejeune ads - 11/30 target timing"
### Instructions
- Requests must be submitted **AT LEAST** 2 weeks in advance.  Some requests take a significant amount of time and coordination to implement, so start the process as soon as you know you will need one.
- This issue will be used from initial request through implementation to ensure all individuals working on this are notified of status updates.  Please do not create multiple issues

[2022-11-18 03:46] dsinla commented on #10656
Thanks @mmiddaugh! I think i was confusing some of the very-similar names, but would like you to weigh in on one more: facility_locator_show_operational_hours_special_instructions

@maxx1128[ has investigated](https://github.com/department-of-veterans-affairs/va.gov-cms/issues/10656#issuecomment-1290901435), identified you as the owner (at one point). As with covid_vaccine_scheduling_frontend we w

[2022-11-18 04:19] dsinla commented on #11357
| TASK                                                               | Projected Date   | PM | DEV | SUPPORT | VHADM | Ticket |
|--------------------------------------------------------------------|------------------|----|-----|---------|-------|--------|
| Editors are identified                                             | 10/15/2022       |    |     |         | x     |        |
| Primary dev wo

[2022-11-18 04:20] dsinla commented on #11357
@dawnpruitt would like a review of the above plan in our meeting on Friday, thanks!

[2022-11-18 05:36] swirtSJW opened #11646 "AWOL VBA facility investigation"
## Description
During the  data migration from the VBA database we uncovered a missing VBA
Integrated Disability Evaluation System (IDES) Site at Robins Air Force Base
is no longer in our system
api id: vba_316m
former node id: 4027

We know we had it because it is still in the migrate map table and we know it existed as node 4027  and we know that node no longer exists.

It can be restored by del

[2022-11-18 05:38] swirtSJW commented on #11646
This ticket is blocking the running of the extra VBA data migration on prod.

[2022-11-18 05:42] omahane commented on #10914
@davidconlon We ran the most recent export of the data, which worked great except for these two items:
"Veteran Readiness and Employment Office at W.G. (Bill) Hefner Salisbury VA Medical Center","318l",318,"Southeast","NULL","NULL","VHA_659"
"VA Regional Benefit Satellite Office at Maui Vet Center","459d",459,"Pacific","NULL","NULL","VC_0634V"

318l needs the Shared_VA_Location to be vha_659 (lowe

[2022-11-18 05:42] #10914 closed

[2022-11-18 06:07] #9905 closed

[2022-11-18 13:14] JayDarnell commented on #10821
I should be able to look at this today @stefaniefgray

[2022-11-18 13:16] #11338 closed

[2022-11-18 13:25] #11422 closed

[2022-11-18 13:28] RLHecht opened #11647 "Content Audit: references to the VRRAP program"
Content audits can be performed by searching the codebase and compiled site for specific terms ur using an audit tool within drupal.
Please provide any context for the audit, any related terms or alternate spellings, or and related components that could return content you are interested in. Please see the [collab cycle doccumentation](https://va-gov.atlassian.net/l/cp/U0DfKLfs) for more informatio

[2022-11-18 14:56] swirtSJW commented on #11646
It turns out, this facility is not in the FacilityAPI any longer even though it is in the database that is feeding the facility API.

I am certain it was in the Facility API because we have the node id that it use to have in the CMS.

I am raising this with Lighthouse.

[2022-11-18 15:08] swirtSJW commented on #11646
I went to a tugboat environment that is 7 months old.  It was missing there too.  So we know it disappeared more than 7 months ago.

[2022-11-18 15:21] swirtSJW commented on #11646
Looking at node/4026 and node/4028
I can tell that the node 4027 was created 04/06/2020 - 5:38 pm
The fact that it ran at 5:38 pm rather than at midnight tells me this was the first run of the migration that was run by hand, not our automated.

[2022-11-18 15:38] #11435 closed

[2022-11-18 15:44] omahane commented on #10914
@davidconlon I also noticed the following rows had an extra space in the Facility Name, which was throwing off the ordering of the facility:
`Integrated Disability Evaluation System (IDES) and  Pre-Discharge Claims Intake Site at Fort Polk` (321e)
- 2 spaces between "and" and "Pre-Discharge".
`Pre-Discharge  Site at Wasilla, AK` (463f)
- 2 spaces between "Pre-Discharge" and "Site".

Could you chan

[2022-11-18 15:52] swirtSJW commented on #11646
LH checked and they have no record coming from BISL for vba_316m

[2022-11-18 16:36] #11312 closed

[2022-11-18 16:46] ndouglas opened #11648 "Find and address code that's deprecated as of PHP >8.1, Drupal >10.0"
## Description
We might silence `E_DEPRECATION` and `E_USER_DEPRECATION` messages, so we should use PHPStan to find and address the individual issues before we attempt to move to PHP 8.2, Drupal 11, etc and get rude awakenings.

## Acceptance Criteria
- [ ] Testable_Outcome_X
- [ ] Testable_Outcome_Y
- [ ] Testable_Outcome_Z
- [ ] Requires design review

[2022-11-18 16:46] wesrowe commented on #11482
DST helped me find the [Behavior section on Link docs](https://design.va.gov/components/link/#behavior). These links should all open in the same tab. So no need for target differences! 🎉

[2022-11-18 16:58] swirtSJW commented on #10735
A regular scheduled task that fires immediately after the forms migration completes.

For the nature of this ticket, many of the proposed checks should happen after file move, BUT before the migration.   Checking after the migration is run is closing barn after horse has run all the way to Vegas.

[2022-11-18 17:06] #11374 closed

[2022-11-18 17:07] #11373 closed

[2022-11-18 17:16] swirtSJW opened #11650 "[EPIC] FE Lovell Testing"
## Background

### User Story or Problem Statement

As a FE developer I want to know if  a change I made to the codebase broke Lovell.

As maintainer of the Lovell ecosystem I want to be alerted if a change in the CMS data broke something about Lovell,

### Affected users and stakeholders
* Developers of CMS and FE teams

<link to any existing research or data supporting this>

### Hypothesis

Tes

[2022-11-18 17:17] swirtSJW opened #11651 "SPIKE Identify the Fragile bits of the Lovell FE that need tests."
As a maintainer of the FE website for Lovell,  I want to make sure the most fragile portions of Lovell are covered by some automated tests, so that regressions are caught before they are released to production.

This will essentially populate the [Lovell Testing Epic](https://github.com/department-of-veterans-affairs/va.gov-cms/issues/11650).

## Prioritized list of risks for FE Lovell
- [ ] #1199

[2022-11-18 17:26] jilladams opened #11652 "For launch: Publish new-home-page page to prod Monday, 12/19"
**BLOCKED: prep PR but do not merge until Dave provides Chris J signoff**

## Description
Right now, the new homepage publishes only to staging.

**Path**
`/homepage-test` and will become `/new-home-page` via #11425)

**Plan**
For launch, we want to remove the current restrictions that prevent this page from publishing to Prod.

Notes:
- Security by obscurity, no sitemap tomfoolery necessary
- Pre

[2022-11-18 17:34] jilladams opened #11653 "Flipper: create flipper for exposing the modal on live homepage"
This is necessary whether or not we use Announcement framework.

We do have the option to use an existing flipper, `va_home_preview`. That was instituted for user testing the updated homepage and is not used otherwise.

## Acceptance criteria
- [ ] Flipper enabled should display the opt-in modal on the va.gov homepage
- [ ] Flipper disabled should hide the opt-in modal on the va.gov homepage

[2022-11-18 17:38] jilladams opened #11654 "Popular on VA.gov: update hard coded H2 to read "Top pages""

[2022-11-18 17:41] jilladams commented on #11568
Removing from scope:

## Enabled vs. Disabled links

The front-end should only show enabled menu links:

![Screen Shot 2022-11-17 at 3 43 50 PM](https://user-images.githubusercontent.com/85581471/202584076-215e1de4-d353-4573-849b-53387171dcad.png)

This may require help from Drupal folk for updated graphQL to account for this?

## Menu Order
For several days, the Popular on VA.gov menu showed the

[2022-11-18 17:43] jilladams commented on #11654
Making this H2 dynamic is in #11568 and moved to post MVP epic.

[2022-11-18 17:45] edmund-dunn opened #11655 "Make edit form responsive, removed fixed max-width"
## Description
The edit form currently is set to a max-width of 52rem. We can remove that line and make it responsive within the grid property.

## Acceptance Criteria
- [ ] Make Edit forms fully responsive.

### CMS Team
Please check the team(s) that will do this work.

- [ ] `Program`
- [ ] `Platform CMS Team`
- [ ] `Sitewide Crew`
- [x] `⭐️ Sitewide CMS`
- [ ] `⭐️ Public Websites`
- [ ] `⭐️ Fac

[2022-11-18 17:49] jilladams commented on #11586
Moved to Post-MVP epic.

[2022-11-18 18:01] mmiddaugh commented on #11389
Per @davidconlon, this form flows into the subscribe flow on GovDelivery, which is where the error states will occur. Behavior can be replicated on choose.va.gov.

[2022-11-18 18:09] laflannery opened #11656 "Remove last saved by editor field on KB article template"
## Description
I noticed that the new "Last saved by an editor" field is also present on the KB article template however it's at the bottom since the right sidebar doesn't exist on this particular template. This is an odd placement and is this really needed here - do automated processes even touch KB articles? After speaking with @BlakeOrgan he felt it might be best to remove this entirely from th

[2022-11-18 18:11] davidmpickett commented on #10196
Final readout deck uploaded to github:
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/regional-offices/research/2022-8-veteran-facing/VBA_research_readout.pptx
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/regional-offices/research/2022-8-veteran-facing/research-readout.pdf

[2022-11-18 18:47] #11564 closed

[2022-11-18 19:12] davidmpickett commented on #10196
Research findings document in github has been updated: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/regional-offices/research/2022-8-veteran-facing/research-findings.md

[2022-11-18 19:16] davidmpickett commented on #10196
Findings added to research repository: https://github.com/department-of-veterans-affairs/va.gov-research-repository/issues/177

[2022-11-18 19:17] ryguyk opened #11658 "Static Data Files: Add support for caching - Phase two"
## Description
This is a follow-up to https://github.com/department-of-veterans-affairs/va.gov-cms/issues/9179. The code implementing the changes in that issue require two separate pushes, as described in [the PR with those changes](https://github.com/department-of-veterans-affairs/content-build/pull/1363).

This ticket largely amounts to removing some comments that change one line of code. It can

[2022-11-18 19:19] davidmpickett commented on #10196
@dsinla @dawn marking this as done!

[2022-11-18 19:19] #10196 closed

[2022-11-18 19:25] davidmpickett commented on #10191
Research findings are documented so this epic is complete

[2022-11-18 19:25] #10191 closed

[2022-11-18 19:31] timcosgrove commented on #11309
This one is going to roll over; the timeframes we're working with require testing periods of 3-5 business days to gather sufficient information on timing. Will finish by end of next sprint and a final decision made.

[2022-11-18 19:39] ryguyk commented on #11482
@wesrowe re: "Can `rel` be inferred?"

See [this Slack thread](https://dsva.slack.com/archives/C52CL1PKQ/p1668790261359629).

[2022-11-18 19:46] stefaniefgray opened #11659 "New CLP: Covid + Flu Vaccination Campaign"
## Description
Requested by Danielle Thierry in https://va-gov.atlassian.net/browse/VAHELP-5082

**Vanity URL (as specified in step 3):** `va.gov/covid-flu`

See redirect request: https://github.com/department-of-veterans-affairs/va.gov-cms/issues/11649

## Steps
- [ ] 1. Request comes in, via helpdesk request or direct to PO, or potentially in a Github issue.
- [ ] 2. If PO (Dave Conlon) hasn't a

[2022-11-18 20:40] wesrowe commented on #11021
This ticket is the one that's "always on" – it's the Form Detail alert that looks at dates.

[2022-11-18 20:47] wesrowe commented on #11658
@ryguyk, should this be done ASAP or is it more of a "sometime in the next few sprints" sort of thing?

[2022-11-18 20:48] wesrowe commented on #11482
Per @ryguyk (slack link above), `noopener` is not applicable when opening in the same tab.

[2022-11-18 20:57] EWashb opened #11660 "Sitewide CMS- Sprint 72"
<details><summary>Background</summary>

🥅   — Sprint goals (pending Sprint planning)
💡 — Design
💧  — Drupal engineering
🎉 — FE
🎓  — Training / Change management / KB
📟 — Helpdesk
🔮  —  Planning / roadmap / epic refinement
📊  —  Analytics
🚰  — Service design
🌱 — Good first task

</details>

## Notifications

## PHP Upgrade
- [ ] #11189

## Updates/Bugs/Tech Debt
- [ ] #11415

## Drupal Analytics

-

[2022-11-18 20:58] EWashb commented on #11411
proposed CM planning- email, sync with VHA Dig Med, email Vet Center contacts. Check with PO for other editor types. Update helpdesk. Write KB article.

[2022-11-18 20:58] #11411 closed

[2022-11-18 22:06] jilladams opened #11662 "Redirect Request: Vet Center QR code URL - ASAP target timing"
**BLOCKED on WebOps: for subdomain > subdomain redirect, our attempted code change did not work. We will need WebOps to perform this redirect. WebOps ticket opened, TBD response.**

### Type of request
- [X] We are changing the URL of an existing page (complete redirect section)

## Context
From Tiffany Lever via email to DaveC:

### Implementation date
When does this request need to be live: ~~no

[2022-11-18 22:24] jilladams commented on #10675
https://github.com/department-of-veterans-affairs/va.gov-cms/issues/10800#issuecomment-1318650289
Closing

[2022-11-18 22:24] #10675 closed

[2022-11-18 22:25] jilladams commented on #10683
https://github.com/department-of-veterans-affairs/va.gov-cms/issues/10800#issuecomment-1318650289
Closing

[2022-11-18 22:25] #10683 closed

[2022-11-18 22:25] jilladams commented on #10676
https://github.com/department-of-veterans-affairs/va.gov-cms/issues/10800#issuecomment-1318650289
Closing

[2022-11-18 22:25] #10676 closed

[2022-11-18 22:25] jilladams commented on #10948
https://github.com/department-of-veterans-affairs/va.gov-cms/issues/10800#issuecomment-1318650289
Closing

[2022-11-18 22:25] #10948 closed

[2022-11-18 22:27] jilladams commented on #11025
@laflannery @wesrowe I missed this one in my round up on https://github.com/department-of-veterans-affairs/va.gov-cms/issues/10800#issuecomment-1318650289. Also closeable?

[2022-11-18 22:52] #11149 closed

[2022-11-18 23:09] EWashb commented on #11647
@RLHecht wanted to confirm that I've received your request. I'm going to bring this into sprint planning next week to see when we might be able to accommodate this request.

[2022-11-18 23:15] chri5tia commented on #11438
Done.

https://prod.cms.va.gov/admin/structure/menu/manage/footer
https://prod.cms.va.gov/admin/structure/menu/manage/va-gov-footer
https://prod.cms.va.gov/admin/structure/menu/manage/footer-bottom-rail

[2022-11-18 23:19] jilladams commented on #10868
@jtmst can you add update for where this sits currently? I know there was a blocking eslint test that design system was updating -- do we have any update on timing / a PR up?

[2022-11-18 23:25] EWashb commented on #11443
Sent to Vet Center editors my Erika on 11/18

Blake Scates sent to VAMC editors earlier in the sprint

[2022-11-18 23:25] #11443 closed

[2022-11-18 23:38] jilladams commented on #11438
@chri5tia I fixed up some ordering in the menus where they didn't match what's live in the va.gov front-end today. Otherwise looks good with just a couple notes for cleanup:

1. https://prod.cms.va.gov/admin/structure/menu/item/11539/edit?destination=/admin/structure/menu/manage/va-gov-footer --  we need to confirm that entering the path this way will work correctly when passed through to the fron

[2022-11-18 23:40] jilladams commented on #11119
@mmiddaugh does that mean we're ok to merge what's implemented in the Tugboat, and any changes will come under #11586?

[2022-11-18 23:43] davidmpickett commented on #11580
Conversation guide updated - https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/regional-offices/research/2022-9-public-contact/conversation-guide.md

[2022-11-18 23:43] #11580 closed

[2022-11-18 23:48] davidmpickett commented on #11210
Conversation guide sent for review

[2022-11-18 23:48] #11210 closed

[2022-11-18 23:55] jilladams commented on #11414
https://dsva.slack.com/archives/C03NSH4SLQY/p1668814490702749

[2022-11-18 23:55] #11414 closed

[2022-11-19 00:01] jilladams commented on #11164
This is really a Facillities task now, but if we have Drupal bandwidth in S72 we could knock it out.

[2022-11-19 00:31] stefaniefgray commented on #11649
https://prod.cms.va.gov/initiatives/covid-flu is live, needs redirect

[2022-11-19 00:39] chri5tia commented on #11438
Thanks Jill! I meant to go back and address those.

[2022-11-19 00:51] stefaniefgray commented on #11659
See Slack thread: https://dsva.slack.com/archives/C52CL1PKQ/p1668443871060109

[2022-11-19 01:48] wesrowe commented on #10916
Reminder: notify stakeholders when this merges:

To: Randi, cc: Danielle, Dave; text: “Hi Tammy and Randi, Writing to let you know…”

[2022-11-19 03:19] ElijahLynn commented on #11469
I compared the RDS param groups, and they are identical.

![image](https://user-images.githubusercontent.com/1504756/202831986-cacd3a19-cf10-40d9-b7a5-3a8a06c9027f.png)

![image](https://user-images.githubusercontent.com/1504756/202832000-94efad67-8a45-413c-8229-c719bed6a8f2.png)

![image](https://user-images.githubusercontent.com/1504756/202832044-ab9c9377-d27a-43c5-9864-3c32c43c151c.png)

[2022-11-19 04:06] ElijahLynn commented on #11469
So, I'm still noticing odd things, but consistent. For instance, we have the same commit deployed to TEST-STAGING and TEST-PROD, both on PHP 8.1, this commit is the latest of our PHP 8.1 branch. Then we have a recent commit on `main` deployed to STAGING.

The timings for them are consistent and some are showing that our PHP 8.1 code and ENV are twice as slow in some cases on a cold cache.

![image

[2022-11-19 04:11] ElijahLynn commented on #11469
STAGING is twice as fast as TEST-STAGING and TEST-PROD for /admin/content GET requests. TEST-PROD is consistently significantly slower then STAGING and TEST-STAGING, and TEST-STAGING is consistently slower than STAGING.

[2022-11-19 04:13] ElijahLynn commented on #11469
`drush cache:rebuild` is roughly the same on STAGING and TEST-STAGING, but TEST-PROD is 30% slower than both.

![image](https://user-images.githubusercontent.com/1504756/202833604-7349ff3a-9674-4144-adf1-ced9b0c1f3c0.png)

[2022-11-19 04:46] stefaniefgray commented on #10817
Closing -- see https://va-gov.atlassian.net/browse/VAHELP-4965
"VA Eastern Colorado does not want “Academy VA Clinic” or “Evans VA Clinic” on their locations page."

[2022-11-19 04:46] #10817 closed

[2022-11-19 04:46] stefaniefgray commented on #10816
Closing -- see https://va-gov.atlassian.net/browse/VAHELP-4965
"VA Eastern Colorado does not want “Academy VA Clinic” or “Evans VA Clinic” on their locations page."

[2022-11-19 04:46] #10816 closed

[2022-11-19 04:50] stefaniefgray commented on #10821
Editor is notified! Thank you so much @omahane and @JayDarnell

[2022-11-19 04:50] #10821 closed

[2022-11-19 05:36] stefaniefgray commented on #11496
"So a follow up from this morning discussion during the call for Outreach staff in District 3.

Today I checked the created website pages through CMS for VC 405 and the directions lead to a still incorrect location, directing people that use that link on the page to travel to a South 22nd Street in West Des Moines.

So now the map displays correct city but wrong part of the city.

This is also an

[2022-11-20 23:18] #11357 closed

[2022-11-20 23:38] dsinla commented on #11212
As discussed in meetings with Dev and PO, it will be up to VHADM and the Lovell authors to determine if content is identical across both systems, similar, or if content only exists in one system.
If  a page is indeterminant, then we'll leave that page assigned to Lovell Federal health care section -rather than create two pages, one of which might have to be removed later.

Latest sitemap:
[LovellC

[2022-11-20 23:39] #11212 closed

[2022-11-20 23:41] dsinla commented on #10853
The final steps for Lovell, and owners and projected timeline, is documented in this ticket https://github.com/department-of-veterans-affairs/va.gov-cms/issues/11357

[2022-11-20 23:41] #10853 closed

[2022-11-20 23:55] dsinla commented on #11040
| Coranavirus Vaccine Available/Not Avail            | 68 |
| -------------------------------------------------- | -- |
| Website Coming Soon                                | 50 |
| Coronavirus Levels/Facilty Policy (service animal) | 36 |
| Non-Covid Vaccine                                  | 7  |
| Weather closing/opening                            | 7  |
| Coranavirus Testing availability

[2022-11-20 23:55] #11040 closed

[2022-11-21 00:10] dsinla opened #11666 "Sprint 72 - Facilities | Nov 21 - Dec 04"
<details><summary>Quarterly Initiatives</summary>

Major initiatives (Super Epics) driving work for this quarter
The majority of the team's work should fall under these initiatives.
There will likely be other bug-fixes and continuing/legacy issues that fall into a Sprint.

- #9655 Lovell
- #9659 VBA MVP
- #1392 Banners

**Blocked until LH team moves forward**
- #10798  Lighthouse v1
</details>

<d

[2022-11-21 00:30] dsinla opened #11667 "Publish Lovell specific KB articles"
## Description
Once KB articles are written and approved, publish them

## Acceptance Criteria
- [ ] Support team publishes KB articles

### CMS Team
Please check the team(s) that will do this work.

- [ ] `Program`
- [ ] `Platform CMS Team`
- [ ] `Sitewide Crew`
- [ ] `⭐️ Sitewide CMS`
- [ ] `⭐️ Public Websites`
- [ ] `⭐️ Facilities`
- [x] `⭐️ User support`

[2022-11-21 00:48] dsinla opened #11668 "Lovell content punchlist"
## Description
As we uncover content-related items that need to be addressed, collect them here.

- [ ] `Program`
- [ ] `Platform CMS Team`
- [ ] `Sitewide Crew`
- [ ] `⭐️ Sitewide CMS`
- [ ] `⭐️ Public Websites`
- [ ] `⭐️ Facilities`
- [ ] `⭐️ User support`

[2022-11-21 03:09] EWashb commented on #11495
We have conducted an initial review of the new search. Will share with PO during Sitewide CMS sync on 11/22

[2022-11-21 03:14] #11447 closed

[2022-11-21 03:15] EWashb commented on #9964
Is this ok to close now @TroyA6 and @stefaniefgray?

[2022-11-21 03:17] EWashb commented on #9921
It looks like this one is ready to close if I'm reading the PR correctly, right @ndouglas ?

[2022-11-21 03:17] #11433 closed

[2022-11-21 12:10] ndouglas commented on #9921
Nope; the tests can't pass until the accessibility issues are fixed.

[2022-11-21 12:22] ndouglas opened #11669 "Warning importing configuration."
## Description
[code]

Not blocking config import, but noisy and ugly.

## Acceptance Criteria
- [ ] Config imports without visible warnings or other messages.

[2022-11-21 13:52] laflannery commented on #11025
@jilladams Yes, I think it can be closed.  Blank headings seem to occur infrequently and in the majority of cases it was when tables were being used as layout tables (which is not correct). I think the updated helper text you already did is a good solution for this issue.

[2022-11-21 14:22] jtmst commented on #10868
I'll verify that the lint rule is updated if that's the case I'll PR this morning

[2022-11-21 14:36] TroyA6 commented on #9964
Hi Erika,
The IRP is well underway, but technically, still in progress -- processing
feedback from the Platform team.
Should be able to wrap it up over the next sprint, then present the
following sprint.
I think that follows the Q4 goal documentation.
Does that make sense?
Thank you,
Troy

On Sun, Nov 20, 2022 at 9:15 PM Erika Washburn ***@***.***>
wrote:

[2022-11-21 16:11] EWashb commented on #11209
Jay or Max to help with pilot?

[2022-11-21 16:11] EWashb commented on #11209
Keep Dave C in the loop with any challenges with recruitment. He will support or assist with a pivot.

[2022-11-21 16:13] EWashb commented on #11508
This goes to Dave C, but has been iceboxed.

[2022-11-21 16:23] EWashb commented on #11633
Need to get with Stefanie/Troy @ Helpdesk

[2022-11-21 16:24] EWashb commented on #11633
Meeting scheduled with helpdesk to create the training plan on 11/28. create ticket for a training plan.

[2022-11-21 16:29] davidmpickett commented on #11434
In sprint planning, I volunteered to support David S on this ticket

[2022-11-21 16:30] chri5tia commented on #11438
Reopening this ticket. Creating the new menu and populating it with links without pushing the config to prod first has caused issues. I removed the menu and will recreate once the PR merges.

[2022-11-21 16:30] EWashb commented on #11651
There's a good bit of cleanup that will need to be considered via FE. What if anything can we do for automated checks for potential regressions? Let's see if there are any other product dependencies.

[2022-11-21 16:35] EWashb commented on #11557
Validate that this was fixed please @omahane

[2022-11-21 16:48] EWashb commented on #11484
Talk to @edmund-dunn for context.

[2022-11-21 16:53] EWashb commented on #11659
@jilladams @wesrowe CLPs are PW, right?

[2022-11-21 16:54] EWashb commented on #11541
I've removed this from sprint 72 as not a high priority. @dsinla this will need some thinking from you around CM

[2022-11-21 17:05] cmaeng commented on #11566
@timcosgrove @ElijahLynn with Eric OOO, is there a way for us to verify that this was done?

[2022-11-21 17:07] cmaeng opened #11674 "Platform CMS - Sprint 72"
<details><summary>Quarterly Initiatives</summary>

List here the major initiatives (Super Epics) driving work for this quarter
The majority of the team's work should fall under these initiatives.
There will likely be other bug-fixes and continuing/legacy issues that fall into a Sprint.

- #11133
- #11345 🥅
- #11213 🥅

</details>

<details><summary>OOO</summary>
Thanksgiving: 11/24
Black Friday: 11

[2022-11-21 17:23] TheBoatyMcBoatFace opened #11675 "Analytics Platform & System Overviews"
## Description
The goal of these platform overviews is to loop @TheBoatyMcBoatFace into each of the systems used to monitor the resources pertinent to the Platform CMS Team.

Each platform overview should walk through these topics:

- Data Collected
- Platform Pros/Cons
- Visualizations in place/needed
- Collection pipeline
- What problems are solved/questions answered by platform
- Alerting & not

[2022-11-21 17:36] cmaeng commented on #11469
Next steps:
- Coordinate with our CMS UX folks to determine the threshold by which we are comfortable moving forward or not
- @ElijahLynn to dig in to possible networking issues that might affect this

[2022-11-21 17:41] jilladams commented on #11649
Ok! We'll pull this into our sprint starting today.

[2022-11-21 17:45] cmaeng commented on #8849
Our recommended path forward would be to complete the php upgrade and then look at all of the related tickets to this to see which would be relevant to take on.

[2022-11-21 17:49] ElijahLynn commented on #11566
The cert was merged in https://github.com/department-of-veterans-affairs/devops/pull/12255 but not deployed yet because the PROD deployment for Friday was skipped. It will go out with today's (Mon 21) deploy.

[2022-11-21 17:58] jilladams commented on #11659
Nominally. We support development of the content type and any enhancements, and redirects, but helpdesk can get a lot done for starting new CLPs from the runbook steps.

[2022-11-21 18:00] jilladams commented on #11025
https://github.com/department-of-veterans-affairs/va.gov-cms/issues/11025#issuecomment-1322098269

[2022-11-21 18:00] #11025 closed

[2022-11-21 18:01] jilladams commented on #10673
@laflannery @wesrowe all issues in this epic have been completed or closed as no-op. Whenever the two of you feel good about it, this epic can close.

[2022-11-21 18:05] #10868 closed

[2022-11-21 18:06] #11324 closed

[2022-11-21 18:23] TheBoatyMcBoatFace opened #11678 "Coordinate with UX Team on PHP Upgrade"
## Description
In reference to [ Determine cause of PHP 8.1 performance regressions #11469 ](https://github.com/department-of-veterans-affairs/va.gov-cms/issues/11469).

Work with UX team to determine their acceptable criteria with regards to deploy speed.

### CMS Team
Please check the team(s) that will do this work.

- [ ] `Program`
- [X] `Platform CMS Team`
- [ ] `Sitewide Crew`
- [ ] `⭐️ Sitew

[2022-11-21 18:23] EWashb commented on #11415
There is a paragraph de-orphaner in the CMS already. May want to test this beforehand to see if it's what we want to do.

[2022-11-21 18:30] TheBoatyMcBoatFace opened #11679 "EC2 Network Testing"
## Description
Re: #11469
Conduct network testing between EC 2 instances in relation to PHP upgrade

### CMS Team
Please check the team(s) that will do this work.

- [ ] `Program`
- [X] `Platform CMS Team`
- [ ] `Sitewide Crew`
- [ ] `⭐️ Sitewide CMS`
- [ ] `⭐️ Public Websites`
- [ ] `⭐️ Facilities`
- [ ] `⭐️ User support`

[2022-11-21 18:53] #11406 closed

[2022-11-21 19:01] jilladams commented on #11570
Add:
* #11680
* #11023
* #11420

[2022-11-21 20:06] wesrowe commented on #9179
Sprint planning:

- nudge Platform via slack to review
- notify dependent teams of potential delay
- notify Team of Teams

[2022-11-21 20:07] wesrowe commented on #11658
Sprint planning:

- notify dependent teams of possible delay
- notify Team of Teams

[2022-11-21 20:08] jilladams commented on #11168
@cindymerrill could you point us to the artifact of the summary?

[2022-11-21 20:14] wesrowe commented on #11538
@mmiddaugh, this ticket was assigned to @maxx1128 in this sprint, but it shows as blocked, pending Ryan Thurlwell's updates to Sketch. Can you confirm whether that update has been made, or do you have an ETA?

[2022-11-21 20:20] cindymerrill commented on #11168
I'm just starting to write it, and I'd like to wait to share it until I'm done, if that's OK @jilladams

[2022-11-21 20:22] timcosgrove commented on #11402
https://github.com/department-of-veterans-affairs/content-build/pull/1371 moved the validate build step to use the on-demand runner.

https://github.com/department-of-veterans-affairs/content-build/pull/1372 moves other jobs within the workflow to either Github Action runners or the on-demand runner, depending on what the jobs require and whether they are required to operate concurrently with anot

[2022-11-21 20:37] smythe5 opened #11681 "Onboarding: Stephen Smythe"
<details><summary>Welcome!</summary>

# Welcome to the VA.gov Modernization Team! 👋
We're thrilled to have you join us on this journey! 🎆🎉🙌

Our [vision](https://docs.google.com/presentation/d/14mK-4OMeEnR_-fgj62U4lUHBHg6htj4i4ucTA5DJFzg/edit#slide=id.g11ae1dc437e_0_1) is to craft a seamless editorial experience that empowers editors to create Veteran-centered content. In April of 2022, we also as

[2022-11-21 21:01] davidmpickett commented on #11361
Wireframe for proposed FE updates to Facility Locator
[Facility Locator search.pdf](https://github.com/department-of-veterans-affairs/va.gov-cms/files/10060492/Facility.Locator.search.pdf)
![Facility Locator Search Results](https://user-images.githubusercontent.com/51967950/203157363-c325b888-ec28-407f-8bfd-b84ad53f96fb.png)

[2022-11-21 21:07] davidmpickett commented on #11361
Sent to Facilities team channel on Slack for review

[2022-11-21 21:39] #11646 closed

[2022-11-21 21:40] swirtSJW commented on #11646
Migration was run on prod.  So this can be closed.

[2022-11-21 21:46] swirtSJW commented on #11656
It makes sense to me to have it be "last updated".   As it may be relevant to the confidence of the reader.
We have on occasion had kb artilcles updated by an automated process.  We don't usually, but it could happen if we are fixing a paragraph or bulk changing a word or link.

I also like the idea of us eating our own dogfood on the process.

[2022-11-21 22:02] jilladams commented on #11205
Meeting with Laura, Josh, Ryan, Wes & Me:

* We implemented exceptions by hand based on entity ID, in content-build. BUT: There are more exceptions with this issue than we realized, and this approach isn't extensible or going to work.
* **Extent of the issue:**
  * ~75% of the example problems identified by a scan are in VAMC pages, where header levels are entered in rich text editors.
  * The rem

[2022-11-21 23:18] jilladams commented on #11659
The redirect for this is now in PW current Sprint 72, #11649 .

[2022-11-21 23:36] wesrowe opened #11682 "Remove ExploreVA modal from VAgov homepage"
## Description

A few years ago the site [ExploreVA](explore.va.gov) was decommissioned and redirected to VAgov. At that time, a modal was introduced to the VAgov home page welcoming those users and informing them of the change.

This modal is no longer necessary, and it is an impediment to implementation of the soft-launch modal for the new home page design.

### Engineering notes

See conculsion

[2022-11-22 01:33] wesrowe commented on #11168
That's great, thank you @cindymerrill. @davidmpickett and @thejordanwood might appreciate a little time to ask you questions before you travel, if that turns out to be possible. Jordan is the UX designer who will carry on from your work.

[2022-11-22 01:34] cindymerrill commented on #11168
@wesrowe Possibly next Monday, if I finish the report early enough in the day?

[2022-11-22 13:26] davidconlon commented on #10914
Updated the above.

[2022-11-22 15:04] maxx1128 commented on #11651
For the Switch links on Lovell Tricare and VA, the HTML is there but isn’t rendering for some reason. I don't see any styling that would be hiding it, so my best guess is it's something related to the `va-alert` component.

<img width="1461" alt="Screen Shot 2022-11-21 at 2 49 14 PM" src="https://user-images.githubusercontent.com/10790736/203348332-aac54c40-eab0-421c-a31c-0606484d5bf9.png">

[2022-11-22 15:09] swirtSJW commented on #11361
Link to slack discussion https://dsva.slack.com/archives/C0FQSS30V/p1669064797811809

[2022-11-22 15:42] EWashb commented on #11641
What counts as a failure within this new structure? The current pattern is 2 failures in a row...does that make sense with this new 8a-8p timeframe?

Let's think through this in terms of getting ahead of notifying editors. How do we become proactive with this?

[2022-11-22 15:43] EWashb commented on #11641
Do we notify actual failures or do we notify with time passed?

[2022-11-22 15:45] EWashb commented on #11641
We need a REAL signal about failures- the alerts we have are not totally accurate and reliable.

[2022-11-22 15:59] JayDarnell commented on #10869
Moving back into TODO until Lighthouse resolves their latency issue

[2022-11-22 16:14] BlakeOrgan commented on #11656
If we already have last updated at the top, I don't think we would need it at the bottom too.

<img width="1470" alt="Screen Shot 2022-11-22 at 10 10 51 AM" src="https://user-images.githubusercontent.com/113871419/203364778-ea891b74-fbe9-45d6-9975-e931ba58f82d.png">

[2022-11-22 17:04] #10916 closed

[2022-11-22 17:19] laflannery commented on #11361
Had a quick meeting with @davidmpickett  - He confirmed that we should add "Maps" back to the Directions link in the revised designs (it was just an oversite that it was removed)

[2022-11-22 18:16] swirtSJW opened #11686 "Switch links missing"
Swithc links for Lovell VA and TRICARE are missing
![image](https://user-images.githubusercontent.com/5752113/203391051-efb31203-b2e2-4dd7-bb34-92863650831d.png)
![image](https://user-images.githubusercontent.com/5752113/203391098-e0663596-c66e-463d-b880-3b415d2fbcce.png)

https://web-liqqgmzl7tsyfbwyulbkuborufuuttav.demo.cms.va.gov/lovell-federal-va-health-care/
https://web-liqqgmzl7tsyfbwyulbkub

[2022-11-22 18:21] dsinla opened #11687 "Request for new or update to existing KB article : Lovell-editor specific instructions"
## Background context
**What is the request for?**
Lovell editors will create content like any other VAMC editor, with a few special cases that need to be documented.
Given that the scope of Lovell is small (just 4 editors). we should not edit existing KB articles, but rather create new Lovell-specific articles.

I'm suggesting:

- Authoring content for Lovell
	Overview content and switcher descri

[2022-11-22 18:33] swirtSJW commented on #11686
Closing this as it was an issue with web component loading for me locally.

[2022-11-22 18:33] #11686 closed

[2022-11-22 18:38] swirtSJW opened #11688 "CMS Lisitng pages ending up with -0 on path"
Our additional logic that automatically created two aliases for pages that are in both is creating a problem with the exiting pages in Lovell and TRICARE

![image](https://user-images.githubusercontent.com/5752113/203397060-355254dc-178d-497a-ada9-d796ce7b5685.png)

## Defect
Story, press release and event listing pages assigned to "Lovell Federal health care"  are assumed to be in both places, so

[2022-11-22 18:49] dsinla opened #11689 "Request for new or update to existing KB article : Admin-specific Lovell instructions for maintaining Lovell sites"
## Background context
**What is the request for?**
There are special considerations for Lovell TRICARE-only facilities that are exceptions to typical facilities. Though new facilities are rare, the special handling should be documented from the CMS support/admin perspective.

**Person and team of requester:**
- David Shannon, Facilities

**Priority or deadline for request**

  Choose either Deadli

[2022-11-22 18:59] wesrowe opened #11690 "In Staging (only): FaF Download Instructions modal not firing due to Flipper"
## Describe the defect
A click on "Download PDF" link within FaF search results is expected to trigger a modal with instructions and the actual download link. The PDF is instead downloading without the modal showing.

_This impacts home page work because this modal is the one we would use to test the potentially buggy interaction between VAgov modals and the Medallia intercept modal.

**It's a fli

[2022-11-22 19:10] #11654 closed

[2022-11-22 19:21] dawnpruitt commented on #11651
@swirtSJW can you please take a look at Max's feedback? Thank you! :)

[2022-11-22 19:23] maxx1128 commented on #11651
@dawnpruitt Steve already figured out [the issue here](https://github.com/department-of-veterans-affairs/va.gov-cms/issues/11686), it was thankfully just a local loading issue.

[2022-11-22 19:32] jilladams commented on #10342
Brief meeting with Ryan, Josh, Wes, me:
* Ryan flagged that the original pass at this SPIKE mostly validated where the snake case version of the flag name appears in code, e.g. `sign_in_service_enabled`. However: in most cases, this snake case is mapped to a camelCase version of the flag in `vets-website/src/platform/utilities/feature-toggles/featureFlagNames.js`, e.g. `signInServiceEnabled`.
* Se

[2022-11-22 19:43] swirtSJW opened #11691 "FE Switch link not showing on policy page."
[Lovell VA Policies](https://web-liqqgmzl7tsyfbwyulbkuborufuuttav.demo.cms.va.gov/lovell-federal-va-health-care/policies/) page is not showing a switch link,
![image](https://user-images.githubusercontent.com/5752113/203407688-d26bcf4e-51f3-4331-ada9-88daf3015191.png)

BUT
the [TRICARE pag](https://web-liqqgmzl7tsyfbwyulbkuborufuuttav.demo.cms.va.gov/lovell-federal-tricare-health-care/policies/)e

[2022-11-22 19:43] wesrowe opened #11692 "BE: Drupalize "Create Account" block content"
**Blocked on CMS Collab Cycle (small lift) – [CMS CC intake ticket](https://github.com/department-of-veterans-affairs/va.gov-cms/issues/12062)**

## Description

![image.png](https://images.zenhubusercontent.com/61a671f5fc46c2a311655f75/5d7ee88d-7ada-4821-addb-0f07a0140ad2)

### Implementation details

- See #12019 for guidance on implementation.
- Design was comlpleted in #12388
- Design is [in F

[2022-11-22 20:31] laflannery commented on #10760
- [Slides](https://docs.google.com/presentation/d/1XzguvG3R_iVbnS9R1KKPQRruVw_hSdqDdyDvqBKaPp8/edit#slide=id.gcd567e2ae4_0_432)
- [Alt text audit - Q4 2022.pptx](https://github.com/department-of-veterans-affairs/va.gov-cms/files/10070887/Alt.text.audit.-.Q4.2022.pptx)
- [Alt text audit - Q4 2022.pdf](https://github.com/department-of-veterans-affairs/va.gov-cms/files/10070890/Alt.text.audit.-.Q4.20

[2022-11-22 20:39] mnorthuis commented on #11642
I believe we need to also capture the actual online form in this ticket.  Will need @jsimonVA to confirm...but for some reason I cannot tag him in this ticket any longer.

[2022-11-22 21:11] RLHecht commented on #10972
@jilladams We have a staging review set for 11/29 and are looking to publish the rates pages next week if all goes OK. Could you add this ticket into your next sprint?

[2022-11-22 21:12] jilladams commented on #10972
Yep! Whenever you're ready for it, we'll pull it in.

[2022-11-22 21:18] timcosgrove commented on #11413
The following state value determines whether continuous content release is enabled:
[code]
We can disable continuous release on Tugboat by setting that state to 0/FALSE. This should be done to the base preview. Currently looking for the best place to do this.

[2022-11-22 21:27] ndouglas commented on #11497
Working to make sure I understand the intended logic here.

So I've coded something to let me introspect and preview the effects on a given node before actually running it.

![Screen Shot 2022-11-22 at 4 11 58 PM](https://user-images.githubusercontent.com/1318579/203422039-83689e3b-a5b6-45fa-b8ce-2ed6bd8cea27.png)

The columns are:
- **NID**: Node ID.
- **VID**: Revision ID.
- **Publish**: Whether

[2022-11-22 21:33] jilladams commented on #11205
Wes and I talked to @davidconlon  about this in sync briefly today. Dave's take:
* Tackle product by product
* Start with something like Resources & Support and/or Benefit Hubs, where the editor audience is small
* Ideally: CMS should be taking structured content and passing to the front-end, without embedded html like heading levels
* Future: front-end needs to be able to handle heading levels bc

[2022-11-22 22:25] davidmpickett commented on #11209
Pilot session scheduled with Jay

[2022-11-22 22:26] RLHecht commented on #11647
@EWashb Just wanted to check if this work is going to be pulled into your next sprint. We need to to make our VRRAP updates by December 11, which is the last day the program is accepting new applicants.

[2022-11-22 22:27] davidmpickett commented on #10847
I crunched some [numbers](https://www.va.gov/vetdata/docs/Utilization/Number_of_Veteran_Patients_by_HC_Priority_Groups_2000_2017.pdf) and as of 2017:

-  19% of Veterans enrolled in Health Care are in Priority Group 7 or 8 where Income is definitely a factor
- 20% of Veterans enrolled in Health Care are in Priority Group 5 where Income may be a factor
- So, we’re probably talking about roughly bet

[2022-11-22 22:30] chri5tia commented on #11680
PR https://github.com/department-of-veterans-affairs/devops/pull/12277

[2022-11-22 22:34] jilladams opened #11695 "Review existing design documentation for Income Limits"
## Description
As the UX Lead, I need to understand the design work that has been done so far on Income Limits so I can prioritize how design resources are allocated to it during Q4

## Acceptance Criteria
- [x] Read all the things
  - [x] [Product Outline](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/income-limits-app)
  - [x] [Existing website](https://www.v

[2022-11-22 22:54] EWashb commented on #11647
This is one of the things I wanted to chat with you about tomorrow @RLHecht. I wanted to understand all of the parameters.

[2022-11-22 23:29] ElijahLynn commented on #11469
I've got the test.prod RDS instance moved over to AZ 1C now, so all RDS are consistent in 1C. RDS are multi-AZ fwiw, but I can't actually tell that that is working and only see one instance for each, and they are all in 1C. :shrug:

[2022-11-23 00:10] ElijahLynn commented on #11469
I have a PR open to lock the instances to 1C for now https://github.com/department-of-veterans-affairs/devops/pull/12276, so they are in the same AZ as RDS. All Memcache clusters have at least 1 node in 1C as well.

[2022-11-23 00:11] davidmpickett commented on #11209
Email sent to 19 public contact staff. Calendly slots available from Nov 28 - Dec 6.

Plan for non-responders
-I will send individual follow-up emails to non-responders next Tuesday afternoon. & give them a deadline of next Friday to sign up.
- I will let the team know how we are doing with scheduling at that point so we can determine how strongly to push on ROs POCs
- We can ask the RO POCs on We

[2022-11-23 01:41] cindymerrill commented on #11168
@wesrowe I finished drafting the topline report today, and I'm planning to make revisions on Monday 11/28 after my home page redesign usability test readout ends at 2 pm ET. I could meet with @davidmpickett and @thejordanwood anytime after that, except for 4-5 pm.

[2022-11-23 14:10] swirtSJW commented on #11651
Also unrelated to this spike.  This spike is about proposing tests and creating tickets for them.  Not for actually fixing the existing code.

[2022-11-23 14:34] jsimonVA commented on #11642
@mnorthuis you are correct, I need to redirect or take down (which every method is better) these additional URLS
(https://www.va.gov/education/other-va-education-benefits/veteran-rapid-retraining-assistance/apply-for-vrrap-form-22-1990s/introduction) and (https://www.va.gov/education/other-va-education-benefits/veteran-rapid-retraining-assistance/apply-for-vrrap-form-22-1990s/apply).

Thank you fo

[2022-11-23 14:35] RLHecht opened #11730 "Redirect Request for Vet Centers live as of 11/23/22 - no deadline"
### Instructions
- Requests must be submitted **AT LEAST** 2 weeks in advance.  Some requests take a significant amount of time and coordination to implement, so start the process as soon as you know you will need one.
- This issue will be used from initial request through implementation to ensure all individuals working on this are notified of status updates.  Please do not create multiple issues

[2022-11-23 14:38] mnorthuis commented on #11642
@jilladams @wesrowe Per @jsimonVA's note above, please note additional details in the main issue description to redirect everything within the directory so that it captures the corresponding form and form flow pages, which are children to that directory.

[2022-11-23 15:18] JayDarnell commented on #10588
Reopening because there is a manual step to remove the flags currently attached to these facilities.

[2022-11-23 15:56] JayDarnell commented on #10588
I've removed the Removed from source flags from the 5 TRICARE facilities.

[2022-11-23 15:56] #10588 closed

[2022-11-23 17:18] laflannery opened #11697 "Default Alt Text Inline guidance to open"
## Description
We implemented inline guidance for the alt text field at the beginning of October.  This component is currently defaulted to closed and the additional guidance is hidden from editors when first loaded.  Based on a recent audit, this pattern has not significantly improved the alt text that editors are adding to their images.

We would like to change the default behavior to open so th

[2022-11-23 17:22] swirtSJW commented on #11692
Probably a custom block type is not the way to go for a single instance.
May want to consider using a centralized content node and a graphQL query that grabs that node specifically to populate the FE.

[2022-11-23 17:34] ndouglas opened #11698 "Last-touched-by-an-editor field not always reflecting updates"
## Description
See e.g. this node: https://prod.cms.va.gov/san-diego-health-care/locations/oceanside-va-clinic

![Screen Shot 2022-11-23 at 12 14 37 PM](https://user-images.githubusercontent.com/1318579/203612102-06dfc235-ba21-437f-a797-134fba0a021f.png)

We should probably see a last-updated date here of November 23 2022 8:34am.

## Acceptance Criteria
- [ ] Last-touched-by-an-editor field update

[2022-11-23 17:54] dsinla commented on #11434
Shared [google sheets link ](https://docs.google.com/spreadsheets/d/1UWX4bO8nBbGfgnL8HkFgF0W5iRczl-p8/edit?usp=sharing&ouid=110266615980766295586&rtpof=true&sd=true )with @davidmpickett for co-working. Thanks!

[2022-11-23 18:02] dsinla commented on #10027
Met with @TroyA6 to discuss next steps.  @dsinla will create first draft of 3 KB's:

- Authoring content for Lovell
	Overview content and switcher description
- Creating content for Lovell
	Assigning the proper section
- Changing the assigned section for Lovell content
	Checking for existence of content
	Changing/Assigning proper section

Request for Editor-facing KBs
https://github.com/department

[2022-11-23 18:04] chri5tia commented on #11662
PR: https://github.com/department-of-veterans-affairs/devops/pull/12277

[2022-11-23 18:12] laflannery opened #11699 "No visible focus on Operating Status alert on VAMC Location pages"
## Describe the defect
Within the VAMC locations pages, when a location has an operating status other than normal an alert displays. This alert is a link to the operating status page and as an interactive element should have a visible gold focus halo around the element when a user tabs to it. However, this is currently not available and should be updated.

## To Reproduce
Steps to reproduce the be

[2022-11-23 18:39] laflannery opened #11700 "Update style of Operating Status alert on VAMC Location pages"
## Description
Within the VAMC locations pages, when a location has an operating status other than normal, an alert displays. This alert was created prior to the VA Design System and therefore does not exactly match the current DS standards. For accessibility as well as UX/design integrity, it would be beneficial to update the styles of this element to be consistent with the VA design components.

[2022-11-23 18:44] laflannery commented on #11700
@davidmpickett If you would like to change/edit anything in the description above please feel free as these are mostly UX/Design updates and my main concern is that these alerts are consistent across the site.

[2022-11-23 18:53] davidmpickett commented on #11700
This all looks good to me.

[2022-11-23 19:00] laflannery opened #11701 "Heading Violations Export - Generate list of editors"
## Description
Using a recent export of the pages with editor generated heading violations, we want to generate a list of unique editors responsible for those pages.

Using that list we will determine how best to move forward (i.e. contact editors, discuss with VHA Digital Media, set up trainings, something else, etc.)

## Additional Content
- How to run the export can be found [here](https://gith

[2022-11-23 19:46] edmund-dunn commented on #11698
I identified the issue and have a fix.

[2022-11-23 20:12] jilladams opened #11704 "SPIKE: Assess test coverage needed for homepage update"
## Description
https://dsva.slack.com/archives/C52CL1PKQ/p1669147632360019

We do not have a firm rubric for when / what code changes require test coverage, but we do want to be thoughtful about test coverage for the updated homepage. This ticket is a SPIKE to think that through.

Areas for consideration:
* What could break, that we want to protect against?
* What code has logic dependencies that

[2022-11-23 20:23] jilladams opened #11705 "PW Sprint 73 plan"
## Q4 Priorities

### 1. Harden homepage for prod

**Page itself:**
- [x] #11389 (5)
- [ ] #11704

**Modal:**
  - [ ] #11682 ()
  - [ ] #11653 (3)
  - [ ] #11535 () 🥅
  - [ ] NEW TICKET NEEDED: New cookie behavior for announcements framework

**Drupal**
  - [ ] (stretch pending Blake input/CMS Collab cycle) #11086 ()
  - [ ] NEW TICKET NEEDED: cms collab cycle intake

**Post-MVP, not launch blocki

[2022-11-23 20:57] jilladams opened #11707 "Education how to wizard: "Apply now" points to incorrect form after "sponsor deceased" question and TOE question"
## Describe the defect
https://github.com/department-of-veterans-affairs/va.gov-cms/issues/10916 updated the order of questions for the Education how to apply wizard.

Per [Mural](https://app.mural.co/t/vagov6717/m/vagov6717/1664998387811/4be58c5f39967b921ca8cba2bfc77511b867eb00?sender=u252e7152800e3981889d1910), we have an incorrect "Apply now" link after the "is your sponsor deceased" question:

[2022-11-23 21:15] JayDarnell commented on #11636
Full Width Alerts and Promo Banners display as expected:

![Screen Shot 2022-11-23 at 4 15 02 PM](https://user-images.githubusercontent.com/21045418/203647417-ce09efc6-bfc1-4b93-8992-7b4300bd231a.png)

[2022-11-23 21:24] JayDarnell commented on #11636
VAMC Banner Alerts with Situation Updates do not currently function as intended for Lovell. This may be due to the fact Lovell VA and Lovell TRICARE are not available as systems to select when creating an alert of this type.
![Screen Shot 2022-11-23 at 4 24 44 PM](https://user-images.githubusercontent.com/21045418/203648628-4b2283b4-0ffc-4ed1-af9b-54da378ee814.png)

[2022-11-23 21:37] ElijahLynn commented on #11469
Note to self to update docs here with new 81 path > https://github.com/department-of-veterans-affairs/va.gov-cms/blob/main/READMES/drupal-memcache.md

[2022-11-23 22:54] jilladams commented on #10916
Post mortem draft: https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/pull/645

[2022-11-23 23:38] dsinla opened #11709 "FE display of Veteran satisfaction with wait time"
_This ticket has been updated to reflect the extensive history from the comments below_

## Background
Lighthouse reported concerns from field editors about inaccuracies in reporting Veteran Satisfaction scores. The concern is that the "Urgent care appointments" label could lead Veterans to misunderstand that urgent care (using the formal specialty definition) is available at the location when it

[2022-11-24 00:18] chri5tia commented on #11438
This is done.
https://prod.cms.va.gov/admin/structure/menu/manage/va-gov-footer

[2022-11-24 00:19] chri5tia commented on #11438
@jilladams in lieu of a code push, let me know if this is good to close.

[2022-11-24 00:22] chri5tia commented on #11680
PR: https://github.com/department-of-veterans-affairs/devops/pull/12277

[2022-11-25 15:09] TroyA6 opened #11715 "New Facility: Copperas Cove VA Clinic"
## Background

*What triggered this runbook?*
Help desk ticket [VAHELP-5123](https://va-gov.atlassian.net/jira/servicedesk/projects/VAHELP/queues/custom/11/VAHELP-5123)

*Please attach Facility Locator link and https://prod.cms.va.gov/ link to this ticket*
https://www.va.gov/find-locations/facility/vha_674GG

https://prod.cms.va.gov/central-texas-health-care/locations/copperas-cove-va-clinic

*Ple

[2022-11-25 15:20] TroyA6 opened #11716 "New Facility: Killeen VA Clinic"
## Background

*What triggered this runbook?*
_Help desk ticket [VAHELP-5123](https://va-gov.atlassian.net/jira/servicedesk/projects/VAHELP/queues/custom/11/VAHELP-5123)

*Please attach Facility Locator link and https://prod.cms.va.gov/ link to this ticket*
https://www.va.gov/find-locations/facility/vha_674GH

*Please also include link to Jira help desk ticket, if applicable*
https://va-gov.atlass

[2022-11-25 16:05] ndouglas commented on #11497
Oops, I ended up getting distracted by some odd behavior and didn't resume where I was.

Anyway, I pressed on and am working on the script to set values now.

I think I'll go ahead and open a PR on this so that Edmund and I can poke around and see if it behaves as intended before going further.

[2022-11-25 22:27] ElijahLynn commented on #11469
I tested out `zend.assertions = 0` and `assertions.exception = 0` and no noticeable performance gain, https://dsva.slack.com/archives/C02HX4AQZ33/p1669393524296129 for discussion.

[2022-11-25 22:29] ElijahLynn commented on #11469
I noticed on Wednesday that only one of two memcache nodes were responding to an `nmap` probe, even thought both nodes responsed to a telnet connection. So, I tested out removing the memcache IPs and the cold cache GET to /node/946 went from 14 seconds to 5 seconds. I still need to do more testing around this but I'm thinking maybe we should start with two fresh memcache nodes, or get them both re

[2022-11-25 22:58] ElijahLynn commented on #11469
I need to do further testing but it looks like a cache SET on RDS is much faster than with Memcache (Elasticache). I suppose maybe it is because were are using the `consistent` algorithm, to populate across multiple nodes, and RDS is just going to be faster with that. And that memcache will shine with GETs, although not seeing a big difference on /admin/content for that scenario right now.

[2022-11-25 23:04] ElijahLynn commented on #11469
So, the memcache nodes are in two different AZs. And sometimes the ideal AZ, 1C, is listed as the second node. And the first node is 1C in other cases. So, I tried swapping the IPs on test.staging, for instance, and not seeing any noticeable differences.

[2022-11-28 13:12] ndouglas opened #11724 "Reënable va/tests/status-error test."
## Description
As of today (11/28), PHP 7.4 is EOL.  We're still evaluating PHP 8.1, but `va/tests/status-error` is starting to fail on every PR.

I'm disabling this test for the time being to reduce confusion and friction in the PR process.  The following should indicate the steps necessary to reënable the test once PHP 8.1 is live in all environments.

## Acceptance Criteria
- [ ] Add `va/tests/

[2022-11-28 13:32] ndouglas commented on #9883
This done?

[2022-11-28 13:37] ndouglas opened #11725 "Fix random sitewide-alert -related test failures."
## Description
There's a sporadic issue with tests failing, generally Cypress tests in `content_editing.feature`, because of an uncaught JavaScript error.  It's in sitewide-alert or whatever, specifically this code:

![Screen Shot 2022-11-28 at 8 35 46 AM](https://user-images.githubusercontent.com/1318579/204291002-abfff374-7240-4251-93f1-7202238f4d07.png)

what it looks like is that the `alerts`

[2022-11-28 13:59] ndouglas commented on #11725
The request appears to be failing with a 403 error.  Meanwhile:

![Screen Shot 2022-11-28 at 8 58 49 AM](https://user-images.githubusercontent.com/1318579/204295968-96ad89bb-d7ff-4ee0-8136-9dc26ed8757a.png)

[2022-11-28 14:01] ndouglas commented on #11725
[code]

That's interesting in itself.

[2022-11-28 14:41] ndouglas commented on #10445
Duplicate of #11049

[2022-11-28 14:41] #10445 closed

[2022-11-28 14:48] #11688 closed

[2022-11-28 15:18] JayDarnell opened #11726 "CMS: VAMC System Banner Alert with Situation Updates do not work for Lovell systems"
## Describe the defect
The existing logic to handle the placement of Banner Alerts with Situation Updates does not work with Lovell. When we attempt to create one of these nodes we do not have the option to display the Banner on the Lovell - VA or Lovell - TRICARE subsystems. These systems are not listed as options ( see comments on #11636 )

## To Reproduce
Steps to reproduce the behavior:
1. Cre

[2022-11-28 15:18] JayDarnell commented on #11636
New issue: https://github.com/department-of-veterans-affairs/va.gov-cms/issues/11726

[2022-11-28 15:31] JayDarnell opened #11727 "FE: VAMC System Banner Alert with Situation Updates do not work for Lovell systems"
## Describe the defect
This issue will need to be refined as work in #11726 is completed. For now this is a placeholder. We simply want to be sure that VAMC System Banner Alert with Situation Updates nodes are displayed properly for Lovell systems...

## To Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## AC / Expected behavior

[2022-11-28 15:32] laflannery commented on #11470
[Process for maintenance audits](https://docs.google.com/document/d/11St0_u37LUpEBXsxmBN9bGuK5lkuG7sRfPmIF3h4vJc/edit#)
[List of products and suggested schedule](https://docs.google.com/spreadsheets/d/1Y0xldcjBGRwe_cG4d1wyYuu1QRf9D2ZnJF4UM3NGOOo/edit#gid=878630087)

[2022-11-28 15:32] #11470 closed

[2022-11-28 17:24] #11566 closed

[2022-11-28 17:37] jilladams commented on #11097
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/income-limits-app/research/topline.md

[2022-11-28 17:39] jilladams commented on #11168
From slack: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/income-limits-app/research/topline.md

[2022-11-28 17:50] laflannery commented on #10600
[This looks like a duplicate article](https://prod.cms.va.gov/help/vet-centers/how-to-add-or-edit-a-service)
- Can someone confirm?
- And if so can this be archived?
- Can we/should we take the video on this page and add it to the correct article?

[2022-11-28 18:34] maxx1128 commented on #11651
Based on my past experience with Lovell and some extra testing, I think these are the most important fragile points to test for:

- [ ] Check both versions of the following pages to confirm they both have switch links and link to the correct page
    - [ ] Main health care page
    - [ ] Locations
    - [ ] Health Services
    - [ ] All Listings Pages (Events, News Releases, Stories)
- [ ] Check t

[2022-11-28 18:46] jilladams commented on #11707
Links to Apply Now are set in an area of code we didn't touch with our original changes:
https://github.com/department-of-veterans-affairs/vets-website/blob/main/src/applications/edu-benefits/components/EducationWizard.jsx#L445

[2022-11-28 18:53] #11168 closed

[2022-11-28 19:36] jilladams commented on #11538
@maxx1128 this work is unblocked and the Sketch file linked in ticket body is up to date / ready to reference for build.

[2022-11-28 19:49] laflannery commented on #10600
@stefaniefgray and @TroyA6 [Draft revision for review](https://prod.cms.va.gov/node/23222/latest)

[2022-11-28 19:56] #11698 closed

[2022-11-28 20:14] dsinla commented on #11709
How to distinguish between primary care urgent appointments - without referring to "urgent care" in a way that can confuse Veterans.

[2022-11-28 20:19] EWashb commented on #11641
@timcosgrove would you be the one to chat with on continuous content releases? I would love to chat about the process and how we might do proper change management for our editors.

[2022-11-28 21:31] omahane commented on #11484
This is where the information was first added:
https://github.com/department-of-veterans-affairs/va.gov-cms/pull/9244
As soon as I have an environment, I was going to look at this.

[2022-11-28 21:35] jilladams commented on #11438
Looks good, only question from me is re: relative / node links. Not sure if entry like this pointing to the node will work out to point to the correct URLs per environment (show Staging links on Staging, etc)? Can we tell via GraphQL what URL will get sent through to the front-end? I'm guessing it builds the URL at build time based on the env?  These 4 are set up this way:

* https://prod.cms.va.g

[2022-11-28 21:50] omahane commented on #11072
TODO:
Remove `block.block.vagovclaro_knowledge_base_search_form` from config sync.

[2022-11-28 21:57] swirtSJW commented on #11655
Sorry, this seems to be undoing work without looking to see what issue it is undoing
That limit to 52rem was added by https://github.com/department-of-veterans-affairs/va.gov-cms/pull/8571
in response to user feedback and specific issues that the QA steps on this PR are not looking for.

At minimum we should be carrying forward the QA steps that were in the PR that added the limit for 52 rem

- [

[2022-11-28 22:09] jilladams commented on #11420
@laurwill  is Nov 30 a hard date for this change to be in production? It's in our sprint and will be safe for end of week, but will likely need to move priorities around to achieve Nov 30.

[2022-11-28 22:23] laurwill commented on #11420
Hi @jilladams , thanks for checking! I think if it goes by end of week it should be fine, no need to rearrange your sprint.

[2022-11-28 22:25] jilladams commented on #11438
Confirmed with Christia: these should build HREFs relative to the build env, and we can confirm with front-end when they implement via #11482 . Closing.

[2022-11-28 22:25] #11438 closed

[2022-11-28 22:38] omahane commented on #11484
This is also happening on my local dev environment, which is using php 7.4.30.

It is not happening in a PR I recently built or in prod, though.

[2022-11-28 22:41] omahane commented on #11516
PR is ready to review.

[2022-11-28 23:05] cindymerrill commented on #11097
@wesrowe said no readout, unless he hears otherwise from Dave Conlon, and that my topline research findings report is all that's needed for now.

[2022-11-28 23:05] #11097 closed

[2022-11-28 23:07] timcosgrove commented on #11402
Moving runners to GHA-hosted runners failed most jobs because they require CMS access. We reverted this.

[2022-11-28 23:20] #11413 closed

[2022-11-29 00:05] davidmpickett commented on #11452
First three sessions conducted today

[2022-11-29 13:18] ndouglas commented on #8815
At this point, this is addressed on-the-fly as these things emerge as part of ongoing QA work.

[2022-11-29 13:18] #8815 closed

[2022-11-29 13:52] ndouglas opened #11733 "Create a document with some good ELI5 information on the Queue API."
## Description
I feel like the Queue API is underutilized, and part of the reason might be a lack of good ELI5-level documentation that makes it clear how simple and easy to use the Queue API really is.  It'd be nice to provide some, especially since we find ourselves writing scripts to perform automated changes across tens of thousands of nodes.

## Acceptance Criteria
- [ ] A README exists withi

[2022-11-29 15:29] dsinla commented on #11709
This is the wording on a facility's https://www.accesstocare.va.gov/FacilityPerformanceData/FacilityData?stationNumber=691

Can we reproduce this verbiage?

![image](https://user-images.githubusercontent.com/62269210/204571503-1d7036f3-a214-4526-9761-537aac840e2d.png)

[2022-11-29 16:42] ndouglas commented on #11049
The stack trace in the log message above is incomplete, but I think this is the same issue that I was looking at in #11045.

This arises from the template that handles the `field_products` field on knowledge base articles, specifically this field:

![Screen Shot 2022-11-29 at 11 41 31 AM](https://user-images.githubusercontent.com/1318579/204589542-f668fcf9-5d9a-4a82-9ca8-714106ab7f5c.png)

If you

[2022-11-29 17:21] dsinla commented on #11361
Thanks @davidmpickett. As discussed this morning, this looks like what we want - remove the expanding test in the Facility Locator results list. 👍

[2022-11-29 17:43] laflannery commented on #10556
@stefaniefgray  and @TroyA6 [Revised Draft here](https://prod.cms.va.gov/node/6692/latest)

[2022-11-29 18:17] edmund-dunn commented on #11415
Additional hypothesis: these originate from editors:
![CleanShot 2022-11-29 at 10 12 21](https://user-images.githubusercontent.com/109987005/204612907-6145b15a-745d-4d4b-bb68-4e5a29313186.png)
This is an orphan paragraph.
![CleanShot 2022-11-29 at 10 10 35](https://user-images.githubusercontent.com/109987005/204612973-9e0c4744-42e9-4a20-b46a-118cd1f0e8bb.png)
This is the Diff of the revision for t

[2022-11-29 18:25] jilladams commented on #11389
Carmel Hinkle (carmel.hinkle@granicus.com) & Alec Manriquez: non-technical business contacts for Granicus. Granicus is parent company that owns / runs govdelivery.

* Our form will submit emails to govdelivery
* Currently, VA has an account you can get to via "Email Updates" link in the VA.gov footer. We are not confirmed whether we will use the USVA or USVACHOOSE accounts for submission. (Org/acc

[2022-11-29 18:32] jilladams commented on #11389
My takeaway here @mmiddaugh @wesrowe is that Bryan is actually blocked and we can't do much here til we confirm those open action items?

[2022-11-29 18:34] wesrowe commented on #11389
I concur, but he may not (or may) be blocked for long – the action item for next step is that Alec is opening a ticket with the Tech Support group to assist us. We didn't get an ETA but I would expect it pretty quickly. May have to re-estimate the ticket though.

[2022-11-29 18:46] stefaniefgray commented on #10852
@JayDarnell Reopening -- sorry!

The menu link breadcrumbs on the Stockton VA Clinic pages still show VA Palo Alto. Should this be part of this ticket or should I open a new one?

Proof: https://www.va.gov/northern-california-health-care/locations/stockton-va-clinic/

![Screen Shot 2022-11-29 at 10 19 19 AM](https://user-images.githubusercontent.com/9059428/204598252-7f2f72fb-3fc3-4050-8ddc-172885

[2022-11-29 19:22] #11425 closed

[2022-11-29 19:54] chri5tia commented on #11677
https://github.com/department-of-veterans-affairs/devops/pull/12277

[2022-11-29 19:54] chri5tia commented on #11649
https://github.com/department-of-veterans-affairs/devops/pull/12277

[2022-11-29 20:03] chri5tia commented on #11680
https://github.com/department-of-veterans-affairs/devops/pull/12277

[2022-11-29 21:22] heyjoni opened #11738 "Redirect uppercase instances of http://www.va.gov/vre - Dec target"
### Type of request
- [ ] We are retiring or taking down a page and need to redirect the URL (complete redirect section)
- [ ] We are changing the URL of an existing page (complete redirect section)
- [x] We need a custom vanity URL (complete vanity URL section) - there's already an existing redirect for a vanity URL but it only works in lower case. We'd like to make sure uppercase and all combina

[2022-11-29 21:25] swirtSJW opened #11736 "CMS sitewide alerts not visible to editors"
## Describe the defect
Admins are able to see sitewide alerts.
However, our shields and deploy warnings are not visible to everyone else.

Slack conversation https://dsva.slack.com/archives/CDHBKAL9W/p1669675816587709

This is incorrectly permed
It should be set for anonymous AND authenticated
![image](https://user-images.githubusercontent.com/5752113/204650526-dc35f5d1-6d2c-4224-af40-dd7d1965e2a7

[2022-11-29 21:38] laflannery commented on #10117
The contract dispute has been resolved, Level Access is the new owner and the 508 office is just starting the onboarding of the contractors as well as installing the tech this week. Once this is set up we can determine the process will for reporting (i.e., how often do the scans run, how can we receive reports from the scans, etc.)

[2022-11-29 21:46] swirtSJW commented on #11736
QA on this one missed calling out testing as anyone other than admin
https://github.com/department-of-veterans-affairs/va.gov-cms/pull/9723
It replaced this PR which DID have a callout to test as kittywalsh.
https://github.com/department-of-veterans-affairs/va.gov-cms/pull/9079  :(

[2022-11-29 23:06] chri5tia commented on #11164
So... the page and view implies that it's all content. But I should remove just "VA Form" from the view, right?
<img width="320" alt="Screen Shot 2022-11-29 at 3 05 50 PM" src="https://user-images.githubusercontent.com/22764938/204667943-da8c91d9-2329-4555-887f-dd51c4f1c4f4.png">

[2022-11-29 23:39] #11361 closed

[2022-11-29 23:42] davidmpickett commented on #11361
@dsinla @swirtSJW To keep the ball rolling with this, would probably be good to get a follow up FE ticket stubbed out for Refinement this week.

[2022-11-30 00:21] jilladams commented on #11164
Yep, so:
* The difference between `/admin/content/flagged` and `/admin/content/facilities` is the flags. The Flagged view for managing flagged content doesn't exist in the Facilities area, and none of the existing Facilities views show flags or have Actions to manage flags.
* To fix that, we're:
  * relocating this Flagged view into the Facilities area as a new tab, e.g. "Flagged Facilities". (sho