[2021-09-24 11:32] xiongjaneg opened #6521 "Update training video on staff profiles"
## User story
As a VAMC editor, I need to be able to provide Veterans with accurate information about staff.

## Acceptance criteria
- [x] content updated to include workflow of staff profile and leadership list
- [x] video recorded
- [x] video captioned
- [x] video available on KB

[2021-09-24 11:58] swirtSJW opened #6522 "Scan nightly for facilities in the CMS but not in the FAPI"
As facility data admin I need to be notified when we have facilities in the CMS that are no longer in the FAPI  (assumed closed) so that I can take appropriate action to process them in the CMS.

This scan should run on the periodic daily job after all the migrations run.

It will gather an array of all facility ids in FAPI  then gather all facilities that are in CMS and compare all facilities in

[2021-09-24 13:00] ndouglas commented on #6355
## Thursday

I'd set up NFS PVs on Wednesday, but nobody wants to see Drupal with MariaDB running off NFS.  So I set up [local-static-provisioner](https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner) to allow provisioning local volumes and altered my Ansible to attach 32GB (thinly-provisioned) of SSD to each LXC container at creation.  `dd`ing `/dev/urandom` to a dummy file gav

[2021-09-24 14:07] swirtSJW opened #6523 "Document business process for new facilities created in FAPI"

[2021-09-24 14:10] swirtSJW opened #6524 "Document business process for VAMC facility title change in FAPI"

[2021-09-24 14:12] swirtSJW opened #6525 "Document business process for Vet Center facility title change in FAPI"

[2021-09-24 14:13] swirtSJW opened #6526 "Document business process for Facility removal process"

[2021-09-24 14:17] swirtSJW opened #6527 "Any ensuing backlog is created, such as notifications."

[2021-09-24 14:23] swirtSJW opened #6528 "Automate archiving of facility services when a facility is archived"

[2021-09-24 14:26] swirtSJW opened #6529 "Automate archiving of non-services pages beneath a facility when a facility is archived"

[2021-09-24 14:27] swirtSJW opened #6530 "Automate disabling of menu item when a facility is archived"

[2021-09-24 14:29] swirtSJW opened #6531 "When a facility is archived, automatically send status=closed to lighthouse"

[2021-09-24 15:02] #6426 closed

[2021-09-24 15:29] kevwalsh opened #6532 "Remove endpoints for VAMCs getting redirected September 29 / during Sprint 42"
## Description

Tentative schedule for September 29 redirects:

- eastern colorado
- fayetteville arkansas
- palo alto
- ~alexandria~
- ~gulf coast~
- ~southeast louisiana~

Week of Oct 6:
- Montana, Cheyenne, New York harbor, Central Iowa, Augusta, Columbia South Carolina, Charleston, West Texas, Black Hills, Richmond, Hampton

The final list will appear in #vamc-upgrade channel

## Acceptance Cr

[2021-09-24 15:34] kevwalsh commented on #6373
This is great, i've added the last screenshot to #6372.

[2021-09-24 15:34] #6373 closed

[2021-09-24 15:52] xiongjaneg commented on #6505
assigned to both of you as maybe a joint project, discussed in 9/24/21 VAMC Upgrade sync meeting as a potential Thursday office hours topic for Stan to go over, added Stan/Lisa as reviewer for draft so they can add any tips for photos

[2021-09-24 16:17] olivereri commented on #6460
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6460?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas

[2021-09-24 16:19] olivereri commented on #6461
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6461?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas

[2021-09-24 16:20] ElijahLynn commented on #6461
We should look at Geerling guys container images like Drupal Container.

[2021-09-24 16:23] ElijahLynn commented on #6461
Also possibly Lagoon's containers.

[2021-09-24 16:26] cmaeng commented on #6432
@chriscraiga6 this looks pretty much done. feel free to close out if you agree. you can always reference back to it as needed.

[2021-09-24 16:27] cmaeng commented on #6224
@stefaniefgray  this looks pretty much done. feel free to close out if you agree. you can always reference back to it as needed.

[2021-09-24 16:30] olivereri commented on #6462
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6462?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas

[2021-09-24 16:32] olivereri commented on #6462
Good first Terraform Apply for @ndouglas

[2021-09-24 16:34] olivereri commented on #6463
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6463?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas

[2021-09-24 16:42] mchelen-gov opened #6533 "Deprecate Prometheus Usage"
## Background

### User Story or Problem Statement

As a CMS Pleatform team engineer, I need to deprecate usage of Prometheus, so I can continue having monitoring and alerting when Prometheus is EOL.

### Affected users and stakeholders

* Developers of Platform CMS team
* Developers of Platform Operation team

### Hypothesis

_A hypothesis may depend on a spike ticket to be completed._

We believ

[2021-09-24 16:44] olivereri opened #6534 "Map Out Current Release & Tag Automation"
## Description
As a CMS Devops Engineer, I need to map out the current Jenkins automation for code Release and Tagging  ,so that I have an understanding of how to migrate away from Jenkins

## Acceptance Criteria

- [ ] Automation for current code release and tagging is mapped out in a diagram

## Implementation Details

[2021-09-24 16:44] #6402 closed

[2021-09-24 16:44] olivereri commented on #6534
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6534?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas

[2021-09-24 16:53] #6406 closed

[2021-09-24 17:02] chriscraiga6 commented on #6432
@cmaeng I'll agree. I'll go ahead and close this.

[2021-09-24 17:02] #6432 closed

[2021-09-24 17:02] olivereri opened #6535 "[SPIKE] Map Out Proposed/Future Release and Tag Automation"
## Description
As a CMS Devops Engineer, I need to map out the future/proposed automation for code Release and Tagging  ,so that I have an understanding of how to migrate away from Jenkins

## Acceptance Criteria

- [ ] Team has met to discuss proposed/future code release and tagging implementation.
- [ ] Automation for proposed/future code release and tagging is mapped out in a diagram

## Implem

[2021-09-24 17:03] kevwalsh commented on #5462
Here's a node to test with https://prod.cms.va.gov/node/5047

![Erie_VAMC_Launches_New_ATLAS_Site__Bringing_VA_Care_Closer_to_Home___VA_Erie_health_care___Veterans_Affairs](https://user-images.githubusercontent.com/643678/134713675-c6644bbc-5e19-459e-9c93-31a49505128d.png)

[2021-09-24 19:15] kevwalsh opened #6536 "Implement design for showing national service taxonomy content inline on Vet Center service and VAMC system health service forms"
## Background

See #5800 for more context and user stories

In #5607 Ethan created a POC for showing content for four fields inline of the Vet Center Service form.

This will get further designed in #6641.

## Acceptance Criteria
- [ ] Implement designs from #6641  (design handoff scheduled for October 28 11:30am E)
  - [ ] For Vet Center, it should work both on Vet Center Facility Service form (

[2021-09-24 19:24] ndouglas commented on #6355
https://user-images.githubusercontent.com/1318579/134729305-257c40c5-f8dc-487c-bf11-d754076fac23.mov

@olivereri

[2021-09-24 19:24] xiongjaneg commented on #6415
provided live orientation Sept. 13, 2021, followed up with link to meeting recording and links to prod and articles

[2021-09-24 19:33] #6415 closed

[2021-09-24 19:34] xiongjaneg opened #6537 "Update VAMC training session 5 policies video"
## User story
As a VAMC editor, I need to be able to be able to provide Veterans with visitation policies at my system.

## Acceptance criteria
- [x] content updated
- [x] video recorded
- [x] video captioned
- [x] available on KB

[2021-09-24 21:00] mchelen-gov commented on #6426
ok @olivereri can you update title + AC to specify staging and spin off ticket for production?

[2021-09-24 22:09] ndouglas commented on #6355
I'm going to formally just _accept_ that Traefik is going to handle HTTP and HTTPS on a single port.  It's really thrown me for a loop, but okay.

I ditched the IngressRoute (Traefik CRD) approach to also handle gRPC on the same port and just used an annotation to choose h2c protocol, and it worked on the first try 😕

<img width="845" alt="Screen Shot 2021-09-24 at 6 02 38 PM" src="https://user-im

[2021-09-27 13:42] #6375 closed

[2021-09-27 13:48] cmaeng commented on #4369
Closing this ticket out as the research has been completed. #4856 will track the follow-up needed.

[2021-09-27 13:48] #4369 closed

[2021-09-27 13:57] cmaeng commented on #6425
@timcosgrove it looks like this is pretty much done. we may want to meet one more time to go through a few more contextual things like who's who, but feel free to close this out if you're in agreement.

[2021-09-27 14:18] #4726 closed

[2021-09-27 14:34] #6251 closed

[2021-09-27 14:37] rachel-kauff commented on #4643
Putting  a pin in this for later:
From Jane [in this Slack thread](https://dsva.slack.com/archives/CT4GZBM8F/p1632516484409700)

[2021-09-27 14:43] #6355 closed

[2021-09-27 14:46] jefflbrauer opened #6545 "Summarize EKS on K8 into github readme file"
## As an engineer, I can read a clear summary of the EKS on K8 discovery findings and approach per
https://app.zenhub.com/workspaces/vagov-cms-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6355

## Acceptance Criteria
- [ ] A read.me file exists on github summarizing the EKS on K8 discovery work

### CMS Team

Please leave only the team that will do this work selec

[2021-09-27 14:46] #5537 closed

[2021-09-27 15:58] acrollet opened #6546 "Onboarding with Ops"

[2021-09-27 15:59] #6546 closed

[2021-09-27 16:10] acrollet opened #6547 "Resolve dependabot alerts"

[2021-09-27 16:59] cweagans opened #6548 "Onboarding: Cameron Eagans"
# Welcome to the VFS-CMS Team! 👋
We're thrilled to have you join us on this journey! 🎆🎉🙌

Our vision is to build and maintain a best-in-class Content Management System that meets the needs of editors, application development teams, and consuming applications in order to empower our users to help Veterans.

The onboarding materials below are organized by 1) chronological time to complete (day one,

[2021-09-27 17:13] olivereri commented on #6473
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6473?planning-poker) with ZenHub @ElijahLynn @ndouglas

[2021-09-27 17:19] #6472 closed

[2021-09-27 17:20] #6471 closed

[2021-09-27 17:26] ElijahLynn commented on #6465
We discussed on a call just now possibly using https://kubernetes.io/docs/tasks/manage-kubernetes-objects/kustomization/ for this.

[2021-09-27 19:27] ndouglas commented on #6461
I'm not doing anything else this afternoon, so I figured I'd pop on and share my opinions.

- I don't think Jeff's [Dockerfile](https://github.com/geerlingguy/drupal-container/blob/master/Dockerfile) is particularly helpful.  It seems really barebones to me.

- I don't think [Lagoon's](https://github.com/uselagoon/lagoon-images/blob/main/images/nginx-drupal/Dockerfile) is either.  I've done it bef

[2021-09-27 21:12] ndouglas commented on #6461
I was on the subject so I thought I'd take a quick swing at this:

[code]

IDK if it works, but it builds.  I'm out for the day, though 😃  There's a lot of room for improvement like possibly shifting to a multistage build and segregating the build/test dependencies, nuking Composer cache, etc, to get the final image size down.  Segregating build/test dependencies compromises the goal of running th

[2021-09-27 21:50] #6512 closed

[2021-09-27 22:03] swirtSJW opened #6549 "Change logic on staff profile pages to use field_complete_biography_create"
## Description

As a CMS editor I would like the front end page to render using the same controls I use in the CMS

**current:** The front end page for staff profiles are only created if both field_complete_biography_create and field_body are populated

future: The front end page for staff profiles are only created if field_complete_biography_create is TRUE.  The addistional logi of required the s

[2021-09-27 22:06] swirtSJW commented on #6549
@ethanteague Can you support Amandeep with setting up his local and working this through to having him submit a PR to the content-build repo.

[2021-09-27 22:19] timcosgrove commented on #6509
@indytechcook and I discussed `q_a` as a reasonable section of the Resources product. We also talked about Banners as being potentially a good candidate for the POC, partly because the data is relatively simple and partially because having Banners available via live Content API would be a win, since it could then feed a component that pulls Banners in real time and therefore Banners would no longe

[2021-09-27 23:16] timcosgrove commented on #6490
"Logic in API vs Front End": I think it's worth sitting down and digging in on what is different between these approaches:
* What logic are we talking about here? What business logic currently happens, or needs to happen?
* In the 'Front End' logic case, what does that mean for the Drupal-side API? Is it literally just a no-effort exposure of any and all entities?
* In the Logic in API, where does

[2021-09-28 12:25] kevwalsh opened #6553 "Vet Center Dashboard Usability Study"
## Background

We designed and implemented a dashboard for Vet Centers in Q1 2021.
The design intent was to...
- Provide access to everything a Vet Center editor might need to do in one place, and use the Vet Center page to do so.
- Help Vet Center editors orient to their top tasks through cards that use icons and descriptions.
- Bridge the gap between the content model and users' mental model thr

[2021-09-28 12:27] kevwalsh opened #6554 "Write research plan for Vet Center dashboard usability study"
## Description
See examples of research plans in our [cms repo](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/platform/cms/research) or the [airtable research studies tab](https://airtable.com/appmAWA5qxKq9qxFX/tbldzfPsD87QtCmQK/viwFTiq16RNmlQ3GM?blocks=hide)

See #6553 for context.

## Acceptance Criteria
- [x] Peer reviewed by @rachel-kauff
- [x] Shared with PO during

[2021-09-28 12:29] kevwalsh opened #6555 "Vet Center dashboard usability study"
## Description

## Acceptance Criteria

- [x] Usability study completed with 5-7 scheduled participants
- [x] Notes documents are anonymized

### CMS Team

Please leave only the team that will do this work selected. If you're not sure, it's fine to leave both selected.

- [ ] `Platform Team`
- [x] `Sitewide CMS Team`

[2021-09-28 12:29] kevwalsh opened #6556 "Recruit and schedule participants for Vet Center dashboard usability study"
## Description

## Acceptance Criteria
- [ ]
### CMS Team

Please leave only the team that will do this work selected. If you're not sure, it's fine to leave both selected.

- [ ] `Platform Team`
- [x] `Sitewide CMS Team`

[2021-09-28 13:09] kevwalsh opened #6558 "CMS account user audit and offboarding policies and procedures"
## Background

There is risk associated with editors not being offboarded (whether they lose access to VA network, or shift jobs within VA). Some of this may be perceived, but that can cause users to trust the system less.

### User Story or Problem Statement

As a CMS user who has not accessed the CMS for a certain period, my account should be deactivated.

As a CMS user whose account will be aut

[2021-09-28 13:28] #6521 closed

[2021-09-28 13:46] q0rban commented on #6306
v2.21.13 includes a step to increase the Mongo featureCompatibilityVersion to `4.0`. You should **_not_** upgrade to v2.21.13 until **1 week after** the upgrade to v2.21.12 is complete.

## Tasks:

- [ ] Ensure it has been one week since v2.21.12 has been deployed
- [ ] Verify that the current running version of Mongo is 4.0 `docker ps --format "{{.Image}}" --filter "name=tugboat-mongo*"`
- [ ] Ch

[2021-09-28 13:49] q0rban commented on #6306
`v2.21.14` upgrades the MongoDB service version to 4.2. This is a similar release to `v2.21.12`: we upgrade the version of the service that is running, but the featureCompatibilityVersion will stay at the `4.0` that was set with `v2.21.13`. To deploy `v2.21.14`:

### Tasks:
- [ ] Wait one week after `v2.21.13` has been deployed.
- [ ] Change directories to the Tugboat root: `cd /opt/tugboat`
- [ ]

[2021-09-28 14:32] indytechcook commented on #6491
I wanted to share some of the things the `jsonapi_extra` module can do.  In this example, I used the `paragraph`  called `rich_text_char_limit_1000`.  Here is what I changed between the before and after

* Changed the Resource Type name from `paragraph--rich_text_char_limit_1000` to `paragraph--rich-text`
* Update `field_wysiwyg` to `content`
* Change `field_wysiwyg` / `content` to only return the

[2021-09-28 14:42] #5754 closed

[2021-09-28 14:52] xiongjaneg commented on #5073
Will want to revisit current process in Q4 as VAMC Upgrade Team transitions

[2021-09-28 14:54] kevwalsh commented on #3079
Closing in favor of #2974

[2021-09-28 14:54] #3079 closed

[2021-09-28 14:55] xiongjaneg commented on #1466
Form? Comment box? Pop-up when a ticket is closed? Thumbs up/down?

[2021-09-28 15:07] xiongjaneg commented on #3880
incorporated into helpdesk orientation and transition for Stefanie and Chris

[2021-09-28 15:07] #3880 closed

[2021-09-28 16:20] chriscraiga6 commented on #6558
Exported Prod User List and wanted to note our oldest accounts here.

Last Accessed: 7 Months and 3 weeks ago or never
Oldest account: 2 Years 7 months

[2021-09-28 16:34] chrisj-usds commented on #5502
@mchelen I don't think this card belongs on this board -- seems like a work item. Can it be moved back to the board it came from?

[2021-09-28 17:01] swirtSJW opened #6561 "Make published state revealed as part of graphQL menuByName query"
## User Story or Problem Statement

As consumer of the menuByName query I need to know whether a menu item is to a published node or not so I know whether to render the menu item on the front end.

As a consumer of the menuByName I need to have menu items to unpublished content available to me so I can accurately render content on preview.

I should never see menu items to archived nodes.

Related

[2021-09-28 17:19] xiongjaneg commented on #3950
@stefaniefgray @chriscraiga6 This is a good example to use for the tier 2 process documents see: [#4721](https://github.com/department-of-veterans-affairs/va.gov-cms/issues/4721)

[2021-09-28 17:36] mpelzsherman commented on #6561
Suggested edit:

[2021-09-28 17:49] ndouglas commented on #6547
I updated `ansi-regex` in both places and, against my better judgment, investigated the possibility of opening upstream PRs to update the packages that are using vulnerable versions of `set-value`.

But looking at this in depth:

[code]

Gulp 4.0.2 is the latest version, released a couple of months ago (and IIRC updated by yours truly in response to another security alert).  That depends on `glob-

[2021-09-28 17:50] xiongjaneg commented on #5660
not applicable to current image ratio process

[2021-09-28 17:51] #5660 closed

[2021-09-28 17:51] #5666 closed

[2021-09-28 17:57] xiongjaneg commented on #5687
include canned answers, documentation that helps team members respond more efficiently to tickets

[2021-09-28 17:58] #5687 closed

[2021-09-28 18:00] xiongjaneg commented on #6451
is this a duplicate of [#3543](https://app.zenhub.com/workspaces/vagov-cms-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/3543)

[2021-09-28 18:00] #6451 closed

[2021-09-28 18:19] chriscraiga6 opened #6563 "Q3 Account Admin Report"
## User Story or Problem Statement

Report for product owners/stakeholders on existing accounts in CMS to determine which accounts need to be turned off or left on.

## Acceptance Criteria
- [x] Active users
- [x] Inactive users
- [x] Roles
- [x] Sections

## Implementation steps
TBD

## Design principles

Which [CMS design principle](https://github.com/department-of-veterans-affairs/va.gov-team/b

[2021-09-28 19:23] xiongjaneg opened #6564 "Q4 training improvements"
## User story
As a Drupal CMS user, I need to be able to provide timely, accurate information to Veterans and other stakeholders using Drupal CMS.

## Acceptance criteria
- [ ] training reflects the current state of Drupal CMS
- [ ] training reflects the questions users are asking helpdesk about
- [ ] training reflects accessibility, VA content style, and plain language guidelines

## Design princ

[2021-09-28 19:23] cmaeng opened #6565 "Revisit tier 2 support rotation"
## Description
[The current tier 2 rotation](https://docs.google.com/document/d/15oe0wtGI_MdaScYpjJWOgPjBqQWUFURc19HheWswEe4/edit#heading=h.vkhgvbvs6n1a) needs to be revisited to include new folks.

## Acceptance Criteria
- [ ] CMS engineers have visibility into who is scheduled for Tier 2 support for upcoming sprints
- [ ] The Tier 2 rotation schedule includes all devs that are able to support

#

[2021-09-28 19:27] xiongjaneg opened #6566 "Q4 training alignment with helpdesk tickets"
## User story
As a Drupal CMS user, I can find training resources that help me efficiently provide information to Veterans and other stakeholders.

## Acceptance criteria
- [ ] collection and analysis of Q3 helpdesk tickets
- [ ] analysis of current state of trainings in reference to helpdesk tickets
- [ ] add needed training updates to [training runbook](https://docs.google.com/spreadsheets/d/13j

[2021-09-28 19:37] xiongjaneg opened #6567 "training knowledge transfer from VAMC Upgrade Team"
## User story
As a VAMC Drupal CMS user, I need training support to provide timely and accurate information to Veterans and other stakeholders.

## Acceptance criteria
- [x] Gather best practices from VAMC Upgrade Team
- [x] Compile documentation related to editor support from VAMC Upgrade Team
- [x] Analyze current training to identify training gaps
- [x] Add training improvements to the [trainin

[2021-09-28 21:44] swirtSJW commented on #6561
This query might do the work needed
![image](https://user-images.githubusercontent.com/5752113/135169980-dc53ed0e-f1be-4617-b0d2-107aa8c65127.png)

but in order to run that query we need to install https://www.drupal.org/project/graphql_menu

[2021-09-28 21:46] swirtSJW commented on #6561
[code]

[2021-09-29 00:36] olivereri commented on #6461
Yeah, this a big one!

![image.png](https://images.zenhubusercontent.com/5f04cf8f49978b1615fee8c2/b85442e2-144e-4d33-aee0-e647494166dc)

[2021-09-29 00:42] ndouglas commented on #6461
[code]

 Just occurred to me that I probably copied all kinds of crap into that image that shouldn't be copied.  Need a `.dockerignore`

[2021-09-29 00:43] ndouglas commented on #6461
d'oh, it copies the images, etc in too, lol

[2021-09-29 00:58] olivereri commented on #6461
Not a huge problem. To speed it up committing the image to ECR (A6 AWS Account) I'm doing it on an EC2. Goal is to try and create a simple K8s manifest that pulls in this container image and deploys it with my local ArgoCD. Then I can report back what's up with the Dockerfile after I hook a DB up to it.

[2021-09-29 01:05] ndouglas commented on #6461
Yeah, I started with the approach of pulling the CMS repo in within the container as part of the build process, but that complicated my life so I just switched to copying it in under the assumption that the Dockerfile existed in the repo.  Not positive which is the best approach in this situation.

[2021-09-29 01:12] olivereri commented on #6461
I like the latter approach because it probably jives well with how we'll might build the container with GHA.  One workflow task checks out the repo, Dockerfile and all, then we build without the complication of trying to clone the repo _in_ the container.

[2021-09-29 01:31] olivereri commented on #6461
Getting somewhere! Still missing a few pieces but I'm sure I can replicate what we do for Tugboat in K8s+ArgoCD to verify and tweak the Dockerfile.

![image.png](https://images.zenhubusercontent.com/5f04cf8f49978b1615fee8c2/d441a632-d70b-42f6-a829-0e0673e2a422)

![image.png](https://images.zenhubusercontent.com/5f04cf8f49978b1615fee8c2/a9e21a93-11a5-452e-8d45-7a4666eac8e2)

[2021-09-29 11:18] ndouglas commented on #6461
yeah, that's what it looks like when it's not able to reach the DB server.

[code]

I'll play with it this morning locally and open a PR including `Dockerfile` and `.dockerignore` to see what nightmares we encounter next 😃

[2021-09-29 12:58] kevwalsh opened #6571 "Add a VistA/Cerner EHR toggle to VAMC system"
## Background

VistA is the legacy electronic health record (EHR) system, [Cerner is the new one](https://www.hcinnovationgroup.com/cybersecurity/article/13028723/breaking-va-will-replace-vista-with-cerner-ehr-and-intends-to-create-integrated-platform). Each health system will cut over for the next 5 years.

This is high priority because Spokane is already using Cerner and they are blocked from go

[2021-09-29 13:03] kevwalsh opened #6572 "Design VistA/Cerner field UI and guidance for VAMC system AND VA health connect"
See user stories at #6571

## Background

* VAMC system content type
  * Health Records field
    * VISTA = Veterans Health Information Systems and Technology Architecture
    * Cerner =  Cerner EHR
    * Cerner - staged = For systems that are going to Cerner soon.
    * Data for this field is coming from the [EHR Modernization effort](https://vww.ehrm.va.gov/)
  * VA Health Connect phone number f

[2021-09-29 13:04] kevwalsh opened #6573 "Add (hidden) `field_vamc_ehr_system` to VAMC system content type"
Question:
* should this be a boolean, where FALSE = VistA and TRUE = Cerner. Answer: No, because other systems or variations may come along.

If it's a list of values instead of a Boolean, what change management is needed for existing content? Updated script? Resave nodes? Possibly nothing, since the FE can be set to operate only where `field_vamc_ehr_system` = Cerner.

ACs
- [x] Add `field_vamc_e

[2021-09-29 13:07] kevwalsh opened #6574 "Design and document fulfillment request for updating VAMC EHR systsem"
See #6571 for context

ACs
- [ ] CMS Helpdesk has a documented workflow for request fulfilment for updating the EHR system for each VAMC system
- [ ] The UX writer for #6572 can reference this as part of the editorial experience.

[2021-09-29 13:08] kevwalsh opened #6575 "Create a simple dashboard for VAMC EHR system data"

[2021-09-29 13:25] kevwalsh opened #6576 "Update Spokane VAMC to "Cerner""
AC
- [ ] https://prod.cms.va.gov/spokane-health-care/ EHR field has been set to Spokane

Implementation
- [ ] Unhide `field_vamc_ehr_system` on prod, edit  https://prod.cms.va.gov/spokane-health-care/ and set it to Cerner for Spokane, then hide the field again.

[2021-09-29 14:02] chriscraiga6 commented on #3543
This is completed however Information Request is the only label that wasn't implemented. This issue pre-dated our use of JIRA and we would receive information requests through JIRA now.

[2021-09-29 14:14] #6537 closed

[2021-09-29 14:21] xiongjaneg commented on #6374
FE issue https://github.com/department-of-veterans-affairs/va.gov-team/issues/27870

[2021-09-29 14:45] cmaeng commented on #3543
Closing out this epic to start fresh with a new intake enhancement epic.

[2021-09-29 14:48] RLHecht commented on #3950
Is this something that is still planned for the (hopefully near) future? We have a few pages now that have addresses but they are just styled as plain text since we don't have that block option yet.

[2021-09-29 15:05] mchelen-gov opened #6577 "[CMS] Accelerated Publishing"
## Background

### User Story or Problem Statement

#### North Stars
As a content editor,
I need a higher limit on content volume capacity,
So that I can publish any necessary content on VA.gov.

As a content editor,
I need published content to appear on VA.gov as quickly as possible,
So that I can get information to users in a timely manner.

As a VFS engineer,
I need to easily build frontend app

[2021-09-29 15:19] cmaeng opened #6578 "Test issue"
This is a test

### CMS Team

Please leave only the team that will do this work selected. If you're not sure, it's fine to leave both selected.

- [x] `Platform CMS Team`
- [x] `Sitewide CMS Team`

[2021-09-29 15:22] #6578 closed

[2021-09-29 16:16] ndouglas commented on #6461
I forked your repo to [here](https://github.com/ndouglas/vsp-infra-cms) just so I can play with it on my cluster, set up a DB, etc.  I figure I'll toss in a CronJob, etc once I get the DB layer working.

[2021-09-29 16:25] ndouglas commented on #6461
Ideally most of it (outside the DB/Memcache stuff, which would be irrelevant) can be backported easily into EKS

[2021-09-29 16:52] olivereri commented on #6461
I eventually found how settings.php does an include from docroot/sites/default/settings/ which contains a bunch of other specific settings.php file.  Suppose I can create a new container that has a settings.eks.php with the values for a database service.  The DB container I was thinking create a sperate Dockerfile using MariaDB 10.5 and load up latest CMS DB like Tugboat does:

[code]

[2021-09-29 16:59] jkalexander7 opened #6579 "Onboarding: Jess Alexander"
# Welcome to the VFS-CMS Team! 👋
We're thrilled to have you join us on this journey! 🎆🎉🙌

Our vision is to build and maintain a best-in-class Content Management System that meets the needs of editors, application development teams, and consuming applications in order to empower our users to help Veterans.

The onboarding materials below are organized by 1) chronological time to complete (day one,

[2021-09-29 17:03] ndouglas commented on #6461
<img width="789" alt="Screen Shot 2021-09-29 at 1 00 22 PM" src="https://user-images.githubusercontent.com/1318579/135315339-e85d51c4-ad8d-4c4d-935d-93a4c86be240.png">

The Dockerfile's at least somewhat legit at this point -- this is the same image I built this morning.  Just need to get the DB loaded and files copied to see what breaks next 😄

[2021-09-29 17:05] ndouglas commented on #6461
I'ma see if I can do that DB/file loading in an initContainer

[2021-09-29 17:07] ndouglas commented on #6461
IDK if you saw this @olivereri https://hub.docker.com/_/mariadb

##  Initializing a fresh instance

I used this mechanism before with the local dev environment for some D7 sites at my previous employer and it worked well.

[2021-09-29 17:09] #6224 closed

[2021-09-29 17:25] xiongjaneg opened #6580 "Update training, articles for "Care we provide" removal"
## User story
As a Drupal CMS editor, I need to know how to use any nodes affected by removal of "Care we provide" to effectively and efficiently provide information to Veterans and stakeholders.

## Acceptance criteria
- [x] assess training and articles currently incorporating "Care we provide"
- [x] remove references from KB articles
- [x] add training video updates to [training runbook](https:/

[2021-09-29 18:00] #5290 closed

[2021-09-29 18:07] xiongjaneg commented on #3583
closing, incorporated into quarterly epics and training runbook

[2021-09-29 18:07] #3583 closed

[2021-09-29 18:24] olivereri commented on #6461
Not having a ton of luck with the initialization of the DB through /docker-entrypoint-initdb.d.

[code]

[code]

[2021-09-29 18:30] ndouglas commented on #6461
You gotta do `docker run  -it bash cms-db:0.0.414` because it'll interpret anything after IMAGE:TAG as arguments to the entrypoint.  I don't think that'll fix the issue necessarily... that looks kind of like the volume is corrupted/incomplete.

[2021-09-29 18:31] ndouglas commented on #6461
You shouldn't need to do the docker-entrypoint-initdb.d thing inside the Dockerfile, though -- do something like `docker run -v $(pwd)/dump:/docker-entrypoint-initdb.d cms-db:0.0.414` and it should load it up as part of the startup process.

[2021-09-29 18:34] olivereri commented on #6461
Welp, I was running the command wrong. This works:
`docker run -it cms-db:0.0.414 bash`

But what if I'm looking to create a container image that contains the CMS DB already loaded? So I can pull that image as part of a K8s mainfest and deploy with ArgoCD

[2021-09-29 19:07] xiongjaneg opened #6583 "Helpdesk onboarding documentation"
## As a new helpdesk team member or backup, I need access to helpdesk processes, procedures, and communications.

##
- [x] assess current helpdesk documentation on Github and Google Docs for accuracy, usability
- [x] update outdated documentation
- [x] archive or remove unnecessary/inaccurate documentation
- [x] make documentation available on either Github or Google Docs
- [x] develop a schedule

[2021-09-29 19:09] xiongjaneg commented on #6583
[Google Drive helpdesk folder](https://drive.google.com/drive/folders/1opC6DgZyBQ6uEVzIz3FWmISMLt-Y91ts)

[Github helpdesk folder](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/platform/cms/helpdesk)

[2021-09-29 19:16] xiongjaneg opened #6584 "Establish regular schedule of helpdesk check-ins"
## User story
As a helpdesk team member and delivery manager (and a potentially the product manager), I need to communicate any priorities, concerns, or opportunities and stay in touch with larger CMS team news.

## Acceptance criteria
-  [ ] Determine appropriate frequency (weekly, once per sprint)
- [ ] Determine appropriate length (30 min, 1 hour)
- [ ] Determine meeting structure (scrum, chat,

[2021-09-29 19:33] xiongjaneg opened #6585 "Knowledge Base article about how to insert a link in a rich text editor"
## As a Drupal CMS editor (specifically for Vet Centers), I need to know how to enter link text and insert a link to an external URL.

## Acceptance criteria
- [ ] Review the current Knowledge Base documentation on links with the instructional designer, in accordance with VA style and Section 508 guidelines
- [ ] Write an article with steps for just the process of adding a link in a rich text
- [

[2021-09-29 19:33] ndouglas commented on #6461
Sorry, was off getting my 🍑 handed to me by another issue of my own creation 😩

🤦 yeah, I switched the arguments above, my bad.

I guess it depends on how ephemeral these environments are.  Loading the DB into the image will work but not for something dev/stg/prod-like.  It might be an option for local/CI though 🤔

What I'm doing (haven't gotten it to work yet, though):

[code]

So the idea is tha

[2021-09-29 19:42] olivereri commented on #6461
It was supposed to be something quick to get Drupal hooked up to a DB and test out the php7.3 container image. Even when I get MariaDB running I'm not sure if it even did the init steps. MariaDB doesn't appear to be running and won't start.

[2021-09-29 19:51] ndouglas commented on #6461
I'm trying this:

[code]

[code]

weird, I thought it'd correctly identify .sql.gz

[2021-09-29 19:53] ndouglas commented on #6461
I guess I just assumed that by "execute" they meant "will pipe into MySQL", not "will assume it's a script, given the well-known tendency of devops engineers to give their Bash scripts names ending in `.sql.gz`."  😡

[2021-09-29 20:00] olivereri commented on #6461
Oh jeez, so by adding `-it` and `bash` I skipped the entrypoint stuff? As soon as I just ran it like you did it started moving along.  Still have some learning to do around Docker.

It's sitting here right now:
`2021-09-29 19:57:15+00:00 [Note] [Entrypoint]: /usr/local/bin/docker-entrypoint.sh: running /docker-entrypoint-initdb.d/cms-prod-db-sanitized-latest.sql.gz`

[2021-09-29 20:02] ndouglas commented on #6461
[code]

`chown`ing the directory got it to work here -- 🤦 guess it's the kind of "permission denied" that means "read permission denied" and not "execute permission denied"

[2021-09-29 20:12] olivereri commented on #6461
I had downloaded the sql.gz file locally and chmod'd it before running the build.  I wonder why the K8s Manifest file didn't work. It's essentially the same thing.

[2021-09-29 20:16] #3573 closed

[2021-09-29 20:22] xiongjaneg commented on #2147
covered in [#4865](https://github.com/department-of-veterans-affairs/va.gov-cms/issues/4856)

[2021-09-29 20:22] #2147 closed

[2021-09-29 20:35] ndouglas commented on #6461
`docker run --link elegant_borg:database -p 8080:80 druplol:test` this is working but the login credentials aren't being created correctly, I think

<img width="583" alt="Screen Shot 2021-09-29 at 4 12 45 PM" src="https://user-images.githubusercontent.com/1318579/135344567-8a1f38d2-8c3d-49aa-8a6c-6d3de046a6b7.png">

[2021-09-29 20:36] ndouglas commented on #6461
maybe those commands don't get invoked if the DB is inited from the folder and we'll need to add some GRANT ALL type instructions

[2021-09-29 20:48] ndouglas commented on #6461
ugh

[code]

[2021-09-29 20:50] olivereri commented on #6461
I haven't gotten much farther. Created a container image from the container that loaded up the DB. Added a new database service to the K8s manifest and now I'm getting this:

`The website encountered an unexpected error. Please try again later.
PDOException: SQLSTATE[HY000] [2002] Connection refused in Drupal\Component\DependencyInjection\PhpArrayContainer->createService() (line 79 of /var/www/cms

[2021-09-29 20:52] olivereri commented on #6461
This is what I got:
[code]
And this is the Docker file:
[code]

Wonder why the drupal8 user wasn't created.

[2021-09-29 20:54] ndouglas commented on #6461
Yeah, that's weird.  It's really the 💩 🍒 on top of the rest of this day 😁

So I did this:

[code]

and now I get:

<img width="718" alt="Screen Shot 2021-09-29 at 4 53 11 PM" src="https://user-images.githubusercontent.com/1318579/135346864-37734d99-705d-42de-86bd-893c7a67ca3e.png">

Which I think is just a sign that the cache needs to be cleared.

[2021-09-29 20:57] ndouglas commented on #6461
[code]

After that, though, I get the same error about the circular dependency.

[2021-09-29 21:09] olivereri commented on #6461
Oh boy!
![image.png](https://images.zenhubusercontent.com/5f04cf8f49978b1615fee8c2/25db6cd4-27df-468f-aca5-cd0c0b3e1eb6)

[2021-09-29 21:16] ndouglas commented on #6461
lol

<img width="631" alt="Screen Shot 2021-09-29 at 5 16 25 PM" src="https://user-images.githubusercontent.com/1318579/135349654-9126a0ea-126d-4131-9b0a-f95f6ce5cab9.png">

[2021-09-29 21:23] xiongjaneg opened #6586 "UX team members gain helpdesk context during onboarding"
## User story
As a new Drupal CMS team member, I need to understand the customer journey through the Drupal CMS helpdesk process.

@EWashb @rachel-kauff @suzanne-gray

## Acceptance criteria
- [ ] An initial meeting between new UXers and existing helpdesk to overview tickets
  - [ ] Can they access and navigate the KB
  - [ ] Can they submit helpdesk tickets
  - [ ] Is there any feedback on the su

[2021-09-29 21:58] xiongjaneg commented on #6585
@rachel-kauff maybe a good onboarding exercise

[2021-09-29 22:05] mchelen-gov commented on #6361
i think apache logs are visible in loki, are drupal and /var/log/messages left to do?

[2021-09-29 22:06] xiongjaneg commented on #3938
@rachel-kauff This might be another good one for UX onboarding

[2021-09-29 22:10] mchelen-gov opened #6587 "Update Grafana panels to use Loki queries"
## Description
Now that Loki is now available in Production, Cloudwatch metric usage in Grafana should be deprecated.

## Acceptance Criteria
- [ ] Identify [Grafana dashboard](http://grafana.vfs.va.gov/d/dxf8a-6Zz/cms-dashboard?orgId=1) panels using Cloudwatch metrixs
- [ ] Update to panels to use Loki queries
- [ ] Create followup tickets for any panels with data not available in Loki

### CMS T

[2021-09-30 13:54] xiongjaneg commented on #6505
@rachel-kauff another potential KB article for onboarding, kick any of these back to helpdeesk and support if they get too overwhelming, thank you!

[2021-09-30 14:02] xiongjaneg opened #6591 "bulk upload Vet Center District 1 users before Oct 12/13 kickoff"
## User story
As a Vet Center user, I need access to Drupal CMS to edit my web pages to provide Veterans and other stakeholders with accurate information.

## Acceptance criteria
- [x] Review the user spreadsheet and check for accuracy
- [x] Verify each Vet Center name matches the Section name in Drupal
- [x] Format a bulk upload csv file with the username, roles, and sections information
- [x] Ea

[2021-09-30 14:04] #3804 closed

[2021-09-30 15:35] rachel-kauff commented on #6558
@kevwalsh Some hypothesis about further stories (which may need some validation):
"As a supervisor or peer in the same section or facility as the person whose account is being deactivated, I want to know so I can:
- confirm this step of their onboarding is complete
- prompt the person to reactivate their account
- assign someone else to take over that person's responsibilities"

This might become

[2021-09-30 15:40] kevwalsh opened #6592 "Implement editorial experience design for VistA/Cerner toggle"
ACs
- [ ] Design from #6572 has been implemented
- [ ] Design review

### CMS Team

Please leave only the team that will do this work selected. If you're not sure, it's fine to leave both selected.

- [ ] `Platform CMS Team`
- [x] `Sitewide CMS Team`

[2021-09-30 16:09] ElijahLynn commented on #6587
Two known panels:

[HTTP Request Time](http://grafana.vfs.va.gov/d/dxf8a-6Zz/cms-dashboard?editPanel=44&orgId=1)

[Lock wait timeout exceeded](http://grafana.vfs.va.gov/d/dxf8a-6Zz/cms-dashboard?editPanel=12&orgId=1)

[2021-09-30 16:36] #6561 closed

[2021-09-30 16:53] kevwalsh commented on #6576
Folding this AC into #6573

[2021-09-30 16:53] #6576 closed

[2021-09-30 17:56] swirtSJW commented on #6531
Closing as a duplicate of https://github.com/department-of-veterans-affairs/va.gov-cms/issues/6392

[2021-09-30 17:56] #6531 closed

[2021-09-30 18:30] EWashb commented on #6487
I have removed the other discipline-specific items that do not apply to UX.

[2021-09-30 19:04] indytechcook opened #6593 "Content API Architecture Update"
## Description

Update the Content API architecture diagram:

* Add background information of "why"
* Update terms to be "URL" instead of "API"
* Add details around the security (GET ONLY, WAF, Auth)
* Rename SDK to "React Components"
* Remove monorepo
* Versioning
* API Gateway details / Route Proxy
* Abstracting the Drupal API
* How we following Zero Trust

## Acceptance Criteria
- [ ] Content A

[2021-09-30 19:10] xiongjaneg opened #6594 "Training for CMS team members to back up helpdesk"
## User stories.
- As a Drupal user, I need timely help to provide information to Veterans and other stakeholders.
- As a CMS team member providing back up on helpdesk, I need to understand helpdesk processes to provide timely help to Drupal users.
- As a helpdesk team member, I need to be able to take a vacation.

## Acceptance criteria
- [ ] identify training topics and content
- [ ] identify CM

[2021-09-30 19:19] indytechcook opened #6595 "NodeJS Product API POC"
## Description

Create a NodeJS layer that digest the Drupal JSON:API and outputs a JSON based upon the spec generated https://github.com/department-of-veterans-affairs/va.gov-cms/issues/6500.

## Acceptance Criteria
- [ ] NodeJS API pulls from Drupal and outputs based upon OpenAPI Spec from https://github.com/department-of-veterans-affairs/va.gov-cms/issues/6500

[2021-09-30 23:13] ndouglas commented on #6462
<img width="1451" alt="Screen Shot 2021-09-30 at 7 09 27 PM" src="https://user-images.githubusercontent.com/1318579/135541743-d93c5a87-ac40-48f0-b1e5-7121a950ac97.png">

[2021-09-30 23:15] ndouglas commented on #6460
(d'oh)

[2021-09-30 23:16] #6462 closed

[2021-09-30 23:18] ndouglas commented on #6464
[code]

[2021-10-01 03:17] swirtSJW opened #6599 "Test results of new menu query including node data"
## Description
A front end PR is going to be created that will add moderation state for entities to the query as needed to solve this issue
https://github.com/department-of-veterans-affairs/va.gov-team/issues/29782

There is a risk to this change to the query since more than 140 menu calls to graphQL will then be loading nodes for each item in the menu.
Prior to merging the FE PR we need to make s

[2021-10-01 03:22] swirtSJW commented on #6599
This will block the FE PR being merged.  However this is not urgent as the result of not merging it, is just more broken lnk errors when someone leaves an unpublished node in the menu.

[2021-10-01 14:32] swirtSJW commented on #6532
Needing removal now.
eastern colorado
fayetteville arkansas
palo alto

[2021-10-01 14:44] swirtSJW commented on #6532
Ignore  ^^^ already covered by https://github.com/department-of-veterans-affairs/va.gov-cms/pull/6600

[2021-10-01 14:56] ndouglas commented on #6461
Playing with it this morning (in raw Docker, not K8s).  This is interesting.

From a web request, I get the circular reference from Raven.

From `drush cr`, I get:

[code]

The .git messages are interesting -- I wonder why it's trying to perform a git operation in a cache rebuild.  That kinda makes me think I should remove the .git line from the .dockerignore, to see if that's what's causing the i

[2021-10-01 15:10] acrollet opened #6601 "Add alerting for GraphQL performance thresholds"
## User Story or Problem Statement

As a CMS devops engineer, I need to know if our GraphQL performance threshold is being exceeded, so that I may take corrective action in a timely manner.

## Acceptance Criteria
- [ ] The CMS team receives a warning alert when seconds per published node exceeds our warning threshold
- [ ] The CMS team receives a emergency alert when seconds per published node ex

[2021-10-01 15:19] chriscraiga6 opened #6602 "CMS User Report Last Accessed in Fixed Time"
## User Story or Problem Statement

As a member of the helpdesk, I need the CMS user report to generate the last accessed date in a fixed time instead of relative so I can more efficiently manage user accounts.

## Acceptance Criteria
- [ ] When the CSV button is pressed, the output displays last accessed field in fixed time (Ex: 13-SEP-21 10:16 AM)

## Implementation steps
<optional>

## Design p

[2021-10-01 15:33] olivereri commented on #6461
I was able replicate the weird behavior where the database is refusing connections. Seems like it something to do with `microk8s`. On a different machine with a fresh install it's still having pod communication issues. I'm stumped, a lot of troubleshooting guides don't really address this issue.

Yup, just a few messages up above.

[2021-10-01 16:07] mchelen-gov commented on #5650
removing Platform CMS label

[2021-10-01 16:12] #6532 closed

[2021-10-01 17:08] olivereri commented on #6587
https://github.com/department-of-veterans-affairs/va.gov-cms/blob/master/READMES/grafana-dashboard-cms.md

[2021-10-01 17:08] ElijahLynn commented on #6587
We can go straight from logs to a panel with Loki > https://grafana.com/blog/2020/04/15/loki-quick-tip-how-to-use-a-loki-datasource-in-your-grafana-dashboard/

[2021-10-01 17:13] jefflbrauer commented on #1195
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/1195?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas @olivereri @timcosgrove

[2021-10-01 17:13] jefflbrauer commented on #1196
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/1196?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas @olivereri @timcosgrove

[2021-10-01 17:13] jefflbrauer commented on #1306
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/1306?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas @olivereri @timcosgrove

[2021-10-01 17:13] jefflbrauer commented on #1351
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/1351?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas @olivereri @timcosgrove

[2021-10-01 17:13] jefflbrauer commented on #1473
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/1473?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas @olivereri @timcosgrove

[2021-10-01 17:13] jefflbrauer commented on #1497
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/1497?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas @olivereri @timcosgrove

[2021-10-01 17:13] jefflbrauer commented on #2034
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/2034?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas @olivereri @timcosgrove

[2021-10-01 17:13] jefflbrauer commented on #2805
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/2805?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas @olivereri @timcosgrove

[2021-10-01 17:13] jefflbrauer commented on #3155
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/3155?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas @olivereri @timcosgrove

[2021-10-01 17:13] jefflbrauer commented on #3202
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/3202?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas @olivereri @timcosgrove

[2021-10-01 17:13] jefflbrauer commented on #3215
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/3215?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas @olivereri @timcosgrove

[2021-10-01 17:13] jefflbrauer commented on #3217
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/3217?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas @olivereri @timcosgrove

[2021-10-01 17:13] jefflbrauer commented on #3220
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/3220?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas @olivereri @timcosgrove

[2021-10-01 17:13] jefflbrauer commented on #3329
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/3329?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas @olivereri @timcosgrove

[2021-10-01 17:13] jefflbrauer commented on #3339
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/3339?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas @olivereri @timcosgrove

[2021-10-01 17:13] jefflbrauer commented on #3341
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/3341?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas @olivereri @timcosgrove

[2021-10-01 17:13] jefflbrauer commented on #3416
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/3416?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas @olivereri @timcosgrove

[2021-10-01 17:13] jefflbrauer commented on #3456
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/3456?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas @olivereri @timcosgrove

[2021-10-01 17:13] jefflbrauer commented on #3493
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/3493?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas @olivereri @timcosgrove

[2021-10-01 17:13] jefflbrauer commented on #3623
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/3623?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas @olivereri @timcosgrove

[2021-10-01 17:13] jefflbrauer commented on #3644
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/3644?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas @olivereri @timcosgrove

[2021-10-01 17:13] jefflbrauer commented on #3799
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/3799?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas @olivereri @timcosgrove

[2021-10-01 17:13] jefflbrauer commented on #3874
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/3874?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas @olivereri @timcosgrove

[2021-10-01 17:13] jefflbrauer commented on #4517
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/4517?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas @olivereri @timcosgrove

[2021-10-01 17:13] jefflbrauer commented on #4554
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/4554?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas @olivereri @timcosgrove

[2021-10-01 17:13] jefflbrauer commented on #4735
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/4735?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas @olivereri @timcosgrove

[2021-10-01 17:13] jefflbrauer commented on #5511
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/5511?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas @olivereri @timcosgrove

[2021-10-01 17:13] jefflbrauer commented on #5567
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/5567?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas @olivereri @timcosgrove

[2021-10-01 17:13] jefflbrauer commented on #5596
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/5596?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas @olivereri @timcosgrove

[2021-10-01 17:13] jefflbrauer commented on #5910
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/5910?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas @olivereri @timcosgrove

[2021-10-01 17:13] jefflbrauer commented on #6019
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6019?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas @olivereri @timcosgrove

[2021-10-01 17:13] jefflbrauer commented on #6193
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6193?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas @olivereri @timcosgrove

[2021-10-01 17:13] jefflbrauer commented on #6194
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6194?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas @olivereri @timcosgrove

[2021-10-01 17:13] jefflbrauer commented on #6195
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6195?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas @olivereri @timcosgrove

[2021-10-01 17:13] jefflbrauer commented on #6196
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6196?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas @olivereri @timcosgrove

[2021-10-01 17:13] jefflbrauer commented on #6197
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6197?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas @olivereri @timcosgrove

[2021-10-01 17:13] jefflbrauer commented on #6198
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6198?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas @olivereri @timcosgrove

[2021-10-01 17:13] jefflbrauer commented on #6237
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6237?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas @olivereri @timcosgrove

[2021-10-01 17:13] jefflbrauer commented on #6239
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6239?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas @olivereri @timcosgrove

[2021-10-01 17:13] jefflbrauer commented on #6353
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6353?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas @olivereri @timcosgrove

[2021-10-01 17:13] jefflbrauer commented on #6368
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6368?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas @olivereri @timcosgrove

[2021-10-01 17:13] jefflbrauer commented on #6599
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6599?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas @olivereri @timcosgrove

[2021-10-01 17:13] jefflbrauer commented on #6354
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6354?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas @olivereri @timcosgrove

[2021-10-01 17:13] jefflbrauer commented on #6360
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6360?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas @olivereri @timcosgrove

[2021-10-01 17:13] jefflbrauer commented on #6369
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6369?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas @olivereri @timcosgrove

[2021-10-01 17:13] jefflbrauer commented on #6508
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6508?planning-poker) with ZenHub @ElijahLynn @indytechcook @ndouglas @olivereri @timcosgrove

[2021-10-01 17:14] jefflbrauer commented on #1195
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/1195?planning-poker) with ZenHub @cweagans

[2021-10-01 17:14] jefflbrauer commented on #1196
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/1196?planning-poker) with ZenHub @cweagans

[2021-10-01 17:14] jefflbrauer commented on #1306
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/1306?planning-poker) with ZenHub @cweagans

[2021-10-01 17:14] jefflbrauer commented on #1351
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/1351?planning-poker) with ZenHub @cweagans

[2021-10-01 17:14] jefflbrauer commented on #1473
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/1473?planning-poker) with ZenHub @cweagans

[2021-10-01 17:14] jefflbrauer commented on #1497
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/1497?planning-poker) with ZenHub @cweagans

[2021-10-01 17:14] jefflbrauer commented on #2034
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/2034?planning-poker) with ZenHub @cweagans

[2021-10-01 17:14] jefflbrauer commented on #2805
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/2805?planning-poker) with ZenHub @cweagans

[2021-10-01 17:14] jefflbrauer commented on #3155
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/3155?planning-poker) with ZenHub @cweagans

[2021-10-01 17:14] jefflbrauer commented on #3202
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/3202?planning-poker) with ZenHub @cweagans

[2021-10-01 17:14] jefflbrauer commented on #3215
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/3215?planning-poker) with ZenHub @cweagans

[2021-10-01 17:14] jefflbrauer commented on #3217
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/3217?planning-poker) with ZenHub @cweagans

[2021-10-01 17:14] jefflbrauer commented on #3220
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/3220?planning-poker) with ZenHub @cweagans

[2021-10-01 17:14] jefflbrauer commented on #3329
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/3329?planning-poker) with ZenHub @cweagans

[2021-10-01 17:14] jefflbrauer commented on #3339
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/3339?planning-poker) with ZenHub @cweagans

[2021-10-01 17:14] jefflbrauer commented on #3341
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/3341?planning-poker) with ZenHub @cweagans

[2021-10-01 17:14] jefflbrauer commented on #3416
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/3416?planning-poker) with ZenHub @cweagans

[2021-10-01 17:14] jefflbrauer commented on #3456
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/3456?planning-poker) with ZenHub @cweagans

[2021-10-01 17:14] jefflbrauer commented on #3493
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/3493?planning-poker) with ZenHub @cweagans

[2021-10-01 17:14] jefflbrauer commented on #3623
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/3623?planning-poker) with ZenHub @cweagans

[2021-10-01 17:14] jefflbrauer commented on #3644
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/3644?planning-poker) with ZenHub @cweagans

[2021-10-01 17:14] jefflbrauer commented on #3799
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/3799?planning-poker) with ZenHub @cweagans

[2021-10-01 17:14] jefflbrauer commented on #3874
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/3874?planning-poker) with ZenHub @cweagans

[2021-10-01 17:14] jefflbrauer commented on #4517
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/4517?planning-poker) with ZenHub @cweagans

[2021-10-01 17:14] jefflbrauer commented on #4554
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/4554?planning-poker) with ZenHub @cweagans

[2021-10-01 17:14] jefflbrauer commented on #4735
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/4735?planning-poker) with ZenHub @cweagans

[2021-10-01 17:14] jefflbrauer commented on #5567
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/5567?planning-poker) with ZenHub @cweagans

[2021-10-01 17:14] jefflbrauer commented on #5596
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/5596?planning-poker) with ZenHub @cweagans

[2021-10-01 17:14] jefflbrauer commented on #5910
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/5910?planning-poker) with ZenHub @cweagans

[2021-10-01 17:14] jefflbrauer commented on #6019
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6019?planning-poker) with ZenHub @cweagans

[2021-10-01 17:14] jefflbrauer commented on #6193
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6193?planning-poker) with ZenHub @cweagans

[2021-10-01 17:14] jefflbrauer commented on #6194
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6194?planning-poker) with ZenHub @cweagans

[2021-10-01 17:14] jefflbrauer commented on #6195
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6195?planning-poker) with ZenHub @cweagans

[2021-10-01 17:14] jefflbrauer commented on #6196
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6196?planning-poker) with ZenHub @cweagans

[2021-10-01 17:14] jefflbrauer commented on #6197
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6197?planning-poker) with ZenHub @cweagans

[2021-10-01 17:14] jefflbrauer commented on #6198
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6198?planning-poker) with ZenHub @cweagans

[2021-10-01 17:14] jefflbrauer commented on #6237
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6237?planning-poker) with ZenHub @cweagans

[2021-10-01 17:14] jefflbrauer commented on #6239
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6239?planning-poker) with ZenHub @cweagans

[2021-10-01 17:14] jefflbrauer commented on #6353
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6353?planning-poker) with ZenHub @cweagans

[2021-10-01 17:14] jefflbrauer commented on #6354
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6354?planning-poker) with ZenHub @cweagans

[2021-10-01 17:14] jefflbrauer commented on #6360
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6360?planning-poker) with ZenHub @cweagans

[2021-10-01 17:14] jefflbrauer commented on #6368
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6368?planning-poker) with ZenHub @cweagans

[2021-10-01 17:14] jefflbrauer commented on #6369
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6369?planning-poker) with ZenHub @cweagans

[2021-10-01 17:14] jefflbrauer commented on #6508
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6508?planning-poker) with ZenHub @cweagans

[2021-10-01 17:14] jefflbrauer commented on #5511
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/5511?planning-poker) with ZenHub @cweagans

[2021-10-01 17:27] cmaeng opened #6603 "FE Template is producing the same heading ID for "Related links" fields"
**Describe the defect**
It appears that the templates are auto-generating the same heading ID for "Related links" fields when the content is identical. This is tripping the accessibility scans as duplicate h2 id errors.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://prod.cms.va.gov/node/7632/edit'
2. Scroll down to see the "Related links" section
3. Notice that the "Title" fi

[2021-10-01 17:33] acrollet commented on #6509
@timcosgrove Resources search

[2021-10-01 17:54] acrollet commented on #6019
@ndouglas verified this is done. (Thanks @ethanteague! 💋 )

[2021-10-01 17:54] #6019 closed

[2021-10-01 17:58] acrollet commented on #5596
@kevwalsh we took a look at this but believe it's more in content ops' perview.

[2021-10-01 18:02] #6573 closed

[2021-10-01 18:03] davidconlon commented on #6603
@cmaeng I think that this may be more of a problem with the component that can be used site-wide in the CMS and not something that all of our front-ends can protect for - such as I think this is/will be a popular component for the whole of the CMS.

If the intent is this component allows the editor to enter a Title for that section as well as free-text link, then I suspect that may inherently be a

[2021-10-01 21:01] swirtSJW opened #6604 "Add style options to wysiwyg for action links"
## User Story or Problem Statement

As an editor I need to be able to set an action link with ckeditor so that I can make use of [action links in the VA Design system](https://design.va.gov/experimental-design/action_links)

- Add class setting to class="vads-c-action-link--blue"
- Add class="vads-c-action-link--green"
- ~class="vads-c-action-link--white"~  Leaving this one off for now.  Not sure

[2021-10-01 22:30] stefaniefgray opened #6605 "[Events] Update Events View to Filter by Date Created"
## User Story or Problem Statement

See VA-HELP 1968

As an Outreach Hub representative, I would like the ability to view how many events were posted to the Outreach Hub within a set date range.

## Acceptance Criteria
- [ ] Can go to the Events view within Drupal and filter by date created: https://prod.cms.va.gov/admin/content/events

## Implementation steps
Events view should filter by or displ

[2021-10-04 12:43] ndouglas commented on #6461
Figured it out!

So the message was:

Services involved were:

    class: Drupal\raven\Logger\Raven
    arguments:
      - '@config.factory'
      - '@logger.log_message_parser'
      - '@module_handler'
      - '%kernel.environment%'
      - '@?current_user'
      - '@?request_stack'
      - '@?settings'
    tags:
      - { name: logger }

    class: Drupal\raven\EventSubscriber\RequestSubscriber

[2021-10-04 17:29] timcosgrove commented on #6509
POC use cases
**Q&A**
[] Endpoint returns sufficient data to render the content of the page (menus, sidebars etc not included at this stage)
[] Individual QA page renders via live data
[] Updates to the CMS content reflect immediately in that render
* example page: https://www.va.gov/resources/how-do-i-change-my-name-in-my-deers-record/
* More added if they show interesting scenarios.
* QA chosen

[2021-10-04 18:06] #6425 closed

[2021-10-04 18:36] indytechcook commented on #6509
This is great and pretty much where I was going.

What does this mean?

[2021-10-04 18:51] MontagnaDave opened #6611 "Onboarding: David Montagna"
# Welcome to the VFS-CMS Team! 👋
We're thrilled to have you join us on this journey! 🎆🎉🙌

Our vision is to build and maintain a best-in-class Content Management System that meets the needs of editors, application development teams, and consuming applications in order to empower our users to help Veterans.

The onboarding materials below are organized by 1) chronological time to complete (day one,

[2021-10-04 19:39] timcosgrove commented on #6509
Just that if there's a URL/page that shows anything interesting re: how the POC API is pulling that information together, they would be added as an example. I just wanted to identify specific pages that we'd show, just so we have them at hand, especially since it's a pretty small set of QAs that are available as pages.

Editing the text to make it more clear

[2021-10-04 23:21] olivereri commented on #6461
I was hoping to get further along with this by using VSP EKS.  The app manifest is committed to the repo and the resource are deployed however the site isn't accessible at eks-dev.cms.va.gov all that is returned is `Service not found`. I'm unsure if that's traefik or Drupal. Through curl I can see DNS is resolving correctly.

[2021-10-04 23:39] olivereri commented on #6461
Welp, I figured it out. traefik.vfs.va.gov doesn't point to some pod in EKS but an AWS ELB. I added a rule to send route traffic correctly in the LB and got this:

![image](https://user-images.githubusercontent.com/31904439/135938506-8ee3c73c-9ddd-42ff-9684-52c39416c8b0.png)

Maybe we'll need to commit the containers you've created to DSVA ECR and modify the manifest to pull from there.

[2021-10-05 01:04] ndouglas commented on #6461
That's success!

Yeah, def. gotta rebuild the image.  I'll see what I can do tomorrow AM.  Hoping that by scrum we'll have a bright shiny new Drupal.  Just without the image assets, etc.

[2021-10-05 01:06] ndouglas commented on #6461
Bummer, I wish I'd caught your message a couple hours ago -- I know Traefik's messages **very** well at this point and coulda pointed you in the right direction 😭 .  Either way, that's awesome work 😃

[2021-10-05 01:52] #6453 closed

[2021-10-05 12:09] #6363 closed

[2021-10-05 12:09] #6504 closed

[2021-10-05 13:30] ndouglas commented on #6461
https://console.amazonaws-us-gov.com/ecr/repositories/dsva/cms-drupal/image/sha256:35fcdb46b73b5ba07571143ecb50fa794b5af2cc4441502439176261846a176f/scan-results/?region=us-gov-west-1 huh, neat

[2021-10-05 14:05] amandeepma commented on #6549
@ethanteague I have setup my CodeSpaces workplace on my laptop. I'm now ready to work on this ticket. Can we please do a little KT session on this? Thanks

[2021-10-05 15:28] kevwalsh opened #6616 "Scheduling, Appointments, and referrals should all be Unknown"
[for consideration in Sprint 43]

## User Story or Problem Statement

As a VAMC editor adding a facility health service, the default values should be "Unknown" for referrals, walkins, and online scheduling, so that i can create the content without filling out the value.

## Acceptance Criteria
- [ ] Three fields have had their default value set to "Unknown".

## Implementation steps
- [ ]

![Scree

[2021-10-05 15:35] xiongjaneg opened #6617 "Knowledge Base article for updating facility health service appointment and scheduling information"
## User story
As a VAMC editor, I need to know how to provide Veterans with accurate and timely appointment information for my facilities.

## Acceptance criteria
- [ ] Draft KB article with steps for editing just the appointment and scheduling part of the VAMC facility health service content type, in anticipation of Lighthouse switching COVID vaccine walk-in information to Drupal as the source of

[2021-10-05 15:47] xiongjaneg commented on #5656
Examples
- [Past helpdesk reports](https://drive.google.com/drive/folders/1lEa7FMczd0EVBvJVSYQ8dpzPuHWCVXOm)
- other platform team examples attached[https://app.zenhub.com/files/154174777/a52f997d-7bcd-43c9-bf41-db67403a277f/download](https://app.zenhub.com/files/154174777/a52f997d-7bcd-43c9-bf41-db67403a277f/download)

[2021-10-05 16:27] swirtSJW opened #6619 "Existing `a.usa-button*` have been migrated to use `a.vads-c-action-link`, where desired"
## Background

As of 6/1/2022 ([slack](https://dsva.slack.com/archives/CT4GZBM8F/p1655474495809019) for context), the Design System Team is deprecating the va-button-primary Design System CSS class and its associated styles. The [button component page](https://design.va.gov/components/button/) offers alternative options. Action links have also been [deployed](https://design.va.gov/components/link/

[2021-10-05 18:25] mmiddaugh opened #11814 "Directions link in Facility Locator should not open in a new tab"
## Issue Description
Currently in the Facility Locator the "Get Directions on Google Maps" links all open in a new tab.  This can be particularly frustrating if unanticipated by assistive tech users.

In order to avoid frustration and confusion, as well as to match the standard pattern of other Directions links throughout VA.gov, it is recommended to change the behavior of the Facility Locator Dir

[2021-10-05 18:36] mmiddaugh opened #12867 "Return user to same Facility Locator search results state following refresh"
## Issue Description
Following the return of pagination to Facility Locator search results, we need to update the expected behavior following a page refresh.

## Tasks
 Update behavior when page is refreshed

## Acceptance Criteria
- [ ]  When the Facility Locator page is refreshed, users should be returned to the same search results state

[2021-10-05 21:56] swirtSJW commented on #6453
@JayDarnell @kevwalsh  I just ran the migration on prod, so field_official_name should now be populated for vet_centers.

![image](https://user-images.githubusercontent.com/5752113/136108303-a9fa1abc-a68e-41f0-bedd-4a3cf18d2ae5.png)

[2021-10-05 22:08] rachel-kauff commented on #2932
Possible next steps: Audit which products are currently using tables so we can understand whether VAMC/field editors account for a significant amount of tables, and decide what approach to take (guidance vs. guardrails).

[2021-10-05 22:38] rachel-kauff commented on #6536
@kevwalsh Does VAMC have something analogous to the Vet Center "required services" work? I thought of it because Stan included some required services spreadsheet in his followup notes from office hours today.

[2021-10-06 14:36] indytechcook commented on #6491
***WIP***

There are 3 different levels of API Design that we considering in looking the JSON:API from Drupal

![image](https://user-images.githubusercontent.com/121603/136209501-2b4892fa-60e7-4a96-a325-c81466f8627a.png)

* Core Drupal JSON:API (Drupal)
* Flattened Drupal JSON:API by the [`jsonapi_extras` module](https://www.drupal.org/project/jsonapi_extras) (Drupal)
* Product based API with busi

[2021-10-06 15:25] ndouglas commented on #6461
Seems to work, no errors in status report, but:
- can't send email
- Sentry is linked to cms-prod

[2021-10-06 15:56] #6460 closed

[2021-10-06 19:11] olivereri commented on #6545
The purpose of this document is to summarize our thoughts and feelings about how an engineer new to Kubernetes might go about gaining some practical, useful experience with it, based on our recent experiences doing just that.  This document is tailored to engineers and assumes some experience with DevOps, Linux system administration, or similar subjects.

Kubernetes is a container orchestration pl

[2021-10-06 19:57] olivereri commented on #6545
Added consolidated discovery work document from 6355 [here](https://github.com/department-of-veterans-affairs/va.gov-cms/blob/master/READMES/kubernetes-learning.md)

[2021-10-06 20:53] swirtSJW opened #6623 "Update logic around concerns for title and official name"
Our switch to using the field_official_name as being the one in sync with facility api means that some of the concerns need to be divided amongst the two fields

### Questions:
- Will outstations, mobile, or caps ever have services connected to them?

### title
- [x] no longer populate or alter this by the actual migration (covered by #6454, listing here for visibility)
- [x] Becomes editable by c

[2021-10-06 21:30] rachel-kauff opened #6624 "Conversation guide and study pilot for Vet Centers usability study"
## Description

## Acceptance Criteria
- [ ] Testable_Outcome_X
- [ ] Testable_Outcome_Y
- [ ] Testable_Outcome_Z
- [ ] Requires design review

### CMS Team

Please leave only the team that will do this work selected. If you're not sure, it's fine to leave both selected.

- [x] `Platform CMS Team`
- [x] `Sitewide CMS Team`

[2021-10-06 22:02] swirtSJW opened #6625 "Remove status endpoints 10-6-21"
## Description

Remove the following endpoints from our status migration
- [x] montana-health-care/
- [x] cheyenne-health-care/
- [x] new-york-harbor-health-care/
- [x] columbia-south-carolina-health-care/
- [x] /charleston-health-care/
- [x] west-texas-health-care/  = bigspring
- [x] black-hills-health-care/
- [x] richmond-health-care/
- [x] hampton-health-care/

## Acceptance Criteria
- [ ] Test

[2021-10-06 22:30] rachel-kauff opened #6627 "Research synthesis"
## Background
Task of #6553

## Acceptance Criteria
- [x] Research synthesis completed
- [x] Research readout deck prepared
- [x] Research readout scheduled to be delivered to the following audiences:
   - [x] Product owner
   - [x] Facilities team folks - Michelle
   - [x] Sitewide CMS
      - [x] Customer service - Jane, helpdeskers
      - [x] Content ops folk
      - [x] All other sitewide cms

[2021-10-07 15:43] jefflbrauer commented on #6294
Reach out to Wyatt first, if no response still, reach out to Andrew Fichter, and if all else fails, David Mazik

[2021-10-07 17:47] rachel-kauff commented on #5688
@ethanteague Figma link: https://www.figma.com/file/bTK5OXEKBvuXpCLqHLyOyt/Centralized-content?node-id=0%3A1

[2021-10-07 18:21] #6625 closed

[2021-10-07 19:52] indytechcook commented on #6491
PR with code changes: https://github.com/department-of-veterans-affairs/va.gov-cms/pull/6557

[2021-10-07 20:36] #6563 closed

[2021-10-07 20:55] #5688 closed

[2021-10-07 22:13] swirtSJW opened #6629 "Move any VAMC specific logic from va_gov_backend to va_gov_vamc"
## User Story or Problem Statement

As our product inventory has grown we need to groom our initial catch-all module va_gov_backend.  As a code maintainer I want to confidently know where VACM specific code lives.

## Acceptance Criteria
- [ ] Any code in va_gov_backend that is specific to **ONLY** VAMC is moved to va_gov_vamc
- [ ] Any code in that is shared among multiple products is not moved

[2021-10-07 22:15] swirtSJW opened #6630 "Move any Vet Center specific logic from va_gov_backend to va_gov_vet_center"
## User Story or Problem Statement

As our product inventory has grown we need to groom our initial catch-all module va_gov_backend.  As a code maintainer I want to confidently know where Vet Center specific code lives.

## Acceptance Criteria
- [ ] Any code in va_gov_backend that is specific to **ONLY** Vet Centers is moved to va_gov_vet_center
- [ ] Any code in that is shared among multiple prod

[2021-10-08 02:50] kevwalsh opened #6634 "Sitewide CMS team - Sprint 43 priorities"
🥅   — Sprint goals (pending Sprint planning)
💧  — Drupal engineering
🎓  — Training / Change management / KB
📟 — Helpdesk
💡 — Design
🔮  —  Planning / roadmap / epic refinement
📊  —  Analytics
🚰  — Service design
🌱 — Good first task

### Context

New team members!
Drupal GovCon
Q4 epic refinement

### #6405  Team transition

- [ ] #6398

Onboard
- [ ] Lynn
- [ ] David
- [ ] Denise

### #6164 Support

[2021-10-08 02:53] kevwalsh opened #6635 "Prepend "VA " to "Lovell Federal health care" menu name"
## User Story or Problem Statement

~#6512 incorrectly specifed "Lovell Federal health care" for the new menu name. It should have been "VA Lovell Federal health care"~

UPDATE: This is not true. the problem was that the VAMC system node was titled  "Lovell Federal health care" but should have been titled "VA Lovell Federal health care". Same for the Section name.

## Acceptance Criteria
- [ ] ~Me

[2021-10-08 02:55] kevwalsh opened #6636 "Remove endpoints for VAMCs that go to full prod Oct 12-22."
## Description

Monitor vamc-upgrade team channel for launch updates.

October 13 launches

https://www.va.gov/puget-sound-health-care/
https://www.va.gov/san-francisco-health-care/
https://www.va.gov/central-alabama-health-care/
https://www.va.gov/birmingham-health-care/
https://www.va.gov/cincinnati-health-care/

## Acceptance Criteria
- [ ]  Once redirects have been completed, remove endpoints

[2021-10-08 03:00] kevwalsh opened #6637 "Delete nearby Vet Center fields that were previously hidden."
## User Story or Problem Statement

#6606 hid the "Nearby Vet Centers and Outstations" field, but did not delete it.

## Acceptance Criteria
- [ ] "Nearby Vet Centers and Outstations" field should be deleted
- [ ] Any FE dependency is removed

## Implementation steps

Drupal config, possibly some GraphQL change.

### CMS Team

Please leave only the team that will do this work selected. If you're n

[2021-10-08 03:14] kevwalsh opened #6638 "Create "Required Vet Center service" boolean in Service taxonomy"

[2021-10-08 03:15] kevwalsh opened #6639 "Autogenerate required service nodes for all Vet Centers"
All Vet Centers should have Vet Center service nodes for the following services

- Addiction and substance abuse care
- Community engagement
- Couples and family counseling
- Grief and bereavement
- Mental health
- MST
- PTSD
- Returning service member care
- Suicide prevention
- Veteran connections

ACs

- [ ] Required default services are populated on all existing Vet Centers via an update, when

[2021-10-08 03:16] kevwalsh opened #6640 "Indicate to Vet Center editors when a service is required, and prevent archiving."
<details><summary>Design spec</summary>

From https://www.figma.com/file/QUZpQV5Nf0LhtsrnqqVHas/Vet-Centers-forms?node-id=0%3A1

<img width="928" alt="Vet_Centers_forms_–_Figma" src="https://user-images.githubusercontent.com/643678/142890793-fc74828c-d20c-4a01-99ec-e41954aa42fc.png">

</details>

## ACs
- [ ] Implement design from above
  - [ ] Stretch: Use the Vet Center name in the first column'

[2021-10-08 04:01] kevwalsh opened #6641 "Design inline taxonomy term content for Vet Center and VAMC services"
## User Story or Problem Statement

From #5800
1. As an editor of health service content at a VAMC or Vet Center, I want to be able to see the nationally standardized content, such as general service description and the patient friendly name, within my form (and on proofing screens), so that I can write my content in relation to it (and so I can avoid duplicating anything).

Examples of where I'm

[2021-10-08 04:25] stefaniefgray commented on #5656
New report for September: https://docs.google.com/presentation/d/1pTgHjC0b8A8wj_s-5a40JNsCY3gBABd9sZ8WSWLaTQg/edit#slide=id.p

[2021-10-08 04:28] kevwalsh opened #6642 "Content updates: make certain services taxonomy terms required for Vet Centers"
Once #6638 is on prod, set the following taxonomy terms to required for Vet Centers

- Addiction and substance abuse care
- Community engagement
- Couples and family counseling
- Grief and bereavement
- Mental health
- MST
- PTSD
- Returning service member care
- Suicide prevention
- Veteran connections

[2021-10-08 04:43] kevwalsh opened #6643 "Governance and editorial experience for full width alerts and promo banners"
## User Story or Problem Statement

Context: MVP full width banners and promo banners had little editorial experience design, and governance research/design.

[needs further spec'ing]

[2021-10-08 04:47] kevwalsh commented on #6164
I've moved a few issues to #6643 (next iteration) so that i can close this.

[2021-10-08 04:47] #6164 closed

[2021-10-08 04:52] kevwalsh opened #6644 "Support promo banners (MVP)"
## Background

### User Story or Problem Statement

From [VA design system](https://design.va.gov/components/promo-banners)

Promo banners are currently all managed within the vets-website codebase and require a FE developer from PW team to update.

<details><summary>Screenshot</summary>

![VA_gov_Home___Veterans_Affairs](https://user-images.githubusercontent.com/643678/136500229-72524c16-0ea9-444

[2021-10-08 05:07] kevwalsh commented on #1171
[A patch was submitted on d.o. for this](https://www.drupal.org/project/tablefield/issues/3117855#comment-13898488), we should review it to see if it solves for #2.

[2021-10-08 05:09] kevwalsh opened #6645 "Audit tables in use for their adherence to new guidelines"
Quantiative and qualitiative audit of tables placed in CMS managed content to help evaluate how tables have been used so far.

## ACs
- [x] A report qualitiative and quantitiative report presented to sitewide content team and Sitewide CMS product owner, describing current state of table use in CMS-managed content.
- [x] Quantitative
  - [x] Number of tables by content type
  - [x] Number of tables

[2021-10-08 05:14] kevwalsh opened #6646 "Fix known issues with og:image and description metatags"
ACs
- [x] Remove the metatag config at Content that makes too many assumptions about fields that don't exist.
- [x] Every content type that has a `field_media` image has a definition at the content type level
- [x] Remove "Global" metatag config, and possibly move some of it to Content
- [x] Update drupal spec tool with latest
- [ ] Visual audit and meeting (@kevwalsh and possibly @msbtterswrth) p

[2021-10-08 13:24] xiongjaneg opened #6648 "broken links analysis of Q3 tickets for training alignment"
## User story
As a Drupal CMS editor, I need to provide accurate and timely information to Veterans and understand what prevents me from publishing that information.

## Acceptance criteria
- [x] compile Q3 broken link tickets
- [x] analyze Q3 broken link tickets
- [x] add broken link themes to training runbook for improvement

[2021-10-08 15:12] xiongjaneg opened #6649 "update staff profile training/KB article for new bio panel"
## User story
As a Drupal editor, I need to know how to add an optional biography for my leadership.

## Acceptance criteria
- [x] review existing KB article and training video for potential updates
- [x] update KB article for new panel
- [x] update training video for new panel
- [x] caption training video as needed
- [x] make updates to KB pages

[2021-10-08 15:44] #6554 closed

[2021-10-08 16:54] rachel-kauff commented on #6455
@kevwalsh Is it safe to assume this is a totally manual audit?

[2021-10-08 19:55] #6648 closed, assigned to xiongjaneg

[2021-10-10 02:45] #6502 closed

[2021-10-10 03:57] kevwalsh opened #6656 "Iteration on Centralized content"
Various issues that did not go into the first iteration. Many could be spun into their own epics.

[2021-10-11 14:41] swirtSJW opened #6658 "Menu title does not always persist through save"
**Describe the defect**
In the VAMC product, menu titles are populated automatically  However, when an editor clicks "Save and continue editing", it clears out his page title and parent menu selection and he had to enter that again.

Slack discussion here https://dsva.slack.com/archives/CT4GZBM8F/p1633707604487800

**To Reproduce**
Steps to reproduce the behavior:
To replicate in staging and his i

[2021-10-11 15:31] swirtSJW opened #6659 "Determine why 2 systems fail menu queries."
## Description
There are two systems that throw errors when trying to use the new menu queries to account for moderation state.
1. va-central-california-health-car
2. va-western-colorado-health-care

See comment on FE issue here
https://github.com/department-of-veterans-affairs/va.gov-team/issues/29782#issuecomment-938914858

## Acceptance Criteria
- [x] Fix or at least determine the cause of the

[2021-10-11 16:46] swirtSJW commented on #6659
THe same was true for Western colorado.
I provided an assessment of the three solutions I can think of here
https://github.com/department-of-veterans-affairs/va.gov-team/issues/29782#issuecomment-940187821

[2021-10-12 13:41] kevwalsh opened #6662 "VAMC UX TBD"

[2021-10-12 13:59] xiongjaneg opened #6663 "Update VAMC menus training video/KB article based on quarterly ticket review"
## User story
As a VAMC editor, I need to know how to add or remove menu items or request menu items be enabled or disabled so that Veterans can access those items.

## Acceptance criteria
- [x] review KB article for improvement
- [x] review training video for improvement
- [x] update KB article
- [x] update links to training video on KB

[2021-10-12 14:35] #6430 closed, assigned to JayDarnell

[2021-10-12 15:23] swirtSJW opened #6664 "Make CMS source of truth for lighthouse service page location"
## User Story or Problem Statement

As facility maintainer I need lighthouse to know where my service specific page is so that they do not have to maintain their own list.

## Acceptance Criteria
- [ ] Approach needs defiing, which may depend on full prod launch state for VAMCs.

## Implementation steps
<optional>

## Design principles

Which [CMS design principle](https://github.com/department-of

[2021-10-12 15:37] #6461 closed

[2021-10-12 15:43] stefaniefgray commented on #6584
30 minutes weekly, "How's helpdesk going?" sounds good -- Chris/Clarence/Stefanie

[2021-10-12 15:46] ndouglas commented on #6547
Thanks, I thought they were supposed to be checked prior to merge tho.

[2021-10-12 15:56] cmaeng opened #6665 "Unpack solutioning for localized content / translation effort"
## Description
CMS teams need clarity on the path forward and timelines in order to project how to support efforts for the Content Localization team.

## Acceptance Criteria
- [ ] An initial meeting is held to discuss path forward to collaborate that includes: Dave Conlon, Sharon Kasimow, Danielle Thierry, Mike Chelen, Kev Walsh, Steve Wirt, Jeff Brauer, Clarence Maeng
  - [ ] Objective for the me

[2021-10-12 16:06] timcosgrove opened #6666 "Content API: POC API for serving banner content"
## Acceptance Criteria
- [x] API endpoints exist that conform to the OpenAPI spec, as defined in https://github.com/department-of-veterans-affairs/va.gov-cms/issues/6500 (except where changes are needed to the OpenAPI spec; see https://github.com/department-of-veterans-affairs/va.gov-cms/issues/7081).
- [x] That API, given a path, returns any banner content that should be displayed for that path a

[2021-10-12 16:41] #6584 closed

[2021-10-12 17:15] acrollet commented on #6595
@jefflbrauer this was written as a user story, to support the work to help determine where the API abstraction layer should live.

[2021-10-12 17:17] msbtterswrth opened #6667 "Onboarding: Lynn Stahl"
# Welcome to the VFS-CMS Team! 👋
We're thrilled to have you join us on this journey! 🎆🎉🙌

Our vision is to build and maintain a best-in-class Content Management System that meets the needs of editors, application development teams, and consuming applications in order to empower our users to help Veterans.

The onboarding materials below are organized by 1) chronological time to complete (day one,

[2021-10-12 17:17] amponce opened #6668 "Onboarding: Aaron Ponce"
# Welcome to the VFS-CMS Team! 👋
We're thrilled to have you join us on this journey! 🎆🎉🙌

Our vision is to build and maintain a best-in-class Content Management System that meets the needs of editors, application development teams, and consuming applications in order to empower our users to help Veterans.

The onboarding materials below are organized by 1) chronological time to complete (day one,

[2021-10-12 17:21] kevwalsh opened #6669 "Set "Notify user when account is activated" to FALSE"
## User Story or Problem Statement

As a user onboarder, i want to customize emails to users to users as i activate them, and send them from an email client, not from Drupal.

## Acceptance Criteria
- [ ] "Notify user when account is activated" is set to FALSE

## Implementation steps
Drupal config

## Design principles

Which [CMS design principle](https://github.com/department-of-veterans-affair

[2021-10-12 17:27] netboss opened #6670 "Onboarding: Iván Latorre"
# Welcome to the VFS-CMS Team! 👋
We're thrilled to have you join us on this journey! 🎆🎉🙌

Our vision is to build and maintain a best-in-class Content Management System that meets the needs of editors, application development teams, and consuming applications in order to empower our users to help Veterans.

The onboarding materials below are organized by 1) chronological time to complete (day one,

[2021-10-12 18:05] #6509 closed

[2021-10-12 19:28] mchelen-gov opened #6671 "[Docs] Combine dependency and alerting docs"
## Description
Monitoring and alerting information is spread across multiple documents:
- https://github.com/department-of-veterans-affairs/va.gov-cms/blob/master/READMES/alerts.md
- https://github.com/department-of-veterans-affairs/va.gov-cms/blob/master/READMES/cms-alerts.md
- https://github.com/department-of-veterans-affairs/va.gov-cms/blob/master/READMES/upstream-dependencies.md
- https://gith

[2021-10-12 19:28] ElijahLynn opened #6672 "Notify if #vfs-platform-builds for failed content-build deployments"
AC:
- [ ] Failed http://jenkins.vfs.va.gov/job/deploys/job/content-build-vagovprod/ notifies #vfs-platform-builds

See:
https://dsva.slack.com/archives/CT4GZBM8F/p1634057011040700
https://dsva.slack.com/archives/CBU0KDSB1/p1633640096153700

[2021-10-12 19:32] cweagans opened #6673 "Evaluate Lagoon/ArgoCD as a replacement for the custom EKS environment"
## Background

Taking on the development and maintenance of a Kubernetes application delivery platform is not a small task. There are certainly a number of open source components out there that we could glue together to do a fair amount of work, but I submit that we should not do that. There are many open-source delivery platforms out there that do 90% of what we’d eventually want and adopting one

[2021-10-12 19:34] ElijahLynn commented on #6673
Very nice writeup of this challenge @cweagans!

[2021-10-12 19:34] #6663 closed, assigned to xiongjaneg

[2021-10-12 20:12] ElijahLynn commented on #6361
Logs are all coming in now and are in a Grafana panel.
![image](https://user-images.githubusercontent.com/1504756/137022506-28b9fcc8-b4b1-474d-aa86-604751dbc7a6.png)

[2021-10-12 20:13] cweagans opened #6674 "POC: Set up Lagoon on EKS and get a demo of the CMS up and running"
## Description

As a CMS engineer, I would like to validate that Lagoon will be sufficient for our needs so that we can begin to evaluate the value and cost-savings that Lagoon potentially offers.

## Acceptance Criteria
- [x] We have administrative access to a cluster for testing purposes
- [x] Documentation has been added concerning the details of:
  - [x] deploying and configuring the Lagoon sy

[2021-10-12 20:20] ElijahLynn opened #6675 "Some logs getting dropped in Loki"
We have some logs getting timestamped out of order in /var/log/messages and Loki is dropping them. One solution is to move Drupal watchdog logs from /var/log/messages its own logfile in /var/log/drupal. See https://dsva.slack.com/archives/CJYRZK2HH/p1634070213478000?thread_ts=1633357270.287200&cid=CJYRZK2HH.

### AC:
- [ ] All logs should be logged, none should be dropped.

### CMS Team

- [x] `Pl

[2021-10-12 20:35] ndouglas opened #6676 "Sprint 43 tier 2 helpdesk support"
Tier 2 expectations here: https://docs.google.com/document/d/15oe0wtGI_MdaScYpjJWOgPjBqQWUFURc19HheWswEe4/edit

### Table to help track issues and approximate time spent
| Date | Issue | Resolution | Time Spent |
| -- | -- | -- | -- |
| 10-14 | [Link](https://dsva.slack.com/archives/CDHBKAL9W/p1634217174062200) | Dug around quite a bit, finally opened an [issue](https://github.com/department-of-ve

[2021-10-12 20:43] xiongjaneg opened #6677 "KB article for rich text link for Vet Center"
## User story
As a Vet Center editor, I need to know how to send Veterans to an external link in an way that meets accessibility and VA style guidelines.

## Acceptance criteria
- [x] step-by-step instructions
- [x] visual element
- [x] link to article in Vet Center landing page

[2021-10-12 20:46] #5607 closed

[2021-10-12 20:49] timcosgrove opened #6678 "Accelerated Publishing: epic and ticket review & cleanup"
## Description
The existing epics and tickets that fall under the Accelerated Publishing initiative may no longer reflect our current understanding of the work that needs to be done for Accelerated Publishing & Content API. The epics and issues should all be reviewed, refined where we have knowledge to do so, and new ones created if there is known work that is not covered. Epics and tickets that a

[2021-10-12 21:05] mchelen-gov commented on #6190
Updated AC to include identification of DD config management approaches

[2021-10-13 00:30] kevwalsh commented on #6635
I just updated thed ACs, which were invalid. This was just a content fix, which i just did on prod.

[2021-10-13 00:39] kevwalsh commented on #6635
Reopening because i noticed a small error in the menu description.

[2021-10-13 01:30] kevwalsh opened #6683 "Update design principles with Veteran-facing principles."
## User Story or Problem Statement

As a member of CMS team, I want design principles to help guide the purpose of my work.

## Acceptance Criteria
- [ ] Github issue templates have been updated.
- [ ] [Design principles documentation](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/cms/cms-product-design-principles.md) has been updated.

## Implementation steps

[2021-10-13 12:42] #6591 closed

[2021-10-13 14:09] #6677 closed

[2021-10-13 15:41] ethanteague commented on #4016
Moving to blocked. See https://dsva.slack.com/archives/CT4GZBM8F/p1634139592100400?thread_ts=1634079891.085400&cid=CT4GZBM8F
@kevwalsh @swirtSJW @rachel-kauff

[2021-10-13 15:54] ElijahLynn commented on #6376
@mchelen I want to hold on this until we have a clear direction on the future of logs also going to Datadog. As right now we have a dashboard in Grafana that has metrics AND logs and if we move metrics to logs, we will have fragmentation. See this discussion with @dginther and friends > https://dsva.slack.com/archives/CJYRZK2HH/p1633553364386300.

[2021-10-13 16:46] mchelen-gov opened #6688 "[Docs] CMS Platform Team internal docs to Platform Confluence"
## Background

### User Story or Problem Statement

As a CMS Platform team member, I need internal team documentation to be stored on [Platform Confluence](https://vfs.atlassian.net/wiki/spaces/PCMS/overview), so I can find and update information needed to participate on the team.

### Affected users and stakeholders

* Members of Platform CMS team

## Acceptance Criteria
Documents that have been

[2021-10-13 17:11] swirtSJW commented on #6659
It turns out the depth was a red herring.  The issues was that some content at level 4 had bad data
There were 5 nodes across two systems that had menu items that were in the right spot on the menu, yet had not parent defined.
![image](https://user-images.githubusercontent.com/5752113/137180869-f6917d6b-2340-4c17-89ac-b5b0ca921fe9.png)

1. node/1588/edit
2. node/1587/edit
3. node/1586/edit
4. node

[2021-10-13 19:26] #6649 closed

[2021-10-13 20:13] JayDarnell commented on #6171
VAMC Facility content type - og:image: this one inherits from the content metatag definition so it is also set to use the field_media field and that field does exist on the content type. Sharing the item in slack and on facebook it appears to work but the META SEO plugin says an explicit definition is missing.

![Screen Shot 2021-10-13 at 4 13 33 PM](https://user-images.githubusercontent.com/21045

[2021-10-13 20:16] kevwalsh opened #6692 "Improve permissions experience when reassigning content with paragraphs to a new section"
## Background

In certain situations when a node is reassigned to a new workbench access sections, its paragraphs become uneditable by members of new section. We have tracked this down to a situation where the default revision of the node is Published, but the latest version is draft. The editor of the new section (user 2) cannot edit the paragraphs until either 1) one of the paragraphs is edited

[2021-10-13 20:18] JayDarnell commented on #6171
**VAMC System content type - og:image**: this one inherits from the content metatag definition so it is also set to use the field_media field and that field does exist on the content type. Sharing the item in slack and on facebook it appears to work but the META SEO plugin says an explicit definition is missing.

![Screen Shot 2021-10-13 at 4 16 37 PM](https://user-images.githubusercontent.com/210

[2021-10-13 20:38] JayDarnell commented on #6171
@kevwalsh best I can tell it looks like these images are all technically working but the og:image metatag value may not be explicitly defined on the front end. Comments above show the details for the image files. The details for the recommended description fields are in a new column in the spreadsheet. I believe this is ready for your review.

[2021-10-13 21:20] timcosgrove commented on #5818
I labeled this `accelerated publishing` because it contained an issues with that label, but I actually don't see how this relates to Accelerated Publishing per se. We should also identify if the epic is necessary.

[2021-10-13 22:03] swirtSJW commented on #6659
Closing this as it is confirmed to be caused by #6658

[2021-10-13 22:03] #6659 closed

[2021-10-14 12:48] kevwalsh opened #6695 "Training and KB updates for Vet Center and/or VAMC system services"
## User story
As a VAMC or Vet Center editor, I need to know what national information will be provided to Veterans to streamline my local information.

## Acceptance criteria
- [x] review KB articles for VAMC and Vet Center articles with national taxonomy (health services, services, etc.) (done by UX designers!)
- [x] update articles with new instructions and screenshots
- [ ] review training vid

[2021-10-14 14:41] kevwalsh opened #6696 "Staff profiles that do not have profile pages should not have a preview or VA.gov URL link"
**Describe the defect**

Only some staff profiles generate URLs on va.gov, based on the boolean "Create profile page with biography".

But the UI on the node proofing shows links to www.va.gov and preview.

[Slack thread about a broken link related to the confusino this causes](https://dsva.slack.com/archives/C0MQ281DJ/p1642793680150800)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to

[2021-10-14 15:36] JayDarnell commented on #6171
One more item of related interest: I took some time to check how feasible it is to use the site logo as the og:image in metatag and it looks like token support is currently lacking: https://www.drupal.org/project/drupal/issues/2842780

[2021-10-14 17:25] rachel-kauff commented on #6616
Mock up of different use cases w/ new label: https://www.figma.com/file/R06MIbS5jKqjZqY4UnTnTy/VA-Medical-Centers-forms?node-id=0%3A1

[2021-10-14 18:09] ndouglas opened #6698 "Inconsistent presentation of "Where Does This Appear" block"
**Describe the defect**
https://dsva.slack.com/archives/CDHBKAL9W/p1634217174062200

Original report:

URL 1: http://prod.cms.va.gov/resources/can-i-get-free-health-care-and-prescriptions-as-a-veteran

URL 2: https://prod.cms.va.gov/resources/does-va-pay-for-veterans-nursing-home-or-assisted-living-care

The "Where Does This Appear" block appears to be presenting different information to different

[2021-10-14 18:35] jefflbrauer commented on #1818
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/1818?planning-poker) with ZenHub @cweagans

[2021-10-14 18:35] jefflbrauer commented on #2466
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/2466?planning-poker) with ZenHub @cweagans

[2021-10-14 18:35] jefflbrauer commented on #2716
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/2716?planning-poker) with ZenHub @cweagans

[2021-10-14 18:35] jefflbrauer commented on #5073
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/5073?planning-poker) with ZenHub @cweagans

[2021-10-14 18:35] jefflbrauer commented on #5623
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/5623?planning-poker) with ZenHub @cweagans

[2021-10-14 18:35] jefflbrauer commented on #5717
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/5717?planning-poker) with ZenHub @cweagans

[2021-10-14 18:35] jefflbrauer commented on #5728
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/5728?planning-poker) with ZenHub @cweagans

[2021-10-14 18:35] jefflbrauer commented on #5809
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/5809?planning-poker) with ZenHub @cweagans

[2021-10-14 18:35] jefflbrauer commented on #5812
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/5812?planning-poker) with ZenHub @cweagans

[2021-10-14 18:35] jefflbrauer commented on #5818
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/5818?planning-poker) with ZenHub @cweagans

[2021-10-14 18:35] jefflbrauer commented on #6414
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6414?planning-poker) with ZenHub @cweagans

[2021-10-14 18:35] jefflbrauer commented on #6517
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6517?planning-poker) with ZenHub @cweagans

[2021-10-14 18:35] jefflbrauer commented on #6240
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6240?planning-poker) with ZenHub @cweagans

[2021-10-14 18:35] jefflbrauer commented on #6518
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6518?planning-poker) with ZenHub @cweagans

[2021-10-14 18:35] jefflbrauer commented on #6593
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6593?planning-poker) with ZenHub @cweagans

[2021-10-14 18:35] jefflbrauer commented on #6594
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6594?planning-poker) with ZenHub @cweagans

[2021-10-14 18:35] jefflbrauer commented on #6595
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6595?planning-poker) with ZenHub @cweagans

[2021-10-14 18:35] jefflbrauer commented on #6623
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6623?planning-poker) with ZenHub @cweagans

[2021-10-14 18:35] jefflbrauer commented on #6627
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6627?planning-poker) with ZenHub @cweagans

[2021-10-14 18:35] jefflbrauer commented on #6645
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6645?planning-poker) with ZenHub @cweagans

[2021-10-14 18:35] jefflbrauer commented on #6666
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VAgov-CMS-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/6666?planning-poker) with ZenHub @cweagans

[2021-10-14 18:49] kevwalsh opened #6700 "Prevent editing of page titles for VAMC and Outreach Hub listing pages"
## User Story or Problem Statement

As a VAMC editor, i should not be able to edit the page titles for certain content types that have been standardized across VA.

## Current experience

<img width="646" alt="Edit_VAMC_System_Locations_List_Locations___VA_gov_CMS" src="https://user-images.githubusercontent.com/643678/137420286-63b53c3e-fa7a-438f-913e-af23d41761df.png">

## Acceptance Criteria

-

[2021-10-14 18:50] timcosgrove opened #6701 "Demo CMS running via Lagoon"
### Description

As an engineer who wants to switch CMS hosting to containers in a relatively short time period, I would like to initiate discussions with key stakeholders to discuss and evaluate the value of Lagoon.

### Acceptance criteria

- [ ] TK

[2021-10-14 18:57] ElijahLynn opened #6702 "Get CMS logs into Datadog"
@mchelen I want to hold on this until we have a clear direction on the future of logs also going to Datadog. As right now we have a dashboard in Grafana that has metrics AND logs and if we move metrics to logs, we will have fragmentation. See this discussion with @dginther and friends > https://dsva.slack.com/archives/CJYRZK2HH/p1633553364386300.

_Originally posted by @ElijahLynn in https://githu

[2021-10-14 19:46] jefflbrauer opened #6703 "SSOi Monitoring and Alerting"

[2021-10-14 19:51] jefflbrauer opened #6704 "CMS SSOi Monitoring and Alerting"
## CMS SSOi status is monitored and CMS engineers are alerted when SSOi is down so that we can respond as quickly as possible and restore service to CMS editors.

## Acceptance Criteria
- [ ] SSOi status is monitored within CMS-controlled systems (see https://iamportal.iam.va.gov/iamv2/index.php)
- [ ] SAML signing certificates are monitored for validity
- [ ] When SSOi is down or a signing certif

[2021-10-14 21:36] #6549 closed, assigned to ethanteague, amandeepma

[2021-10-15 02:10] #6683 closed, assigned to nobody

[2021-10-15 14:10] msbtterswrth commented on #2035
seems related to https://app.zenhub.com/workspaces/vagov-cms-team-5c0e7b864b5806bc2bfc2087/issues/department-of-veterans-affairs/va.gov-cms/1871. should we make that an epic and move this under 1871?

[2021-10-15 15:31] ndouglas commented on #6698
As mentioned [here](https://dsva.slack.com/archives/CDHBKAL9W/p1634311281074600?thread_ts=1634217174.062200&cid=CDHBKAL9W), this may have disappeared after a day.  That's... not really reassuring.

[2021-10-15 18:01] msbtterswrth commented on #5885
As a note, there's a purely css way to handle this assuming we're formatting in utf-8:
`* { quotes: "\201C" "\201D" "\2018" "\2019";} `

[2021-10-16 03:25] swirtSJW opened #6710 "Investigate publishing of outdated CMS content"
## Description

## Acceptance Criteria
- [ ] Testable_Outcome_X
- [ ] Testable_Outcome_Y
- [ ] Testable_Outcome_Z
- [ ] Requires design review

### CMS Team

Please leave only the team that will do this work selected. If you're not sure, it's fine to leave both selected.

- [x] `Platform CMS Team`
- [x] `Sitewide CMS Team`

[2021-10-18 13:25] indytechcook opened #6711 "Test and Review Front end content deploy in GitHub Actions"
## Description

The front end content deploy is being moved to Github actions. As of 10/18/21 the staging version of va.gov will be using Githbu Actions to deploy.  This ticket is to review and test the deploy on staging.

## Acceptance Criteria
- [x] Manual Content Release triggers a GHA deploy
- [x] Content changes are seen on staging.
- [x] Broken Links arereported to the `vfa-platform-builds`

[2021-10-18 21:25] indytechcook commented on #6491
I moved the research to https://vfs.atlassian.net/wiki/spaces/PCMS/pages/1937932334/Implementing+APIs+in+Drupal

[2021-10-18 22:04] swirtSJW commented on #6710
@kevwalsh I see you added the critical defect label.  Do we want to use that if the defect is outside of our system?  There was no point of failure in the CMS system.

[2021-10-18 23:02] ElijahLynn commented on #6252
Asked here > https://dsva.slack.com/archives/CT4GZBM8F/p1634598141312900?thread_ts=1634594786.312400&cid=CT4GZBM8F

[2021-10-19 00:22] kevwalsh opened #6714 "Staff profile paragraphs missing their first name / last name"
**Describe the defect**
First name and last name are missing on staff profiles placed on various care coordinator pages

Reported in [this slack thread.](https://dsva.slack.com/archives/CDHBKAL9W/p1634588207081100) on October 18.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.va.gov/sierra-nevada-health-care/health-services/suicide-prevention/
2. There should be a first na

[2021-10-19 13:48] ndouglas opened #6718 "Evaluate whether file descriptor limit needs to be raised again for Tugboat containers"
## Description
The limit on the number of open file descriptors was previously bumped in #4974 to 8192.  The build process in [this PR](https://github.com/department-of-veterans-affairs/va.gov-cms/pull/6709) failed when it exceeded this limit.  A replay failed for a different reason, and subsequent PRs bumping `content-build` have succeeded.

Nevertheless, it may be necessary to increase this limi

[2021-10-19 17:12] tjheffner opened #6719 "Onboarding: Tanner Heffner"
# Welcome to the VFS-CMS Team! 👋
We're thrilled to have you join us on this journey! 🎆🎉🙌

Our vision is to build and maintain a best-in-class Content Management System that meets the needs of editors, application development teams, and consuming applications in order to empower our users to help Veterans.

The onboarding materials below are organized by 1) chronological time to complete (day one,

[2021-10-19 17:57] mmiddaugh opened #13389 ""Active service member care" - Vet Center taxonomy"
## Issue Description
This issue to collect possible edits/additions to the Vet Center taxonomy

### Changes to consider
- Should telehealth be required?
- New taxon for `Active service member care`
  - to be used for transitions before/during deployment
  - impact on families
  - unique to Vet Centers
  - should emphasize confidential nature -> cannot be shared with command without service member'

[2021-10-19 17:57] #6376 closed

[2021-10-19 18:13] mmiddaugh opened #13390 "PM: Implement Medallia on Vet Center pages"
## Issue Description
We'd like to track Veteran satisfaction on Vet Center pages
Jessica/RCS may have access to VHA Medallia/CSAT implementation

---
## Tasks
- [x] does the existing survey for va.gov fire for vet centers; IF yes share with Jessica Schiefer (Primary Vet Center Stakeholder) IF no, determine next steps to get this going
- [x] Work with Jessica Schiefer (Primary Vet Center Stakeholde

[2021-10-19 20:04] ENeal49 opened #6720 "Onboarding: Elizabeth Neal"
# Welcome to the VFS-CMS Team! 👋
We're thrilled to have you join us on this journey! 🎆🎉🙌

Our vision is to build and maintain a best-in-class Content Management System that meets the needs of editors, application development teams, and consuming applications in order to empower our users to help Veterans.

The onboarding materials below are organized by 1) chronological time to complete (day one,

[2021-10-19 20:21] ContentBrewmaster opened #6721 "Onboarding: Denise Eisner"
# Welcome to the VFS-CMS Team! 👋
We're thrilled to have you join us on this journey! 🎆🎉🙌

Our vision is to build and maintain a best-in-class Content Management System that meets the needs of editors, application development teams, and consuming applications in order to empower our users to help Veterans.

The onboarding materials below are organized by 1) chronological time to complete (day one,

[2021-10-19 21:07] kevwalsh opened #6724 "Title is missing on staff profiles placed on various care coordinator pages"
**Describe the defect**
Title is missing on staff profiles placed on various care coordinator pages

Reported in [this slack thread.](https://dsva.slack.com/archives/CDHBKAL9W/p1634588207081100) on October 18.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.va.gov/sierra-nevada-health-care/health-services/suicide-prevention/
2. There should be a title

**Expected behavior**

[2021-10-19 21:26] swirtSJW opened #6725 "Make links in fetched paragraphs show the path"
## Description
As a front end engineer I need the path of a link field to be returned in fetched content rather than the internal uri so that I can build links accordingly.
Related discussion: https://dsva.slack.com/archives/C0FQSS30V/p1634656192322600
GraphQL on a link field returns
[code]

But when drupal returned the fetched data it looks like
[code]

Concerns:  The alias lookups should be as p

[2021-10-20 13:41] kevwalsh opened #6729 "Vet Center nodes should not appear on the Satellite Locations list"
## Describe the defect

## To Reproduce
Steps to reproduce the behavior:
1. Go to https://staging.cms.va.gov/section/veterans-health-administration/vet-centers/atlanta-vet-center
2. See Atlanta Vet Center in the Satellite Locations List

## Expected behavior
The main Vet Center should not show.

## Screenshots
If applicable, add screenshots to help explain your problem.

![Screenshot_2021-10-19__3

[2021-10-20 13:43] #6669 closed, assigned to ethanteague

[2021-10-20 15:38] ndouglas opened #6734 "Add documentation for pre-commit hook."
## Description
This can be confusing to new developers.  We should document it.

## Acceptance Criteria
- [ ] Testable_Outcome_X
- [ ] Testable_Outcome_Y
- [ ] Testable_Outcome_Z
- [ ] Requires design review

### CMS Team

Please leave only the team that will do this work selected. If you're not sure, it's fine to leave both selected.

- [x] `Platform CMS Team`
- [x] `Sitewide CMS Team`

[2021-10-20 15:55] kevwalsh opened #6736 "Improve Vet Center dashboard"
## Background

### User Stories / Problem Statement

Research from #6553 yielded a number of insights: [Insert link to synthesis artifact.]

Other known stories, not from usability research (this list is incomplete):
- As a Vet Center editor, i want know which of my facilities is archived (and therefore not visible on va.gov), particularly CAPs
- As a Vet Center editor working on draft content (su

[2021-10-20 17:08] cmaeng opened #6737 "Review and update KB for upcoming VC launches"
## Description
With new VC users coming on board, helpdesk folks want to make sure that KB articles are sufficient to guide them through what they need.

As a VC editor, I need authoritative guidance on how to use the CMS, so that I can do my job efficiently and effectively.

## Acceptance Criteria
- [ ] All VC KB articles have been reviewed and updated as needed by the helpdesk crew
- [ ] Michell

[2021-10-20 21:49] swirtSJW opened #6738 "Investigate phpUnit memcache limitation."
## Description
With the addition of the test in this PR https://github.com/department-of-veterans-affairs/va.gov-cms/pull/6647 we add 400 permution/iterations of the test of facility status push logic.
vagov/tests/phpunit/Content/FacilityStatusQueueTest.php
The test runs fine in isolation and has 400 successful iterations, BUT when run with all the phpunit tests en mass, it causes repeated memcach

[2021-10-21 13:05] kevwalsh opened #6743 "CSV export of users should not report Last access as "Never", not 1969"
## Describe the defect

## To Reproduce
Steps to reproduce the behavior:
1. Go to /admin/people
2. Export a list of users using the CSV link at the bottom.
3. See that users with last access never is reported as Unix time 0 in date format.

## Expected behavior
Last access should be reported as "Never", not 1969.

## Screenshots
![image](https://user-images.githubusercontent.com/643678/138283170-8

[2021-10-21 14:31] valerierunde opened #6746 "Onboarding: Valerie Runde"
# Welcome to the VFS-CMS Team! 👋
We're thrilled to have you join us on this journey! 🎆🎉🙌

Our vision is to build and maintain a best-in-class Content Management System that meets the needs of editors, application development teams, and consuming applications in order to empower our users to help Veterans.

The onboarding materials below are organized by 1) chronological time to complete (day one,

[2021-10-21 14:50] #6724 closed, assigned to amandeepma

[2021-10-21 14:55] kevwalsh opened #6747 "Move required Vet Center service to the bottom of the Vet Center fieldgroup on edit and view"
## Describe the defect

Followup from #6638

The "This is a required Vet Center service" boolean is hanging out on its own, lonely.

## To Reproduce
Steps to reproduce the behavior:
1. Go to https://prod.cms.va.gov/taxonomy/term/47/edit?destination=/admin/structure/taxonomy/manage/health_care_service_taxonomy/overview
2. See "This is a required Vet Center service"

## Expected behavior
It should a

[2021-10-21 16:42] #6738 closed

[2021-10-21 17:28] kevwalsh opened #6749 "Add "Required Vet Center service" and "Number of Vet Center facilities with service" to the health service dashboard"
## User Story or Problem Statement

As a manager of VHA services, i want a report of what services are required, and how many Vet Centers currently offer that service, so that i can evaluate any changes that may need to be made.

## Acceptance Criteria

1. "Required Vet Center service" field
- [ ] https://prod.cms.va.gov/vha-health-services has a new column added called "Required Vet Center servic

[2021-10-21 19:09] #6642 closed, assigned to kevwalsh

[2021-10-21 20:44] rachel-kauff opened #6751 "Claro change management"
The MVP for a CMS design system is to implement the Drupal admin theme Claro. Our users will likely experience this as a big change, since the look and feel of the system will change significantly. Before we can launch, we need a change management plan + roadmap that covers:
- User communications before and after launch
- Coordination with the facilities team
- Help desk - awareness for Stef and C

[2021-10-21 21:01] rachel-kauff opened #6753 "Pre-launch design adjustments to Claro"
## Background

Before we can launch Claro as the MVP/base on which we'll build a CMS design system, we need to make design adjustments to the design patterns/components we've identified as most problematic via the #issue gap analysis.

Outcome: As a CMS user, I can see that the look and feel of the CMS has changed, but on the whole those changes have either neutral or positive impact on my satisfa

[2021-10-21 21:26] rachel-kauff opened #6754 "VAgovClaro launch [Sprint 52?]"

[2021-10-21 21:30] rachel-kauff opened #6755 "Mob heuristic session - compare vagovadminto vagovclaro"
**User story**
As a CMS user, I can see that the look and feel of the CMS has changed, but on the whole those changes have a neutral or positive impact on my satisfaction and ability to use the cms.

We need to identify any changes we need to make in order to deliver a usable, satisfactory new "look and feel" to our users.

We'll use this AT framework to document our session: https://airtable.com/

[2021-10-22 03:23] #6729 closed

[2021-10-22 04:53] swirtSJW opened #6759 "Make audit tool Views available"
## User Story or Problem Statement

As an audit tool user, I need to be able to get to my audit tools so I can audit stuff.

or

Currently our audit tools are hidden unless you know the specific url
These two audit tools

![image](https://user-images.githubusercontent.com/5752113/138394909-1e7a2c9d-787b-4abf-a8b5-2587a17051bb.png)

Do not appear in the menu of other Views.
The ideal results would

[2021-10-22 04:58] #6455 closed

[2021-10-22 11:09] #6747 closed, assigned to ethanteague

[2021-10-22 12:36] ethanteague opened #6761 "Media help text being moved to unrelated fieldset on VC form"
## Description
When viewing `node/3702/edit` as a non-admin, Facility Photo fieldset helptext is being moved and appended to the innerHTML of a tooltip div.

## Fix
Tighten up selector query to only target tooltip-divs

## AC's
 - [ ] As a non-admin, go to `node/3702/edit` and visually verify Facility Photo fieldset helptext appears in Faciltiy Photo fieldset

[2021-10-22 21:22] #6761 closed, assigned to ethanteague

[2021-10-25 00:03] #6636 closed

[2021-10-25 00:04] #6714 closed, assigned to ethanteague, amandeepma

[2021-10-25 00:26] kevwalsh commented on #4028
@rachel-kauff @davidconlon  @ethanteague @swirtSJW

I'm happy to be closing this epic.

[2021-10-25 00:26] #4028 closed

[2021-10-25 00:47] kevwalsh commented on #6645
@jefflbrauer I removed @cweagans from planning poker, this is a Sitewide CMS team issue. We welcome Cameron's involvement, but i have a feeling you meant to put your last comment on a different issue.

[2021-10-25 01:04] kevwalsh opened #6767 "Sitewide CMS team - Sprint 44 priorities"
<details><summary>Background</summary>

🥅   — Sprint goals (pending Sprint planning)
💧  — Drupal engineering
🎓  — Training / Change management / KB
📟 — Helpdesk
💡 — Design
🔮  —  Planning / roadmap / epic refinement
📊  —  Analytics
🚰  — Service design
🌱 — Good first task

* First full sprint for Tanner
* Iván, Denise, Val onboarding but will pick up work week 2ish.
* Cindy (interaction designer) st

[2021-10-25 03:59] kevwalsh opened #6768 "Qualitative / Quantitative audit of Care we provide fields"
## User Story or Problem Statement

See #4799

## Acceptance Criteria

- [x] [~6000 VAMC system health service nodes](https://prod.cms.va.gov/admin/content/audit/vamc-system-service-audit) have been audited for various patterns
  - [ ] Nodes that follow original content design
  - [ ] Nodes that deviate from original content design
    - [ ] Are missing the "Care we provide at [Health care system]

[2021-10-25 04:04] kevwalsh opened #6769 "Mobile VHA clinics - Discovery / Knowledge Transfer"
## User Story or Problem Statement

See https://github.com/department-of-veterans-affairs/va.gov-team/issues/21781

## Acceptance Criteria
- [ ] Facilities research is absorbed by Product Support workstream,
  - [ ] including content model needs,
  - [x] Veteran user stories,
  - [ ] business analysis,
  - [ ] editor user stories.
- [ ] Scope of upcoming/first iteration mobile clinics is defined
-

[2021-10-25 04:11] kevwalsh opened #6770 "Remove endpoints for VAMCs going to full prod week of Oct 25 2021"
## User Story or Problem Statement

After VAMCs go to full prod launch (redirects removed), remove the operating status endpoint migration for those systems.

- [x] Batch A that from Oct 20th
www.annarbor.va.gov
www.battlecreek.va.gov
www.bronx.va.gov
www.centraliowa.va.gov
www.detroit.va.gov
www.iowacity.va.gov
www.miami.va.gov
www.tuscaloosa.va.gov

- [x] Batch B from Oct 27
https://www.va.gov/a

[2021-10-25 04:41] kevwalsh opened #6771 "Migrate facility health service data for Lovell"
## Acceptance Criteria
- [ ] Lovell health service data is on prod

### CMS Team

Please leave only the team that will do this work selected. If you're not sure, it's fine to leave both selected.

- [ ] `Platform CMS Team`
- [x] `Sitewide CMS Team`

[2021-10-25 12:58] kevwalsh opened #6772 "Audit rich text fields for what text formats are allowed ("Full" vs "Limited")"
## User Story or Problem Statement

The first two products (Benefits Hubs, Outreach Hub, and VAMC) were built with a "Full HTML" editor

We then built a "Limited HTML" text format and editor, which does not offer headings or Styles, for the R&S. We want to shift as much as possible to the Limited HTML editor.

First, we need an audit of existing rich text fields for what configuration exists

## A

[2021-10-25 13:38] #6667 closed, assigned to cmaeng

[2021-10-25 13:41] #6488 closed, assigned to cmaeng, amandeepma

[2021-10-25 13:42] #6676 closed, assigned to ndouglas

[2021-10-25 13:57] kevwalsh opened #6774 "Write proposal to improve logic for when broken link checker should fail content release"
## User Story or Problem Statement

### Historical

When all content was code, one broken link was enough to fail the build.

### Current state:

In Q1 2021, we started failing the build only when there were mroe there are 10 broken links. It doesn't matter how many pages have broken links.

### Proposal (rough version)

Now that we have tens of thousands of CMS-supported pages and 600 active CMS

[2021-10-25 14:02] xiongjaneg opened #6775 "update Vet Center trainings to align with Q3 Jira tickets"
## User story
As a Vet Center editor, I need clear and easy to use guides to help me provide accurate and timely information to Veterans and active duty service members.

## Acceptance criteria
- [x] review Vet Center tickets from Q3
- [x] review current Vet Center articles for alignment
- [ ] update trainings as needed
- [ ] caption trainings
- [ ] publish and link to trainings

[2021-10-25 15:30] xiongjaneg opened #6779 "update training and Knowledge Base articles to align with automated/required Vet Center services"
## User story
As a Vet Center editor, I need to provide accurate and timely information about services provided at my Vet Center to Veterans and active duty service members.

## Acceptance criteria
- [x] review UI changes to Vet Center services
- [x] review related current training and Knowledge Base articles for alignment
- [x] update Knowledge Base articles as needed
- [x] updated training video

[2021-10-25 15:45] xiongjaneg opened #6780 "Update Knowledge Base articles for updates to list type page titles"
## User story
As an editor, I need to be aware of the list page titles that I can and cannot edit so I can provide timely information to Veterans.

## Acceptance criteria
- [x] review updates to UI regarding page title lockdown
- [x] review training videos and Knowledge Base articles for alignment with updates
- [x] update and publish articles

[2021-10-25 19:32] kevwalsh opened #6781 "KB article: how to remove a facility from a VAMC system"
## User Story or Problem Statement

When a facility is no longer in VAST, CMS takes no action. The facility stays open. That will change with #4856, but in the meantime, we need to let editors know what they should do i a facility is closed, which is to contact CMS help desk.

## Acceptance Criteria

- [ ] Knowledge Base article is created.
- [ ] Validated with @davidconlon and possibly Lighthouse

[2021-10-25 20:30] xiongjaneg opened #6784 "update training and Knowledge Base to align with Call to Action updates"
## User story
As an editor, I need to provide accurate and timely information to Veterans and active duty service members.

## Acceptance criteria
- [x] review updates to Call to Action in Campaign Landing Page materials
- [x] update and publish updated article
- [x] sent updated product guide to Brian Lloyd to upload to governance page on Github
- [x] update training video
- [x] caption training

[2021-10-25 20:32] #6248 closed, assigned to indytechcook

[2021-10-25 20:37] kevwalsh opened #6785 "Document request fulfillment process for removing facilities from health care system."
## User Story or Problem Statement

See #6781, which will increase requests to help desk to remove facilities from their health care system.

As a help desk manager, i need to understand how to process requests from users to remove a facility from a VAMC system.

It will involve using Facility Locator as a source of truth.

## Acceptance Criteria
- [ ] Business request fullfilment process is docum

[2021-10-25 20:38] timcosgrove opened #6786 "Accelerated Publishing: Front-end architecture"
## Background
Front end consumers of the Content API will need standardized ways of receiving data from the API, and of structuring front-end routing and logic.

### User Story or Problem Statement

<As a _____, I need _____ so I can _____.>

_or_

<Problem description. How might we _____________ ?>

### Affected users and stakeholders

* CMS_editors_of_X_product
* Developers of Y teams

<link to

[2021-10-25 21:19] #6249 closed, assigned to nobody

[2021-10-25 23:51] cweagans opened #6789 "Add ddev as another local environment system"
## Description

[ddev](https://github.com/drud/ddev/) is a lightweight local development environment for Drupal and other CMSes. I've found it to be a little more approachable than Lando + it has some nice quality of life features (such as a built-in mutagen integration to make macOS users happy with filesystem performance).

For the time being, we shouldn't switch anything critical over to use dd

[2021-10-26 16:22] timcosgrove opened #6794 "Public Content API: API gateway"
## Background

### User Story or Problem Statement

As a VA.gov front end developer, I would like CMS content to be publicly available, so that I can create client-side applications that can access the latest CMS data.

As a person maintaining VA.gov security and infrastructure, I would like the Content API to be available through a known and vetted gateway, so that I can be sure the API is expose

[2021-10-26 17:44] RyGuy0213 opened #6795 "Onboarding: Ryan Koch"
# Welcome to the VFS-CMS Team! 👋
We're thrilled to have you join us on this journey! 🎆🎉🙌

Our vision is to build and maintain a best-in-class Content Management System that meets the needs of editors, application development teams, and consuming applications in order to empower our users to help Veterans.

The onboarding materials below are organized by 1) chronological time to complete (day one,

[2021-10-26 18:09] JayDarnell opened #6796 "The CSV export functionality for the VAMC system service audit tool is missing rich text field"
## Describe the defect

The new VAMC System Service Audit tool is located at /admin/content/audit/vamc-system-service-audit and includes a link to a CSV export at the bottom. However, when you click the CSV export button the generated CSV file does not include the VAMC System Description of Service field. We should update this export to include the missing rich text field.

## To Reproduce
As an a

[2021-10-26 22:09] swirtSJW opened #6800 "FE Displays events that are currently in progress as Past"
## User Story or Problem Statement
As a content editor in the CMS I would like to create an event that spans  multiple days and have appear on va.gov as upcoming until after the end date has passed.  So that veterans have better insight into what events are happening presently and in the future.

As a veteran using va.gov, I would like events not to appear as past events, if they still going on, s

[2021-10-26 23:08] mmiddaugh opened #9503 "Check for test coverage related to Facility Locator result header"
## Issue Description
This issue follows the work in department-of-veterans-affairs/va.gov-team#11149

## Tasks
Check for test coverage on the following functionality for the Facility Locator result header

- [x] When the user goes to different page of results, the display number updates
- [x] If the user initiates a new search, the display number updates
- [ ] Veterans using screen readers underst

[2021-10-26 23:48] ElijahLynn opened #6801 "Some engineers reporting "SSL certificate problem: certificate has expired" on "composer update/install""
Originally reported here by @ethanteague: https://dsva.slack.com/archives/CT4GZBM8F/p1634846920044500

I see related threads here:
- https://github.com/lando/lando/issues/3162
- https://github.com/hiqdev/asset-packagist/issues/140
- https://github.com/lando/lando/issues/3164

And @ndouglas suggested this is related to:
- https://medium.com/@BraunDoug/lets-encrypt-ssl-security-errors-starting-on-se

[2021-10-27 03:30] kevwalsh opened #6803 "Revisions tab is broken for a VAMC facility (possibly others?)"
## Describe the defect
[See ensuing slack thread](https://dsva.slack.com/archives/CT4GZBM8F/p1635305579417200)

## To Reproduce
Steps to reproduce the behavior:
1. Go to https://prod.cms.va.gov/node/1653/revisions
2. See that there are no revisions selectable

## Expected behavior
I should see all revisions, so i can see what changed.

## Screenshots

List of revisions on right sidebar, but empty

[2021-10-27 13:43] indytechcook opened #6804 "Not all errors are showing in sentry"
## Description

Not all watchdog errors are showing in Sentry.

The following error was logged in watchdog but not in sentry.

![image.png](https://images.zenhubusercontent.com/543e76bb7c6ccc6277a54276/ccb7a78e-10d7-4a46-b075-6106c12d5255)

## Acceptance Criteria
- [ ] When an error occurs in Drupal, it should be logged in Sentry

[2021-10-27 13:55] #6796 closed, assigned to JayDarnell

[2021-10-27 14:10] indytechcook opened #6805 "Content Build Information Migrated to Github Actions"
## Description

Currently, the content-build stats on Grafana are being pulled by parsing the Jenkins logs.  With the migration to Github Actions, the Jenkins is being deprecated and the logic need to move to the Github Action.

![image](https://user-images.githubusercontent.com/121603/139082220-52ef2358-43f8-4a93-87b2-49bd35a06c5d.png)

Slack: https://dsva.slack.com/archives/C02HX4AQZ33/p16352684

[2021-10-27 15:28] xiongjaneg opened #6806 "CLP training and KB post-MVP iteration"
## User story
As a CLP editor, I need to be able to provide timely an accurate information to Veterans about a time-bound campaign.

## Acceptance criteria

[2021-10-27 15:33] #6801 closed, assigned to ElijahLynn

[2021-10-27 17:05] chriscraiga6 opened #6807 "Identify existing processes and workflows that involve VAMC Upgrade team"
## User story
As a helpdesk team member, I need to know the processes and workflows for how VAMC Upgrade team supports VAMC editors so that editors will continue to be supported after the Upgrade team transition.

As a VHA Digital Media team member, I need to know the process for supporting VAMC editors in partnership with the helpdesk.

Definition of done = identifying existing processes, not nec

[2021-10-27 17:05] chriscraiga6 opened #6808 "Analyze ticket data that involve VAMC Upgrade Team for VHA DM to collaborate on"
## User story
As a VAMC editor, I need timely support to provide accurate information to Veterans.

As a helpdesk team member, I need to understand what support the VAMC Upgrade Team used to provide to VAMC editors so I can support editors.

As a VHA Digital Media team member, I need to understand how to support VAMC editors after the Upgrade team transitions support to my team.

## Acceptance cri

[2021-10-27 17:07] kevwalsh opened #6809 "Add Service filter and field to VAMC System Health Service Description field audit view"
## User Story or Problem Statement

As a content strategist auting the content of VAMC system health services, i want to be able to filter by taxonomy term so that i can look at content variance across System for each term, so that i can identify opportunities for content model changes, nationalizing content, guidelines, training, etc.

## Acceptance Criteria
- [x] Filter by taxonomy term
- [x] Ad

[2021-10-27 17:53] msbtterswrth opened #6812 "Create an audit tool for Rich Text editors thoughout content types"
## Description
We need to be able to audit content within long text, formatted fields to see if they contain unwanted markup such as headings, buttons, address blocks.. etc.

## Acceptance Criteria
- [ ] Users can filter by content type
- [ ] Users can see the output of long text, formatted fields in the report
- [ ] Users can export the report
- [ ] ???

### CMS Team

Please leave only the team t

[2021-10-27 18:58] xiongjaneg opened #6814 "Facilities: update training and Knowledge Base to align with "featured" improvements"
## User story
As an editor, I need to know how to prioritize featured content to share with Veterans.

Any existing KB articles that mention Featuring should be updated to reflect:
* Deprecation of the old mechanism
* How to use the new mechanism

This story may need to become an epic to track individual KB edits / approvals / publishing, tbd refinement.

**Relevant KBs:**
* https://prod.cms.va.go

[2021-10-27 19:46] swirtSJW opened #6815 "Improve reporting / logs for GovDelivery errors"
## Describe the defect
Just getting this in for now... will update more
https://dsva.slack.com/archives/C02HX4AQZ33/p1635342345071300

## To Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior
A clear and concise description of what you expected to happen.

## Screenshots
If applicable, add screenshots to help exp

[2021-10-27 21:55] rachel-kauff opened #6816 "Make relationship between hours and operating status more clear"
# Background
Usability research on Vet Center dashboards surfaced some questions about the relationship between a facility's hours and its operating status. We have reason to believe that the relationship isn't clear to editors, and could potentially confuse end users.

We also heard from the facilities team that there needs to be more guidance about how to approach operating status details conten

[2021-10-28 02:36] kevwalsh opened #6821 "Remove drag and drop paragraph UI for paragraph fields that only have one allowed value."
## User Story or Problem Statement

 As a user who has added a paragraph to a single value paragraph field, i should not see any interface related to dragging and dropping, because it's useless and doesn't make sense.

![Create_Campaign_Landing_Page___VA_gov_CMS](https://user-images.githubusercontent.com/643678/139176328-a0e40919-684f-47c9-8d44-99472a144e3c.png)

## Acceptance Criteria
- [ ] All E

[2021-10-28 13:47] chriscraiga6 opened #6825 "Create a process for inactive users to ensure account security"
## User Story or Problem Statement

As a CMS Team member providing Helpdesk support, I want to be able to establish a process to ensure account security.

## Acceptance Criteria
- [x] Export a list of all users within Drupal CMS Production Environment
- [x] Identify which users have not logged in to their account in over 6 months
- [x] Establish a 1st contact e-mail message to inform users their a

[2021-10-28 17:07] kevwalsh opened #6828 "Convert VAMC system service descriptions to "Rich text Limited""
## User Story or Problem Statement

The audit in #6768 revealed opportunities for improvements to make the content more acessible and usable.

When we run the script from #6456 to strip out `"<h3>Care we provide at [health care system]</h3>"` we have some other hardening work to do
- [ ] Convert the rich text to rich text limited

19 `<h2>`s  - these cause accessibility and usability problems
5822

[2021-10-28 19:38] #6701 closed

[2021-10-28 21:04] swirtSJW opened #6833 "Alert on failed govDelivery Bulletins push"
## User Story or Problem Statement

As a CMS maintainer I would like to know when a govDelivery Bulletins push fails so that I can assess and take action if needed.

related to https://github.com/department-of-veterans-affairs/va.gov-cms/issues/6815

## Acceptance Criteria
- [ ] When the push attempt throws an error like
[code]
![image](https://user-images.githubusercontent.com/5752113/139335166-8

[2021-10-28 22:07] #6815 closed, assigned to swirtSJW

[2021-10-28 22:24] rachel-kauff opened #6834 "Interaction design for tooltip component"
# Background
Our existing tooltip patterns need a lot of finessing, and we think it's best addressed later in cms design system customization.

**Problems with our current tooltips:**
- Breakpoints need consideration
- Balloon should appear to the right instead of the left. It's covering the content with the current implementation.
- It's not very pretty - color / icon size needs consideration
- W

[2021-10-29 15:08] JayDarnell opened #6836 "Add Metatag audit tool"
## User Story or Problem Statement

We do not currently have a mechanism for quickly identifying nodes with empty metatag definitions. With the metatag module we define metatag defaults for all content and for each individual content type. With issue #6646 we made some updates to fix some of the broad gaps previously identified but there could still be gaps due to the fact that some of the fields

[2021-10-29 17:13] kevwalsh opened #6837 "Add form validation to guard against bad links"
## User Story or Problem Statement

We've seen a lot of links to internal VA domains. Broken link tests (such as node link report or the one in the content build) cannot catch these, because those tests operate within the VA network and can access those links fine. We can't easily build tools that can reproduce the conditions outside the work and provide feedback inside the network.

**User story*

[2021-10-29 17:19] kevwalsh opened #6838 "Generate list of internal-to-VA networks for which editors should receive warnings or errors"
ACs
* develop list of URLs that are not available outside the network
* This list does not need to be exhaustive, this is just a start.

Candidate URls
* hbexplorer.vacloud.us
* any va.gov URL that starts with `vaww.`

[2021-10-29 17:19] kevwalsh opened #6839 "Develop business process for maintaining list of internal-to-VA networks"

[2021-10-29 17:25] kevwalsh opened #6840 "Error/warning message design for non-desired internal VA URLs"

[2021-10-29 17:26] kevwalsh opened #6841 "Proof of concept implementation for form invalidation or content warning"

[2021-10-29 17:28] kevwalsh opened #6842 "Implement designs for providing editor feedback (warnings or errors) for internal VA links"

[2021-10-29 17:38] jefflbrauer opened #6843 "Calculate % of VA.gov pages that are managed by Drupal"
###Context

As part of our sitewide crew onsite meeting around content strategy and IA, we would like to discuss the various problems and opportunities we see around content strategy and better alignment between CMS content model and front end components. As part of the deck we assemble for this conversation, we would like to have a real % of pages on va.gov that are managed by Drupal.

### Tasks:

[2021-10-29 18:31] #6720 closed

[2021-10-29 18:31] #6721 closed

[2021-10-29 18:31] #6746 closed

[2021-10-29 18:31] #6670 closed

[2021-10-29 18:31] #6719 closed

[2021-10-29 18:31] #6668 closed

[2021-10-29 18:31] #6611 closed

[2021-10-29 18:31] #6795 closed

[2021-10-29 18:38] #6188 closed

[2021-10-29 18:50] indytechcook opened #6844 "Enable GHA for Manual Release in Production"
## Description

Enable GHA for Manual Release in Production

## Acceptance Criteria
- [ ] Production Manual Release button uses GHA to publish content to va.gov

[2021-10-29 19:22] swirtSJW commented on #1963
Closed via https://github.com/department-of-veterans-affairs/va.gov-cms/pull/6810

[2021-10-29 19:22] #1963 closed

[2021-10-29 19:25] swirtSJW commented on #6772
I am not sure if this is fully closed by https://github.com/department-of-veterans-affairs/va.gov-cms/pull/6810  as it seems to have some other AC's

[2021-10-29 20:01] #6772 closed

[2021-10-29 20:59] swirtSJW commented on #6837
It would be very nice if this could be a contrib module.  Basically a module with a bunc of validation constraints that can be turned on and off in UI and some fields for adding "never link" domains.

 I thought about having it added to the node link_report_module, but that expands the module's concern from reporting, to validating, which then makes it a lie.

[2021-10-30 03:13] swirtSJW commented on #6725
Patch submitted to the Drupal.org issue and released.
https://www.drupal.org/project/entity_field_fetch/releases/1.0.0

When it lands on prod it will make the data look like

[code]

[2021-10-31 03:30] #6725 closed

[2021-11-01 12:33] kevwalsh opened #6849 "Replace IEF for facility status on Operating Status form."
## User Story or Problem Statement

As an editor of Operating Status, i want to see my facilities' operating status all in one place, with links to edit them, but i don't want the added confusion of an "inline entity form".

The entity reference field on VAMC Operating Status has been depracated on the FE by https://github.com/department-of-veterans-affairs/content-build/pull/710 (but we assume th

[2021-11-01 13:38] ndouglas commented on #6674
I'm blocked on moving _much_ forward by the outgoing Git/SSH issue, but I can move forward with other things...

## EFS
I created an EFS filesystem `dsva-vagov-lagoon-dev-cms-efs` and created it with the following command:

[code]

This created a storage class with the name `lagoon-bulk`.  Easy enough.

That does nothing to unblock me with regard to Git/SSH, though, and I still need to figure out

[2021-11-01 15:03] indytechcook commented on #6844
Related: https://github.com/department-of-veterans-affairs/va.gov-team/issues/24193

[2021-11-01 15:08] indytechcook opened #6852 "Update Documentation for Manual Content Release"
## Description

The documentation for how a manual content release is manually triggered outside Drupal is changing.   The CMS team should know how to trigger a content release without using jenkins.

### Current State:

Trigger Jenkins Job: http://jenkins.vfs.va.gov/job/deploys/job/vets-gov-autodeploy-content-build/

### New State:
Run Github Action Workflow: https://github.com/department-of-vete

[2021-11-01 15:09] indytechcook commented on #6844
Follow up documentation ticket: https://github.com/department-of-veterans-affairs/va.gov-cms/issues/6852

[2021-11-01 15:10] SKasimow commented on #5863
@chriscraiga6 yes, closed

[2021-11-01 15:10] #5863 closed

[2021-11-01 15:37] mchelen-gov commented on #6789
Can we pick either DDEV or Lando so that all developers are using matching tooling?

[2021-11-01 17:11] indytechcook commented on #4101
I'd be interested in following up with having the uuid in the html of the build where the entityId is.

[2021-11-01 17:38] olivereri commented on #6289
# VA.gov-CMS Default Branch Rename

## Purpose

In an effort to use more inclusive language in technology and recognizing that words have meaning and connotation beyond how they are used technically, VA.gov-CMS repository will change the default branch name from `master` to the generally accepted `main`.

## Changes to Tugboat Previews

Once the default branch is renamed the `master` branch will e

[2021-11-01 17:46] kevwalsh commented on #6769
[Recording of K/T held Thursday Oct 28](https://us06web.zoom.us/rec/share/PxurXWG8wDyjFH9uF6XBiQroBVwvcBR3mZ73UCNNlvwEO_8R-ZlmYSA5Xhc0Vyw8.EWaE6lK8iRsfhjFe?startTime=1635444344000)

[2021-11-01 17:47] mchelen-gov commented on #6789
@cweagans please create followup ticket for DDEV/Lando decision

[2021-11-01 18:32] mchelen-gov opened #6853 "Delete inactive GH teams"
## Description

Active
https://github.com/orgs/department-of-veterans-affairs/teams/vfs-cms-team
https://github.com/orgs/department-of-veterans-affairs/teams/vfs-cms-team-infrastructure
https://github.com/orgs/department-of-veterans-affairs/teams/cms-infrastructure

Inactive
https://github.com/orgs/department-of-veterans-affairs/teams/vfs-cms-team-core
https://github.com/orgs/department-of-veteran

[2021-11-01 18:36] kevwalsh commented on #5462
We may want to merge this into #6837

[2021-11-01 18:40] mchelen-gov commented on #6853
i can't find any place where https://github.com/orgs/department-of-veterans-affairs/teams/vfs-cms-team-infrastructure is being used

[2021-11-01 18:59] mchelen-gov commented on #6853
related: https://github.com/department-of-veterans-affairs/va.gov-cms/issues/2981

[2021-11-01 19:01] mchelen-gov opened #6854 "Request CMS engineer IAM role/group"
## Description

- all perms from `dsva-vfs-developers`
note: bucket permissions need to be updated for the vets-website / content-build separation i think

- SSH access to cms and cms-test servers
- S3 access to cms and content build buckets
- cloudwatch/cloudfront metrics
- ssm for the cms resource tags

## Acceptance Criteria
- [ ] Testable_Outcome_X
- [ ] Testable_Outcome_Y
- [ ] Testable_Outco

[2021-11-01 19:02] ndouglas commented on #6674
The ops team, in office hours, confirmed our suspicions that this restriction on outbound SSH is pretty legit.  As such, this PoC is blocked.

We have a number of options for moving forward:

* Press forward with Lagoon
    * Open port 22 outbound + appeal up the chain as necessary
    * Fix lagoon to support https clone (see [this discussion](https://github.com/uselagoon/lagoon/discussions/2898))

[2021-11-01 19:04] oseasmoran73 commented on #6844
@indytechcook @cweagans When you all get opportunity, please review [PR](https://github.com/department-of-veterans-affairs/content-build/pull/498). This contains both the daily-deploy and the content-release flow

[2021-11-01 19:31] kevwalsh opened #6855 "Move the Facility API -> CMS migration time to reduce the delay in getting new data"
## User Story or Problem Statement

As a Veteran, i want facility data to be as up to date as possible, so that i can find info more easily, and so it can be as reliable as possible.

## Acceptance Criteria
- [ ] Time of migraiton has been moved from 3am ET nightly to ... [TBD based on convo with lighthouse. Probably after 7:30am ET]

## Implementation steps
<optional>

## Design principles

Veter

[2021-11-01 20:35] jkalexander7 commented on #5552
Recommend splitting out the monitoring AC into separate ticket, and continue triaging/investigation with current ticket

[2021-11-01 20:53] swirtSJW opened #6856 "Investigate use of AI for alt attributes on images"
## Description
Currently alt attributes are a required field.   But a quick summary of images in the CMS indicates the alt attribute is not being used well.   It is present, but does little to reveal text in images or other meaning that is in the image.

Examples :
The most horific
![image](https://user-images.githubusercontent.com/5752113/139740155-33d1319c-0021-4edd-a000-c6b80225bc3d.png)

![ima

[2021-11-01 21:07] xiongjaneg opened #6857 "Update VAMC KB articles and training about facility operating statuses"
## As a VAMC editor, I need to know the source of facility operating statuses and what I do or don't need to do to maintain them.

[See Slack thread](https://dsva.slack.com/archives/CPQFCQKEH/p1635797767064000): As of today’s release, the facilities listed on each facility’s Operating Status page on www.va.gov are pulled dynamically from the list of facilities associated to that system. In other w

[2021-11-01 21:12] mchelen-gov commented on #6854
probably we want is a user group for cms engineers that includes the policy `arn:aws-us-gov:iam::008577686731:policy/vsp-frontend-tools-s3access`

[2021-11-01 21:19] cweagans opened #6858 "Evaluate ddev as a replacement for Lando"
## Description

Followup to #6789

I would like to solicit feedback from people who are actively running a copy of the VA.gov CMS locally on whether or not we should switch to ddev. I would appreciate feedback prior to the end of next sprint (Friday, November 19) if possible!

To help this process, I've added a ready-to-use ddev configuration to the project and created some basic [documentation in

[2021-11-01 21:50] cweagans commented on #6789
@mchelen-gov 6858 is open now.

[2021-11-01 21:50] #6789 closed

[2021-11-01 21:57] suzanne-gray opened #6859 "Vet Center services list"

[2021-11-01 22:41] kevwalsh commented on #6843
This data may also inform the priority level of making Drupal the source of truth for redirects

[2021-11-01 22:56] kevwalsh opened #6860 "Create audit tool for alt text on images"
## User Story or Problem Statement

As an accessibility advocate for www.va.gov (member of CMS team, or Platform accessibility team, product owner, etc), i want a tool to review alt text in VA.gov CMS to identify and prioritize opportunities for improvement, training, automated tools, and other TBD actions in the name of ensuring accessible content at VA.

See epic for more info.

## Acceptance Cr

[2021-11-01 22:57] kevwalsh commented on #2804
This was handled in Q4 2020 when Entity Embed was removed.

[2021-11-01 22:57] #2804 closed

[2021-11-01 22:59] kevwalsh commented on #2724
This was handled via #6646

[2021-11-01 22:59] #2724 closed

[2021-11-01 22:59] kevwalsh commented on #4014
This may be a duplicate of other issues in #2415

[2021-11-01 23:02] kevwalsh commented on #4865
This was addressed in #6646

[2021-11-01 23:02] #4865 closed

[2021-11-01 23:11] kevwalsh opened #6861 "Improve existing (single page) preview experience"
## Background

### User Story or Problem Statement

As an editor of CMS content, I want to be able preview my content so that I understand what it will look like when i publish.

#### Existing Pain point

[we have lots of examples, but need to populate this]

### Affected users and stakeholders

* Editors of all products

## Design principles

Veteran-centered
- [ ] `Single source of truth`: Incre

[2021-11-01 23:28] kevwalsh opened #6862 "Improve accessibility of images managed in VA.gov CMS (alt text and other measures)"
## Background

### User Story or Problem Statement

As a screen reader user, I want to hear the text equivalent for each image conveying information so that I don’t miss any information on the page.

### Affected users and stakeholders

* Veterans and other users of VA.gov
* Editors of all products with images.

### Hypothesis

We believe that we can greatly improve the accessibility of existing a

[2021-11-01 23:38] timcosgrove commented on #4120
See https://www.drupal.org/project/drupal/issues/2353611#comment-13310783 for a possible approach

[2021-11-01 23:49] q0rban commented on #6306
v2.21.15 includes a step to increase the Mongo featureCompatibilityVersion to `4.2` using the `setFeatureCompatibilityVersion` command. According to the [MongoDB upgrade instructions](https://docs.mongodb.com/manual/reference/command/setFeatureCompatibilityVersion/), it is recommended to allow a burn-in period before doing this. We waited one week, but you may wait lower amounts of time.

### Task

[2021-11-01 23:50] q0rban commented on #6306
`v2.21.16` upgrades the MongoDB service version to 4.4. This is a similar release to `v2.21.12`: we upgrade the version of the service that is running, but the featureCompatibilityVersion will stay at the `4.2` that was set with `v2.21.15`. To deploy `v2.21.16`:

### Tasks:
- [ ] Change directories to the Tugboat root: `cd /opt/tugboat`
- [ ] Backup the Mongo database: `util/backup.sh`
- [ ] Stop

[2021-11-02 00:14] timcosgrove opened #6863 "POC: Banner as React component with mock data in static pages"
## Description
In order to test implementation of Content API in the front-end repository as it exists today, we would like to implement alert banner display in `vets-website`/`content-build` as a React widget receiving data from the POC Content API, so that we can evaluate the developer experience given the tools already at hand.

For the purposes of this ticket, the data source can be mock data.

[2021-11-02 13:10] ContentBrewmaster commented on #6721
Still working on it!

On Fri, Oct 29, 2021 at 2:31 PM Clarence Maeng ***@***.***>
wrote:

--
*Denise Eisner*

*she / her*

Content Strategist

civicactions.com <http://www.civicactions.com/>   |   @civicactions
<https://twitter.com/civicactions>

[2021-11-02 13:25] kevwalsh commented on #6641
@rachel-kauff [The boilerplate content is in this airtable tab](https://airtable.com/appFAI4CcmcIhg767/tbl287e56dBRPTRfI/viwzCioMcKFhc8l7Z?blocks=hide). In some ways, the boilerplate _is_ the guidance, but people stray from it.

[2021-11-02 14:10] EWashb commented on #6641
@kevwalsh @rachel-kauff  Stan referred me to Larry West. He provided the following explanation yesterday, 11/11/21:

Primarily, we wanted to keep the descriptions concise while also making them informative and useful to Veterans, their families, and their caretakers. In addition, we wanted to create standardized descriptions for all system health services, which could be used across all systems wi

[2021-11-02 14:21] ndouglas commented on #6674
## Roundabout Approaches

![RnGEd93](https://user-images.githubusercontent.com/1318579/139862670-efd29013-0e8d-4b47-befd-c28427ef266a.jpg)

A few of the options above could actually be addressed.  I've addressed them, sorta, and will discuss.

### Modifying the Lagoon Build Deploy Image

No one has responded yet to my [discussion thread](https://github.com/uselagoon/lagoon/discussions/2898) about

[2021-11-02 14:48] kevwalsh opened #6868 "Improve EHRM and online health management tools"
## Background

### User Story or Problem Statement

As a Veteran, i want my "manage my health online" links to go the right system (if it's even possible), which is driven by Cerner, VistA, or another EHRM system.

* Spokane uses Cerner
* Most VAMCs use VistA
* Columbia, Indiana, and Indianapolis, and Manila all use a 4th online scheduling tool that is neither VistA or Cerner.

As a VAMC CMS user,

[2021-11-02 16:08] amandeepma commented on #6800
Hey @brianalloyd is this the ticket your team could pick up?

[2021-11-02 16:30] brianalloyd commented on #6800
@amandeepma yes we'll review during planning and might reach out with any questions as we scrub into the work.

[2021-11-02 16:37] mpelzsherman commented on #6800
I've pushed up a [PR](https://github.com/department-of-veterans-affairs/content-build/pull/723) that might fix this.

Can someone create a tugboat build off this branch and test?

[2021-11-02 16:53] netboss commented on #1171
@swirtSJW  After making the `tablefield` required and reproducing the issue I added this patch to the `composer.json` but am getting the same results as @msbtterswrth when trying to apply the patch. Checking the module's code I can see it's different than the originally patched code:
[code]
Maybe that's why the patch fails
![tablefield-patch-error](https://user-images.githubusercontent.com/846871/

[2021-11-02 16:54] ndouglas commented on #6674
Per this exchange:

<img width="633" alt="Screen Shot 2021-11-02 at 12 52 22 PM" src="https://user-images.githubusercontent.com/1318579/139909958-dd3a7bb1-c5af-4ff9-be75-f3c60f312fc5.png">

There is no way to move forward with this PoC.

[2021-11-02 17:12] cjterdi opened #6869 "Onboarding: Cindy Terdiman"
# Welcome to the VFS-CMS Team! 👋
We're thrilled to have you join us on this journey! 🎆🎉🙌

Our vision is to build and maintain a best-in-class Content Management System that meets the needs of editors, application development teams, and consuming applications in order to empower our users to help Veterans.

The onboarding materials below are organized by 1) chronological time to complete (day one,

[2021-11-02 18:25] chriscraiga6 commented on #6825
Approval occurred. Process has been defined. Will link to a document with the process once it's created and close the issue.

[2021-11-02 18:52] kevwalsh commented on #1171
Moving this back to the icebox. Not mission critical and not worthy of too much effort right now.

[2021-11-02 20:09] amandeepma commented on #6800
You guys are awesome!!

[2021-11-02 20:31] msbtterswrth commented on #6759
I started working out some ideas here: https://app.mural.co/invitation/mural/vagov6717/1635876790922?sender=u0213d96dd8b8c144f1f10284&key=3360aded-a676-4e8a-b5c3-610a9f72abfb

[2021-11-02 21:11] amponce commented on #6508
Linking the repo https://github.com/department-of-veterans-affairs/content-api-react-poc

[2021-11-02 21:54] netboss commented on #5564
@swirtSJW Clicked on each of the 18 "Vet Center - Outstation" nodes to verify and confirm their sections were correctly assigned.

[2021-11-02 21:54] #5564 closed

[2021-11-02 22:26] amponce commented on #6863
@timcosgrove thank you for tracking down all of these resources

[2021-11-02 22:42] rachel-kauff commented on #6869
Added recordings of the first two UX onboarding meetings to the ticket and will schedule a followup meeting for questions, etc.

[2021-11-02 22:58] rachel-kauff commented on #6536
@ethanteague We got some new information that led to a small update to the help text for the VAMC and Vet Center service description field. Is it too late to implement for this sprint? https://www.figma.com/file/SfJsjIxAySehvDsrgyusxh/Standardized-content-design-patterns?node-id=82%3A386

[2021-11-02 23:15] ethanteague commented on #6536
Np a'tall, @rachel-kauff - will implement this sprint :+1:

[2021-11-03 01:53] kevwalsh commented on #6341
The implementation took a different path than the original spec here. See #6866.

[2021-11-03 01:53] #6341 closed

[2021-11-03 02:09] kevwalsh opened #6871 "Enable content moderation for VHA facility non-clinical services"
## User Story or Problem Statement

As an editor of VHA facility non-clinical services, i want the same editorial workflow (content moderation) experience as elsewhere in the CMS, for consistency and careful governance.

## Acceptance Criteria
- [x] Content moderation has been enabled for `vha_facility_nonclinical_service` (at /admin/config/workflow/workflows/manage/editorial?destination=/admin/co

[2021-11-03 02:28] kevwalsh opened #6872 "MVP editorial experience for billing and insurance, register for care, medical records pages, and non-clinical facility services"
## Background

### User Story or Problem Statement

This is a subepic for creating an editorial experience for PAOs to manage Top Task pages.

There are a few known issues, and a few unknown opportunities that require some design discovery and thinking.

Some of the issues in this epic block roll out of these pages.

### Affected users and stakeholders

* Editors at VAMCs

## Design principles

Ve

[2021-11-03 02:47] kevwalsh opened #6873 "Show related non-clinical services within the Top task edit forms and proofing"
## User Story or Problem Statement

As an editor of my Top task page, i can see what related Facility services i already have in my system, from within any of three respective top task edit pages.

## Acceptance Criteria
- [x] A list of facility nonclinical services tagged with Medical records is listed within the VAMC system Medical Records node form and node view
- [x] A list of facility nonclin

[2021-11-03 02:53] kevwalsh opened #6874 "Prepopulate entity reference fields on nonclinical service form, when context is known"
## User Story or Problem Statement

As an editor of a Top task page that clicks a link to add a non-clinical service, i want the form for non-clinical service to carry some of the context (Service and Section) from the page i was just on.

[This coudl use some screenshots and URLs in the future]

## Acceptance Criteria
- [ ] Editors that click on the /node/add/vha_facility_nonclinical_service link

[2021-11-03 03:15] kevwalsh opened #6875 "Reduce what facilities can be chosen on nonclinical facility service nodes according to Section"
## User Story or Problem Statement

As a creator of a Non-clinical facility service page, i don’t have to scroll through a million facilities to find mine. That list is already reduced by the Section i’m on.

## Acceptance Criteria
- [x] After choosing VA Sioux Falls health care for Section on /node/add/vha_facility_nonclinical_service, the only facilities in the Facility field are those that cont

[2021-11-03 03:19] kevwalsh opened #6876 "Hide Service fields on 3 top task pages, because they are set by default"
## User Story or Problem Statement

As a creator of a Top task page, i want the Service field to be hidden from the form and from the node view, because it’s implict and redundant.

## Acceptance Criteria
- [ ] On /node/add/vamc_system_billing_insurance, Service field is hidden, but default value is set to Billing and insurance
- [ ] Same for Service fields on Medical Records and Register for Care

[2021-11-03 03:23] kevwalsh opened #6877 "Design improved fieldgroups, field labels, content type descriptions, and submission guidelines for 3 Top task content types"

[2021-11-03 03:24] kevwalsh opened #6878 "Implement top task form designs from #6877"

[2021-11-03 03:24] kevwalsh opened #6879 "Design improved form for VAMC facility nonclinical services"

[2021-11-03 03:24] kevwalsh opened #6880 "Implement nonclinical services form design from #6879"

[2021-11-03 04:31] ElijahLynn commented on #6252
Based on Slack discussion, I went with trying out tagging the `@sitewide-cms-team` Slack group in the `#cms-notifications` channel. I did that for the `Warn`, `Deploy Start`, `Deploy Success` messages which are of `medium` [alert type](https://github.com/department-of-veterans-affairs/va.gov-cms/blob/master/READMES/cms-alerts.md), and for the `Deploy Failure` message to PROD I tagged the `@here` g

[2021-11-03 06:58] ElijahLynn commented on #2526
@ndouglas did some good work here https://github.com/department-of-veterans-affairs/devops/pull/9746 towards this. One last thing I can think of is making sure a `drush cache:rebuild` doesn't mess with permissions on the files.

[2021-11-03 07:01] ElijahLynn commented on #2526
Doh, Nate already addressed this in the PR notes and we still have to tackle that bit. I'll add that as an AC for this story.

[2021-11-03 07:13] ElijahLynn commented on #6252
I actually think we should create a new group name for this and let people opt-in. It is real easy to update the group in Slack and people can opt-in/out as they like. I think we can add and remove ourselves to groups.

Maybe `@cms-notifications-medium`? `@here` is equivalent to `@cms-notifications-high`, fwiw.

[2021-11-03 07:55] ElijahLynn commented on #6252
If we are good with the above then https://github.com/department-of-veterans-affairs/devops/pull/10140 is good to merge.

[2021-11-03 13:44] ndouglas commented on #6674
![](https://user-images.githubusercontent.com/1318579/140052597-1a402404-d62a-4587-b185-302a8f4c7bc2.jpeg)

So got some responses on [this discussion thread](https://github.com/uselagoon/lagoon/discussions/2898) saying that although the build-deploy pipeline was implemented with Git/SSH in mind, that was mostly to accommodate GitHub deploy keys and that there was no real hard reason that HTTPS clo

[2021-11-03 13:52] kevwalsh opened #6881 "Change management / launch for Register for Care, Medical records, and Billing and Insurance"

[2021-11-03 13:52] kevwalsh opened #6882 "KB article(s) for Register for Care, Medical Records, Billing and insurance pages"
## User story
As a VAMC editor, I need to be able to provide timely and accurate care registration, medical records, and billing and insurance information to Veterans.

## Acceptance criteria
- [x] Billing and insurance KB article drafted
- [x] Medical records KB article drafted
- [x] review changes and updates needed to KB article(s)
- [x] update KB articles

[2021-11-03 13:53] kevwalsh opened #6883 "Training for Register for Care, Medical records, and Billing and Insurance"
## User story
As a VAMc editor, I need to provide timely and accurate registration, medical records, and billing and insurance information to Veterans.

## Acceptance criteria
-  [x] review changes and updates needed to training materials
- [x] update training video(s)
  - [x] register for care
  - [x] billing
  - [x] medical records
- [x] caption training video(s)
- [x] share video links for KB a

[2021-11-03 15:47] swirtSJW commented on #6771
This one is still blocked by not having data from Facility upgrade team.

[2021-11-03 16:37] #6812 closed

[2021-11-03 17:11] kevwalsh opened #6885 "Proof of Concept for Claro subtheme, with one component "inherited" from VA"
## User Story or Problem Statement

As a member of the CMS experience team, I understand technical feasibility and some opportunities for creating a VA.gov CMS design system with VA-flavor subtheme of Claro, so that I can build a roadmap that includes an MVP definition, based on what's feasible, and desirable.

## Acceptance Criteria
- [ ] Claro subtheme has been created that uses at least one VA

[2021-11-03 17:18] ndouglas commented on #5552
We have [a CloudWatch metric](https://console.amazonaws-us-gov.com/cloudwatch/home?region=us-gov-west-1#metricsV2:graph=~(view~'timeSeries~stacked~false~metrics~(~(~'AWS*2fApplicationELB~'HTTPCode_ELB_502_Count~'LoadBalancer~'app*2fdsva-vagov-prod-cms*2fd7503b53a86e3abd))~region~'us-gov-west-1~start~'-P42D~end~'P0D);query=~'*7bAWS*2fApplicationELB*2cLoadBalancer*7d*20cms*20prod) for 502's experien

[2021-11-03 17:27] swirtSJW commented on #6770
List just arrived
- [ ] VA Illiana health care
- [ ] VA Boise health care
- [ ] VA Kansas City health care
- [ ] VA Martinsburg health care
- [ ] VA Loma Linda health care
- [ ] VA Spokane health care

[2021-11-03 17:44] netboss commented on #6770
@swirtSJW
Removed group C endpoints:
- https://www.boise.va.gov/locations/facilities.asp
- https://www.danville.va.gov/locations/facilities.asp
- https://www.kansascity.va.gov/locations/facilities.asp
- https://www.lomalinda.va.gov/locations/facilities.asp
- https://www.martinsburg.va.gov/locations/facilities.asp
- https://www.spokane.va.gov/locations/facilities.asp

[2021-11-03 17:45] #6770 closed

[2021-11-03 18:30] rachel-kauff opened #6887 "Create a backlog of custom vagovadmin code to port to vagovclaro"
## Description

In order to prepare to implement Claro as the admin theme base, we need to understand what could break as a result of turning Claro on. An inventory of the custom code will help us mitigate risk and identify anything we need to do to ensure a smooth launch.

Inventory should answer these questions:
- What's in there?
- What does it do?
- Do we keep it? (most of it probably) or do w

[2021-11-03 19:32] indytechcook commented on #6599
The performance testing is complete.  Here are the results.

We ran the `content-build` on https://test.prod.cms.va.gov with the current version and again with the the new branch.

|                                       | Cold Cache       | Warm Cache |
|---------------------------------------|------------------|------------|
| Current                               | 3 min 49.967 sec | 8.882 sec

[2021-11-03 20:12] msbtterswrth commented on #2045
adding our notes here:

We think it's best to move the social links field (field_social_media_links) into the 'office' content type and create pages for each of the 4 main offices. We can then potentially assign the offices to a section and those links will pull in dynamically to the connect block.

[2021-11-03 20:45] amponce commented on #6508
Added notes about the implementation to the attached repo

[2021-11-03 20:46] timcosgrove opened #6888 "[CAPI] Product-oriented API POC can be reached via Lighthouse API dev env"
## Background

As a CMS engineer, I want to set up a proof-of-concept API to be available to the public through Lighthouse, so that I can understand better if Lighthouse is a viable mechanism for exposing an API to the public.

This ticket is concerned with "Preparing API for publication", which is a collaborative process between Platform CMS and Lighthouse.

## Acceptance Criteria

- [ ] Data can

[2021-11-03 20:48] timcosgrove commented on #6888
This ticket is a follow up from https://github.com/department-of-veterans-affairs/va.gov-cms/issues/6294. It is blocked until such time as the Lighthouse team is able to confirm they can work with the OpenAPI spec delivered to them (https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/cms/accelerated_publishing/sample_openapi_spec.yml, created in https://github.com/de

[2021-11-03 20:50] timcosgrove commented on #6294
A follow-up ticket is here: https://github.com/department-of-veterans-affairs/va.gov-cms/issues/6888

This is a copy of the current ticket's state at this time. We are effectively blocked until Lighthouse accepts the OpenAPI spec that was delivered to them, and then gives us next steps to move forward with doing testing via the sandbox.

[2021-11-03 20:58] swirtSJW commented on #5387
field_values  would contain the checkbox value for use default address.

[code]

[2021-11-03 21:08] timcosgrove commented on #6294
Spec delivered: https://dsva.slack.com/archives/C021UM3QTCY/p1635962441019400?thread_ts=1635784825.013300&cid=C021UM3QTCY

Waiting on confirmation and next steps. Next steps will be in #6888

[2021-11-03 21:38] timcosgrove commented on #6490
Spreadsheet superseded by https://vfs.atlassian.net/wiki/spaces/PCMS/pages/1964670998/CAPI+API+business+logic+location

[2021-11-03 21:42] rachel-kauff commented on #6721
@ContentBrewmaster hmm, that's very strange. I'm going to try to reproduce the problem, as the password I posted is the one I see in Zoom.
Here's the sharing info zoom provides.

Topic: UX onboarding II: Project initiatives, etc.
Start Time: Oct 25, 2021 12:59 PM

Meeting Recording:
https://civicactions.zoom.us/rec/share/VZz2t7QSNBMso6fJ_LygnWO2M_pdTOg7Ot1ObcTzVElDueO6-_-vtkOraTj5T_Jc.zmjmVGVjjEjW

[2021-11-03 22:12] swirtSJW commented on #5387
@netboss I just updated the specifics related to the paragraph, fields and sub-paragraphs.    In order to do this, you have to actually create the subparagraphs first so that they can be saved with the paragraph, which can be then saved with the node.

[2021-11-03 22:20] swirtSJW commented on #5387
I strongly recommend creating functions that each handle part.
createParagraphServiceLocationAddress()  (returns the created  paragraph or its revision ID)
createParagraphEmailContact()  (returns the created  paragraph or its revision ID)
createParagraphPhoneNumber()  (returns the created  paragraph or its revision ID)

Then  createServiceLocation() will call each of the functions above and return

[2021-11-03 23:17] ElijahLynn commented on #6252
Updated docs in https://github.com/department-of-veterans-affairs/va.gov-cms/commit/aa6a477d1121199bf1e833dee794391918a2d9dd.

[2021-11-03 23:57] ElijahLynn commented on #6252
I merged this and found one last thing to update, which is the `warn` step to be parameterized for the app name.

e.g. this was for the `cms-test` app, notice the first message was the wrong app name, because it was hardcoded:

**Before:**
![image](https://user-images.githubusercontent.com/1504756/140234926-31c890d0-5548-4e97-8abb-66d09daaf52d.png)

**After:**
![image](https://user-images.githubus

[2021-11-04 08:27] chriscraiga6 commented on #6583
Assessment:
Current Documentation's varies in accuracy as portions of documents are outdated while others are still accurate.
This will be an on-going task to update all documentation.

Archived Outdated Documentation: An Archive has been created and the documentation is being reviewed for accuracy.

Documentation Availability: Documentation is available in both Google Drive and Github however Goo

[2021-11-04 13:25] kevwalsh opened #6895 "Sitewide CMS team - Sprint 45 priorities"
<details><summary>Background</summary>

🥅   — Sprint goals (pending Sprint planning)
💡 — Design
💧  — Drupal engineering
🎉 — FE
🎓  — Training / Change management / KB
📟 — Helpdesk
🔮  —  Planning / roadmap / epic refinement
📊  —  Analytics
🚰  — Service design
🌱 — Good first task

* Cindy (interaction designer)
* Veterans day November 11
* Onsite for many folks November 15-18
* Half the issues don't

[2021-11-04 13:29] msbtterswrth commented on #2040
I've reviewed each bloc instance and compiled the data into a spread sheet here - https://docs.google.com/spreadsheets/d/1yk5IJ-vFbAViTLRrj8NxwL69XGHujYqrSbp4-RCV-x4/edit#gid=0

There are 4 versions which all have a unique newsletter and list of social links. The VA Records page does not have a block.

[2021-11-04 14:11] msbtterswrth opened #6896 "Remove "Connect with us" fields from Section vocabulary, and swap out fields on CLP and Benefis Hub Landing Pages"
New fields are there on CLP and Benefits Hub landing page, but they are hidden.

After migrating the content and updating the FE display, we need to remove the old fields.

### AC
- [ ] Un-hide the new fields on CLP and Benefit Hub landing page
- [ ] Check that all CLP and Benefit Hub landing pages have content as needed
- [ ] Hide the old fields on those node types.
- [ ] Delete fields from the S

[2021-11-04 14:22] chriscraiga6 opened #6897 "Unplanned Outage Messaging Standardization"
## User Story or Problem Statement

As a member of the CMS Team, I need to be able to send e-mail communication to all active CMS Users of both planned and unplanned outages with standardized messages.

## Acceptance Criteria
- [x] Create E-Mail Template For Unplanned Outages
- [x] UX Review of language
- [x] Requires internal process article update

## Design principles

Veteran-centered
- [x] `S

[2021-11-04 14:23] #6536 closed

[2021-11-04 14:28] kevwalsh commented on #6897
Should this be expanded to include Site Alert messaging? The one that was put up during the AWS outage could have been more clear.

Also, how might we involve some of our UX writers in this initiative.

[2021-11-04 14:46] #2040 closed

[2021-11-04 14:46] kevwalsh commented on #2040
Thanks Lynn, and for updating the epic with findings. Closing this. I've also added the "unplanned work" label cause it wasn't in the sprint plan.

[2021-11-04 14:51] chriscraiga6 commented on #6897
@kevwalsh The site alert messaging could be included in this, yes.
We have an outdated document that may be a good starting point. It looks like UX Collaborated on this at one point:
https://docs.google.com/document/d/1F_5wOgZ5Ie1suaFn-blHh83sgTe0pv3P_2ykxILNi2c

[2021-11-04 15:01] rachel-kauff commented on #6897
I'm really glad this is coming up, and would love to collaborate with customer service on the messaging. It's probably time to revisit the copy/approach described in that document, and explore a holistic approach to our voice, tone, and system-wide messaging.

[2021-11-04 15:37] xiongjaneg opened #6898 "Update KB article about staff profiles"
## As a VAMC editor, I need to provide accurate information about staff members at multiple systems.

See [Slack thread](https://dsva.slack.com/archives/C02686M6K6X/p1636034241155000)

## Acceptance Criteria
- [x] Review current article for accuracy
- [x] Update article
- [x] Publish article

### CMS Team

Please leave only the team that will do this work selected. If you're not sure, it's fine to

[2021-11-04 15:37] #6508 closed

[2021-11-04 16:11] #6695 closed

[2021-11-04 16:13] xiongjaneg opened #6899 "Training updates for services national taxonomy"
## User story
As a VAMC or Vet Center editor, I need to know what national information will be provided to Veterans to streamline my local information.

## Acceptance criteria
- [x] review VAMC training video for references to national taxonomy
- [x] update VAMC training video with new instructions and screencaptures
- [x] caption training video
- [x] update KB link to video
- [x] review Vet Cente

[2021-11-04 16:41] olivereri opened #6900 "[SPIKE] Discuss and Document CMS Re-platforming Alternatives"
## Description

As a devops engineer, I need to discuss and document alternative solutions to run and deploy the Drupal CMS, so that I can choose the best strategy that meets the specific needs of running and deploying Drupal.

## Acceptance Criteria
- [x] CMS Platform Devops personnel have met, including Mike Chelen, and enumerated alternatives for running and deploying Drupal other than Lagoon a

[2021-11-04 16:41] indytechcook opened #6901 "Update Drupal Core from 9.2.7 to 9.2.8"
## Description

https://github.com/department-of-veterans-affairs/va.gov-cms/pull/6890

Command to run: `composer update drupal/core-recommended --with-dependencies`

Release notes: https://www.drupal.org/project/drupal/releases/9.2.8
Diff: https://git.drupalcode.org/project/drupal/-/compare/9.2.7...9.2.8?from_project_id=59858

* Review Diff and release notes
* Test

## Acceptance Criteria
- [ ] D

[2021-11-04 17:00] indytechcook commented on #6901
At first glance, these are the changes which have potential to impact us the most:

* https://www.drupal.org/project/drupal/issues/2957953
* https://www.drupal.org/project/drupal/issues/3020876

[2021-11-04 17:15] swirtSJW commented on #6769
Thoughts from 11/4 epic refinement call:

- Events are a key connector here and are more relevant than just the location.
  - Consider adding service tagging on events
  - revealing staff at a particular event?
- Need a high level research plan including the veteran user stories.
- How do we support what they are currently doing?
- How do we support/encourage what they ought to be doing?

[2021-11-04 17:29] #6294 closed

[2021-11-04 18:14] cmaeng commented on #6574
Proposed steps:

1. Request comes in to the CMS helpdesk from whoever
2. CMS helpdesk verifies with PO
3. Once verified, CMS team flips the switch
4. CMS helpdesk send confirmation to requestor

[2021-11-04 18:29] indytechcook commented on #6599
Documentation: https://vfs.atlassian.net/wiki/spaces/PCMS/pages/1965031906/Analyzing+Frontend+Build+Performance

[2021-11-04 18:29] #6599 closed

[2021-11-04 18:41] jkalexander7 commented on #6805
Can move to Sprint 46 if needed

[2021-11-04 18:55] jkalexander7 commented on #6863
Will break effort out further - targeting Sprint 46

[2021-11-04 18:57] cweagans commented on #6852
https://github.com/department-of-veterans-affairs/va.gov-cms/blob/master/READMES/cms-content-release.md

[2021-11-04 19:46] indytechcook commented on #6354
@Cameron Eagans a few things with my testing on stage:

- The worklow was not triggered when pressing the button
- An error occurred and was shown in watchdog: `Github\Exception\RuntimeException: Not Found in Github\HttpClient\Plugin\GithubExceptionThrower->Github\HttpClient\Plugin\{closure}() (line 123 of /var/www/cms/docroot/vendor/knplabs/github-api/lib/Github/HttpClient/Plugin/GithubExceptionT

[2021-11-04 21:08] #6809 closed

[2021-11-04 21:44] swirtSJW commented on #4595
This diagram should be reproduces as part of this.  The diagram is outdated, but shows the general idea.
![image](https://user-images.githubusercontent.com/5752113/140424346-c2626728-2cb1-4906-aa5d-a1fbdd428a53.png)

This PR kicks off the documentation but is not specific enough to tick all the ACs on this issue.   I think some of the ACs related to end users should be in a knowledge base article.

[2021-11-04 22:30] cweagans commented on #6354
Followup PR is merged.

[2021-11-04 23:23] timcosgrove opened #6913 "POC: Full Width Banner Alert as React component with mock data in static pages"
## Description
In order to test implementation of Content API in the front-end repository as it exists today, we would like to implement alert banner display in `vets-website`/`content-build` as a React widget receiving data from the POC Content API, so that we can evaluate the developer experience given the tools already at hand.

For the purposes of this ticket, the data source can be mock data.

[2021-11-04 23:26] timcosgrove opened #6914 "POC: Banner React component with API data in static pages"
## Description
In order to test implementation of Content API in the front-end repository as it exists today, we would like to implement alert banner display in `vets-website`/`content-build` as a React widget receiving data from the POC Content API, so that we can evaluate the developer experience given the tools already at hand.

This work should use endpoints for getting banner data for a given

[2021-11-04 23:32] timcosgrove opened #6915 "POC: Full Width Banner Alert React component with API data in static pages"
## Description
In order to test implementation of Content API in the front-end repository as it exists today, we would like to implement alert banner display in `vets-website`/`content-build` as a React widget receiving data from the POC Content API, so that we can evaluate the developer experience given the tools already at hand.

This work should use endpoints for getting fullwidth banner alert

[2021-11-05 04:03] kevwalsh opened #6917 "Show national service content inline while editing services, and other followups to #6536"
## User Story or Problem Statement

As an editor of existing Vet Center or VAMC service content,
1. I want to see the national service descriptions and other data inline while editing, so that i can make better content decisions.
2. I want guidance that helps me make better content decisions. [@rachel-kauff: feel free to tweak]

<details><summary>Screenshot</summary>

<img width="700" alt="Create_

[2021-11-05 04:05] #6646 closed

[2021-11-05 04:15] kevwalsh opened #6918 "Limit number of links added to Common Links on VAMC system content type"
## User Story or Problem Statement

According to [this thread](https://dsva.slack.com/archives/C0FQSS30V/p1636040104227200) The FE should only support 8 links in the blue box, in 2 columns, not 3.  3 columns breaks the layout of certain facility pages.

<details><summary>Screenshots</summary>

8 links

![image](https://user-images.githubusercontent.com/643678/140457184-ddba5c83-77ea-4ecc-b577-9d46

[2021-11-05 04:23] kevwalsh opened #6919 "Improve "Common Links" editorial experience for VAMC systems"
## User Story or Problem Statement

As a VAMC editor, i want a good an efficient, approachable, and empowering editorial experience for adding the "Common links" that show up on various pages of my health care system website, including on the VAMC system homepage and all facility pages.

### Background

This was built in a rush to support a FE MVP.

### Content model and editorial experience hypot

[2021-11-05 04:48] kevwalsh commented on #2041
@msbtterswrth i just added to the ACs that the new entity ref fields should be hidden in the FE for now, until the FE work is done. In this way we can support backwards compatibility in the content model without disrupting the editing experience. Content migration (really, copying) (#2044) can happen on prod by temporarily unhiding these fields, copying the content over, then hiding them again (or