[2022-09-30 01:12] #10884 closed

[2022-09-30 01:17] ElijahLynn commented on #10971
This is resolved now. @q0rban provided some scripts to reclaim dangling docker images etc. in this [thread](https://dsva.slack.com/archives/C01A35JDH88/p1664470309927479).

Before > After cleanup:
* 93% disk utilization (295GB free/4.11TB used) >> 59% (1.8TB free/2.6TB used)
* 594 images >> 252
* 432 containers >> 152

[2022-09-30 01:17] #10971 closed

[2022-09-30 01:21] ElijahLynn commented on #10887
Not doing, closing, because we are going straight from v2.21.17 to v2.21.20 in https://github.com/department-of-veterans-affairs/va.gov-cms/issues/10889.

[2022-09-30 01:21] #10887 closed

[2022-09-30 01:21] ElijahLynn commented on #10888
Not doing, closing, because we are going straight from v2.21.17 to v2.21.20 in https://github.com/department-of-veterans-affairs/va.gov-cms/issues/10889.

[2022-09-30 01:21] #10888 closed

[2022-09-30 01:26] ElijahLynn commented on #10959
We are going from v2.22.1 to v2.22.3 in this ticket > https://github.com/department-of-veterans-affairs/va.gov-cms/issues/10958

[2022-09-30 01:26] #10959 closed

[2022-09-30 01:28] ElijahLynn commented on #10961
Closing, as we are going from 22.3 to 22.7 in this ticket > https://github.com/department-of-veterans-affairs/va.gov-cms/issues/10960.

[2022-09-30 01:28] ElijahLynn commented on #10962
Closing, as we are going from 22.3 to 22.7 in this ticket > https://github.com/department-of-veterans-affairs/va.gov-cms/issues/10960.

[2022-09-30 01:28] #10962 closed

[2022-09-30 01:28] #10961 closed

[2022-09-30 01:28] ElijahLynn commented on #10963
Closing, as we are going from 22.3 to 22.7 in this ticket > https://github.com/department-of-veterans-affairs/va.gov-cms/issues/10960.

[2022-09-30 01:28] #10963 closed

[2022-09-30 01:38] ElijahLynn opened #10987 "[tugboat] Disk space monitoring"
As a devops engineer, I need to know when Tugboat available disk space reaches 75% capacity so that I can take appropriate action to keep the service running for users without interruption.

_Originally posted by @ElijahLynn in https://github.com/department-of-veterans-affairs/va.gov-cms/issues/10971#issuecomment-1263005202_

[2022-09-30 01:42] ElijahLynn commented on #10971
Moved that part to a separate story: https://github.com/department-of-veterans-affairs/va.gov-cms/issues/10987

[2022-09-30 11:30] ndouglas opened #10988 "Create DataDog Dashboard for Sitewide CMS ToT Metrics"
## Description
- [x] Total number of accounts on prod.cms.va.gov, split out by active and blocked
- [x] Total number of users who are not administrators, API accounts, or “ghost” accounts (accounts created by folks eager to use their PIV card login before an actual account has been created for them): 880
- [x] Total number of active Drupal users who have logged in within the past 60 days (since 6/

[2022-09-30 11:31] ndouglas opened #10989 "Add new Prometheus plugin for exporting enhanced user metrics to DataDog."
## Description
We're already providing some user metrics to DataDog via Prometheus, but we're lacking some.  We should automate them.

We currently have:
- user total (total, active, and blocked)
- active user total (rolling count of users active in the last few minutes)

I should add:
- [ ] Total number of users who are not administrators, API accounts, or “ghost” accounts (accounts created by fo

[2022-09-30 11:35] ndouglas opened #10990 "Automate delivery of Sitewide CMS ToT DataDog metrics"
## Description
I think I'll set up ToT metrics as a [scheduled report](https://docs.datadoghq.com/dashboards/scheduled_reports/).

This should be straightforward to set up in Terraform, but there's some risk.  It's also possible too that the format is undesirable, in which case this will need to be replaced by a new discovery ticket.

## Acceptance Criteria
- [ ] A scheduled report containing the

[2022-09-30 11:36] #10843 closed

[2022-09-30 11:54] ndouglas opened #10991 "Check PHP_CodeSniffer settings."
## Description
I've noticed a couple of weird issues with PHP_CodeSniffer:

- It requires periods at the end of long descriptions, which makes bulleted lists in comments impossible.
- It complains when I attempt to create a variable doc like `/** @var /Drupal/node/NodeInterface $node */` because it wants to have the `/**` alone on the first line, but it won't accept any other formatting either.

T

[2022-09-30 12:14] DanielleThierryUSDSVA commented on #10644
Thank you so much, @laflannery! I'll incorporate this into the entry and will let you know when this is live. And then just let me know how the examples feel like they're working as you go with those. Great working with you on this!

[2022-09-30 14:02] RLHecht opened #11036 "Redirect Request: Flu vaccine CLP"
### Instructions
- Requests must be submitted **AT LEAST** 2 weeks in advance.  Some requests take a significant amount of time and coordination to implement, so start the process as soon as you know you will need one.
- This issue will be used from initial request through implementation to ensure all individuals working on this are notified of status updates.  Please do not create multiple issues

[2022-09-30 14:36] laflannery commented on #10982
- "Get the tools you need..." Should be a semantic H2, not an H3 as it currently is:
- The SR label added for the search field can be removed.  The search field is a component and a label is already included.  This additional label is not going to be accessible or available to users so it is unnecessary code
![image](https://user-images.githubusercontent.com/106678594/193285686-6448ab3d-53a7-409b-

[2022-09-30 14:41] JayDarnell commented on #10852
Redirect request created here: https://github.com/department-of-veterans-affairs/devops/pull/12033

[2022-09-30 15:30] RLHecht opened #11035 "Redirect Request: Vet Centers"
### Instructions
- Requests must be submitted **AT LEAST** 2 weeks in advance.  Some requests take a significant amount of time and coordination to implement, so start the process as soon as you know you will need one.
- This issue will be used from initial request through implementation to ensure all individuals working on this are notified of status updates.  Please do not create multiple issues

[2022-09-30 15:43] EWashb commented on #10794
Meeting held 9/29. The take aways for next steps on iterating on CMS notifications include:

- Style guide breakdown
- Discovery around PDF patterns
- Look at backlog for Safelinks information/tickets
- Create tickets for content style guide stuff

The next steps from the roadmapping exercise are to continue with outdated content as a first step in notifications. After that, we will look into the

[2022-09-30 15:55] EWashb opened #10993 "Discovery: Content Style Guide for CMS Notifications"

[2022-09-30 15:55] EWashb opened #10994 "Discovery: Current CMS PDF patterns for CMS Notifications"

[2022-09-30 15:58] EWashb commented on #8775
This is not currently priority

[2022-09-30 16:00] EWashb commented on #10802
Those seem like the highlights to me @laflannery. We might consider documenting this process somewhere in our internal docs or even within the Github documentation

[2022-09-30 16:16] ndouglas opened #10995 "Disable `color` module."
## Description
This module is removed in Drupal 10.  I don't believe that we use it, so there's no point in having it enabled.

## Acceptance Criteria
- [ ] `color` module is disabled.

[2022-09-30 16:19] ndouglas opened #10996 "Remove `access vamc_operating_statuses entity browser pages` permission from `content_admin`."
## Description
This is to avoid issues with Drupal 10, but also because it's not doing anything useful now.

![Screen Shot 2022-09-30 at 12 18 36 PM](https://user-images.githubusercontent.com/1318579/193313637-d8234eab-8bff-4e14-b114-39bd654adc4b.png)

## Acceptance Criteria
- [ ] Invalid permission no longer exists.

[2022-09-30 16:26] ndouglas opened #10997 "Uninstall `better_field_descriptions` module."
## Description
This was discussed in #9237, but although we've had it installed forever, we don't appear to have used it.

## Acceptance Criteria
- [x] `better_field_descriptions` is removed from `composer.json`.

[2022-09-30 16:52] ndouglas opened #10998 "Update `va_gov_api` module for Drupal 10 compatibility."
## Description

[code]

## Acceptance Criteria
- [ ] The module has been updated and verified to be compatible with Drupal 10.

[2022-09-30 16:53] ndouglas opened #10999 "Update `va_gov_backend` module for compatibility with Drupal 10."
## Description
[code]

## Acceptance Criteria
- [ ] The module has been updated and verified to be compatible with Drupal 10.

[2022-09-30 16:54] EWashb commented on #9669
@ndouglas do you have any idea of the LOE for this? I see this is super similar to #5462 as well. Just interested in your overall thoughts.

[2022-09-30 16:56] ndouglas commented on #9669
It'll take about 15 minutes to copy-n-paste the validator and update it to catch this format of link, about 45 minutes to write automated tests, and 3-4 sprints to write the error message 😛

[2022-09-30 16:58] EWashb commented on #9669
The accuracy 😆

Well I can help with the error messaging so *try* to get that to you before the new year.

We found that the VA Directive 6102 guidance is really strict about internal links and other items that are "safelinkish" so I prob need to pull this in soon.

[2022-09-30 16:58] olivereri commented on #4306
## CMS Dev Resources Planned for Deletion

### EC2 - Instance Provisioning

module.cms.aws_launch_template.launch-template
module.cms.aws_autoscaling_group.asg

### RDS

module.cms.aws_db_instance.rds
module.cms.aws_db_parameter_group.rds-param-group
module.cms.aws_db_subnet_group.rds-subnet-group

### EFS

module.cms.aws_efs_file_system.efs
module.cms.aws_efs_mount_target.efs[0]
module.cms.aws_ef

[2022-09-30 17:02] ndouglas opened #11000 "Update `va_gov_*` modules to declare compatibility with Drupal 10."
## Description
Some modules are already compatible with Drupal 10, with the exception of their module metadata:

- `va_gov_banner`
- `va_gov_build_trigger`
- `va_gov_bulk`
- `va_gov_clp`
- `va_gov_dashboards`
- `va_gov_flags`
- `va_gov_govdelivery`
- `va_gov_help_center`
- `va_gov_login`
- `va_gov_lovell`
- `va_gov_media`
- `va_gov_menu_access`
- `va_gov_user`
- `va_gov_workflow`
- `va_gov_workflo

[2022-09-30 17:04] ndouglas opened #11001 "Update `va_gov_db` module for compatibility with Drupal 10."
## Description
[code]

Ignore the `Call to deprecated function _va_gov_db_uninstall_modules().` ones.

## Acceptance Criteria
- [ ] The module has been updated and verified to be compatible with Drupal 10.

[2022-09-30 17:05] ndouglas opened #11002 "Update `va_gov_facilities` for compatibility with Drupal 10."
## Description
[code]

## Acceptance Criteria
- [ ] The module has been updated and verified to be compatible with Drupal 10.

[2022-09-30 17:06] ndouglas opened #11003 "Update `va_gov_graphql` for compatibility with Drupal 10."
## Description
[code]

## Acceptance Criteria
- [ ] The module has been updated and verified to be compatible with Drupal 10.

[2022-09-30 17:07] ndouglas opened #11004 "Update `va_gov_migrate` for compatibility with Drupal 10."
## Description
[code]

## Acceptance Criteria
- [ ] The module has been updated and verified to be compatible with Drupal 10.

[2022-09-30 17:07] ndouglas opened #11005 "Update `va_gov_post_api` for compatibility with Drupal 10."
## Description
[code]

## Acceptance Criteria
- [ ] The module has been updated and verified to be compatible with Drupal 10.

[2022-09-30 17:10] ndouglas opened #11006 "Update `va_gov_preview` for compatibility with Drupal 10."
## Description
[code]

## Acceptance Criteria
- [ ] The module has been updated and verified to be compatible with Drupal 10.

[2022-09-30 17:10] ndouglas opened #11007 "Update `va_gov_resources_and_support` for compatibility with Drupal 10."
## Description
[code]

## Acceptance Criteria
- [ ] The module has been updated and verified to be compatible with Drupal 10.

[2022-09-30 17:10] ndouglas opened #11008 "Update `va_gov_vamc` for compatibility with Drupal 10."
## Description
[code]

## Acceptance Criteria
- [ ] The module has been updated and verified to be compatible with Drupal 10.

[2022-09-30 17:11] ndouglas opened #11009 "Update `va_gov_vet_center` for compatibility with Drupal 10."
## Description
[code]

## Acceptance Criteria
- [ ] The module has been updated and verified to be compatible with Drupal 10.

[2022-09-30 17:12] ndouglas opened #11010 "Update `vagovclaro` theme for compatibility with Drupal 10."
## Description
[code]

## Acceptance Criteria
- [x] The theme has been updated and verified to be compatible with Drupal 10.

[2022-09-30 17:14] ndouglas opened #11011 "Disable and remove `vagovadmin` theme."
## Description
Right?  I don't think we use it.  Eh, I'll open a PR and find out.

## Acceptance Criteria
- [ ] The theme has been removed and we no longer have to update two copies of everything.

[2022-09-30 17:21] EWashb opened #11012 "CMS Codebase and Tech Debt Clean Up"
## Background

In an effort to eliminate tech debt, we will have a code clean-up epic to track the items that need to be rectified in our codebase. The reason we do this is to eliminate tech debt and confusion for developers. Also, it will save time in our development process as we create better code. As we perform these clean-up tasks, we can deliver higher quality and more quickly.

### User Sto

[2022-09-30 17:23] ndouglas opened #11013 "Update `va_gov_clone` module for compatibility with Drupal 10."
## Description
Probably not much to do, but it wasn't scanned because we only enable it for scalability testing.

## Acceptance Criteria
- [ ] The theme has been updated and verified to be compatible with Drupal 10.

[2022-09-30 17:24] ndouglas opened #11014 "Tracking Issue: Checklist for Drupal 10 Upgrade"
## Description
This is just a compilation of things that we need to do prior to the D10 upgrade.

### Environment
![Screen Shot 2023-01-18 at 8 31 41 AM](https://user-images.githubusercontent.com/1318579/213184483-a4ad0241-e341-4ba6-a713-775dc525dbfc.png)

### Contrib Modules w/ Unknown or Incompatible Status
The following modules need to be checked on an individual basis to determine what their m

[2022-09-30 19:12] RLHecht opened #11034 "Temporary Redirect Request: Community care medical debt relief"
### Instructions
- Requests must be submitted **AT LEAST** 2 weeks in advance.  Some requests take a significant amount of time and coordination to implement, so start the process as soon as you know you will need one.
- This issue will be used from initial request through implementation to ensure all individuals working on this are notified of status updates.  Please do not create multiple issues

[2022-09-30 19:17] RLHecht opened #11032 "Redirect Request: Community care copays"
### Instructions
- Requests must be submitted **AT LEAST** 2 weeks in advance.  Some requests take a significant amount of time and coordination to implement, so start the process as soon as you know you will need one.
- This issue will be used from initial request through implementation to ensure all individuals working on this are notified of status updates.  Please do not create multiple issues

[2022-09-30 19:22] #10766 closed

[2022-09-30 19:22] #10777 closed

[2022-09-30 19:23] RLHecht opened #11033 "Redirect Request: VHIC"
### Instructions
- Requests must be submitted **AT LEAST** 2 weeks in advance.  Some requests take a significant amount of time and coordination to implement, so start the process as soon as you know you will need one.
- This issue will be used from initial request through implementation to ensure all individuals working on this are notified of status updates.  Please do not create multiple issues

[2022-09-30 19:25] ndouglas opened #11015 "Evaluate Prettier for PHP"
## Description
To enforce consistent formatting, etc.  We should e.g. prefer string interpolation over concatenation, etc etc etc.

## Acceptance Criteria
- [ ] Prettier has been investigated and configured or else tossed aside like an ol' piece o' fruit

[2022-09-30 20:16] davidmpickett commented on #10847
@wesrowe @jilladams I filled this ticket out a little more with my intended reading list. My plan is to basically be dedicated to Public Websites and this ticket for the 2nd Half of Sprint 68.

[2022-09-30 20:48] JayDarnell commented on #10667
One potential way to address this would be to create a second view display to only display mobile vet centers referenced by the Locations node we're looking at (accomplished with a contextual filter) and then embed that new view display into the footer of the original.

Discussion with some screenshots here: https://dsva.slack.com/archives/C0FQSS30V/p1664570285652449

[2022-09-30 21:08] wesrowe commented on #10524
@dsasser, can you go ahead and give this your individual estimate? We held it back initially because it made sense to remove this logic for a single, unified flow. But we're having trouble prioritizing the full-monty flow unification. I think this is worth doing asap (even though it has to be done twice) since it is not just tech debt but harms the Veteran experience.

[2022-09-30 21:16] wesrowe opened #11020 "Start collab cycle for PDF Cert Warning"
## Description

## Acceptance Criteria
- [x] Platform CC issue submitted – https://github.com/department-of-veterans-affairs/va.gov-team/issues/49217
- [x] Design Intent meeting scheduled (if requested)

### CMS Team
Please check the team(s) that will do this work.

- [ ] `Program`
- [ ] `Platform CMS Team`
- [ ] `Sitewide Crew`
- [ ] `⭐️ Sitewide CMS`
- [x] `⭐️ Public Websites`
- [ ] `⭐️ Faciliti

[2022-09-30 21:18] wesrowe opened #11021 "Implement PDF Cert Warning in Find-a-form Search page"
***Must be deployed to Staging ONLY until collab cycle allows promotion to Prod***

## Description

As a Veteran, I want to see an informational banner about the certificate expiration issue so that I can have more context when I encounter issues.

Use of Design System component `va-alert`:
- we're using the [va-alert web component](https://design.va.gov/storybook/?path=/docs/components-va-alert--

[2022-09-30 21:20] wesrowe opened #11022 "Implement PDF Cert Warning in Form Detail Page"
***Must be deployed to Staging ONLY until collab cycle allows promotion to Prod***

## Description

As a Veteran, I want to be told that the form I'm looking at is at risk of not working correctly based on its issue_date, so that I can take appropriate action if it doesn't work right.

This alert is conditional on the `issue date` field, and should display for any form with issue date on or before

[2022-09-30 21:25] wesrowe opened #11023 "Create Flipper to control PDF Cert Warning banners"
## Description

As an OCTO-DE P.O., I want to be able to turn the PDF Certificate Warning banners on and off easily so that Veterans only get the information when it's relevant.

## Acceptance Criteria
- [ ] Create Flipper in Staging and Prod

### CMS Team
Please check the team(s) that will do this work.

- [ ] `Program`
- [ ] `Platform CMS Team`
- [ ] `Sitewide Crew`
- [ ] `⭐️ Sitewide CMS`
- [x]

[2022-09-30 21:28] wesrowe opened #11024 "Drupal field to override PDF Cert Warning dislplay logic on Form Detail pages"
## Description

As an OCTO-DE P.O., I want to be able to hide the warning on specific Form Detail pages in cases where the "last updated" date erroneously indicates there might be a certificate problem.

## Acceptance Criteria
- [ ] Testable_Outcome_X
- [ ] Testable_Outcome_Y
- [ ] Testable_Outcome_Z
- [ ] Requires design review

### CMS Team
Please check the team(s) that will do this work.

- [ ]

[2022-09-30 22:01] wesrowe opened #11025 "Blank table header row in Drupal displays as blank on FE"
## Describe the defect
The Drupal table_field form UI states that the top row of a table can be left blank if the table doesn't have headers.

However, when Editors leave the top row blank, the FE template still renders a header row, it's just blank
- The header cells still have accessibility attributes like `scope="col"`, which would confuse the screen reader experience
- It doesn't make sense to

[2022-09-30 22:25] davidmpickett commented on #10489
[Research Synthesis & Topline Report template](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/regional-offices/research/research_synthesis_issue_template.md) is ready to review

[2022-09-30 23:04] ElijahLynn commented on #6306
[v2.21.17 to v.21.20](https://github.com/department-of-veterans-affairs/va.gov-cms/issues/6306#issuecomment-991709959) complete:

Downtime 4:00:05-4:00:50pm PT (45s).

[code]

[code]

[code]

[code]

[2022-09-30 23:04] ElijahLynn commented on #10889
Done :heavy_check_mark:

See https://github.com/department-of-veterans-affairs/va.gov-cms/issues/6306#issuecomment-1264117371 in parent epic for details.

[2022-09-30 23:04] #10889 closed

[2022-09-30 23:31] ElijahLynn commented on #6306
v2.21.20 to v2.22.1 upgrade complete, [total downtime 8m](https://dsva.slack.com/archives/C03LFSPGV16/p1664580590835799?thread_ts=1664576825.735029&cid=C03LFSPGV16). We are now on Mongo 5.0.

[code]
[code]
[code]

[2022-09-30 23:32] ElijahLynn commented on #10957
Done :heavy_check_mark:.

See comment in parent epic for details https://github.com/department-of-veterans-affairs/va.gov-cms/issues/6306#issuecomment-1264128401.

[2022-09-30 23:32] #10957 closed

[2022-09-30 23:45] ElijahLynn commented on #6306
Two more to go! v2.22.3 && v2.22.7, both of which will be done on Monday at 4pm PT!

[2022-09-30 23:48] ElijahLynn commented on #10872
I'm working on this on test.prod.cms.va.gov.

[2022-10-01 00:48] q0rban commented on #6306
Now that you are on Mongo 5.0 containers, you can actually go straight to v2.22.7!

[2022-10-02 17:28] swirtSJW commented on #6008
This was from back a year ago when this was to be a platform thing.  Since then the responsibility has shifted to sitewide cms so I have changed the labels accordingly.

[2022-10-02 17:33] swirtSJW commented on #10968
simple saml should not create a new account with a new address, it should add to the existing account.  It is set to lookup by email address.  Something may have fallen down there. (the module was updated recently)

[2022-10-02 17:54] swirtSJW commented on #10967
The need for this is less likely if https://github.com/department-of-veterans-affairs/va.gov-cms/issues/10968 is working as it should.

[2022-10-02 17:54] swirtSJW commented on #10968
This bit of code is responsible for making sure we have no duplicates https://github.com/department-of-veterans-affairs/va.gov-cms/blob/1bbe7059d02d5d791750e93bee5d77c222740786/docroot/modules/custom/va_gov_login/va_gov_login.module#L83-L98

[2022-10-02 19:16] swirtSJW opened #11026 "Lovell Dev punch list"
## Description
- [Tugboat](https://tugboat.vfs.va.gov/6335bde25121c36516d47d17)
   - [CMS](https://cms-liqqgmzl7tsyfbwyulbkuborufuuttav.demo.cms.va.gov)
   - [Web Lovell VA](https://web-liqqgmzl7tsyfbwyulbkuborufuuttav.demo.cms.va.gov/lovell-federal-va-health-care/)
   - [Web Lovell TRICARE](https://web-liqqgmzl7tsyfbwyulbkuborufuuttav.demo.cms.va.gov/lovell-federal-tricare-health-care/)

The foll

[2022-10-02 19:16] swirtSJW opened #11027 "CMS: Top nonclinical service location winnower fails."
The winnower on both nonclinical service locations and VAMC Facility Health Services that pre-filters facilities based on the system is failing.  This is likely due to assumptive pattern matching that works for all other facilities, but falls apart for Lovell.
![image](https://user-images.githubusercontent.com/5752113/193472229-a28318a8-4d40-49ce-b194-b405fce2523c.png)
<img width="1840" alt="Scree

[2022-10-02 20:50] swirtSJW opened #11028 "Editors should not be able to edit archived facilities"
## User Story or Problem Statement

As a maintainer of facility data, it is important that editors can not accidentally re-open facilities that have already been closed and properly  archived.

![image](https://user-images.githubusercontent.com/5752113/193475489-0194fb4b-a7e0-426c-a7e7-e21e31a835f3.png)

It is  questionalble whether a facility should ever be editable at all once it has been archiv

[2022-10-03 12:26] laflannery commented on #11025
@wesrowe the best solution would definitely be changing the Drupal behavior and not allowing editors to leave the top row blank - therefore all tables would have headers in both the top row and first column.

Regarding your second question, yes it would be an improvement if we corrected the conditional (removing the blank headers) however I have yet to come across a table where only first column h

[2022-10-03 14:22] #10658 closed

[2022-10-03 15:19] swirtSJW commented on #10911
Referrencing #10504

[2022-10-03 15:42] wesrowe commented on #11025
I'm going to ask Drupal engineers to review the ticket and say whether it's possible to require data in the top row. If so we should do it, as that will make new tables better going forward.

@swirtSJW @dsasser, can we modify the table_field form to require data in the top row? Currently the help text says it's optional, and the result is non-508 compliant and looks weird on the FE.

[2022-10-03 16:42] EWashb commented on #10770
There's a cost associated with the pre-pub access. Dave C. is working with VHA digital media to see if they will be able to fund our access.

[2022-10-03 16:42] cmaeng opened #11031 "test.staging.cms.va.gov deployment instability"
## Description

## Acceptance Criteria
- [ ] Testable_Outcome_X
- [ ] Testable_Outcome_Y
- [ ] Testable_Outcome_Z
- [ ] Requires design review

### CMS Team
Please check the team(s) that will do this work.

- [ ] `Program`
- [x] `Platform CMS Team`
- [ ] `Sitewide Crew`
- [ ] `⭐️ Sitewide CMS`
- [ ] `⭐️ Public Websites`
- [ ] `⭐️ Facilities`
- [ ] `⭐️ User support`

[2022-10-03 16:45] EWashb commented on #10794
Found the issues regarding safelinks #9669 and #5462

[2022-10-03 16:46] EWashb commented on #10794
Also #6837 is an old epic around form validation/safelinks

[2022-10-03 17:20] jilladams commented on #10811
@apisandipas looks like this is live? Ok to close?

[2022-10-03 17:24] jilladams commented on #10972
@RLHecht any news on this one?

[2022-10-03 17:30] RLHecht commented on #10972
@jilladams we got stakeholder feedback late last week so we are still making content changes. I should have a better sense after a meeting this afternoon and will post more here. Thanks!

[2022-10-03 17:44] #9761 closed

[2022-10-03 17:46] apisandipas commented on #10811
Yes, its live. Okay to close. @jilladams

[2022-10-03 17:47] laflannery commented on #9914
@edmund-dunn I remember talking about this one now - It is ready to go

[2022-10-03 17:58] swirtSJW opened #11037 "(Fallback) CMS Add PACT Act to list of Related Benefits on Publication"
### IMPORTANT CONTEXT: _This ticket is likely to be superceded by the rest of the Outreach materials epic, i.e., the "right way" that involves using a drupal-driven taxonomy. The issue is being kept around for now just in case we need a fast fix for PACT Act_

## Description
As an editor of a Publication I need to be able to classify it as "PACT Act" so that people can find it easily on VA.gov

![

[2022-10-03 18:09] swirtSJW opened #11038 "(Fallback) FE Filter on Outreach Materials needs PACT Act added."
### IMPORTANT CONTEXT: (from Steve in comments) _This ticket is likely to be superceded by the rest of the Outreach materials epic, i.e., the "right way" that involves using a drupal-driven taxonomy. The issue is being kept around for now just in case we need a fast fix for PACT Act_

## Description
Related to https://github.com/department-of-veterans-affairs/va.gov-cms/issues/11037

As a Veteran,

[2022-10-03 18:12] JayDarnell opened #11039 "Implement Character Limit on VAMC System Banner Alert with Situation Updates (full width banners on VAMC Product)"
## User Story or Problem Statement

The use of extremely long banner alerts can make for an unfavourable veteran experience. We need to take steps to keep these alerts as succinct as possible. There are currently no size limitations on the text fields for this content type. Looking at the Full  Width Alert content type as a comparison, the body field has a limit of 1000 characters.

UPDATE: Our ag

[2022-10-03 18:27] laflannery commented on #10866
@edmund-dunn color has been approved by Blake and added to ACs, we will be using `#595959`

[2022-10-03 18:32] laflannery commented on #10442
Reassigning to @BlakeOrgan for another review before implementation

[2022-10-03 18:38] JayDarnell opened #11040 "CMS: limit the number of VAMC System Banner Alerts with Situation Updates per system"
## User Story or Problem Statement

The use of multiple long banner alerts per system can make for an unfavourable veteran experience. We need to take steps to be sure banner alerts aren't misused. There are currently no limits in terms of how many banner alerts a given system can have and no notifications for editors to let them know how many they have.

## Proposed Solution

We have two potentia

[2022-10-03 18:43] jilladams commented on #11038
@DanielleThierryUSDSVA the Outreach Materials filter dropdown list is not alphabetized and seems like it could / should be. Are there strong reasons from a content perspective, re: relevance etc, not to alphabetize while we are in here?

[2022-10-03 18:49] DanielleThierryUSDSVA commented on #11038
Hi @jilladams. I'm always in favor of alphabetizing lists like these. I haven't been involved in outreach hub to date so I don't know if there was a reason for the original ordering, but I'm not opposed at all to alphabetizing. Thanks!

[2022-10-03 18:56] jilladams commented on #10811
Verified also on m.va.gov & benefits.va.gov re: injection. Closing.

[2022-10-03 18:56] #10811 closed

[2022-10-03 19:32] #10840 closed

[2022-10-03 19:45] laflannery commented on #10802
I updated the KB article request template.  I updated the process section at the bottom and I also updated the KB content writing guide I found in confluence (linked in the template) to include the guidelines from the article template I created.  I think with that we can hopefully direct people on how to request new articles as well as how to write them a bit better going forward.

[2022-10-03 19:45] #10802 closed

[2022-10-03 19:50] JayDarnell opened #11042 "CMS: Discovery - generate a report for mental health phone numbers and compare to Lighthouse"
## User Story or Problem Statement

Lighthouse has provided us with a CSV file containing all the mental health phone numbers they have knowledge of per facility. We need to generate a similar report and compare the two sets of data. The following rows should be tagged for review:

- Instances where a facility contains more than one mental health phone number in the CMS
- Instances where the menta

[2022-10-03 20:02] JayDarnell opened #11044 "CMS: generate spreadsheet of Service Taxonomy for VAMC, VC and VBA facilities"
## User Story or Problem Statement

As we work toward incorporating VBA services into the CMS, it would be informative to see what services contain descriptions for VAMC and Vet Centers, as well as which of those services potentially map to the short list of available VBA services. The hope is that such a list would help inform us as to whether or not VBA services should be tackled by adding a VBA

[2022-10-03 20:06] #10262 closed

[2022-10-03 20:22] laflannery opened #11045 "Inline content guidance trigger reloads page"
## Describe the defect
On the alt text inline content guidance component, when I click the trigger to open the expanded guidance section, this also reloads the page.

This scenario:
- Happens when I am editing an existing image. [Example](https://prod.cms.va.gov/media/image/17919)
- Does NOT happen when I am adding a new image. [Example](https://prod.cms.va.gov/media/add/image)
- Does NOT happen w

[2022-10-03 20:46] jilladams opened #11047 "Forms: Update "Form last updated" label on Form search results & Form detail page; use only revision date to populate"
## Status
**[2024-08-21] [Fran]** Added two sections "Problem to be Solved' and 'Solution', as well as updated the AC. Ready for refining.
**[2024-08-14] [Fran]** Added to Next Refinement per Michelle's feedback to my question: I think it's worth refining to understand what our options are and the effort needed, and agree that forms should not be rejected or denied for this reason, if we can do so

[2022-10-03 20:48] davidmpickett commented on #10847
Meeting schedule for Wednesday to discuss with @wesrowe & @jilladams

[2022-10-03 21:10] #11045 closed

[2022-10-03 21:36] dsasser commented on #10626
# GraphQL Queries:

## Homepage Hero
[code]

## News Spotlight
[code]

## Popular on VA.gov menu
[code]

## Other Search Tools menu
[code]

[2022-10-03 22:10] swirtSJW opened #11049 "User error: "attributes" is an invalid render array key in Drupal\Core\Render\Element::children()..."
## Describe the defect
I am seeing the following warning
[code]

[2022-10-03 22:47] davidmpickett opened #11050 "Review project documentation for Benefits Content Model Hardening"
## Description
As Design Lead, I need to understand the background for the Benefits Content Model Hardening project, so I can make sure it receives adequate design support in Q4.

## Acceptance Criteria
- [x] Read all the things
  - [x] #9628
  - [x] #9879
  - [x] [Structured content: Core benefit content](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/content/s

[2022-10-03 22:49] davidmpickett commented on #11050
@jilladams @wesrowe - FYI I just spun up this ticket for me to get up to speed on Benefit content model hardening project similar to what I just did for Income Limits. Tentatively putting this in next sprint.

[2022-10-03 23:01] davidmpickett commented on #10683
@wesrowe @jilladams - Is this the CMS Design task penciled in for Sprint 70 on q4 planning? Confirming the proposed wireframes and potentially editing /updating them? Or are there additional interactions to design?

[2022-10-03 23:12] ElijahLynn commented on #6306
[code]
[code]
[code]

[code]

[2022-10-03 23:15] ElijahLynn commented on #6306
I didn't see this in time, and went to v2.22.3 first.

[2022-10-03 23:27] ElijahLynn commented on #6306
https://github.com/department-of-veterans-affairs/va.gov-cms/issues/10960 is done :heavy_check_mark:.

[code]

[code]

[code]

[2022-10-03 23:27] ElijahLynn commented on #6306
All updates have been applied, closing this issue/epic!

[2022-10-03 23:27] #6306 closed

[2022-10-03 23:28] ElijahLynn commented on #10958
Done, see comment in parent epic for details > https://github.com/department-of-veterans-affairs/va.gov-cms/issues/6306#issuecomment-1266181469.

[2022-10-03 23:28] #10958 closed

[2022-10-03 23:28] ElijahLynn commented on #10960
This is done, see comment in parent epic for details > https://github.com/department-of-veterans-affairs/va.gov-cms/issues/6306#issuecomment-1266193861.

[2022-10-03 23:28] #10960 closed

[2022-10-03 23:55] q0rban opened #11051 "Upgrade to Tugboat v2.23.0"
### Tasks:

- [x] Change directories to the Tugboat root: `cd /opt/tugboat`
- [x] Fetch the latest tags: `git fetch --tags`
- [x] Checkout the tag (e.g. `git checkout v2.23.0`)
- [x] Build: `make && make install`
- [x] Reload Tugboat: `tbctl reload`
- [x] Wait for Tugboat to start up successfully. For the lazy: `wget --quiet -O- --tries=100 --retry-on-http-error=404,502,503 --retry-connrefused htt

[2022-10-04 14:45] edmund-dunn commented on #11049
That form has an attributes field, seen here in the default HTML element field group. I needed to hide it. It is not related to the normal `#attributes` element.
![CleanShot 2022-10-04 at 07 43 17](https://user-images.githubusercontent.com/109987005/193850222-cf9689e7-0631-485b-bbca-b9907b535a99.png)

[2022-10-04 15:18] laflannery commented on #10599
@stefaniefgray and/or @TroyA6  I updated this article and it's currently a draft [here](https://prod.cms.va.gov/node/19161/revisions/688433/view).  Based on the new process we are looking to use, would one of you be able to review the article? Making sure that:

- All functionality is correct as far as you know
- The article is understandable from the editors perspective

If you need anything else

[2022-10-04 15:51] chri5tia commented on #10755
PR is being reviewed by platform support.

[2022-10-04 16:06] #10455 closed

[2022-10-04 16:10] #10989 closed

[2022-10-04 16:22] laflannery opened #11057 "Knowledge Base article template"
## Description
The below template is intended to be used for Knowledge base articles

# How to add, edit or remove a node of a particular content type
Last updated on Month Day, Year at Time

[2022-10-04 16:24] TroyA6 commented on #10599
Sure - I'd be happy to take a look!

Thank you,
Troy

On Tue, Oct 4, 2022 at 10:18 AM Laura Flannery ***@***.***>
wrote:

[2022-10-04 16:37] cmaeng opened #11058 "Upgrade Tugboat from 2.22.7 to 2.22.8"
### Tasks:
- [x] Change directories to the Tugboat root: `cd /opt/tugboat`
- [x] Fetch the latest tags: `git fetch --tags`
- [x] Checkout v2.22.8: `git checkout v2.22.8`
- [x] Build: `make && make install`
- [x] Reload Tugboat: `tbctl reload`
- [x] Wait for Tugboat to start up successfully. For the lazy: `wget --quiet -O- --tries=100 --retry-on-http-error=404,502,503 --retry-connrefused https://[t

[2022-10-04 17:14] jilladams commented on #10683
I believe so. What isn't represented here is 1) that we're going to do an audit that may yield a different direction for next steps, and 2) the notes on prior design feedback. Florence did do a design for this that was based on modifying what the Drupal TableField module does by default in a patch. But: the direction of that was problematic -- we have both design and eng feedback that we should su

[2022-10-04 17:14] #9634 closed

[2022-10-04 17:16] dsasser commented on #11025
@wesrowe this is possible but presents some challenges. The tablefield module is written to accept a blank row to mean "the first row that actually has data is not a header", so this would require a bit of work to rearchitect that out. Also, it is complicated by the fact that we are also trying to move the header selections to separate checkboxes in #10675 at the same time. The tablefield module h

[2022-10-04 17:17] ryguyk commented on #10029
### From the walkthrough with Ron

Ron is able to get things mostly working _locally_. The injected-header code is loaded and executes, but some of the resources are blocked by CORS restrictions.

When he pushes his code to staging, the injected-header code continues to load successfully, but it exits execution because the [whitelist configuration for his staging url is incorrect.](https://github.

[2022-10-04 17:18] #8959 closed

[2022-10-04 17:18] #9630 closed

[2022-10-04 17:19] JayDarnell commented on #11044
Most of the VBA facilities don't seem to sync up with existing VAMC or VC facilities. A few might. It is worth mentioning that the list of VBA facilities added to this document probably isn't complete.

https://docs.google.com/spreadsheets/d/1c5fSQA4yxlBcdQbVMs3CVCs7yuxmDhIweYudAt2STpw/edit#gid=0

[2022-10-04 17:19] #7955 closed

[2022-10-04 17:22] #8160 closed

[2022-10-04 17:25] cmaeng opened #11060 "2022 Q4 Platform CMS Team Operations and Maintenance"
## Description
Bucket of items identified to ensure that the CMS is performant and stable.

## Labels
(You can delete this section once it's complete)
- [x] Issue type (red) (defaults to "Epic")
- [ ] CMS subsystem (green)
- [ ] CMS practice area (blue)
- [x] CMS workstream (orange)
- [ ] CMS-supported product (black)

### CMS Team
Please check the team(s) that will do this work.

- [ ] `Program`

[2022-10-04 17:30] jilladams commented on #10029
If we can modify the whitelist to make it work, let's do that. I'm not grokking what's wrong about what's in the file already when comparing your note (top) to the contents of the file (bottom), but if you have a grip on the necessary change, feel free to put up a PR:

![Screen Shot 2022-10-04 at 10 25 01 AM](https://user-images.githubusercontent.com/85581471/193886162-ff8018ea-b1ce-4d00-9bd4-25fb

[2022-10-04 17:30] chri5tia commented on #10680
Seems to only be occurring on this one page. Reproduced on the CMS end. Switching to automatic URL alias didn't help. Section is correct.
https://va-gov-cms.ddev.site/resources/choosing-a-decision-review-option

Benefit hub is
VA BENEFIT HUBS
[Decision reviews and appeals](https://va-gov-cms.ddev.site/decision-reviews)

Perhaps that definition trumps it's position as a resource and support page. D

[2022-10-04 17:35] chri5tia commented on #10680
Here is the section of the page that is putting it where the breadcrumb is <img width="915" alt="Screen Shot 2022-10-04 at 10 31 19 AM" src="https://user-images.githubusercontent.com/22764938/193887181-4c2be7d0-d7de-4d47-9445-1d80767312b0.png">

To fix this, change the section from "Resources and Support" to "--decision reviews".
<img width="427" alt="Screen Shot 2022-10-04 at 10 33 47 AM" src="ht

[2022-10-04 17:40] chri5tia commented on #10308
The node section was defined incorrectly. The breadcrumbs are fixed when putting it in "--review decisions". As that is what the article topic is defined as and the node is part of benefit hubs, not resources and support. See https://github.com/department-of-veterans-affairs/va.gov-cms/issues/10680

[2022-10-04 18:05] RLHecht commented on #10680
Thanks @chri5tia. If I change the section from resources and support to Decision Reviews, does that give content editors assigned to that area the ability to edit this page? This page should be managed by sitewide content, which is why we assign all of the R&S articles we create to OCTO-DE resources and support.

[2022-10-04 18:45] #9821 closed

[2022-10-04 18:47] jilladams commented on #10776
Marking blocked til we get the scope here updated from [10/4 Flagged Content meeting] notes (https://docs.google.com/document/d/1zEDbfR0CAHyCoHh_1uk3T2bwVmV4D8Yl3EARGWKM2-Y/edit#heading=h.oek99rkrbej) with Dave / Erika / Swirt.

[2022-10-04 19:05] ElijahLynn opened #11061 "Update/fix disk quota limits for Tugboat"
I saw this message in Tugboat logs while investigating:

[code]

And @q0rban helped me figure out that all projects combined are over quota.

![image.png](https://images.zenhubusercontent.com/5cdc72c50b7efe3f164150b2/b95eead7-3a08-4436-8a48-b69b41ea48d0)

[code]

So, our disk volume size is only 4TB, and we are going to aim for the quota's to be 3/4 of that size, so closer to 3TB total.

1. CMS fr

[2022-10-04 19:14] ElijahLynn opened #11062 "Fix disk quota for Tugboat servers"
I saw this in the logs while investigating another issue:

[code]

And discussed it with @q0rban in this Slack thread > https://dsva.slack.com/archives/C01A35JDH88/p1664908375033569.

He helped me identify with this command `tugboat -j ls projects | jq '[.[].quota] | add'` that the quota for all projects combined was `5220` which is more than the 4TB volume we have available.

![image.png](https:/

[2022-10-04 19:23] ElijahLynn commented on #11062
K, I went ahead and updated the above quotas.

I used this command to get the quota, e.g. `tugboat ls 5fd114f1c65644851f6376e9 --json | grep quota`. Then e.g. `tugboat update 5fd114f1c65644851f6376e9 quota=250` to update it.

Now, `tugboat -j ls projects | jq '[.[].quota] | add'` returns `3672` vs `5220` before.

[2022-10-04 19:23] #11062 closed

[2022-10-04 19:28] jtmst commented on #10868
Design team is working to incorporate this into the va-telephone component.  Once they make that change we will be able update the sms numbers across vets-website

[2022-10-04 19:41] q0rban commented on #11051
Possible duplicate of #11058?

[2022-10-04 19:42] dsasser commented on #10735
200 response
Ensure it's non-zero-length
Check for valid CSV formatting/shape (not an HTML page)
Can we check for an expected date? (Wes)
?

Creating a CSV validator is possible, and can be achieved in many ways including:

1) An Event subscriber that fires immediately after the forms migration completes.
2) A regular scheduled task that fires immediately after the forms migration completes.
3) A

[2022-10-04 20:00] JayDarnell commented on #11044
Next steps: meeting between @JayDarnell @davidmpickett @dsinla to discuss implications.

[2022-10-04 20:04] jtmst commented on #10868
blocked pending an update to the design system va-telephone component which is planned for next sprint

https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/1246

[2022-10-04 20:07] #10167 closed

[2022-10-04 20:07] #11044 closed

[2022-10-04 20:34] edmund-dunn opened #11064 "Do initial setup for GA4 in Drupal"
## Description
Set up google analytics moduel fro GA4.

Use the GA Drupal module.
https://www.drupal.org/project/google_analytics

https://analytics.google.com/analytics/web/?authuser=1#/a50123418p314152370/admin/streams/table/3545870831

[code]

[2022-10-04 20:49] #10866 closed

[2022-10-04 20:49] ndouglas commented on #10735
If the job fails, Slack gets notified with a link to the Jenkins job anyway, so IMHO you don't need to worry about that.  If you yeet some text to `stderr` and return a non-zero exit code that should be sufficient.

Personally I agree that non-zero and valid CSV is sufficient.

[2022-10-04 21:57] jcklpe commented on #10194
A vet mentioned they got some good info from this subreddit. Might be worth reading more here: https://www.reddit.com/r/VeteransBenefits/

[2022-10-04 21:59] chri5tia commented on #10680
@RLHecht I can check, but can I ask how this interacts with the fact that it is a Benefit hub page?

[2022-10-04 23:09] davidmpickett commented on #10489
[Research readout & documentation template](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/regional-offices/research/research_readout_issue_template.md) is ready for review

[2022-10-04 23:28] wesrowe opened #11066 "Form audit tools in CMS"
## Background

Two important enhancements to Form audit tools in the CMS:

1. The current CMS has a Forms Flags view that is like a news feed for flags of different types. It's a little hard to work with and can't be filtered on a single flag for technical reasons. Also, flags can only be cleared one at a time by unchecking a box on the Edit Detail screen.
2. There's not currently a way to audit F

[2022-10-05 01:26] swirtSJW opened #11069 "CMS: Lovell Listing page parity enforcement"
## User Story or Problem Statement

As a Lovell editor I need a guard rail so I can not choose a mismatched section and listing page combination that creates confusion and mayhem on the following content types.

![image](https://user-images.githubusercontent.com/5752113/193959588-5ede032f-57e3-4085-bf85-4ac41c72d0ce.png)

This could be handled either with entity validation that prevents save with

[2022-10-05 01:31] swirtSJW commented on #11069
We'll have to decide whether to handle this via entity validation or via JS trickery.

The advantage to JS trickery is that it is a cleaner easier path for editors.
The advantage of entity validation is that we are not loading a bunch of JS for every single instance of a list item. (scope of the js include can not be restricted by Lovell.. only the logic within can)

[2022-10-05 12:41] #9970 closed

[2022-10-05 13:36] ndouglas opened #11070 "The Quality Assurance Metrics Epic"
(a.k.a. The Quality Assurance Metrics Memorial Orchestra & Tra-La-La Band)

## Description
This epic tries to organize gathering QA metrics, since I recently learned that I'm almost halfway through the "gathering metrics" phase of the Q4 QA Standards initiative.

First, I'ma make a list, then I'ma check it twice, then I'ma create issues for everything in the list, then I'ma close the issues.

## M

[2022-10-05 13:41] ndouglas opened #11071 "Investigate recording Sentry errors as a metric in DataDog."
## Description
This is either easy to do or not worth doing and should be replaced with RUM or APM.

## Acceptance Criteria
- [x] Sentry error count and details are recorded in DataDog, or I'LL KNOW THE REASON WHY NOT
- [x] Followup issue opened to add this to the QA dashboard

[2022-10-05 13:43] cmaeng commented on #8357
Closing this issue as we start Q4

[2022-10-05 13:43] #8357 closed

[2022-10-05 13:43] laflannery opened #11072 "Duplicate IDs for search form in Knowledge Base"
## Description
In the Knowledge Base, there is a second search form in the left nav sidebar below the navigation.  This is hidden with CSS so it cannot be seen or accessed, however it's still in the DOM and therefore throwing an accessibility error because it has the same IDs as the visible search form in the header.

Since this form is hidden anyway, is this needed? Can we remove it and clear the

[2022-10-05 13:48] swirtSJW commented on #10308
https://dsva.slack.com/archives/CDHBKAL9W/p1664973339806309?thread_ts=1660661901.076319&cid=CDHBKAL9W

TLDR:  Section (field_administration) does not control breadcrumbs (other than in VAMC Lovell),

[2022-10-05 13:49] cmaeng commented on #5502
With the AP effort paused, this initiative will be moved into the backlog

[2022-10-05 13:52] swirtSJW commented on #10308
The "relevant file" docroot/modules/custom/va_gov_workflow_assignments/src/Plugin/Block/EntityMetaDisplay.php is misleading because it uses the word breadcrumb and is using field_administration, but that is for the "owner breadcrumb" not the page breadcrumb
![image](https://user-images.githubusercontent.com/5752113/194077392-9040ad1b-48fa-42be-a919-25cb0eabf6e2.png)

[2022-10-05 13:52] ndouglas opened #11073 "GitHub Action for reporting statistics about `main` to DataDog."
## Description
This should be straightforward to implement.  Then I can add steps for acquiring and reporting additional metrics fairly easily.  I think.

## Acceptance Criteria
- [ ] A GitHub Action exists such that metrics are gathered from the `main` branch and reported to DataDog.
- [ ] This GitHub Action is freely extensible so that we can report additional metrics without unnecessarily dupli

[2022-10-05 13:52] cmaeng commented on #9497
With the recent reduction in staff, this effort will be deprioritized into the backlog.

[2022-10-05 13:56] cmaeng commented on #1750
Closing out this epic in favor of quarterly timeboxed efforts.

[2022-10-05 13:56] #1750 closed

[2022-10-05 13:56] swirtSJW commented on #10680
https://dsva.slack.com/archives/CDHBKAL9W/p1664973339806309?thread_ts=1660661901.076319&cid=CDHBKAL9W

[2022-10-05 13:58] ndouglas opened #11074 "GitHub Action for reporting statistics about PR branches to DataDog."
## Description
Similar to #11073, we should be able to easily gather metrics specific to a PR branch and submit them to DataDog.

This should assist in gathering some of the more complex PR-specific statistics, like Tugboat test failures, etc.  Generally speaking, this is less of a priority than #11073.

## Acceptance Criteria
- [ ] A GitHub Action exists such that we can report PR-specific metric

[2022-10-05 13:58] cmaeng commented on #3304
Closing this epic in favor of quarterly timeboxed ones

[2022-10-05 13:58] #3304 closed

[2022-10-05 14:00] cmaeng commented on #3928
Closing this epic in favor of quarterly timeboxed ones

[2022-10-05 14:02] ndouglas opened #11075 "Record hook implementations in custom modules as a metric."
## Description
This should be straightforward provided that the hook implementations are appropriately commented.  In that event, we can just count the comments that match `/Implements\s+hook_.*/` or something like that.

This depends on #11073.

## Acceptance Criteria
- [x] Verified that we can accurately create a metric for hook implementations.
- [ ] Metric for hook implementations is collected

[2022-10-05 14:20] cmaeng opened #11076 "FY23 Q1 CMS Monitoring and Alerting"
## Background
This effort will be timeboxed quarterly for tracking purposes.

Our CMS integrates with multiple external systems. The operation and behavior of these systems can negatively affect CMS functionality. Application performance monitoring was implemented in https://github.com/department-of-veterans-affairs/va.gov-cms/issues/5796; we will continue to improve visibility into code quality a

[2022-10-05 14:23] cmaeng commented on #7471
this epic will be closed in favor of quarterly timeboxed initiatives. all unfinished tickets have been moved to #11076

[2022-10-05 14:23] #7471 closed

[2022-10-05 14:25] ndouglas opened #11077 "Investigate recording metrics for commits in a PR"
## Description
We wanna gather:
- total commits per PR
- merge commits per PR to indicate idling and churn
- non-merge commits per PR to indicate (however roughly) actual work
- commits that passed all tests
- commits that did not pass tests

For A (merge commits that did not pass tests) and B (merge commits that did pass tests), we can use A:B to approximate the number of spurious test failures,

[2022-10-05 14:25] ndouglas opened #11078 "Investigate recording a merge conflict metric."
## Description
This is weird and I don't know if it's possible.

Over the lifetime of a PR, it's normal to have all your tests pass, then (while waiting for code review) some module update or similar introduces a merge conflict, which can mean that the test and review process starts anew.  We've developed some hacky workarounds for this (just approving, then fixing the conflicts, pushing, and not

[2022-10-05 14:34] ndouglas opened #11079 "Record custom module `.module` line count metrics."
## Description
This is a very simple metric for reporting the total line count (comments excluded, ideally, to avoid creating a perverse incentive) of our custom module `.module` files, individually and aggregated.  Code in `.module` files tends to be without unit tests and be either hook implementations (see #11075 and #10964 ) or common code shared by hook implementations.

This should be very s

[2022-10-05 14:38] swirtSJW commented on #10680
Changing the section does not change the breadcrumbs.  Example:
![image](https://user-images.githubusercontent.com/5752113/194088100-1bdfbc0b-2d24-48e7-af3a-7106794cc025.png)

[2022-10-05 14:45] ndouglas opened #11080 "Investigate gathering and reporting metrics on contributors to codebase"
## Description
We want to gather the following metrics:

- [ ] Number of distinct contributors per file
- [ ] Number of major contributors (>=5% of changes)
- [ ] Number of minor contributors (<5% of changes)
- [ ] Number of distinct contributors per function
- [ ] Number of distinct commits per file
- [ ] Number of distinct commits per function

How to actually do this is not known.  I'm anticipa

[2022-10-05 14:53] ndouglas opened #11081 "Investigate gathering metrics on cyclomatic complexity"
## Description
[Cyclomatic complexity](https://en.wikipedia.org/wiki/Cyclomatic_complexity) is a useful software metric indicating how easy it is to reason about code, how easy it is to test it, etc.  We should record this.  It'd also be nice if we reported function names too so that we can identify the top function and target it for refactoring.

## Acceptance Criteria
- [x] Gathering cyclomatic

[2022-10-05 15:01] ndouglas opened #11082 "Investigate gathering function line count metrics."
## Description
The line count of a function is a good indicator as to its general quality.  Generally speaking, about five lines should be sufficient for a function to Do One Thing.  A long line count likely means that the function is doing more than one thing, which leads to difficulty in analyzing, difficulty in testing, side effects due to ordering, overly acquisitive treatment of dependencies,

[2022-10-05 15:01] wesrowe commented on #11025
@dsasser, thanks for the thoughtful response. The UI constraint sounds like a more viable option. However, the tech debt is a concern.

@laflannery, I would like to wait to do anything in the code until we hear back from the audit how frequently a blank top row occurs in the wild.

The no-brainer first move is to change the help text in the CMS UI so that we don't give people the idea. I'll write

[2022-10-05 15:10] ndouglas opened #11083 "Audit outflow of events to DataDog"
## Description
We're sending a lot of events to DataDog, most of which are unlikely to be useful.  I should go through the events received by DataDog and use it to refine the integration configuration so that we're not spamming DD and wasting money.

## Acceptance Criteria
- [x] I've audited which events get sent to DataDog and pared this down where appropriate.

[2022-10-05 15:12] wesrowe opened #11084 "Update Table UI helper text to require headers in the top row"
### Dependency note
This work goes with fixing the existing version of tables, where the top row is always formatted by the FE as table headers. It will be "thrown away" when/if we enable Editors to select left-column headers.

## Description

This is a low-hanging way to attempt to prevent blank table header rows as documented in 508 defect https://github.com/department-of-veterans-affairs/va.gov

[2022-10-05 15:35] #8506 closed

[2022-10-05 15:35] #8509 closed

[2022-10-05 15:35] #8507 closed

[2022-10-05 15:38] davidmpickett commented on #11084
This seems like a relatively small scope, I'm happy to take this on, but will need help understanding all the surrounding context. Depending on capacity, might be good to have Blake involved too just to continue building context for him. I leave that call to @EWashb

[2022-10-05 15:43] wesrowe opened #11085 "Defect: 508 on injected headers: "skip link" for screen readers appearing after header"
## Description

A stakeholder (John Edwards) outside OCTO-DE flagged an accessibility issue with injected headers. It is believed to be an issue with all injected headers in TeamSites. He believes this issue exists for all TeamSite sites with the injected header, but has been confirmed on [VHA](https://www.va.gov/wholehealth/), NCA and OPIA websites.

**Email from John Edwards to Jenny Heiland-Lue

[2022-10-05 15:45] EWashb commented on #11084
@davidmpickett @wesrowe I agree that it would be good for @BlakeOrgan to sit in for context. Dave- I'm also available if you need me for additional editorial context.

Once you have something written, @laflannery can review the interface as a whole.

[2022-10-05 15:58] wesrowe opened #11086 "Dashboard to make homepage controls easier to find for Editors"
## Description

As an Editor of specific components of the homepage, I want to have all the controls I'm responsible for in a single view so that I can easily find what I need.

Controls for the new Drupal-managed homepage content are scattered across custom blocks, entity queues, and menus. Steve W proposed that a dashboard would enable us to pull all the controls into a single interface for Edit

[2022-10-05 16:00] wesrowe commented on #11086
@mmiddaugh, when the time comes to consider this implementation, the ticket will need more definition around what we're trying to accomplish.

[2022-10-05 16:05] EWashb commented on #8541
We did not do any CM for this. This is a silent rollout. We will compare any change in alt text errors after Q4 2022

[2022-10-05 16:05] #8541 closed

[2022-10-05 16:40] EWashb opened #11087 "UX comparison of Drupal Analytics Tools"
## Background

We should determine what functionality GA4 has and if it gives us everything we need from a data perspective for UX needs. Also, we should compare GA4 to other open-source options like PostHog to see if there are better solutions than what GA4 has.

## Acceptance Criteria

- [x] Comparison of GA4 versus PostHog

[2022-10-05 16:41] #10849 closed

[2022-10-05 16:53] #5835 closed

[2022-10-05 16:53] cmaeng commented on #5835
this has been overcome by events

[2022-10-05 16:54] cmaeng commented on #5835
@acrollet is no longer on this project

[2022-10-05 16:54] cmaeng commented on #5994
@mchelen-gov can this be closed?

[2022-10-05 16:59] laflannery commented on #11085
Reordering will resolve the issue, confirmed locally that if the HTML looks like this, the skip link will be the first focusable element:
![image](https://user-images.githubusercontent.com/106678594/194118397-7f22eded-b8fb-49dd-a62d-6aff80ffbff8.png)

[2022-10-05 17:02] cmaeng commented on #5994
pivoting this to obtain access for @timcosgrove and @cmaeng

[2022-10-05 17:02] chri5tia commented on #10680
@swirtSJW Can you reproduce it using the steps I outlined above to see if you get the same results? I am not sure how your step 1 lines up with what I did, which changed the bread crumb. Also, this issue seems to only be on this page because the type of content is defined differently in the different areas outlines on that page. Are there any other examples?

[2022-10-05 17:03] chri5tia commented on #10680
Otherwise they would need to change the primary article category type.

[2022-10-05 17:19] jilladams commented on #11085
When this is done, stakeholder comms from Wes / Jill should go back to "RE: Injected header's impact on skip navigation functionality" thread with JennyHL, Danielle, Blake Scates, John Edwards, Justin Warren.

[2022-10-05 17:25] #11064 closed

[2022-10-05 17:29] dsinla commented on #10842
@davidmpickett  @EWashb Do we expect Blake to be available for Sprint 69? Seems like it? As a good first activity.

[2022-10-05 17:42] laflannery opened #11089 "Questions on 3rd party widgets within the CMS"
## Description
There are a few 3rd party widgets within the CMS that are throwing Axe accessibility errors.  I am wondering if we have any control over these. My first instinct is no we cannot change anything here. If we cannot, we have the ability to exclude these from the cypress-axe scans so they don't stop PRs from being merged.

Can you confirm if we can or cannot edit the following?:

1. Wit

[2022-10-05 18:00] jilladams commented on #8879
@apisandipas We made this ticket after Allison did V1 of the prototype, and I'm not certain if this is still relevant based on current code / design, since the hero area has changed. Could you take a look and validate whether this should close or we do need to write tests?  We should pull this into next sprint if we still need to do the work.

[2022-10-05 18:01] jilladams commented on #8878
@mmiddaugh we created this ticket after the 1st homepage prototype round, based on the design at the time. Ryan has changed the veteran image gradient a bit -- I'm not clear if this work is still needed re: the design system. But if so, we should get this rolling. Assigning to you for now for review with Ryan, and we can help as needed, just let us know?

[2022-10-05 18:04] jilladams commented on #10965
Moving this back to Needs Product Definition and assigning to @wesrowe based on our sync with Dave yesterday, in which he suggested: publish both homepage versions, add a modal to allow opting in to the new homepage experience, and collect metrics / qualitative feedback via medallia to inform fully launching the new homepage. We need to settle the discussion around how we are going to launch, befo

[2022-10-05 18:05] jilladams commented on #10965
Actually: this should prob be assigned to Michelle, now that I look at it. Updating.

[2022-10-05 18:11] EWashb commented on #10841
Coordinate with the Analytics team in regard to privacy. Editors are union employees, therefore we should make sure we are considering all implications for privacy. Also- CM for editor transparency and the ability to opt-out for each option.

[2022-10-05 18:15] EWashb commented on #10841
CM for analytics tracking needs to be considered. Alerts or something of the like. Def launch with an opt-out. We want to make sure that it stays off if they opt out.

[2022-10-05 18:17] ryguyk commented on #10029
## Some Findings

### How does the injected header get injected, anyway?
The code responsible for doing the injection is found in `proxy-rewrite-entry.jsx`. When that code is run in the browser, it effectively looks for an existing header and footer and then replaces those with the new header and footer. It's a fairly basic concept.

But it's basic because that isn't the real magic here. The real

[2022-10-05 18:21] EWashb commented on #11012
Let's not forget the contrib modules!

[2022-10-05 18:24] EWashb opened #11090 "Discovery: Google Analytics Editorial Security"
## Background

Prior to rolling out CMS analytics to track editor behavior using GA4, we should confirm privacy and security with the Platform Analytics team.

Also, the analytics team is requiring all users to upgrade to GA4.

## Acceptance Criteria

- [x] Meet with analytics team to determine security level and options to opt-out
- [x] Confirm differences between currently installed tag manager

[2022-10-05 18:52] jilladams commented on #10972
Beth confirmed this won't be ready this week. Punting back to Stretch, and adding to Sprint 69.

[2022-10-05 19:13] ndouglas opened #11092 "Disable Upgrade Status & Update Manager on BRD"
## Description
Update Manager was previously disabled in #10649 , but I reënabled it for Upgrade Status.  But now it's annoying again, so I wanna disable it on BRD so it doesn't annoy users.

## Acceptance Criteria
- [ ] The Config Split for prod and staging disables Upgrade Status and Update Manager.

[2022-10-05 19:13] timcosgrove commented on #10740
Node creation trends over the past 8 weeks as of 10/4/22: https://docs.google.com/spreadsheets/d/1t8iW3WWQkdTocM-JzH5i3GiGw-JhcylFBsfyPlPPs7I/edit#gid=0

[2022-10-05 19:17] jilladams commented on #10029
I'll add some of these notes into the Github docs re: supporting injected header. For now: our work here is done to support displaying the injected header on staging. [#9768](https://github.com/department-of-veterans-affairs/va.gov-cms/issues/9768) will track turning on injection in production when it's time.

[2022-10-05 19:17] #10029 closed

[2022-10-05 19:27] wesrowe commented on #10683
Val pointed out the sighted-user and Editor sides of the equation. In a nutshell: if you let an Editor say "my headers are in the first column," you then need the FE to look that way and you need the Editor experience to consistently look that way. We had initially looked at it as an accessibility fix where we would just add a few attributes to html to identify headers. The visual design needs are

[2022-10-05 19:38] jilladams commented on #10626
We missed the News Promo image in ticket spec originally, now added. That image is 1:1 aspect ratio, and in the Sketch file at 100%, the image is 312x312px. In front-end presentation, it'll need to follow the column grid, so I'd love to get @apisandipas 's input on the best way to manage sizing on the Drupal end vs. how it gets handled on the front-end.

[2022-10-05 19:47] jilladams opened #11094 "Fixes from Collab Cycle feedback"

[2022-10-05 19:47] jilladams opened #11095 "Homepage: V3 UAT feedback / design updates for launch"

[2022-10-05 19:48] jilladams opened #11096 "Homepage: Implement QA feedback for launch"

[2022-10-05 19:54] jilladams opened #11097 "Income limits: user research readout"

[2022-10-05 19:54] jilladams opened #11098 "Income limits: High-fidelity prototype for internal review"
## Description

Draft prototype for internal review (as a prelude to stakeholder review and usability research).

## Acceptance Criteria
- [x] Built in Sketch using Design System
- [ ] Enable simulated fill-in of inputs (i.e., starts blank, a click types a zip code)
- [x] Start from "Cost of care" or similar Benefit Hub page
- [x] Mobile layout only
- [x] Review with Dave Pickett and iterate if ne

[2022-10-05 19:55] jilladams opened #11099 "Income limits: Usability testing planning"

[2022-10-05 19:55] jilladams opened #11100 "Income limits: UAT"

[2022-10-05 19:55] jilladams opened #11101 "IncLim: User research synthesis"
## Description

### User story

**AS A(N)** researcher
**I WANT** to synthesize data from research sessions
**SO THAT** I can summarize findings and draft recommendations

## Acceptance criteria

- [x] Clean up notes spreadsheet
- [x] Write topline summary and share out with team
- [x] Do data analysis/synthesis of data collected from research
- [x] Write research report
- [x] Update MVS checker w

[2022-10-05 19:55] jilladams opened #11102 "Income limits: visualize post-research recommendations (as needed) to aid discussion with stakeholders"
## Description

### User story

**AS A** PO/PM
**I WANT** help seeing what the app would look like with recommended changes to UX design/content
**SO THAT** we can more effectively finalize the designs and content for implementation.

### Engineering notes / background

### Analytics considerations

### Quality / testing notes

## Acceptance criteria

- [x] [Sketch file](https://www.sketch.com/s/a

[2022-10-05 20:01] jilladams opened #11103 "Chatbot support: Technical strategy & feedback"

[2022-10-05 20:03] jilladams opened #11105 "Benefits detail page: Implement new content type in Drupal config"

[2022-10-05 20:04] jilladams opened #11106 "[Benefits Taxonomy] Benefit detail page: Implement FE template against Drupal"

[2022-10-05 20:12] laflannery opened #11108 "CMS: For/ID attribute mismatch on Lat & long fields in Create Community Access point node"
## Description
In the CMS, when an editor is creating a new Community Access Point node, there are 2 fields - one for Latitude and one for Longitude.  These fields have a mismatch for their labels, meaning the `id` of the `<input>` does not match the `for` attribute of the `<label>`.

For example, on the Latitude field, the `for` attribute is currently `edit-field-geolocation-0-value-lat` and the

[2022-10-05 20:18] edmund-dunn opened #11109 "Inline Guidance form group guidance field not populating with existing content"
## Description
Noticed that the Inline Guidance field was not repopulating with he existing content int he Field Group Inline Guidance widget.

## Acceptance Criteria
- [ ] Inline Guidance field repopulates.

### CMS Team
Please check the team(s) that will do this work.

- [ ] `Program`
- [ ] `Platform CMS Team`
- [ ] `Sitewide Crew`
- [X] `⭐️ Sitewide CMS`
- [ ] `⭐️ Public Websites`
- [ ] `⭐️ Fac

[2022-10-05 20:30] dsinla opened #11110 "Sprint 69 - Facilities | Oct 10 - Oct 23"
<details><summary>Quarterly Initiatives</summary>

List here the major initiatives (Super Epics) driving work for this quarter
The majority of the team's work should fall under these initiatives.
There will likely be other bug-fixes and continuing/legacy issues that fall into a Sprint.

- #9655 Lovell
- #9659 VBA MVP
- #1392 Banners

**Blocked until LH team moves forward**
- #10798  Lighthouse v1

[2022-10-05 20:41] davidmpickett commented on #10847
Outcome from today's meeting @wesrowe and @jilladams are going to try and connect with Cindy Merrill tomorrow about possible involvement. Results of that convo will then be brought to Dave C to determine path forward.

[2022-10-05 20:55] dsinla commented on #10454
@JayDarnell would it be correct to say this is blocked, waiting on v1?

[2022-10-05 20:55] davidmpickett opened #11112 "Get up to speed on 508 table accessibility project"
## Description
As Design Lead, I need to understand the background for 508 table accessibility project, so I can make sure it receives adequate design support in Q4.

## Acceptance Criteria
- [x] Acquaint myself with the background
  - [x] [Original defect report](https://github.com/department-of-veterans-affairs/va.gov-cms/issues/10372)
  - [x] [Epic](https://github.com/department-of-veterans-aff

[2022-10-05 21:51] dsasser commented on #10626
Removed these AC 10/5/22. It was decided that dark launch won't be necessary. Instead, we will not merge CMS changes until ready to do so, which negates the dark launch requirement.

- [ ] Limit to Developer Admins (for dark launch reasons)
  - [ ] hiding from Content Admins may require custom code

[2022-10-05 21:52] swirtSJW commented on #11040
This could largely be handled by applying "Allow only one" to the combination of `field_administration` and `field_banner_alert_vamcs`

However, in order for this to work.  Allow only one would have to apply and enforce published pages only.  Here is the upstream issue for that. https://www.drupal.org/project/allow_only_one/issues/3313753

This methodology would allow VISNs or higher to add a bann

[2022-10-05 22:02] swirtSJW commented on #10680
My step 1 is exactly the step you performed except I moved it completely some place else so that you would see the section does not in any way drive breadcrumbs anywhere on the site, except for Lovell.
Breadcrumbs are controlled by the menu.

Your fix did not fix it either.  In the screenshot you posted as evidence of the fix, the breadcrumbs are exactly the same as they are on prod.  Nothing chan

[2022-10-05 22:13] chri5tia commented on #10755
PR was approved and merged.

[2022-10-05 22:14] chri5tia commented on #10633
This probably needs more work.

[2022-10-05 22:29] chri5tia commented on #10680
Thanks for clarifying and providing the slack conversation, which helps a lot. I must have been comparing it to [this screenshot](https://user-images.githubusercontent.com/85581471/185191277-456b66c1-a997-4820-ba02-20813f703627.png) inappropriately. Refreshing my local and taking a fresh look.

[2022-10-05 22:51] jcklpe commented on #10194
Some thoughts I wanted to get out here while it's fresh.

As we have talked with vets some recurring themes appear to me. I don't want to be impose my bias on static so take this with a grain of salt:

*   Vets want to talk to a human. 
    *   People are responsive and dynamic. Sometimes a vet doesn't know exactly what they need help with or where to look on the website. 
    *   they trust talki

[2022-10-05 23:13] chri5tia commented on #10680
Thanks for clarifying and providing the slack conversation, which helps a lot. I got [this screenshot](https://user-images.githubusercontent.com/85581471/185191277-456b66c1-a997-4820-ba02-20813f703627.png) backwards. Carrying over from that conversation, it was outlined that the breadcrumb is controlled by its position in the Decision reviews menu (`admin/structure/menu/manage/decision-reviews-ben

[2022-10-05 23:39] wesrowe commented on #10819
@jtmst, I assigned to you for a glance-over before refinement, if you have time.

[2022-10-05 23:41] wesrowe commented on #8879
Moved back to new/unrefined. Hero portraits are not part of MVP homepage and therefore no unit tests required pre-launch.

[2022-10-06 00:29] wesrowe opened #11115 "Form audit tool: Changed Filename"
## Description

Add a tab to display all "Filename changed" form flags, similar to [existing flag audit table](https://prod.cms.va.gov/admin/content/flagged?type=va_form&workbench_access_section__section=All) filtered for "VA Form" content type, but with only one flag type. Include bulk ability to clear these flags.

## Developer Notes
This is achievable by:
- Cloning the existing flagged content

[2022-10-06 00:31] wesrowe opened #11116 "Form audit tool: New/Deleted forms"
## Description

Add a tab to display all "New" form flags, and Deleted forms, similar to [existing flag audit table](https://prod.cms.va.gov/admin/content/flagged?type=va_form&workbench_access_section__section=All) filtered for "VA Form" content type, but with only one flag type. Include bulk ability to clear these flags.

## Acceptance Criteria
- [ ] New view should appear in VA Forms area: https

[2022-10-06 00:32] wesrowe opened #11117 "Form audit tool: Deleted form"
## Description

Add a tab to display all "Deleted" form flags, similar to [existing flag audit table](https://prod.cms.va.gov/admin/content/flagged?type=va_form&workbench_access_section__section=All) filtered for "VA Form" content type, but with only one flag type. Include bulk ability to clear these flags.

## Acceptance Criteria
- [ ] New view should appear in VA Forms area: https://prod.cms.va.

[2022-10-06 00:34] wesrowe opened #11118 "Form audit tool: Changed Title"
## Description

Add a tab to display all "Changed Title" form flags, similar to [existing flag audit table](https://prod.cms.va.gov/admin/content/flagged?type=va_form&workbench_access_section__section=All) filtered for "VA Form" content type, but with only one flag type. Include bulk ability to clear these flags.

## Acceptance Criteria
- [ ] New view should appear in VA Forms area: https://prod.c

[2022-10-06 01:59] ElijahLynn commented on #11031
I have test.staging stable for right now, BUT that is not permanent and it appears to be related to the instance size that it is deployed with. I made a PR to try to change the lock order here https://github.com/department-of-veterans-affairs/devops/pull/12048 but still noticed one deploy firing the jobs in the wrong lock order. And then I deployed test.staging with the same instance size that non

[2022-10-06 02:02] wesrowe commented on #10899
Moving back to New/Unref since Veteran portrait component isn't MVP

[2022-10-06 02:06] wesrowe opened #11119 "Implement help-text and character limits for all Homepage drupal fields"
***See ACs for time-box approach around risk/ambiguity***

## Description

As an Editor working on the new Homepage, I want to see helpful text with fields of custom blocks so that it's clear what I need to do to conform with governance.

## Acceptance Criteria

**Agreement in sprint planning: execute all the actionable ACs below, and work with PM/DM to break uncertain stuff out into separate tick

[2022-10-06 02:18] wesrowe opened #11120 "PW - Sprint 69 Plan"
### Harden homepage for prod
- [ ]  #10785 (8)  🥅

### Table 508 header compliance
- [ ]  #10983  (3) 🥅
- [ ]  (~~stretch~~ blocked)  #10948 (5) – Note: SW-CMS is doing the parallel CMS story in S69; in planning the team (incl Steve) determined this FE audit doesn't add value to the CMS-based audit
- [ ]  (Dave Pickett) (5)  #11112
- [ ]  (Stretch)  #11084 () – (blocked by 11112, need Dave P onboa

[2022-10-06 04:27] #4306 closed

[2022-10-06 14:28] laflannery opened #11121 "Add inline guidance into existing nodes"
## Description
Currently the new inline guidance displays for an editor when they create a new node, but it does not show on any existing node of that some content type. This should show for all instances of the content type.

Example:
- Inline content currently shows here: https://prod.cms.va.gov/node/add/banner
- Inline content will currently does not show here: https://prod.cms.va.gov/node/4978

[2022-10-06 15:02] #11109 closed

[2022-10-06 15:07] #10526 closed

[2022-10-06 15:39] jilladams commented on #10755
Reopened bc Christia noted it looks like despite merge, the old robots.txt is still in operation.

[2022-10-06 15:46] dsinla opened #11123 "DSN: Explore VA service taxonomy descriptions to understand and account for non-VA specific text"
## Description
Some service descriptions specifically refer to Veterans. How do we account for non-veterans when these services are displayed/linked to from Lovell TRICARE (non-Veteran) pages.

## Acceptance Criteria
- [ ] The problem space is understood and a plan for modifying the description taxonomy is proposed.

### CMS Team
Please check the team(s) that will do this work.

- [ ] `Program`
-

[2022-10-06 15:50] dsinla opened #11124 "PM: Create a sitemap for the TRICARE and VA Healthcare pages and define author"
## Description
Enumerate the expected pages - identify every clone, twin and solo, and define who authors.  What content is more central and would be written by VHADM, what content is specific to the facility and would be written by VA or TRICARE editors.

## Acceptance Criteria
- [ ] Produce a chart similar to this one:
![image](https://user-images.githubusercontent.com/62269210/194361242-a88e19e

[2022-10-06 17:00] EWashb opened #11126 "Sitewide CMS - Sprint 69"
<details><summary>Background</summary>

🥅   — Sprint goals (pending Sprint planning)
💡 — Design
💧  — Drupal engineering
🎉 — FE
🎓  — Training / Change management / KB
📟 — Helpdesk
🔮  —  Planning / roadmap / epic refinement
📊  —  Analytics
🚰  — Service design
🌱 — Good first task

</details>

## CMS Metrics and Reporting
- [x] #10988
- [ ] #10990 (Blocked)
- [ ] #11158 🥅

## Linky
- [x] #9936 (🎉 )
-

[2022-10-06 17:05] EWashb commented on #10843
@ndouglas did you decide on an email to send this to? I wouldn't mind getting a copy if it's possible to add other emails.

[2022-10-06 17:09] EWashb commented on #10867
@TroyA6 @stefaniefgray would you like to link your doc in this ticket and close it?

[2022-10-06 18:59] davidmpickett commented on #5043
This was discussed again today as the largest recurring source of confusion and frustration for Editors who reach out to Helpdesk. Resolving this could help reduce an ongoing source of Helpdesk tickets and better empower editors to make good content for veterans.

Thoughts for moving this forward:
- "Image Cropping" has a different meaning Drupal than it does in most modern web apps. This leads to

[2022-10-06 19:05] TroyA6 commented on #10867
I'd like to brainstorm one more time with Stefanie to make sure we've
covered as many scenarios as possible.
Then we can likely close that.

Thank you!
Troy

On Thu, Oct 6, 2022 at 12:10 PM Erika Washburn ***@***.***>
wrote:

[2022-10-06 19:09] cmaeng commented on #10871
Platform CMS is looking to:
* #10874
* #10877
* test on content build

more conversations needed around any other areas to test and prioritization / timelines.

[2022-10-06 19:15] cmaeng opened #11130 "Recommendations for mitigating published node limit"
## Description
Based on investigative [findings from #10740](https://docs.google.com/presentation/d/1XXecTr0VrOnO299MrO1o1Bo88k8ikvGmPm0W7zog0mw/edit#slide=id.gef04f07fda_0_296), we need recommendations on how to mitigate with approximate LOEs.

Some initial ones to consider:
* Move to public S3 for Drupal asset storage
* Increase processing power on runner
* Investigate individual steps for optim

[2022-10-06 19:15] swirtSJW opened #11131 "Outreach materials tag & filtering taxonomy"
## Background

We want to base [Outreach Materials](https://www.va.gov/outreach-and-events/outreach-materials/) tagging and FE filtering on a taxonomy in Drupal in order to:

- Make setup and changes completely Drupal-driven
- Enable a better Veteran experience where there are no zero-result filter options
- Enable multi-tagging
- Create a more consistent experience for Editors and Veterans by sha

[2022-10-06 19:15] dsinla opened #11132 "DSN: Propose VBA services content model"

[2022-10-06 19:22] cmaeng opened #11133 "Roadmap and plan for the transition off of BRD"
## Background
In preparation for the eventual move off of BRD, we'll need to do some investigative work and map out steps to accommodate.

Because the timeline to transition is unknown there isn't a hard deadline for this that we know.

What we do know is that the Platform Crew will be moving away from BRD to Argo Workflows at some point.

Based on our audit in #9765 our suggested path forward ent

[2022-10-06 19:23] EWashb commented on #10867
That sounds good @TroyA6. Let me know what you think the best next step is too and I can make sure there's a ticket and it's accounted for in the next sprint :)

[2022-10-06 19:24] laflannery commented on #9494
@EWashb I think I want to close this? We have other tickets (the cypress-axe issue) for testing/reporting and while it's not exactly identical to what this was asking about I think we have moved past this slightly and changed direction a bit.  Thoughts?

[2022-10-06 19:30] dsinla opened #11134 "DSN: Flesh out plan for content design/VA services taxonomy and update Epic"
## Description
We need our first draft of plan for how we will tackle the content design that incorporates VBA services into the VA services taxonomy.

## Acceptance Criteria
- [x] Write the user story
- [x] Create issues and add dependencies
- [x] Epic #10517 has issues and order of operation established and verified with supporting teams

### CMS Team
Please check the team(s) that will do this w

[2022-10-06 19:40] laflannery opened #11135 "Discovery: Determine content types for pages with heading violations"
## Description
There are a number of pages on VA.gov that have accessibility heading violations, meaning that the heading structure does not follow logical order and some levels are skipped. One of the initial ideas to help editors avoid creating these errors when creating and updating content is to harden specific content types. This would templatize the pages and headings minimizing the editors

[2022-10-06 19:47] ElijahLynn commented on #10872
WIP PR here > https://github.com/department-of-veterans-affairs/devops/pull/12057

Testing builds here http://jenkins.vfs.va.gov/job/builds/job/cms-test/

php-sodium package isn't being found right now, need to figure out which repo to add for that, it isn't in Amazon's.

[2022-10-06 19:48] ElijahLynn commented on #10872
php-sodium package isn't being found right now, need to figure out which repo to add for that, it isn't in Amazon's.

https://gist.github.com/davidalger/c19a53ed293291ec2e93b5227f9e0a2d

cc @ndouglas

[2022-10-06 20:03] heyjoni commented on #11034
Confirming that the redirect destinations look good. These are temporary redirects because the debt relief R&S page is meant to go away.

[2022-10-06 20:04] laflannery commented on #10070
For tracking purposes, implementation ticket is here: #10442

[2022-10-06 20:11] EWashb commented on #9494
@laflannery i think we are safe to close this with a change in scope/direction

[2022-10-06 20:13] #11034 closed

[2022-10-06 20:14] #9494 closed

[2022-10-06 20:21] heyjoni commented on #11033
Confirming that the redirect destinations are correct.

[2022-10-06 20:24] laflannery commented on #10442
We also have an instance in a create node of a disabled field with help text:
![image](https://user-images.githubusercontent.com/106678594/194411371-dad5dc2d-002e-4997-8639-f08aaff047b8.png)

I would like to include this as a variation to this ticket

[2022-10-06 20:26] EWashb commented on #10871
@cmaeng do we need to coordinate a chat between sitewide cms and platform cms or do yall have everything you need from us?

[2022-10-06 20:31] EWashb commented on #10770
This is currently blocked by a funding decision from VHA Digital Media. TBD on the outcome and will update when I have more info

[2022-10-06 20:33] EWashb opened #11136 "Create "How to use the outdated content audit tool" KB article"
## Background

We have implemented a new audit tool in the CMS that allows users to view outdated content, therefore we need a KB article explaining what it is and how to use it. This article will only be needed for our internal teams aka super admins.

[Outdated content tool ](https://prod.cms.va.gov/admin/content/outdated_content)

## Acceptance Criteria

- [ ] use KB article template to create

[2022-10-06 20:35] jilladams commented on #11033
@heyjoni just clarifying - does that mean you're verifying it's live and redirecting already? I don't think these have deployed yet, so just making sure we're on the same page.

[2022-10-06 20:41] heyjoni commented on #11036
New vanity URL looks fine as a temporary redirect and was confirmed with Mikki, Dave, and Danielle per the Slack thread.

[2022-10-06 20:47] dsinla opened #11137 "CMS: Add new VBA fields to VA service taxonomy"
As noted below, technically this ticket is blocked by #11249 - however, we can say with a fairly high degree of certainty that the VA Services taxonomy will need to be expanded to support VBA Services using most of the same fields we added to support Vet Centers.

In addition, now that we're expanding this taxonomy to store VBA (and later NCA) services, we would like to add checkboxes to each faci

[2022-10-06 20:47] #10823 closed

[2022-10-06 20:50] dsinla opened #11138 "Modify taxonomy selector to account for new VBA fields"
## Description

Consider Lovell?

## Acceptance Criteria
- [ ] Testable_Outcome_X
- [ ] Testable_Outcome_Y
- [ ] Testable_Outcome_Z
- [ ] Requires design review

### CMS Team
Please check the team(s) that will do this work.

- [ ] `Program`
- [ ] `Platform CMS Team`
- [ ] `Sitewide Crew`
- [ ] `⭐️ Sitewide CMS`
- [ ] `⭐️ Public Websites`
- [X] `⭐️ Facilities`
- [ ] `⭐️ User support`

[2022-10-06 20:50] heyjoni commented on #11033
Thanks for clarifying, @jilladams . I meant that the URL structure looks good, not that it's live. I'll test the links when they go live.

[2022-10-06 20:52] dsinla opened #11139 "PM: Outline the architecture for VBA roll-out with key order of operations as a team"
## Description

Define as a team the major high-level development (and associated DSN/PM) steps for how we plan to execute and deploy VBA. Focus on what is required for MVP, but account for known issues that must be addressed outside MVP scope.

## Acceptance criteria
Epics and corresponding child tickets are created that represent the order of operations for Dev tasks to complete VBA

[2022-10-06 21:07] wesrowe commented on #10776
10/4 meeting didn't impact this ticket; new tickets were written for flag views. Unblocking.

[2022-10-06 21:21] JayDarnell commented on #11042
Google sheet with this information: https://docs.google.com/spreadsheets/d/1DT-5-7byOGPBS_dfJ9YCLNFz1Z4v8stS7_vV2D4nwlM/edit#gid=0

[2022-10-06 21:27] wesrowe commented on #11119
@mmiddaugh, do you want to take a pass at this?

[2022-10-06 21:36] davidmpickett commented on #9770
@swirtSJW @JayDarnell @dsinla - relevant to discussion of how service Taxonomy will need to adapt for TRICARE

[2022-10-06 21:37] wesrowe commented on #10785
@apisandipas @ryguyk @swirtSJW – The ticket as written says that the FE template should hold some business rules around how a maximum number of menu items to show in the two new menu-driven lists (other search tools, popular links). I have doubts that this is the best place to put business rules, since everything else about these menus is in Drupal.

Going through the BE with @dsasser, we noticed

[2022-10-06 21:47] apisandipas commented on #10982
The associated PRs have been merged

[2022-10-06 21:50] wesrowe opened #11140 "Apply taxonomy to Outreach Materials"
## Background

We want to base Outreach Materials tagging and FE filtering on a taxonomy in Drupal in order to:
- Make setup and changes completely Drupal-driven
- Enable a better Veteran experience where there are no zero-result filter options
- Enable multi-tagging
- Create a more consistent experience for Editors and Veterans by sharing a taxonomy with Resources & Support

### User Story or Pro

[2022-10-06 21:55] timcosgrove commented on #10740
Report: https://docs.google.com/presentation/d/1XXecTr0VrOnO299MrO1o1Bo88k8ikvGmPm0W7zog0mw/edit#slide=id.g161a6bc6abd_0_31

Follow-on recommendations for mitigation: #11130

[2022-10-06 22:24] timcosgrove commented on #9803
In discussion with engineers on our teams, we realized that files themselves are not revisionable in the way described here. If a file name already exists in the CMS, and something of the same name is added, _0.jpg or similar will be added to it. This is true even if the file is deleted from the entity it is attached to.

In the future, if we do treat files in a 'source of truth' way, they will ne

[2022-10-06 22:24] timcosgrove commented on #9803
Closing as not needed.

[2022-10-06 22:24] #9803 closed

[2022-10-06 22:42] heyjoni commented on #11035
All the old links with asp?ID are taking me to the "Find VA locations" search page without any results listed. Is the old link supposed to show the search result for that location?

If it's the search results page, what's the goal of redirecting the list rather than having people look through the results?

Otherwise, the other links are confirmed to be correct and ready for implementation.

[2022-10-06 22:45] mmiddaugh commented on #11119
Possibly separate issue but should I be able to "add item" if there aren't any to choose from?
![image](https://user-images.githubusercontent.com/55411834/194432013-eb8fd5c6-c320-4e5d-bc8d-7ce9e6835576.png)

[2022-10-06 22:58] heyjoni commented on #11032
Confirming that the links are correct and ready to implement.

[2022-10-06 23:01] davidmpickett commented on #10847
Moving this to done for Sprint reporting

[2022-10-06 23:01] #10847 closed

[2022-10-06 23:03] #10057 closed

[2022-10-07 01:59] DanielleThierryUSDSVA commented on #10626
@mmiddaug
[Homepage promo guidance.docx](https://github.com/department-of-veterans-affairs/va.gov-cms/files/9730146/Homepage.promo.guidance.docx)
h Let me know if you want to chat about guidance in this doc next week. Thanks!

[2022-10-07 02:11] dsinla opened #11141 "PM: Initiate work with Content Team to define text limit and guidance for VAMC System Banner Alert"
## Description
Banners have the potential to be abused.  Some facilities have multiple banners, or even a single banner, that has more content than the facility page itself. Banners are being used for promotional/marketing content, for recruiting, for stories, for operational status, etc. How do we improve the Veteran experience by providing the best guidance to Editors for how to author and deplo

[2022-10-07 02:21] dsinla opened #11142 "Meet with Accelerated Publishing team regarding NextJS vs current MetalSmith static site generator for VBA"
## Description
As we add VBA we'll be adding more nodes. We'll be coming up against the limit of hitting the1 hour build time. NextJS is being considered.

[2022-10-07 02:22] dsinla opened #11143 "CMS: Build migration from "Sandy's db""

[2022-10-07 02:44] swirtSJW opened #11144 "Crosswalk the outreach materials field topics with existing R&S taxonomy"
There is a bit of overlap / replication with the field values for outreach_asset:field_benefits (Related Benefits)  and the taxonomy of [Resources and Support](https://prod.cms.va.gov/admin/structure/taxonomy/manage/lc_categories/overview) (lc_categories)

These two lists need to be studied for overlap and gaps.

Currently the taxonomy has no fields.  There may be a need for additional fields that

[2022-10-07 02:52] swirtSJW commented on #11144
Here are the existing key value pairs from Publication (outreach_asset) :Related Benefits (field_benefits)
https://prod.cms.va.gov/admin/structure/types/manage/outreach_asset/fields/node.outreach_asset.field_benefits/storage
[code]

[2022-10-07 03:11] dsinla opened #11145 "PM: Work with content team"
## Description
Banners currently have great potential for abuse and misuse. Facility pages have multiple banners, some banners contain more text than the facility page, some banners contain promotional or marketing content. How do we help Editors create efficient and concise banners that best serve our Veterans.

## User story
As a Veteran, I want banners that provide me with key information, whil

[2022-10-07 03:12] dsinla commented on #11145
Closing as duplicate to https://github.com/department-of-veterans-affairs/va.gov-cms/issues/11145

[2022-10-07 03:12] #11145 closed

[2022-10-07 03:12] swirtSJW opened #11146 "CMS Add fields to Resources and Support taxonomy"
The crosswalk and discovery performed in #11144 will likely generate some fields that will need to be  added to the taxonomy for [Resources and Support Categories](https://prod.cms.va.gov/admin/structure/taxonomy/manage/lc_categories/) (lc_categories)

This issue is the placeholder for adding those fields

## Eng notes
- Is there a data migration required?
  - Per @swirtSJW it's not an automated m

[2022-10-07 03:22] swirtSJW opened #11147 "CMS Add entity ref to Publication and migrate"
As a content editor, I want parity with the selections that I have for Resources and support categories and outreach materials (Publication) so that my content is well connected and consistent for Veterans.

As a content editor for Publications I want to be able to put a publication in more than one category so that Veterans can find things easier.

Note: Migration map is in https://github.com/dep

[2022-10-07 03:25] swirtSJW opened #11148 "Content: Add / edit Resources and support terms to Taxonomy"
There will be terms coming out of #11144 that will need to be added or edited before the [Resources and support Categories taxonomy](https://prod.cms.va.gov/admin/structure/taxonomy/manage/lc_categories/overview) can be used to power Outreach materials.  This is the issue for carrying out the additions or edits

Unified list of terms from #11144
[code]

## Eng notes
- machine name from #11146 is r

[2022-10-07 03:54] swirtSJW opened #11149 "CMS Delete field_benefits from Publication content type"
In #11147 we will add/have added a new field (field_lc_categories, a tax ref field) for defining outreach topics, designed to supplant the existing field_benefits select list. Therefore, after #11147 lands, we can delete the field_benefits field.

AC
- [ ] field_benefits is removed from the Publication content type.

[2022-10-07 04:00] swirtSJW opened #11150 "CMS Create CMS Feature Flag for Publications (outreach materials)"
It looks to me (Swirt) [that publications are only edited by](https://prod.cms.va.gov/admin/content?title=&type=outreach_asset&moderation_state=editorial-published&owner=All&page=0) Randi  and Tim Hudak   These are both savvy users who might be able to handle seeing duplicate-ish looking fields for a short time.  If that is true, we might be able to skip the whole feature flag workflow as long as

[2022-10-07 04:00] swirtSJW opened #11151 "CMS Delete CMS feature flag"

[2022-10-07 04:01] swirtSJW opened #11152 "FE Remove CMS feature flag logic for Publication"

[2022-10-07 04:05] swirtSJW opened #11153 "FE Make outreach material topic filters use field_lc_categories"
The topic filter on [outreach materials](https://www.va.gov/outreach-and-events/outreach-materials/) is currently powered by a hardcoded list.
![image](https://user-images.githubusercontent.com/5752113/194467652-25284349-0c64-476e-8a88-2289ec2f9ac2.png)

And the topic list filters based on the data carrying the value of `field_benefits`

To make these selection options more consistent `field_benef

[2022-10-07 04:18] swirtSJW commented on #11037
This ticket is likely to be superceded by the Outreach materials epic.  It is kept around for now just in case we need a fast fix for PACT Act

[2022-10-07 04:19] swirtSJW commented on #11038
This ticket is likely to be superceded by the rest of the Outreach materials epic.  It is kept around for now just in case we need a fast fix for PACT Act

[2022-10-07 04:22] swirtSJW commented on #11147
It is possible that the field hiding and the feature flag setting can be removed from this issue based on the idea floated in #11150

[2022-10-07 04:52] swirtSJW commented on #11153
Also keep in mind that Ourtreach materials is Publication listing page which just happens to be the only Publication listing page.  BUT in theory we should be able to create other publication listing pages around the site, so plan for any coding to not be so specific that it only works on this page.

[2022-10-07 04:59] swirtSJW commented on #11153
Also keep in mind that this page does an unusual thing where it contains all the data that is being filtered, then it just hides what is not supposed to show.

[2022-10-07 05:02] swirtSJW commented on #11152
might not be needed if feature flags are not used

[2022-10-07 05:11] swirtSJW commented on #11140
Closing this as a duplicate of
https://github.com/department-of-veterans-affairs/va.gov-cms/issues/11131

[2022-10-07 05:11] #11140 closed

[2022-10-07 05:23] swirtSJW opened #11154 "FE: Outreach material filters support query parameters"
As veteran searching the outreach materials page, when I select a combination of filters I should see that reflected in the url query parameters or path so that I can copy the url and share it with my buddy, and they will see the same results I do.

![image](https://user-images.githubusercontent.com/5752113/194474288-773a7e24-e658-42de-8025-ef42431c1ec0.png)

### Engineering Notes
The filtering of

[2022-10-07 10:25] swirtSJW commented on #11108
I am not sure why these do not match the other uses, other than this is the only place where this field would be editable by users, the other instances are all locked down because they come in via upstream data source.

[2022-10-07 11:12] ndouglas commented on #10843
I thought you were going to tell me the email, lol.

But yeah, I'm sure this can (and likely should) go to multiple addresses 🙂

[2022-10-07 11:12] swirtSJW opened #11155 "FE Lovell menus no longer showing on FE"
When I visit [Lovell TRICARE](https://web-liqqgmzl7tsyfbwyulbkuborufuuttav.demo.cms.va.gov/lovell-federal-tricare-health-care/) or [Lovell VA](https://web-liqqgmzl7tsyfbwyulbkuborufuuttav.demo.cms.va.gov/lovell-federal-va-health-care/) I no longer see the menus.  This is a regression
![image](https://user-images.githubusercontent.com/5752113/194541133-8b74f533-502e-4f90-b6bb-199ef45681ae.png)

##

[2022-10-07 11:21] #10860 closed

[2022-10-07 11:28] swirtSJW commented on #11155
There is a possibility this is due to the menu now having three root elements.  instead of two
* federal
* tricare
* va

That data pattern is now logged in, so the FE logic may need to account for three.  The 'federal' is a throwaway element that can be deleted, but is likely messing up the count logic.

[2022-10-07 13:27] EWashb commented on #10843
Insert spidey pointing emoji lol

@dawnpruitt what all emails should this go to?

[2022-10-07 13:33] swirtSJW opened #11156 "FE Expandable headers missing"
## Describe the defect
Some pages seem to missing their header
https://www.va.gov/daytona-beach-vet-center/
![image](https://user-images.githubusercontent.com/5752113/194565674-b71261c3-1ff4-4eb1-845b-f9bafdba97ad.png)

## To Reproduce
Steps to reproduce the behavior:
1. Go to =https://www.va.gov/daytona-beach-vet-center/
2. See expandables with no text

related to https://github.com/department-of

[2022-10-07 13:35] RLHecht opened #11186 "Redirect Request: Vet Centers"
### Instructions
- Requests must be submitted **AT LEAST** 2 weeks in advance.  Some requests take a significant amount of time and coordination to implement, so start the process as soon as you know you will need one.
- This issue will be used from initial request through implementation to ensure all individuals working on this are notified of status updates.  Please do not create multiple issues

[2022-10-07 13:54] #11042 closed

[2022-10-07 14:01] davidmpickett commented on #10842
Adding blocked until Blake is up to speed on Drupal and Figma

[2022-10-07 14:06] JayDarnell commented on #10852
@stefaniefgray @TroyA6 I'll get this over the finish line today after demo.

[2022-10-07 14:14] davidmpickett commented on #11134
I know this came up yesterday in conversation with @JayDarnell @swirtSJW & @dsinla. Was there a specific task here that is blocking Jay's work? Otherwise, this feels like a duplicate of the #10517 which is blocked by research

[2022-10-07 14:26] EWashb commented on #10843
Ok @ndouglas the emails we will need are:

erika@cityfriends.tech
dawn.pruitt@agile6.com
clarence.maeng@agile6.com
david.conlon@va.gov
troy.griffin@agile6.com
stefanie.gray@agile6.com

[2022-10-07 14:32] swirtSJW opened #11157 "[BLOCKED BY DST TICKET] FE Expandable headers double encapsulating html entities in the title"
## Statuses
**[2025-01-14]** DST ticket is still in their backlog.
**[2024-04-25]** Carol in DST responded that it's in their backlog but they're working on other priority items since the issue has a workaround (the editor enters the text differently)
**[2024-04-24]** Fran commented on the DST ticket that's blocking this one asking for a status.
**[2024-01-19]** Laura F has confirmed that the link

[2022-10-07 14:36] EWashb opened #11158 "Discovery: Create report on published PDFs"
## Description

Currently, there is no easy way for editors to delete PDFs in the CMS. Therefore it results in inline workarounds for editors to replace PDFs currently in the system, such as the _0 and _1 are iterations/replacements of the same file and Drupal is appending those numbers to them.

[Slack thread for context](https://dsva.slack.com/archives/CT4GZBM8F/p1665061751675579)

We need to de

[2022-10-07 15:03] davidmpickett commented on #10489
Templates added! https://github.com/department-of-veterans-affairs/va.gov-cms/issues/new/choose

[2022-10-07 15:03] #10489 closed

[2022-10-07 15:18] davidmpickett opened #11159 "[PRODUCT/INITIATIVE] Research Runbook"
## Description

Here are the steps to follow when setting up a new UX research process:
**Pre-work**
- [ ] Align with Product Manager & Product Owner on the high-level purpose and scope of the research
- [ ] Review Research Repo for previous relevant research
- [ ] Read and understand [Platform's Reasearch Guidleines](https://depo-platform-documentation.scrollhelp.site/research-design/). This runb

[2022-10-07 15:19] davidmpickett commented on #11159
was just a demo

[2022-10-07 15:19] #11159 closed

[2022-10-07 15:19] dsasser opened #11160 "Homepage Hardening: Permissions"
## Description
**Create permissions that:**

- ~~Allow only `OCTO Section` users the ability to add/edit/remove links on the new menus: 'Other Search Tools' and 'Popular on VA.gov'~~ Removed 11/16/22. Reason linked [here](https://github.com/department-of-veterans-affairs/va.gov-cms/issues/11160#issuecomment-1315863197).
- Allow only `OPIA users via new role= homepage content publisher` the ability

[2022-10-07 15:22] dsasser commented on #10626
Moved the permissions work to a new ticket based on feedback/discussions this week: https://github.com/department-of-veterans-affairs/va.gov-cms/issues/11160

[2022-10-07 15:27] dsasser opened #11161 "Homepage Hardening: Character Limits"
## Description
Impose character limits details in this document:
[Homepage promo guidance.docx](https://github.com/department-of-veterans-affairs/va.gov-cms/files/9730146/Homepage.promo.guidance.docx)

## Acceptance Criteria

#### Homepage benefit promo

Promo headline: 35 characters
Use this headline to make it clear to Veterans what the topic of this promo is and that it’s relevant to them.
Prom

[2022-10-07 15:28] dsasser commented on #10626
Moved character limits to a new ticket based on feedback/discussions this week: https://github.com/department-of-veterans-affairs/va.gov-cms/issues/11161

[2022-10-07 15:32] davidmpickett commented on #10196
FYI @jcklpe @dsinla @RWEagans
@davidconlon has requested that the research findings template be complete as part of Sprint 69

[2022-10-07 15:33] #11121 closed

[2022-10-07 15:36] EWashb commented on #11158
@ndouglas I'm thinking about getting you to take a look at this next sprint. It is a high priority. Feel free to add any preliminary thoughts!

[2022-10-07 16:10] #10740 closed

[2022-10-07 16:31] laflannery opened #11162 "CMS: Vet Center - Locations list table is missing caption"
## Description
In the CMS, the Vet Center - Locations list displays "Main and Satellite Locations" in a table on the View screen.  However, this table uses a basic <div> element as a header for the table rather than a programmatic table caption, making it difficult for screen reader user to fully understand the exact purpose of the table date.

This View has also recently been update to include a

[2022-10-07 16:31] JayDarnell commented on #10852
![Screen Shot 2022-10-07 at 12 30 16 PM](https://user-images.githubusercontent.com/21045418/194602789-525e1553-be05-4e80-be78-e6c6bb0c8d98.png)

The draft copy of the Stockton VAMC Facility has been published (this draft places it in the Northern California system) All 16 VAMC Facility health services for this facility have been updated to the Northern California system as well.

[2022-10-07 16:31] #10852 closed

[2022-10-07 17:20] EWashb commented on #10793
@edmund-dunn can you look over this issue and familiarize yourself with the ask from Public Websites? Let me know if you have questions/concerns

[2022-10-07 18:49] davidconlon commented on #11135
Please add an AC to also delineate by Product (e.g. VAMC Product, Events product, etc) I think some of the old report had some events listed in it that is actually the events product rather than the VAMC Product because it's shared.

[2022-10-07 18:59] laflannery commented on #11135
AC added

[2022-10-07 20:08] #10867 closed

[2022-10-07 20:16] EWashb commented on #10837
Closing- some stretch items will, in fact, stretch

[2022-10-07 20:16] #10837 closed

[2022-10-07 20:17] laflannery commented on #10644
@DanielleThierryUSDSVA I have some Like this/not this examples for you. A few possible options....

There are a couple points that I still had a really hard time creating an example for because it really is so dependent on the page content, I just couldn't wrap my head around what an example would like like without context.  That being said here's what I came up with:

## Option 1: Individual exam

[2022-10-07 20:27] heyjoni commented on #11035
Per my convo with Randi in Slack, since the links in question are bookmarked facility pages from the facility locator their redirect destinations make sense and are ready to implement.

[2022-10-07 21:22] mmiddaugh commented on #10982
One of the typos documented in this issue is still present:
![image.png](https://images.zenhubusercontent.com/5d8a47393ac3440001d1a2ed/5f8aad60-7e79-4e61-b1c1-33ab4673fd0e)

[2022-10-07 21:26] omahane commented on #11162
@laflannery please see the PR for these changes.

[2022-10-07 22:24] wesrowe commented on #11161
@mmiddaugh, I think you added the char limits to another ticket – is that the case?

[2022-10-07 23:32] wesrowe opened #11164 "Update Flagged Content view to be Facilities specific & move to Facilities section"
## Description

The [Flagged Content view ](https://prod.cms.va.gov/admin/content/flagged?type=All&workbench_access_section__section=All) (`admin/content/flagged`) currently contains both VA Forms and Facilities content. Via the epic #11066, Forms now have their own section & views and can be removed from this more generic Flagged Content view, in order to make it Facilities specific.

## Acceptan

[2022-10-10 14:34] laflannery commented on #10443
@stefaniefgray/ @TroyA6 I updated this [article](https://prod.cms.va.gov/node/6462/revisions/689710/view), can you review and publish if this looks good? Also, let me know if you feel you will not be able to complete this within this sprint just so I can let Dawn know.  Thanks!

[2022-10-10 14:50] mmiddaugh opened #11166 "[Research] Prep Tasks: Income Limits App"
## Description
An [existing application](https://www.va.gov/healthbenefits/apps/explorer/AnnualIncomeLimits/HealthBenefits) allows Veterans, their caregivers, family members, and others to look up the income limits for VA National medical benefits and prescriptions based on location and number of dependents. This issue covers the tasks needed to prep for Veteran research sessions designed to infor

[2022-10-10 14:53] mmiddaugh opened #11167 "[Research] Conduct research: Income Limits App"
## Description
An [existing application](https://www.va.gov/healthbenefits/apps/explorer/AnnualIncomeLimits/HealthBenefits) allows Veterans, their caregivers, family members, and others to look up the income limits for VA National medical benefits and prescriptions based on location and number of dependents.

This issue continues the work started by Florence and covers the tasks needed to conduct

[2022-10-10 14:57] mmiddaugh opened #11168 "[Research] Synthesis and reporting: Income Limits App"
## Description
This research will inform the redesign of the Income limits app.

## Tasks
- [x]  Clean up notes spreadsheet
- [x]  Write topline summary and share out with team
- [x]  Do data analysis/synthesis of data collected from research
- [x]  Write research report

### CMS Team
Please check the team(s) that will do this work.

- [ ] `Program`
- [ ] `Platform CMS Team`
- [ ] `Sitewide Crew`

[2022-10-10 15:30] laflannery commented on #10437
@stefaniefgray / @TroyA6 I updated [this ](https://prod.cms.va.gov/node/6788/revisions/689712/view) as well. Can you review, update if needed, and publish? This is the last one for spring 69, I tried not to do too many as to not overwhelm but let me know if you feel you won't be able to get it done during the sprint.  Thanks!

[2022-10-10 15:58] mmiddaugh commented on #10982
The "Find a VA facility" link in the Other search tools area goes to `https://staging.va.gov/find-a-location/` rather than `https://staging.va.gov/find-locations `

[2022-10-10 16:00] mmiddaugh commented on #10982
Current: Life insurance benefit hub blurb reads "Explore life insurance options for you and your family and manage `you` policy online."
Expected: "Explore life insurance options for you and your family and manage `your` policy online."

[2022-10-10 16:04] mmiddaugh commented on #10982
@DanielleThierryUSDSVA @laflannery  I'm wondering if the Pathfinder news promo should say "Read the full article" since it doesn't link to an article.

[2022-10-10 16:23] laflannery commented on #10982
@mmiddaugh I agree, that is confusing now knowing where it actually links to. @DanielleThierryUSDSVA would you be able to provide more accurate link text - "Learn more about Pathfinder", "Get started with Pathfinder", maybe something along those lines?

[2022-10-10 16:40] mmiddaugh commented on #11119
@laflannery appreciate any guidance you can lend to help text for editors here, particularly related to the news promo image

[2022-10-10 16:46] laflannery commented on #11119
@mmiddaugh Is there somewhere I can go in the CMS to see all the new fields, to see what an editor will see when managing the new homepage?

[2022-10-10 16:48] mmiddaugh opened #11169 "VA.gov homepage: post-MVP"
## Description
This epic will track tasks for the VA.gov homepage post-MVP

[2022-10-10 16:48] mmiddaugh opened #11170 "VA.gov homepage: post-MVP"
## Description
This epic will track tasks for the VA.gov homepage post-MVP

[2022-10-10 16:57] mmiddaugh opened #11171 "[Homepage post-MVP] - Benefit promo CTA dropdown"
## Description
The first homepage iteration uses a hard-coded CTA as the quickest solution but we know editors will need a way to be flexible while compliant with content and accessibility guidelines.

We're considering a select within Drupal for the CTA with options such as "Read full article", "View event details", etc

## Tasks
- [ ] Define possible use cases for benefit promo spot
- [ ] Work w

[2022-10-10 16:57] mmiddaugh opened #11172 "Home page news promo block type: Add additional CTA options to dropdown"
## Description
The first homepage iteration uses a hard-coded CTA as the quickest solution but we know editors will need a way to be flexible while compliant with content and accessibility guidelines.

We're considering a select within Drupal for the CTA with options such as "Read full article", "View event details", etc

## Tasks
- [ ] Define possible use cases for news promo spot
- [ ] Work with

[2022-10-10 17:00] davidmpickett commented on #10683
Okay, starting to understand the problem space. Based on a [slack thread with Laura](https://dsva.slack.com/archives/C52CL1PKQ/p1665419064692469) I would also say from a design perspective that checkboxes are not the way to go for the patch (if we need to patch).

[2022-10-10 17:09] davidmpickett commented on #10793
We'll need design representation at the handoff meeting as well. For right now, that will likely be me.

[2022-10-10 17:22] davidmpickett commented on #11084
Okay. I think I have enough context now. I understand the larger project and how this is a small temporary solution. The goal is to educate editors that:
1) The first row should not be blank
2) The row will semantically coded as headers
3) If they were planning to use first-column-only headers, they should change their plan

[2022-10-10 17:47] #10667 closed

[2022-10-10 17:47] #11162 closed

[2022-10-10 19:00] davidmpickett commented on #11084
Just did a screenshare with @BlakeOrgan to show him a bit of the Drupal backend and build context.

[2022-10-10 19:33] davidmpickett commented on #5543
Re: the last column of admin/content, the header doesn't always show up. There is a <th> tag and it has a class, but there's no header content.
![unlabeled column](https://user-images.githubusercontent.com/51967950/194939253-e4947715-c307-48ed-b6f7-ecb2f733196a.png)
![Screen Shot 2022-10-10 at 2 21 02 PM](https://user-images.githubusercontent.com/51967950/194939683-6ae8bf56-e2d0-4e97-b457-b071bf39

[2022-10-10 19:51] davidmpickett commented on #11084
Can helper text include links?

[2022-10-10 19:58] laflannery commented on #5543
After looking at this, it seems like if the editor goes to this page by clicking on "Content" in the main nav, the table header will have content and be correct. However, if the editor clicks on a section from the homepage to get here, this is when the table header will be empty, the <th> element is also missing an ID - if this is being filled in with JS that may be why it's empty?

[2022-10-10 20:02] laflannery commented on #5543
After some investigation - this looks like if the editor goes to this page using the "content link" in the main nav, the <th> element will have the "Is Locked" content and be correct.  However, if the editor chooses a section from the homepage once logged in, that is when they will be taken to this page with the empty <th> element.  This element is also missing an ID - and if this is controlled by

[2022-10-10 20:17] laflannery commented on #11084
The short answer is yes. @dsasser should confirm the below two options though -

**Option 1:** Short string with a link, I believe this would be include within the widget:
![image](https://user-images.githubusercontent.com/106678594/194944927-02cddd2c-43c0-45cf-b1d9-165339617beb.png)

**Option 2:** If you feel you need to provide more information we have the new inline guidance field and you can i

[2022-10-10 20:38] swirtSJW opened #11173 "FE: Menus should be covered by FE link checker"
## User Story or Problem Statement

As a Veteran, I don't want to encounter broken links on the primary means of navigation (menus) on va.gov.

As a site reliability engineer, I want to know that high priority links in menus are covered by our link checking so that Veteran's are not encountering broken links on menus.

Currently the link checker that runs as part of the content-build does not scan

[2022-10-10 21:13] swirtSJW opened #11174 "FE: Sidebar menus should not include links to unpublished nodes."
## Describe the defect
As a content editor I want the sidebar menus in my section of the site (primarily vamcs) to only include links to published items so that site visitors do not encounter broken liinks.

The current solution if for a content admin to go into the menu and disable the menu item that links to the unpublished page.  Then later when the page is published, they must remember to go i

[2022-10-10 21:58] swirtSJW opened #11175 "CMS Using VBO to update facility status updates all in the filtered results, not just the selected ones"
## Describe the defect
This was reported by Dave Conlon  and we need to confer with him for the process he used IF we are unable to reproduce it.

## To Reproduce
Steps to reproduce the behavior:
1. Go to https://prod.cms.va.gov/admin/content/facilities/facility-status
2. Filter by any value (for example:
3.Select a couple of the results - not all
4. Attempt to changed their status
5. Notice that

[2022-10-10 22:32] davidmpickett commented on #11123
For a first step I identified 36 services that use the word "Veteran" or "VA" in the description or service name: https://airtable.com/shr9F9QFENjd8fZRS/tblPMm9VUNhQCpX8k

Not sure that all of these services will be needed for Lovell TRICARE, but there's definitely a few key terms here like Pharmacy and Emergency Care.

[Grid view.csv](https://github.com/department-of-veterans-affairs/va.gov-cms/f

[2022-10-10 22:35] davidmpickett commented on #11123
I started by identifying 36 services that use the word Veteran or VA in their name or description:
https://airtable.com/shr9F9QFENjd8fZRS/tblPMm9VUNhQCpX8k
[Grid view.csv](https://github.com/department-of-veterans-affairs/va.gov-cms/files/9749618/Grid.view.csv)

[2022-10-10 22:37] davidmpickett commented on #11123
Will also need to revisit this ticket about possible additional taxonomy terms needed: https://github.com/department-of-veterans-affairs/va.gov-cms/issues/9770

[2022-10-10 22:42] davidmpickett commented on #11139
Reminder about this [mural I made](https://app.mural.co/t/vagov6717/m/vagov6717/1661458485419/a573bc954d3e3bd30f8e2001fef9cb7a9770348f?sender=u20829d1b64855e281dde2585) - might be a good starting point

[2022-10-10 22:45] davidmpickett commented on #11124
Reminder that I did a basic sitemap as part of the content model. Might save some time: https://airtable.com/appojvgFB7lvqgArz/tbljDFflQvxuHBWJK/viw0N9Q9DH5J3hjz5?blocks=hide

[2022-10-10 22:47] davidmpickett commented on #11137
Not sure what the scope of this ticket is, but is is probably blocked by some other tickets. For instance https://github.com/department-of-veterans-affairs/va.gov-cms/issues/11123

[2022-10-10 22:51] davidmpickett commented on #11134
I'm going to flag this is a stretch for this sprint. Lovell taxonomy needs take priority

[2022-10-11 08:39] ENeal49 commented on #8366
yes

On Wed, Mar 16, 2022 at 10:57 AM mchelen-gov ***@***.***>
wrote:

[2022-10-11 12:44] laflannery commented on #11084
@davidmpickett The link you are providing is for the component in the style guide, something that is geared more towards developers rather than editors.  Only some of this seems like it would be useful for editors:

![image](https://user-images.githubusercontent.com/106678594/195093380-3d4a1933-a1c6-4eb1-b992-90038b91a592.png)

Everything else, the editor doesn't get a say in (alignment, sorting,

[2022-10-11 12:50] DanielleThierryUSDSVA commented on #10982
Hi @mmiddaugh @laflannery. If this is the news section, I think the better approach would be to make it a rule that anything featured here must link to its full news article. Otherwise the whole section is misleading. Thoughts?

[2022-10-11 13:03] #9936 closed

[2022-10-11 14:05] TroyA6 commented on #10443
That looks correct and accurate to me - Nice job!

Thank you,
Troy

On Mon, Oct 10, 2022 at 9:35 AM Laura Flannery ***@***.***>
wrote:

[2022-10-11 14:19] TroyA6 commented on #10437
Hi Laura,
This looks good as well!

Thank you,
Troy

On Mon, Oct 10, 2022 at 10:55 AM Laura Flannery ***@***.***>
wrote:

[2022-10-11 14:41] ndouglas opened #11184 "Update frontend queries to support newer versions of Metatag"
## Description
PR #10985 is failing because of this:

![Screen Shot 2022-10-11 at 10 37 41 AM](https://user-images.githubusercontent.com/1318579/195121634-41a86463-d5f7-4b4b-8e0a-fd99f3e146f3.png)

I assume:

means that there was a fundamental breaking change in how metatags are stored or operated, AS ONE LIKES TO SEE IN A PATCH UPDATE.

Presumably, this is going to be a pain because unbreaking th

[2022-10-11 15:01] #10194 closed

[2022-10-11 15:07] laflannery commented on #10437
@stefaniefgray Did you want to review as well or should I go ahead and publish?

[2022-10-11 15:20] davidmpickett commented on #11134
@RWEagans @dsinla Flagging this as unlikely to fit in sprint 69

[2022-10-11 15:21] davidmpickett commented on #11123
@RWEagans @dsinla flagging this as potentially high priority for sprint 69

[2022-10-11 15:34] EWashb commented on #11158
Entity usage module may help locate these. Longer term there may be contrib modules, but the issue is due to drupal core bug

[2022-10-11 15:37] jilladams commented on #10680
Closing for sprint boundary, we'll follow up with Randi in Slack.

[2022-10-11 15:44] #10801 closed

[2022-10-11 15:49] #11035 closed

[2022-10-11 15:50] edmund-dunn commented on #10871
Verify whether web gets built on test?

Check test results, status reports, and logs.

[2022-10-11 15:55] dsasser commented on #10626
Sprint 68 update: PR submitted, pending review. Reviewers include Steve Writ, who is having internet difficulties due to hurricane Ian fallout. That said since this is the second round of review, confidence is high that if changes are recommended, they will be minimal.

[2022-10-11 15:58] #11156 closed

[2022-10-11 16:15] jilladams commented on #10680
https://dsva.slack.com/archives/CDHBKAL9W/p1665504454480439?thread_ts=1660661901.076319&cid=CDHBKAL9W

[2022-10-11 16:26] jtmst commented on #10820
Working on writeup and recommendations on how to to proceed. Should be done by oct 12

[2022-10-11 16:26] #10718 closed

[2022-10-11 16:26] #11033 closed

[2022-10-11 16:38] ndouglas commented on #10990
I lack the "Dashboard Report Write" permission, so I've asked for it [here](https://dsva.slack.com/archives/CBU0KDSB1/p1665506263296159).

[2022-10-11 16:38] ndouglas commented on #10988
PR is in review.

[2022-10-11 16:39] cmaeng commented on #9804
With #11130 also in this sprint and a higher priority, we will try to get as much of this done as we can but are expecting this to carry over.

[2022-10-11 16:42] cmaeng commented on #10872
Performance testing before and after needed to ensure that degradation doesn't occur. This will be timeboxed into a separate ticket.

[2022-10-11 16:42] cmaeng opened #11185 "Performance testing for php 8.1"
Performance testing before and after needed to ensure that degradation doesn't occur. This will be timeboxed into a separate ticket.

_Originally posted by @cmaeng in https://github.com/department-of-veterans-affairs/va.gov-cms/issues/10872#issuecomment-1274983101_

[2022-10-11 16:51] ElijahLynn commented on #11031
Discussed with @olivereri last week and we discussed just upsizing the test.staging and test.prod instances to match the non-test instances for now. We will be off BRD in the coming future and it isn't worth the effort to fix this race condition right now.

[2022-10-11 16:52] ndouglas commented on #10990
Opened a ticket on the Max.gov Jira to discuss this [here](https://vajira.max.gov/servicedesk/customer/portal/1/DOTSD-19527).

[2022-10-11 16:55] apisandipas commented on #10982
@mmiddaugh To make clear, all the links were originally implemented as relative links. They would all point to which ever server was hosting the page at the time unless specificed otherwise and I've only changed the ones to point to va.gov that were specified in the original AC. Do they need to all be pointing to the production website? I can make that change if needed.

[2022-10-11 17:07] #8853 closed

[2022-10-11 17:08] #10755 closed

[2022-10-11 17:19] jilladams commented on #10417
Email out to Cerner/MHV/MyVAHealth folks with report of our bugs. Joe Niquette's team to review with us on a call 10/12.

[2022-10-11 17:27] davidmpickett commented on #11084
@laflannery Our only KB article about Tables also defers to that style guide. I agree that most of it is not particularly relevant for editors, but it's the only existing guidance. Given that this is a temporary patch, drafting new KB content seems out of scope. I already pulled the most relevant guidance in to the help text. I'm happy to just cut the link if you think it will only create confusio

[2022-10-11 17:31] mchelen-gov commented on #5605
@cmaeng The scope here was specifically around monitoring of critical external systems, which did not have monitoring implemented. It looks like the remaining issues here are around documentation, so those should get completed.

[2022-10-11 17:32] jilladams opened #11187 "Injected header postmortem: review & follow up"
## Description
* Incident: https://dsva.slack.com/archives/C52CL1PKQ/p1665146147067899 -- The VSP Identity team converted a modal to use a web component. That web component wasn't processed for use in the injected header, so the modal was not hidden but displayed as text in the injected header.

<img width="1448" alt="Screen Shot 2022-10-07 at 9 00 54 AM" src="https://user-images.githubusercontent

[2022-10-11 17:39] #10709 closed

[2022-10-11 17:46] cmaeng commented on #9056
This has been overcome by events. Closing to no action.

[2022-10-11 17:46] #9056 closed

[2022-10-11 17:51] #10981 closed

[2022-10-11 18:00] davidmpickett commented on #10505
Duplicate with https://github.com/department-of-veterans-affairs/va.gov-cms/issues/11167

[2022-10-11 18:00] #10505 closed

[2022-10-11 18:18] wesrowe commented on #10948
Decision in sprint 69 planning:
- This issue is probably not necessary. Ryan's notes in #10983 indicate where to look in vets-website. And the CMS audit view of #10793 should cover Drupal-driven tables.

[2022-10-11 18:18] dsinla commented on #10842
Hey @BlakeOrgan assigning to you. If you have any questions about the notes in the graphic above, please reach out.

[2022-10-11 18:32] timcosgrove commented on #10740
Adding PDF of report.

[Content build node capacity investigation, Oct 2022.pdf](https://github.com/department-of-veterans-affairs/va.gov-cms/files/9758855/Content.build.node.capacity.investigation.Oct.2022.pdf)

[2022-10-11 19:51] laflannery commented on #11084
@davidmpickett I took at look at the other guidance links and they are either for the KB or Content style guide so I think it would be better to be removed.

[2022-10-11 19:59] jtmst commented on #10820
There are 4 instances of the old fileInput component used in vets-website

1 of whiles in secure-messaging, is under PW domain and should be able to easily be swapped out for the new component

1 is in the COE status widget, is not under PW domain, and will require some additional work to change over given its use of deprecated props. This should be left for the team that owns this code

the remai

[2022-10-11 20:04] EWashb commented on #10842
@dsinla just to confirm, the "normal service hours" will be the only option for operating status? Therefore, we most likely don't need a multi-select?

[2022-10-11 20:05] jtmst opened #11188 "Migrate React Fileinputs to new VA design system components"
Follow up to audit from issue: https://github.com/department-of-veterans-affairs/va.gov-cms/issues/10820

The following three instances of fileInput should be updated to new design system components:

src/applications/claims-status/components/AddFilesForm.jsx
src/applications/financial-status-report/components/FileUploader.jsx
src/applications/mhv/secure-messaging/components/ComposeForm/ComposeFor

[2022-10-11 20:29] davidmpickett commented on #11084
@wesrowe @jilladams - Helper text rewrite is done. Ready for handoff

[2022-10-11 21:02] ElijahLynn commented on #10870
We need tickets for Tugboat and DDEV too.

[2022-10-11 21:14] edmund-dunn opened #11189 "Testing on Drupal"
## Description
Testing for Drupal for php8.1.

## Acceptance Criteria
- [ ] Run all automated tests.
- [ ] Check the Drupal status report.
- [ ] Check Drupal logs.
- [ ] Check Drupal CMS for errors.

### CMS Team
Please check the team(s) that will do this work.

- [ ] `Program`
- [ ] `Platform CMS Team`
- [ ] `Sitewide Crew`
- [x] `⭐️ Sitewide CMS`
- [ ] `⭐️ Public Websites`
- [ ] `⭐️ Facilities`

[2022-10-11 21:15] #10871 closed

[2022-10-11 21:20] edmund-dunn opened #11190 "Update ddev to php 8.1"
## Description
Update ddev to php 8.1

## Acceptance Criteria
- [ ] Update ddev config to PHP 8.1

### CMS Team
Please check the team(s) that will do this work.

- [ ] `Program`
- [ ] `Platform CMS Team`
- [ ] `Sitewide Crew`
- [x] `⭐️ Sitewide CMS`
- [ ] `⭐️ Public Websites`
- [ ] `⭐️ Facilities`
- [ ] `⭐️ User support`

[2022-10-11 21:22] edmund-dunn opened #11191 "Configure Tugboat to PHP 8.1 on a testable base preview on a new branch"
## Description

## Acceptance Criteria
- [x] Configure Tugboat to use PHP 8.1 with a testable base preview on a new branch
- [x] Link to testable environment is posted to this issue

### CMS Team
Please check the team(s) that will do this work.

- [ ] `Program`
- [x] `Platform CMS Team`
- [ ] `Sitewide Crew`
- [x] `⭐️ Sitewide CMS`
- [ ] `⭐️ Public Websites`
- [ ] `⭐️ Facilities`
- [ ] `⭐️ User su

[2022-10-11 21:31] dsinla commented on #10842
@EWashb It's the other way around.  For the time being, while VAMCs are still issuing High Medium and Low COVID statuses, an editor should not be able to choose "Normal services and hours".  We're still not back to normal.

COVID status must be communicated, at a minimum. If there is a hurricane or fire or other more-pressing emergency, than that can bump COVID status. Dave C talked about _"only c

[2022-10-11 21:38] jilladams commented on #11084
Updated ticket body and unassigned Dave since his piece is done.

[2022-10-11 22:13] wesrowe commented on #10793
@davidmpickett, just wondering what the "handoff meeting" would be about. Also noting that in planning this morning the PW team determined we probably don't need to also audit the FE built site; not sure if that's related.

[2022-10-11 22:17] wesrowe commented on #10755
Is it still recommended that we investigate the whole disallow-allow approach? @chri5tia @jilladams

[2022-10-11 22:23] wesrowe commented on #11084
@davidmpickett @laflannery, thank you for the collaborative effort

[2022-10-11 22:32] jilladams commented on #10656
Apologies for the confusion today - Google sheet link was added to our ticket, not yours.
https://docs.google.com/spreadsheets/d/1yQb5oDshNj7y0nvtF3PaZ9OLhtTuZ2aO8t4_n51YBWU/edit#gid=237722104&fvid=1552255965

Updated the related slack thread for the histories as well.

[2022-10-11 22:35] timcosgrove commented on #11130
*Move to public S3 for Drupal asset storage*
Source: Multiple Content Release runs.

* The 'Download Drupal assets' step takes on average 105s
* The asset sync step of deploy takes on average 133s.

Together this step takes just under 4 minutes. Therefore, completion of the public S3 epic would result in savings of 4 minutes, or a little over 10% of current total build time.

[2022-10-11 22:36] jilladams commented on #10755
That was originally a business decision rather than a technical one, and feels like a business decision to change it. The underlying Q being: are there strong reasons _not_ to allow new content to be indexed automagically once live on Prod?

[2022-10-11 22:47] wesrowe commented on #10755
Okay, this needs a consult from Dave C on whether to prioritize. It's not urgent so I'll add it to our sync agenda for when he's back in town.

[2022-10-11 22:47] dsinla commented on #10853
Waiting for Dave C availability after his PTO and Onsite - targeting Sprint 70

[2022-10-11 22:51] dsinla commented on #10507
Per discussions today 10/11 taking out of Sprint 69 and targeting sprint 70

[2022-10-11 22:54] dsinla commented on #10171
@omahane  Is this a dupe of #10946 ?

[2022-10-11 23:14] dsinla commented on #10656
thanks @jilladams
@maxx1128  please take a look - looks like ~20 items.

[2022-10-11 23:38] davidmpickett commented on #10842
I have questions about disabling "Normal Services and Hours". That doesn't align with my understanding of the direction. Maybe the four of us can meet to chat through this tomorrow? @dsinla @EWashb @BlakeOrgan

[2022-10-11 23:42] davidmpickett commented on #10793
@wesrowe The handoff meeting is listed in the acceptance criteria.

[2022-10-12 01:10] DanielleThierryUSDSVA commented on #10982
@laflannery This is a good question. I've joined this effort at a later stage so I'm not sure how the team got to the decision to make this component a news-specific feature.

But the "News" header and then the "More VA news >" link that leads to news.va.gov identify this specifically as news. So I think we need to honor that in what's featured in this component. I think we'd need to ask our OPIA

[2022-10-12 01:49] #10171 closed

[2022-10-12 02:19] dsinla commented on #10842
@davidmpickett I'm happy to chat a bit. I may have been a bit loose with language - we don't have to literally disable the radio button. The goal is to guide and inform editors that for now (while VAMCs are still issuing High, Medium, Low COVID status), all editors are expected to publish that status for their site, and craft the appropriate policy messaging. How best to convey that guidance to ed

[2022-10-12 03:41] chri5tia commented on #10755
I recommend running this by Dave C. It's so easy to miss ensuring that veterans are able to find the content they need and there isn't a good approach for tracking the creating of new top level URLs. This seems like tech debt that we could get rid of without any heavy lifting.

[2022-10-12 12:17] #10820 closed

[2022-10-12 12:50] ndouglas opened #11196 "Sprint 69 Quality Assurance incidental work"
### Table
| Date | Time | Duration | Description | Link(s) | Issue(s) or Resolution |
| -- | -- | -- | -- | -- | -- |
| 10/13 | 08:00 AM | 8h | Linky catastrophe | [Slack Thread](https://dsva.slack.com/archives/CDHBKAL9W/p1665667127482519) | Ended up being a nightmare |

[2022-10-12 12:51] ndouglas commented on #9937
Staging keeps getting reset, so I'll need to do this on CMS-Test.

[2022-10-12 14:47] swirtSJW commented on #10911
I think we want to break this ticket into 3  This one should only address the facility fields and content type.  The other two should address the facility service and service taxonomy fields.

[2022-10-12 14:58] davidmpickett commented on #10842
Did some spelunking. Additional notes/questions for discussion

1. Here is a related open ticket with Sitewide Content with vital context: https://github.com/department-of-veterans-affairs/va.gov-team/issues/45774
2. Has it been determined where the "How to update your VA health facility COVID-19 status" content will live? I know both KB and Sharepoint were raised as possibilities.
3. Is there a F

[2022-10-12 15:08] maxx1128 commented on #10706
I'm marking this as "In Progress" since 10706 is currently in review, and it likely will at least partially solve this ticket.

[2022-10-12 15:11] dsinla opened #11197 "CMS: Add VBA services content type"
## Description
#10504 identified additional fields we should add to the CMS to support the source VBA database. Using the diagram provided in 10504, and the Vet Center - Facility Service as references, add the new VBA Facility Service content type. **I believe we can reuse existing fields for all of these.**

## Acceptance Criteria
- [x] Facility (field_office)
- [x] Service Name (field_service_na

[2022-10-12 15:13] dsinla opened #11198 "CMS: Add VBA Fields to services taxonomy"
## Description

## Acceptance Criteria
- [ ] Testable_Outcome_X
- [ ] Testable_Outcome_Y
- [ ] Testable_Outcome_Z
- [ ] Requires design review

### CMS Team
Please check the team(s) that will do this work.

- [ ] `Program`
- [ ] `Platform CMS Team`
- [ ] `Sitewide Crew`
- [ ] `⭐️ Sitewide CMS`
- [ ] `⭐️ Public Websites`
- [x] `⭐️ Facilities`
- [ ] `⭐️ User support`

[2022-10-12 15:33] laflannery commented on #11119
The Benefits Promo and News Promo fields are very similar so the suggested guidance is the same for any fields that are the same.  I combined Danielle's recommendations in the description with some of the standard help text patterns in the rest of the CMS.

### Block description
- Used in both Benefits and News
- Suggested guidance: _This is used for identifying the block with the CMS. The descrip

[2022-10-12 15:47] ElijahLynn commented on #11191
PR is here https://github.com/department-of-veterans-affairs/va.gov-cms/pull/11200 for now.

[2022-10-12 15:49] wesrowe commented on #10793
I'm glad I asked – I altered that AC to no longer reference the FE audit that the team deemed unnecessary.

[2022-10-12 16:01] laflannery commented on #10982
For reference for the future - search component works correctly as a `<div>` element with `role=search`.  Bryan and I confirm over slack so he has added that to his most recent PR

[2022-10-12 16:09] jilladams commented on #10982
@laflannery does that mean we don't need to worry about escalating the `<form>` wrap issue to the Design system team? aka: the `role=search` change is enough to be good for accessibility?

[2022-10-12 16:12] ElijahLynn commented on #10870
Tugboat ticket here > https://github.com/department-of-veterans-affairs/va.gov-cms/pull/11200

[2022-10-12 16:13] jilladams opened #11201 "Update St Petersburg URLs from #11035 to remove dot"
https://github.com/department-of-veterans-affairs/va.gov-cms/issues/11035

In that ticket, 4 redirects were specified to point to:
https://www.va.gov/st.-petersburg-vet-center/

That's not a functioning URL, so those are returning 404s. The correct URL for those redirects should be:
https://www.va.gov/st-petersburg-vet-center/

Acceptance Criteria:
- [ ] www.va.gov/find-locations/facility/vc_0301V

[2022-10-12 16:15] jilladams commented on #11035
@heyjoni @RLHecht FYI that these redirects are live. There is one issue I filed for follow up, https://github.com/department-of-veterans-affairs/va.gov-cms/issues/11201 -- the St Petersburg vet center URL specified here includes a `.` --

https://www.va.gov/st.-petersburg-vet-center/

That's not a functioning URL, so those are returning 404s. The correct URL for those redirects should be:
https://

[2022-10-12 16:18] jilladams commented on #11036
This change has been deployed. Currently https://www.va.gov/flu-shot is landing on https://www.va.gov/initiatives/flu/, and not pointing to https://www.prevention.va.gov/flu/. This change was deployed 2 hours ago, so there's a chance that this is a DNS propagation issue and will resolve itself in the next ~24h. Will confirm if so or if not.

[2022-10-12 16:18] jilladams commented on #11032
Deployed and verified in prod.

[2022-10-12 16:18] jilladams commented on #11033
Deployed & verified in prod.

[2022-10-12 16:19] jilladams commented on #11034
Deployed & verified in prod.

[2022-10-12 16:58] dsinla commented on #10842
Thanks for meeting - @davidmpickett brought up some good questions that will have to be verified, but in discussions with @EWashb we think @BlakeOrgan can move forward on initial wireframes. Blake- happy to talk again for any info/context you need. I'm sure @JayDarnell will be available for any tech questions as the wireframe is developed, or for a bit of a 'tech review' of the first draft.

We al

[2022-10-12 17:05] chri5tia commented on #10756
I took a look at the search.gov settings via admin account and there isn't a simple "Please reindex the site" option. Reindexing interval is controlled by the site map:

I also see that we need to email them to request re-indexing: search@gsa.gov
<img width="321" alt="Screen Shot 2022-10-12 at 9 59 19 AM" src="https://user-images.githubusercontent.com/22764938/195403943-e86da48f-af98-4282-826a-677

[2022-10-12 17:10] chri5tia commented on #10756
- [ ] Find out how our site map is generated, if it needs to be updated, and if it includes the last modified date (`<lastmod>`).

[2022-10-12 17:29] ndouglas commented on #9937
[code]

I think I'll need to divide `regional_health_care_service_des` into chunks.

[2022-10-12 18:02] wesrowe commented on #10776
@dsasser, note that I just added two additional columns to the audit so that the audit view can assist with the PDF certificate expiration work

[2022-10-12 18:32] davidmpickett commented on #11097
Not sure yet what the need for presentations / readouts for this will be. But leaving this as a placeholder in case those exceed the work @cindymerrill does in #11168.

[2022-10-12 18:38] cindymerrill commented on #10982
I'm still seeing the broken "Find a VA facility link" and typos in the "Service member benefits" and "Life insurance" benefit hub descriptions. When are these expected to be fixed on Staging? I'd like to schedule my pilot tests for after that
. Thanks! @mmiddaugh @jilladams

[2022-10-12 18:49] ndouglas commented on #10988
Merged!

[2022-10-12 18:49] #10988 closed

[2022-10-12 18:53] #11031 closed

[2022-10-12 19:12] maxx1128 commented on #10656
Thanks @jilladams! Going to tackle these

* caregiver_use_facilities_API
* covid_vaccine_scheduling_frontend
* facilities_locator_mobile_covid_online_scheduling
* facilities_ppms_suppress_all
* facilities_ppms_suppress_community_care
* facilities_ppms_suppress_pharmacies
* facility_locator_covid_vaccine_walk_in_availability_text_frontend
* facility_locator_lat_long_only
* facility_locator_predicti

[2022-10-12 19:21] omahane commented on #10911
@swirtSJW
<img width="1840" alt="Screen Shot 2022-10-12 at 2 20 01 PM" src="https://user-images.githubusercontent.com/766573/195429769-ecdd382c-82d2-4655-b996-c6cee1ab71dc.png">

[2022-10-12 19:35] laflannery commented on #10486
@jilladams I found a couple translated pages that may have gotten missed in the original audit, I took a look  at the PDF above but didn't see them. Are these able to get updated? Should I create a separate issue?

- The [English](https://www.va.gov/resources/the-pact-act-and-your-va-benefits/) PACT act page has correct H3s for the accordions but [Spanish](https://www.va.gov/resources/the-pact-act

[2022-10-12 20:01] chri5tia commented on #10756
ranking info https://search.gov/indexing/ranking-factors.html

[2022-10-12 20:03] chri5tia commented on #10756
@swirtSJW @jilladams
Would you like me to go ahead and email them to have the site re-indexed [per my above comment](https://github.com/department-of-veterans-affairs/va.gov-cms/issues/10756#issuecomment-1276483738)?

[2022-10-12 20:32] apisandipas commented on #10982
I've opened a PR with the fixed Find A VA Facility Link.  The top two items in the issue comment were taken care of in a previous PR. The bottom two remain TBD

[2022-10-12 21:02] cindymerrill commented on #10982
Thanks for the updates, @apisandipas ! When do you think the fixed Find A VA Facility link will be up on Staging?

[2022-10-12 21:18] EWashb commented on #10842
Thanks for checking on that @davidmpickett!

[2022-10-12 21:21] apisandipas commented on #10982
@cindymerrill It will more than likely be sometime tomorrow. I've attempted to accelerate code review, but I'm not certain it will make it thru the process today.

[2022-10-12 21:31] EWashb commented on #11087
[PostHog](https://posthog.com/) is the preferred tech option according to tech discovery by @edmund-dunn

[2022-10-12 21:34] jilladams commented on #10756
Is it worth requesting reindex before we've solved the open Sitemap question?

[2022-10-12 21:35] omahane commented on #10911
Should I update the manage display and form display to mimic Vet Center as much as possible?
Also, should any of these fields be required?

Lastly, I was going to add Services when we create that content type, rather than as a part of this issue.

[2022-10-12 21:36] jilladams commented on #10486
@laflannery If you don't mind, a new issue would be very helpful!

[2022-10-13 00:15] ndouglas commented on #9937
To be safe, I'll run it on the following content types first:

[code]

They're comparatively small.

[2022-10-13 00:17] ndouglas commented on #9937
Then I'll do:

[code]

They're comparatively small.

[2022-10-13 00:44] ndouglas commented on #9937
Doing the rest minus `regional_health_care_service_des`:

[code]

[2022-10-13 03:36] ndouglas commented on #9937
I split the `regional_health_care_service_des` eight ways to avoid the memory issue I ran into on staging.  It succeeded.

[code]

There were [some broken link errors](https://dsva.slack.com/archives/C030F5WV2TF/p1665629151182319) involving Linky in a concurrent content build, but I think they're a result of a race condition.  I'll see in the morning, I guess, on the next content build.

[2022-10-13 13:49] laflannery opened #11205 "Incorrect heading levels on accordions on translated pages"
## Description
The `<va-accordion>` component has the ability to set heading level so that the title of the accordion follows logical heading order within the page structure.  The majority of these throughout the site were recently updated based on a CMS audit of where these were located #10486

A couple translated pages seemed to have been missed in the original audit and therefore still have inc

[2022-10-13 13:50] laflannery commented on #10486
@jilladams Added #11205

[2022-10-13 15:34] olivereri commented on #9765
## Deployment Tasks
### cms Deploy Live Steps for prod

## Runtime Tasks
### CMS every-minute tasks run on prod
### Report CMS Content Release Metrics to Prometheus
### CMS periodic tasks run on prod
### Sanitize database on prod.cms.va.gov
### Backup database on prod.cms.va.gov
### META pipeline DB/EFS backup and sanitize
### Backup EFS sites/default/files/ on prod.cms.va.gov
### CMS daily-0800 t

[2022-10-13 16:07] apisandipas commented on #10982
@cindymerrill it appears the fix to Find VA Location is now up and live at https://staging.va.gov/homepage-test/

[2022-10-13 16:12] cindymerrill commented on #10982
Yay, looks great. Thanks, @apisandipas !

[2022-10-13 16:14] chri5tia commented on #10756
@jilladams Can you pint to that question so I make sure I know specifically?

[2022-10-13 16:16] dsinla opened #11206 "Sprint 70 - Facilities | Oct 24 - Nov 6"
<details><summary>Quarterly Initiatives</summary>

List here the major initiatives (Super Epics) driving work for this quarter
The majority of the team's work should fall under these initiatives.
There will likely be other bug-fixes and continuing/legacy issues that fall into a Sprint.

- #9655 Lovell
- #9659 VBA MVP
- #1392 Banners

**Blocked until LH team moves forward**
- #10798  Lighthouse v1

[2022-10-13 16:29] davidmpickett opened #11207 "PM: Get list of Public Contact Staff members from RO POCs"
## Description

List of POC for each office with a backup.

Honolulu
Anchorage
Houston
Boston
Washington area
San Juan

## Acceptance Criteria
- [ ] List of contacts identified contain 2 or 3 members from each RO (14 - 21) of the PCT for the purposes of interview/research

### CMS Team
Please check the team(s) that will do this work.

- [ ] `Program`
- [ ] `Platform CMS Team`
- [ ] `Sitewide Crew`

[2022-10-13 16:32] jilladams opened #11208 "Content Audit: references to logon services that do not list Login.gov"
## 1. Please provide any context around your audit
https://github.com/department-of-veterans-affairs/va.gov-team/issues/47192

## 2. What are the terms you are searching for within the CMS? Are there alternate spellings?
DS Logon, ID.me, MyHealtheVet: to see if [Login.gov](http://login.gov/) is missing from those mentions on pages.

e.g.  https://www.va.gov/claim-or-appeal-status/
 https://www.va.

[2022-10-13 16:43] davidmpickett opened #11209 "DSN: Recruit and schedule participants for VBA Public Contact Staff research"
## Description

**Editor-facing research**
* The Research Lead should work with Product Manager, Product Owner, and Business Stakeholders to identify a list of potential participants
  * The pool of potential participants should be at least 2-3 times larger than the desired # of participants
* The Research Lead contacts and schedules participants
  * Using their VA.gov email address or the shared

[2022-10-13 16:48] dsinla commented on #11141
Next step DS to get a content collab request ticket on their radar.

[2022-10-13 16:49] davidmpickett opened #11210 "DSN: Conduct VBA Public Contact Staff Research Review Cycle"
## Description

- Veteran-facing research must go through Platform's [Research Review Cycle](https://depo-platform-documentation.scrollhelp.site/research-design/research-checklist#ResearchChecklist-2.Researchreview)
- Editor-facing research must go through the [CMS Collaboration Cycle](https://va-gov.atlassian.net/wiki/spaces/VAGOV/pages/1791459333/CMS+Collaboration+Cycle)

Note: This step is a ha

[2022-10-13 16:53] dsinla commented on #11039
Per @swirtSJW - the lift is minor, easy to implement when we want to flip the switch.  The big deal here is all the CM with VHADM.

[2022-10-13 16:56] #9062 closed

[2022-10-13 17:04] RWEagans commented on #11207
Added sites

[2022-10-13 17:25] dsinla commented on #10739
@stefaniefgray Can you pull a list of accounts in Drupal who have access to both a VAMC and Vet Center sections?
Note: To what extent will this risk increase when we add VBA editors/sections?
Related to the 'winnower' which reduces pages that are exposed to an editor - the items that can get winnowed get cached for that user, the problem is it doesn't cache the Vet Center list and VAMC list separa

[2022-10-13 17:33] davidmpickett opened #11211 "DSN: VBA Public Contact Team Research Runbook"
## Description

Here are the steps to follow when setting up a new UX research process:
**Pre-work**
- [x] Align with Product Manager & Product Owner on the high-level purpose and scope of the research
- [x] Review Research Repo for previous relevant research
- [x] Read and understand [Platform's Reasearch Guidleines](https://depo-platform-documentation.scrollhelp.site/research-design/). This runb

[2022-10-13 17:35] davidmpickett commented on #11211
Hey @jcklpe, some of the Public Contact Team research tickets were already created before we had this runbook. I also just created a few issues while doing Prefinement for Sprint 70. But I'm going to let you take this from here.

[2022-10-13 17:58] dsinla commented on #10854
Setting up meeting with @maxx1128 to get instructions on how non-devs can access the environment and key items to look for in their exploration.

[2022-10-13 18:05] davidmpickett commented on #9967
@EWashb - Talking with @dsinla and @swirtSJW in Facilities Prefinement today, I think we might be approaching the time for a Midpoint Review. The CMS parts of Lovell are getting finalized, and KB articles may start to be drafted as early as Sprint 70.

A lot has changed from a staffing perspective since our last touchpoint here, so might be worth scheduling a short state of the project meeting jus

[2022-10-13 18:16] davidmpickett commented on #10800
Tagging myself in this because it will be good for me to be looped in to this for understanding Content Design implications. Depending on the timing and capacity, I'm also willing to help with performing the audit if you want @laflannery

[2022-10-13 18:17] davidmpickett commented on #11112
I've got a good handle on this and feel confident in being able to jump back in when needed.

[2022-10-13 18:17] #11112 closed

[2022-10-13 18:20] davidmpickett commented on #11050
Marking this as blocked because we are waiting on Sitewide Content team. @jilladams @wesrowe

[2022-10-13 18:40] jilladams commented on #10756
Ah yes - I meant your open todo re:
 Find out how our site map is generated, if it needs to be updated, and if it includes the last modified date (<lastmod>).

Will that impact what gets reindexed if we go ahead and reindex now?

[2022-10-13 18:44] davidmpickett commented on #10854
FYI - I was able to get in following these steps: https://prod.cms.va.gov/help/how-to-access-and-manage-demo-environments

[2022-10-13 18:54] davidmpickett opened #11212 "CMS: Lovell nodes/pages that should use Twin Logic, not Clone logic"
## Description

In my very initial pass at poking around in the Lovell Tugboat environment, I found quite a few instances of pages that are using Clone logic that should be using twin logic. That is to say, these pages are currently in the parent "Lovell Federal health care" section rather than having separate instances in both Lovell VA and Lovell TRICARE sections.

- Health Services
- Make an ap

[2022-10-13 18:56] davidmpickett commented on #11212
Not sure how much this will be intertwined with updating the Services Taxonomy to account for TRICARE https://github.com/department-of-veterans-affairs/va.gov-cms/issues/11123

[2022-10-13 19:00] cmaeng opened #11213 "[Platform CMS] Content Build speed improved by 10%"
### Problem statements
* As a CMS editor, I want content to be published as quickly as possible and without failure, so that Veterans receive information they need in a timely manner.

* As a CMS engineer, I want the timing of individual steps of the Content Build process to be tracked as metrics, so that I can see if changes to content build are having an impact.

## Acceptance Criteria
- [x] Con

[2022-10-13 19:03] chri5tia commented on #10756
The paths I added were on the site map, but I need to look at that further. Good call.

[2022-10-13 19:15] chri5tia commented on #10756
The site map is here:
https://www.va.gov/sitemap.xml

It does appear to keep track of when a page was last built:

[code]

This seems to be based on the content build, which is at least daily, so I'm not sure anything needs to be done here. Seems like the search engine, if it works the way they say it will, would reindex it every day.

From Steve's screenshot, the page in question is already in th

[2022-10-13 19:18] chri5tia commented on #10756
This is annoying:
<img width="930" alt="Screen Shot 2022-10-13 at 12 16 37 PM" src="https://user-images.githubusercontent.com/22764938/195689782-9bd844f3-cc30-4a4e-bd35-d881a7e452ed.png">

[2022-10-13 19:20] davidmpickett commented on #11212
Already found some other pages that have the exact same problem:
- Make an appointment
- Register for care
- Pharmacy
- Policies
- Patient advocates
- Medical records office
- Billing and insurance

Not sure why there is such a huge discrepancy here. If this was an oversight, that's fine. But if this was an intentional series of decisions to contradict the content guidance, that should have been a

[2022-10-13 19:21] chri5tia commented on #10756
It is the first result if you specify to  look within resources and support:

<img width="835" alt="Screen Shot 2022-10-13 at 12 20 51 PM" src="https://user-images.githubusercontent.com/22764938/195690395-598bbc70-a993-4c06-9e2d-8d300f448bb1.png">

So that rules out a couple things but makes this even weirder.

[2022-10-13 19:22] chri5tia commented on #10756
Here it is on page 3:

<img width="842" alt="Screen Shot 2022-10-13 at 12 22 39 PM" src="https://user-images.githubusercontent.com/22764938/195690730-9ed5c568-a7cb-430f-8458-d6bf1f0c6fe1.png">

[2022-10-13 19:25] chri5tia commented on #10756
Conclusion so far:

* the site map doesn't need any work related to this, that I can tell
* we probably don't need to submit for reindexing, it seems to be keeping it current
* we need to understand more how the results are ranked and how to prioritize title matches

[2022-10-13 19:46] davidmpickett commented on #11212
I'm aware that there were other places where the CMS build intentionally deviated from what I had in the Content Model. For instance:
- Some nodes/pages I had marked as Solo got turned into Clones (e.g. Work with us). Make sense, and we discussed this as a possibility in advance.
- Some nodes/pages I had marked as Clones got turned into Twins (e.g. New Releases). This also makes sense and was a hu

[2022-10-13 19:52] davidmpickett opened #11214 "DSN/CMS: Is there any separate Performance data to display for Lovell TRICARE?"
## Description
Performance page is currently set up as a Clone, but if there is any legally required performance data from DoD / TRICARE, then this will need to split to Twins / Solo.

Also need to understand how Access to Care data is added to services. Need to suppress for Lovell TRICARE?

![access to care](https://user-images.githubusercontent.com/51967950/197547463-331ffaca-ebb6-48bf-bdcd-5ab7

[2022-10-13 19:54] ElijahLynn commented on #5994
I swapped out Mike for Tim per our call just now.

@timcosgrove instructions are here > https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/platform/cms/cms-sso-saml-iam-login-braindump.md#testing-login

[2022-10-13 19:58] davidmpickett commented on #11124
@dsinla FYI I just made some updates to the Airtable sitemap based on the Tugboat environment. Probably worth building the RACI stuff into that Airtable rather than creating a separate document that is constantly at risk of being out of date. Let me know if you want me to help you set that up early next week

[2022-10-13 20:49] jilladams commented on #10417
Synced with Joe Niquette, who is VSP Identity. Their team isn't looped on the test cases we were provided, but had some general notes about auth scenarios. Ultimately: we have updated the path as requested, and logged-in users are now presented (on Staging, when Flipper is enabled) with the requested URL, so I've proposed handing this back to Tony & co for further testing.  Looped in Danielle Thie

[2022-10-13 21:11] davidmpickett commented on #11212
Did some further poking. These four pages seem to have significant portions that are locked down nationally. That is, they are managed mostly as the VHA > VAMC section level
- Medical records
- Register for care
- Policies
- Billing and insurance
The extent to which Lovell TRICARE pages will need to suppress / replace some of this content needs to be understood and scoped out.

[2022-10-13 21:19] davidmpickett commented on #9973
Just looked through all the ViSN-12 Content. There is no content managed specifically at the VISN level. VISN 12 simply covers all content of sub sections. There will be a governance/training aspect to making sure any VISN-12 level editors understand that Lovell is unique. But there doesn't appear to be any content specifically at a VISN level.

[2022-10-13 21:20] davidmpickett commented on #9973
Will chat with @swirtSJW next week to verify my assessment.

[2022-10-13 21:26] davidmpickett opened #11215 "DSN/CMS: Assess Lovell TRICARE implications for four VAMC centralized content nodes"
## Description
This is a spin-off of #11212

In addition to whatever logic might be need to create separate instances of these pages for VA & TRICARE, we also need to think through how to adjust these nodes that are several branches up the section hierarchy.

- Medical records
- Register for care
- Policies
- Billing and insurance

![Screenshot 2022-10-24 160946](https://user-images.githubusercont

[2022-10-13 21:30] wesrowe commented on #10755
Thanks @chri5tia - It's on our agenda for Dave when he's back in town.

[2022-10-13 21:40] timcosgrove opened #11216 "Some Operating Status pages are outputting Linky URLs"
## Description
A rich text field on Operating Status pages is using the 'value' of its field rather than the 'processed' value.

## Example
https://www.va.gov/north-florida-health-care/operating-status/
* Health Chat App: https://www.va.gov/admin/content/linky/58

## Mitigation
Fix the GraphQL query

[2022-10-13 22:00] wesrowe commented on #10756
@chri5tia, can you tell if R&S search is also using search.gov?

[2022-10-13 22:08] jcklpe commented on #10195
![](https://user-images.githubusercontent.com/9451726/195719910-0cadb442-6963-43d1-8bdc-cd3fcb75c014.png)

https://app.mural.co/invitation/mural/vagov6717/1665513824757?sender=u4a3aab4befc428f9f54f8092&key=4bd6b12d-bcfd-4780-a0a9-06a449d84d91

[2022-10-13 22:51] jilladams commented on #11036
Checked today, still not redirecting. If true tomorrow still, I'll reopen for investigation.

[2022-10-13 23:00] cindymerrill commented on #11166
All prepared for pilot test tomorrow (Fri Oct 14)

[2022-10-14 14:13] TroyA6 opened #11221 "Feature function for Story content types only allows one Featured story"
## 'Feature' function for Story content types - Selecting one 'Feature' deselects the second 'Feature' story

## User Story
As a VAMC CMS Content Editor, I would like to be able to mark two Stories as Features (1st and 2nd) so that the stories appear in the specified order (1st and 2nd) at the top of the page.
However, the system is not allowing two stories to be featured.
If a story is selected t

[2022-10-14 14:14] TroyA6 commented on #11221
I hope I've completed this correctly -- Please let me know if you have any questions!

[2022-10-14 15:45] dsasser commented on #10524
As discussed in scrum on October 13th: Review instances are inaccessible (502 Gateway error) on vets-website builds at the moment, thus making QA of this [issue's PR](https://github.com/department-of-veterans-affairs/vets-website/pull/22392) in non-local environments impossible (without a refactor to use a flipper, which is not recommended and introduces a risk factor). See the[ platform ticket I

[2022-10-14 22:27] cindymerrill commented on #11166
Run pilot test, debriefed with Wes and Michelle, revised convo guide, scheduled debrief meetings around the research sessions next week. Wes is going to invite team members to the research sessions.

[2022-10-14 22:46] stefaniefgray opened #11225 "Facility closed: Oxnard VA Clinic"
## Prod link
https://prod.cms.va.gov/greater-los-angeles-health-care/locations/oxnard-va-clinic

## Background

**Who are the stakeholders for this?**

- Editor(s): Rika Brown
- VISN web manager (optional): Stanley.Holmes@va.gov
- Product team member:
- CMS Help desk - Stefanie

**Associated HD issue, if any**

https://va-gov.atlassian.net/browse/VAHELP-4858

## Acceptance criteria

### VAMC facil

[2022-10-14 22:47] stefaniefgray commented on #11225
Facility should re-direct back to Greater Los Angeles homepage

[2022-10-17 13:48] JayDarnell commented on #10842
@davidmpickett the lift for adding custom validation that is the same for all facility types vs one way for VAMCs and another way for other facilities is nearly the same. We would just need to add a couple extra lines of code to grab and check the facility type before applying the validation logic.

[2022-10-17 14:05] JayDarnell commented on #11212
I suspect many of these items that are incorrectly categorized (twins vs clones) simply haven't been tackled yet. @swirtSJW is the only person (to my knowledge) who actively made content changes on production to pave the way for testing and I wasn't under the impression those changes were necessarily all encompassing.

[2022-10-17 14:19] laflannery commented on #10800
Thanks @davidmpickett! I will keep you posted, however this was slightly duplicated by something the Sitewide Content team was doing so we may not have to do this - once we determine that I will let you know.

[2022-10-17 15:19] maxx1128 commented on #10656
Sorry for the delay, I looked through the Facilities flippers for which ones can be safely removed. These aren't being used on the front end so they can safely be removed:

* `facility_locator_covid_vaccine_walk_in_availability_text_frontend`
* `facilities_locator_mobile_covid_online_scheduling`

[2022-10-17 16:07] jcklpe commented on #10195
Topline report completed here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/regional-offices/research/2022-8-veteran-facing/topline-report.md

private team thread for discussing feedback found here: https://dsva.slack.com/archives/C0441RP7FDF/p1665699434236369

[2022-10-17 17:28] #10873 closed

[2022-10-17 17:28] #11190 closed

[2022-10-17 17:35] laflannery commented on #10437
Confirmed with Stefanie this is good, published updated article

[2022-10-17 17:36] #10437 closed

[2022-10-17 17:36] laflannery commented on #10443
Confirmed with Stefanie this is good, published updated article

[2022-10-17 17:36] #10443 closed

[2022-10-17 17:41] #11132 closed

[2022-10-17 17:49] jsimonVA opened #11444 "Redirect Request For online Form 22-1990n"
### Instructions
- Requests must be submitted **AT LEAST** 2 weeks in advance.  Some requests take a significant amount of time and coordination to implement, so start the process as soon as you know you will need one.
- This issue will be used from initial request through implementation to ensure all individuals working on this are notified of status updates.  Please do not create multiple issues

[2022-10-17 17:54] laflannery commented on #10070
@BlakeOrgan, this is the original design ticket for the help text.  I'm going to summarize everything we discussed here:

Can you take another look at the help text request above and recommend updates to ensure the text passes 7:1 contrast ratio requirements?

- Currently the help text is `#757575`
- Help text appears mostly on a white `#ffffff` background but does sometimes appear on light blue `

[2022-10-17 18:11] #10195 closed

[2022-10-17 18:21] #11085 closed

[2022-10-17 18:30] edmund-dunn commented on #11158
This can be reviewed here https://pr11229-h9b7bf6iead1sxc39ukglskrbccknwvu.ci.cms.va.gov/

[2022-10-17 18:30] #11158 closed

[2022-10-17 18:36] ryguyk opened #11230 "Unpublished Alert blocks are not visibly unpublished when selected on Benefits Detail Pages"
## Description
Benefits Detail Pages have a `field_alert`, which allows an editor to place an Alert block at the top of the page.

It is possible to create a situation where the selected Alert block is not published. This can be done by selecting an existing one that is unpublished or by creating a new one via the link in the instructions and leaving that in the default "draft" state.

While creat

[2022-10-17 18:55] jilladams commented on #11230
I can see the argument for PW owning this as part of Banners / Benefit detail pages, and for Sitewide CMS owning it as part of editor experience and it might apply in more places within the CMS.  @swirtSJW do you have any sense of whether this might apply to more content types that can select Alerts, rather than just the Benefit Detail pages? (After our spec tool dive I'll be able to answer things

[2022-10-17 19:02] stefaniefgray opened #11231 "New Facility: Sonora VA Clinic"
## Background

*What triggered this runbook?*
Sent by editor: https://va-gov.atlassian.net/browse/VAHELP-4953

*Please attach Facility Locator link and https://prod.cms.va.gov/ link to this ticket*
https://www.va.gov/find-locations/facility/vha_612GL
https://prod.cms.va.gov/northern-california-health-care/locations/sonora-va-clinic

*Please also include link to Jira help desk ticket, if applicable

[2022-10-17 20:05] jilladams commented on #10785
Proposal: resolve this, open a new ticket for merge to main / verifying with content once it's entered into Drupal. Good idea, @apisandipas ?

[2022-10-17 20:07] jilladams commented on #10417
Moving to mark this blocked again til we hear back from Tony.

[2022-10-17 20:13] jilladams commented on #10982
@mmiddaugh any updates to these 2 items? (Working on mid-sprint report to understand if this ticket is likely to close in sprint):

1.  Pathfinder news promo CTA Text - Change TBD @mmiddaugh / @DanielleThierryUSDSVA final answer
2.  Staging vs. Prod links - change relative links to be hard links to prod - TBD confirmation from @mmiddaugh

[2022-10-17 20:14] jilladams commented on #10972
@RLHecht @bethpottsVADEPO just checking in - any updates here re: education rates redirect?

[2022-10-17 20:19] jilladams commented on #10524
Both slack threads for this issue died in the water on Friday. Bumped both to see if Platform has ticketed follow up. Meantime: we will likely need to manually QA. FYI @ryguyk - let's discuss ifyou have bandwidth or we can delegate this.

[2022-10-17 20:21] RLHecht commented on #10972
@jilladams We are still on hold with the rates pages so there's nothing for Public Websites to handle at the moment with redirects. We are still working with stakeholders on several pages so there wouldn't be anything for you this sprint. Thanks for your patience with this one!

[2022-10-17 20:54] ryguyk opened #11233 "BE: Remove Office-Directory content type, build step, and associated tech debt for canceled product"
## Description
With ever-increasing content putting us on a track towards build times that exceed our limit, we should consider all potential wasted build time. Currently, there is logic in content build aimed specifically at building out the Office Directory. Since this feature/application is nowhere near usability and not in active development, it's a top candidate for removal.

### Engineering

[2022-10-17 21:11] wesrowe commented on #11233
@ryguyk, good call-out – can you please add a little detail so that this can be more easily estimated in Refinement?

[2022-10-17 21:30] ryguyk commented on #11233
@wesrowe Yes. This needs a lot more info. I just wanted to get it on paper first. I'll update here when I get a bit more time to iron out the necessary details.

[2022-10-17 22:45] davidmpickett commented on #11123
Updated potential conflicts list: https://airtable.com/shr9F9QFENjd8fZRS/tblPMm9VUNhQCpX8k

Put together a mural for discussion at taxonomy team meeting tomorrow: https://app.mural.co/t/vagov6717/m/vagov6717/1666039536221/0d45f7896d42a9aaad56752764787785452c31b8?sender=u20829d1b64855e281dde2585

[2022-10-18 00:09] wesrowe commented on #11144
[copied from Dave Conlon email] The cross walk is shown below. Items in yellow are unique to the original list, one item in red is effectively the same but phrased differently between the two sets.

Outreach materials topics "taxonomy":

    Burials and memorials
    Careers and employment
    Disability
    Education and training
    Health care
    Housing assistance
    Life insurance
    Pensi

[2022-10-18 00:09] wesrowe commented on #11144
@swirtSJW, please see details above. Does this work that Dave C shared complete the cross-walk?

[2022-10-18 01:34] dsinla commented on #11141
Content team intake ticket created: https://github.com/department-of-veterans-affairs/va.gov-team/issues/48331

[2022-10-18 11:13] ndouglas commented on #9937
Well, I _guess_ this can be closed 😑

[2022-10-18 13:53] laflannery commented on #11135
[Readout](https://docs.google.com/presentation/d/1XOto3GsUWLR1J_8clpypmUHYzpmDRNkv-wUjrjYj1-M/edit#slide=id.g16c2d2e3677_0_23)

[2022-10-18 14:09] swirtSJW commented on #11144
@wesrowe I think largely that unified list would cover it.  The taxonomy could be updated to match that list. It is content not config so can be edited by hand.

There are other questions in the issue about possible need for new fields on the taxonomy.  They are probably not needed or could be added down the road when they are.

[2022-10-18 14:19] swirtSJW commented on #11144
I updated the list on https://github.com/department-of-veterans-affairs/va.gov-cms/issues/11148 to cover the additions and changes from the unified list above.

[2022-10-18 14:55] davidmpickett commented on #11148
Is this something we need to run through Sitewide Content? Or is this something I can sign off on from a Content perspective?

[2022-10-18 15:00] ryguyk commented on #10706
I don't think the work done in #10707 will do anything to solve the problem captured in this ticket. This is a separate issue that runs much deeper, as I believe archived content is set to show on the preview server for all content types.

[2022-10-18 15:08] ndouglas commented on #10990
Turns out I had the permission -- the problem arose because this isn't a feature yet on GovCloud :weary:

[2022-10-18 15:59] #10776 closed

[2022-10-18 16:39] wesrowe commented on #11144
Thank you @swirtSJW and I'm closing this issue as complete.

[2022-10-18 16:39] #11144 closed

[2022-10-18 16:45] wesrowe commented on #11148
@davidmpickett, it's my understanding that the SW Content team generated the cross-walk of the terms along with Dave C (who provided the analysis to me). In the interest of building the collaborative tissue between our teams, do you want to figure out how to loop them in on this plan? TBH I'm realizing now that Dave C brought this up in our Refinement meeting and we never interacted directly with

[2022-10-18 16:48] jilladams opened #11242 "Injected Header postmortem follow up"
## Background

**Incidents**:
1. **2022-10-07 Web Components breaks Teamsites postmortem**
    * https://dsva.slack.com/archives/C52CL1PKQ/p1665146147067899
    * https://github.com/department-of-veterans-affairs/va.gov-cms/issues/11187
3. [2023-04-06 - Injected Header (Organic Adoption Modal) Postmortem](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/Postmorte

[2022-10-18 16:52] dsasser commented on #11201
@jilladams issue description says:

It was actually 3 instances instead of the mentioned 4. See https://github.com/department-of-veterans-affairs/devops/pull/12040/files (the original PR) and https://github.com/department-of-veterans-affairs/devops/pull/12098/files (the latest PR for this bug).

[2022-10-18 16:57] swirtSJW commented on #10707
https://github.com/department-of-veterans-affairs/content-build/pull/1318 was merged and closes this issue.

[2022-10-18 16:57] #10707 closed

[2022-10-18 17:28] wesrowe commented on #11205
@laflannery, what further action is needed to close this epic? Do you want to do some independent verification?

[2022-10-18 17:46] dsasser commented on #11201
PR was merged. I'm not sure of the release schedule for the devops repo to know when we should expect to see changes on prod.

[2022-10-18 18:04] stefaniefgray opened #11243 "Need to Revise Adding New VAMC Facility KB Article"
## Background context

**Topic**
The instructions that Editors receive when a new VAMC facility is added to Drupal (via VAST) do not stress the importance of saving the homepage as a **draft, not published** and **adding VAMC Facility Health Services.**

The instructions that Editors must follow once the new facility is available as a draft are buried under lots of introduction text and aren't sim

[2022-10-18 18:08] stefaniefgray commented on #10545
Created similar ticket without realizing: https://github.com/department-of-veterans-affairs/va.gov-cms/issues/11243

[2022-10-18 18:18] jilladams commented on #10793
@EWashb @dawnpruitt could I ask you all to update the [Q4 mural](https://app.mural.co/t/vagov6717/m/vagov6717/1664473870398/95d202be38ecc8ad1a03caab7da043d6cc3356ba?sender=u252e7152800e3981889d1910) with timing for this task / when it lands? We have downstream tasks, and we'll need to understand how they're affected by timing here, once it's moving. Thanks!

[2022-10-18 18:31] #11084 closed

[2022-10-18 18:31] wesrowe commented on #11205
Sorry @laflannery, I mistook this for the defect that started it all (lesson learned again: don't read while talking)

[2022-10-18 18:39] jilladams commented on #11201
Nice! It'll auto deploy Wed am.  (We learned this recently, and I added to [CMS & Front-end Build jobs google doc](https://docs.google.com/spreadsheets/d/164H07n4FChg-JxJZu964nfg2wAX0kPD0SjTfZMhzj_I/edit#gid=0) if you ever need for future ref.)

[2022-10-18 19:22] ElijahLynn commented on #10872
`composer install` (via Ansible)

[code]
http://jenkins.vfs.va.gov/job/builds/job/cms-test/435/console

[2022-10-18 19:23] ElijahLynn commented on #10872
Maybe the DD thing is similar issue:

[code]

[2022-10-18 19:45] apisandipas commented on #10699
## Developer Notes

### Recreation Attempt

When attempting to recreate the issue, using a screen reader, I've been unsuccessful when using the steps described above. Here is what I tried and experienced:

(With screen reader turned on)
1. Go to Va.gov [homepage](https://www.va.gov/)
2. Click on "VA Benefits and Health Care" in the header
3. Click on "Education and training" in the megamenu
4. Cli

[2022-10-18 19:47] davidmpickett commented on #11123
Proposal from meeting with @swirtSJW @JayDarnell and @dsinla:

On Lovell TRICARE Front End have a script to hide the VAMC Description Field on Services

[2022-10-18 20:02] jilladams commented on #10776
This is great! https://prod.cms.va.gov/admin/content/va-forms/audit

@dsasser 2 questions / changes I'd like to request:
* Can column order be modified easily? If so, can we do:
  * Title
  * Form name
  * Moderation State
  * Issue date
  * Revision date
  * When to Use
  * Link to online tool
  * Changed
  * Section
* Can Moderation Issue date column be modified to make it click-sortable? (Revis

[2022-10-18 20:04] davidmpickett commented on #11123
I updated the Lovell Content Model to have a field that indicates the part of the Taxonomy that is the source of the conflict. VAMC Description accounts for 26/40 of the potential conflicts, so hiding that will definitely help significantly. This is ready to take to Dave C / Taxonomy Council for discussion.

[2022-10-18 20:04] #11123 closed

[2022-10-18 20:08] davidmpickett commented on #9770
Marking this as closed as I have documented these issue in taxonomy documents, but there will still need to be work done to implement. Will still be a good artifact to reference

[2022-10-18 20:08] #9770 closed

[2022-10-18 20:11] edmund-dunn commented on #11089
@laflannery
For 1 and 3 those aren't ours. 1 belongs to Atlassian and 3 belongs to Leaflet.js.
2 we can modify because there is a hook_preproccess frunction we can use.

[2022-10-18 20:11] #11089 closed

[2022-10-18 20:11] davidmpickett commented on #11215
When we have an assessment of this and a plan, we can potentially communicate that + the Lovell Taxonomy suggestions from #11123 as a package

[2022-10-18 20:13] davidmpickett commented on #7622
Closing to consolidate remaining Lovell tickets into a single epic: #9656

[2022-10-18 20:14] #7622 closed

[2022-10-18 20:22] jilladams commented on #10776
Daniel clarified that column order in some cases is dictated by the [CMS Views Style guide](https://va-gov.atlassian.net/wiki/spaces/VAGOV/pages/1740472321/CMS+Views+Style+Guide). After reviewing that, here's state of affairs and row 4 is my proposed update. I'll ticket separately:

![Screen Shot 2022-10-18 at 1 21 00 PM](https://user-images.githubusercontent.com/85581471/196536060-46a193c0-58ac-4

[2022-10-18 20:27] apisandipas commented on #10177
After Slack Discussion [here](https://dsva.slack.com/archives/C52CL1PKQ/p1666109692035829) and Via Zoom with @ryguyk , we've determined the best approach is via a Metal Smith plugin to hook into the build process and add a lang attribute to all `main` elements. As this is content-build related, we've repointed the ticket to be a 5.

[2022-10-18 20:28] laflannery commented on #10793
@jilladams and @dawnpruitt I have spoken to Edmund and he is starting this now and will reach out if he has any questions or issues.  It is a stretch ticket for this sprint and I have updated the mural accordingly to reflect this.

[2022-10-18 20:28] jilladams opened #11246 "Forms audit view: revise column order, fix clickable headers, & add Form admin field"
## Description
https://github.com/department-of-veterans-affairs/va.gov-cms/issues/10776 implemented a new view: https://prod.cms.va.gov/admin/content/va-forms/audit

We will use this view for:
* Auditing which forms contain "When to use" content re: whether they should or should not be published as Form detail pages
* Auditing the Issue Date & Revision date re: upcoming PDF Certificate expiration

[2022-10-18 20:29] jilladams commented on #11246
@dsasser changes captured here, ready for pointing.

[2022-10-18 20:33] JayDarnell commented on #11040
@swirtSJW I've submitted a patch for the allow_only_one module: https://www.drupal.org/project/allow_only_one/issues/3313753#comment-14753603

Once this has been merged and a new version of the module has been made available and dependabot has updated our codebase with this new version I can take the final steps to set up the limitations for our alerts as outlined above.

[2022-10-18 20:55] davidmpickett commented on #11148
Re the last AC of "alpha sort the taxonomy," I think we'd still want "Other topics and questions" as the last item in the taxonomy though, correct?

[2022-10-18 21:07] TroyA6 opened #11248 "Remove or Hide Field (approach dependent on field type)"
## Describe the defect
In Drupal CMS Edit mode, the Locations page has a Page Introduction field that is visible and editable, but this content does not appear on va.gov.

## User Story
As a VAMC Drupal CMS Editor, I expect my 'Location' information to appear at the top of my VA health center's Locations page so that Veterans can see quickly how many location options are available to them.

## To

[2022-10-18 21:41] jilladams commented on #11115
@chri5tia update! I'm proposing adding one additional field to this table at the end, Form Administration, as both a column and a filter. (That field exists).  Let me know if that changes the effort for this ticket. (GOing to add it to the other ticket as well.). FYI @wesrowe

[2022-10-18 21:41] davidmpickett commented on #5872
Closing this Epic as it was poorly named and never served as a meaningful locus of tickets.

[2022-10-18 21:41] #5872 closed

[2022-10-18 21:42] jilladams commented on #11118
Also updated to propose adding one additional field to this table at the end, Form Administration, as both a column and a filter. (That field exists).

[2022-10-18 21:45] wesrowe commented on #11148
good catch @davidmpickett

[2022-10-18 21:54] davidmpickett opened #11249 "DSN/CMS: Determine new VBA Fields to add to services taxonomy"
## Acceptance Criteria
- [ ] list of new fields is agreed upon and added as ACs for #11137

### CMS Team
Please check the team(s) that will do this work.

- [ ] `Program`
- [ ] `Platform CMS Team`
- [ ] `Sitewide Crew`
- [ ] `⭐️ Sitewide CMS`
- [ ] `⭐️ Public Websites`
- [x] `⭐️ Facilities`
- [ ] `⭐️ User support`

[2022-10-18 22:01] davidmpickett commented on #10198
Duplicate with #10514

[2022-10-18 22:02] wesrowe commented on #10699
@laflannery @apisandipas - I just tried the Chrome screen reader extension and had a different experience: it read the H1 but the put focus on the VA logo (not even the skip link).

This situation would benefit from a quick meeting to get on the same page and run Bryan's hypothesis by Laura. I'll try to find us a time.

[2022-10-18 22:04] #9977 closed

[2022-10-18 22:30] davidmpickett opened #11250 "Draft Content Model for VBA Services"
## Description

As a Facilities Team member, I need to understand the possible ways that VBA Service Content can be structured so that I can chose the one that aligns best with our goals for the Regional Office MVP.

As a CMS Platform team member, I need a document of the proposed content model to review as part of the CMS collaboration cycle for the Regional Office MVP.

As a Regional Office MVP

[2022-10-18 22:35] davidmpickett commented on #11138
Is the Taxonomy selector concerned about fields or terms?

[2022-10-18 22:38] davidmpickett commented on #11198
Duplicate of #11137

[2022-10-18 22:38] #11198 closed

[2022-10-18 22:43] davidmpickett commented on #11134
Took a crack at #10517. Perhaps something to talk through in Refinement this week?

[2022-10-18 23:12] cindymerrill commented on #11166
All set for sessions starting tomorrow

[2022-10-19 01:43] swirtSJW commented on #11221
There are several issues around this.  Behavioral decisions need to be made in line with featured, stories and events too. (maybe the same treatment for both, maybe not)

[2022-10-19 01:45] swirtSJW commented on #11216
I believe this is closed as a result of the merged PRs ^^.  Closing.

[2022-10-19 01:45] #11216 closed

[2022-10-19 01:55] swirtSJW opened #11253 "Investigate adding integration tests for injected header / footer"
## Status
**[2024-05-21]** Revisit after the injected header flattening/separating work has been completed.

## User Story or Problem Statement

As maintainers of the injected header and footer, I would like to know when a PR breaks some portion of the injected header or footer so that we could prevent it from happening.

There's an existing [Cypress test created by Brooks Johnson](https://github.

[2022-10-19 02:08] swirtSJW opened #11254 "Investigate adding unit tests for injected header / footer in Teamsite instances"
## User Story or Problem Statement

As a maintainer of the injected header and footer on Teamsites it would be good to know if portions of the header or footer break, so it could be prevented before it breaks the injection.

Note: given the methods by which the header and footer is assembled and injected, it may not be possible to cover it with true "unit" tests and it may be better suited to inte

[2022-10-19 02:52] swirtSJW opened #11255 "Add monitoring of prod to alert if injected header / footer fail during injection"
## User Story or Problem Statement

As a maintainer of injected headers and footer, I want to be alerted if a defect occurs on prod teamsite injections so that I don't have to rely on others to report the issue.

Given the number of sites and subsites that rely on the injected header and footer, it is vital that we know when they fail in production so monitoring of prod is needed.

### Assumptions

[2022-10-19 03:25] swirtSJW opened #11256 "Injected header: Add linting to prevent potential issues with TeamSites"
***BLOCKED - We recommend no-op (import components instead) ***

## Description

It was proposed during a recent Post-Mortem that there may be a role for linting to play in preventing breakages of the injected header or footer.

See [comment below](https://github.com/department-of-veterans-affairs/va.gov-cms/issues/11256#issuecomment-1284510481). Only do this if you're _not_ planning to do #11260.

[2022-10-19 11:32] ndouglas opened #11257 "Collect and submit metrics to DataDog for GitHub Actions, Workflows, etc."
## Description
It'd be great to collect metrics about our use of GitHub and any ancillary information we can get.

## Acceptance Criteria
- [ ] Metrics are submitted to DataDog for individual workflow runs, etc.

[2022-10-19 11:51] #10923 closed

[2022-10-19 14:06] ryguyk opened #11260 "Discovery: Investigate fetching web-component library unconditionally for injected header"
## Description
If a web component is added to the header, the header will break when injected on external TeamSites. The easiest solution to this problem is to fetch the package including all web components every time the header is injected on external sites. We need to investigate the cost of doing so. Is unconditionally fetching the web-component library worth the extra page weight?

### Branch

[2022-10-19 14:08] JayDarnell commented on #10911
@omahane I would say yes, try to update the display and form display to mimic Vet Centers as much as possible. I'm creating two spin-off tickets, one to add the new VBA Facility Services content type and another to update the taxonomy.

[2022-10-19 14:13] dawnpruitt commented on #10793
Thank you both!

On Tue, Oct 18, 2022 at 4:29 PM Laura Flannery ***@***.***>
wrote:

[2022-10-19 14:20] ndouglas commented on #9202
I think this is actually implicitly covered by #9921.  I've added all of the node/add forms there, and the accessibility testing implies checking timeouts here, so there's no real need to open each of those pages again.  Closing in favor of #9921.

@dawnpruitt @EWashb

[2022-10-19 14:20] #9202 closed

[2022-10-19 14:23] ryguyk commented on #11254
I do not believe unit tests are the answer here. This ticket will likely be closed without action. Keeping open now as the chips continue to fall.

[2022-10-19 14:35] laflannery commented on #11136
Questions (things I was curious about when learning about this):

- What would be the purpose/use case for the “Over XX days past due” filters? I can't wrap my head around how this is set up, I keep getting confused.
- Do we need to have the text “This view is only available to admins”? You wouldn’t even be able to access this page unless you are an administrator so it seems unnecessary/duplicativ

[2022-10-19 14:50] JayDarnell commented on #11142
@dsinla unless I'm mistaken, based on our conversation yesterday, I do not believe this is an actionable item for our team.

[2022-10-19 16:03] ndouglas opened #11261 "Update GitHub Actions/Workflows to deal with set-output deprecation."
## Description

It looks like this will have very minimal effects and the change required is reasonable.

## Acceptance Criteria
- [x] None of our GitHub Actions/Workflows use the deprecated methods of setting outputs.

[2022-10-19 16:06] jilladams commented on #11118
Yep!

[2022-10-19 16:08] apisandipas commented on #10699
I spoke with @laflannery on Zoom about the issue and we both agree that the behavior is too inconsistent to guess what what might be happening versus what ought to be happening. We plan to confer with a native screen-reader user to decided what should be happening and then determine a course of action from there.

[2022-10-19 16:11] dsinla commented on #10842
@BlakeOrgan My understanding was that @EWashb was going to walk you through some of the fundamentals here for CMS design.  We know she is unfortunately out. Do you expect to see any progress on this issue in this sprint?

[2022-10-19 16:19] ElijahLynn commented on #11191
PHP 8.1 is on Tugboat with a base preview here and is ready for broader testing/review.

https://vacms-10870-php-8-upgrade-qrgd3pk2n13eoflyze9j06d32caiockw.ci.cms.va.gov/
https://vacms-10870-php-8-upgrade-qrgd3pk2n13eoflyze9j06d32caiockw.ci.cms.va.gov/admin/reports/status/php

[2022-10-19 16:32] omahane commented on #10739
@dsinla @swirtSJW The issue that I've seen when it's been replicated is not that one winnowed list is cached. It's that no values show at all from either content type, only the content type names themselves. I am not sure the cause of it, but it's not a winnowing issue.
![va-gov-cms ddev site_admin_structure_types_manage_health_care_region_detail_page_fields_node health_care_region_detail_page fie

[2022-10-19 17:05] jilladams opened #11262 "Mobile Footer: accordion expansion does not fire analytics click event on some pages"
## Description
The mobile footer should fire a Google Analytics event when user clicks to expand an accordion. This GA event is correctly firing on [VA.gov](http://va.gov/) mobile view, for example (screenshots below)

On Healthcare appt pre-check in and error pages, this event is not firing.  e.g.
* https://www.va.gov/health-care/appointment-check-in/error?error=bad-token
* (pre-check in page URL

[2022-10-19 17:21] #11135 closed

[2022-10-19 17:43] #10921 closed

[2022-10-19 17:43] #11257 closed

[2022-10-19 17:44] #10391 closed

[2022-10-19 17:58] davidmpickett commented on #11249
Had a quick chat with @JayDarnell and decided to add the following VBA fields (for now)

- VBA Description
- VBA Patient Friendly Name
- VBA Common Conditions
- A checkbox for show/not showing in different products (similar checkbox to be added to VAMC and Vet Center field bundles)

We decided to wait before adding these fields
- VBA Type of Care
- Is required VBA service checkbox

[2022-10-19 17:59] davidmpickett commented on #11249
This ticket is probably done now, but wanted to give @JayDarnell a chance to review and update ACs of #11137

[2022-10-19 18:24] swirtSJW opened #11263 "Create KB covering linky"
## Description
Linky was recently introduced into the CMS however there was no explanation or direction given to the editors for Linky which is leading to some confusion.

Linky Notes:
- Purpose is to have a repository of external links
- Linky creates a "edit it once, fix it everywhere" situation for administrators to use
- How this works from Steve explaining this to someone in slack:
  - "Linki

[2022-10-19 18:30] swirtSJW opened #11264 "Open linky admin to content-admin"
## Description

The linky admin is currently only available to true admins.  We should consider opening it to content admins.
 https://prod.cms.va.gov/admin/content/linky

This one is likely going to need some discussion... maybe with a few of our trusted content admins.
## Acceptance Criteria
- [ ] As a content_admin I can access https://prod.cms.va.gov/admin/content/linky
- [ ] As a content admi

[2022-10-19 18:38] jilladams commented on #11036
We now have a true mystery:
* Commit to remove the old redirect to https://www.va.gov/initiatives/flu/ has merged
* And deployed: http://jenkins.vfs.va.gov/job/deploys/job/revproxy-vagov-prod/486/
* But https://www.va.gov/flu-shot is still redirecting to the Initiatives path

I looked in Drupal to see if maybe there's a path set on the node itself that is affecting things but I do not find a CLP o

[2022-10-19 18:40] jilladams commented on #11036
Nevermind! Found it: https://prod.cms.va.gov/node/36787/edit

The path on this node is set to `/initiatives/flu`. So I _think_ what we need now is (sorry Bryan!) a 2nd redirect added:

Current URL | Redirect Destination or New URL
-- | --
https://www.va.gov//initiatives/flu | https://www.prevention.va.gov/flu/

@mnorthuis @heyjoni could you confirm that makes sense to you?

[2022-10-19 18:41] davidmpickett commented on #9973
Confirmed with @swirtSJW in meeting today

[2022-10-19 18:41] #9973 closed

[2022-10-19 18:54] davidmpickett commented on #11143
This looks like a duplicate of #10914

[2022-10-19 18:54] #11143 closed

[2022-10-19 18:59] davidmpickett commented on #10914
Pulling this out of Sprint 69 due to it being blocked by multiple tickets

[2022-10-19 19:01] swirtSJW opened #11265 "Reveal linky destination in link editor"
## User Story or Problem Statement

As an editor I would like to see the actual destination of my link when I edit it, and not the linky equivalent so that I may more transparently see and edit my content.

Currently. clicking the edit button for an external link brings up
![image](https://user-images.githubusercontent.com/5752113/196780082-df6c7c56-b2a5-42f4-bcda-03c8aeb94dfe.png)

and the only w

[2022-10-19 19:03] BlakeOrgan commented on #10842
@dsinla No, not for this sprint. @davidmpickett and I chatted about this yesterday and he was able to give context about what some of the expectations and limitations are. I can start to put some preliminary wireframes together starting next sprint, but we will need to make sure everyone is on the same page about what might change within the CMS and how any changes made can/should be reflected on

[2022-10-19 19:23] davidmpickett commented on #11139
I am updating those notes to 1) link to tickets that have been created and 2)indicate where tickets still need to be created

[2022-10-19 19:27] davidmpickett commented on #11039
Definitely not happening in Sprint 70 given the huge CM dependency.

[2022-10-19 19:31] davidmpickett commented on #11137
@JayDarnell is there a possibility this will complete in Sprint 69? Or should this be Sprint 70?

[2022-10-19 19:34] ElijahLynn commented on #11191
Closing as the ACs are met and we are not going to merge yet.

[2022-10-19 19:35] davidmpickett opened #11266 "Propose VBA terms for Service Taxonomy (new and existing)"
## Description
Initial rough draft with Dave P.

There are 3 sources of information that these terms can come from:
1. current services in the VA taxonomy that apply to VBA (Ex. VR&E vocational ...)
2. current VBA service dropdown in facility locator (~16 things, existing data around how Veterans interact with that group of things, powered by Sandys DB)
3.  The public contact research (includes li

[2022-10-19 19:38] davidmpickett opened #11267 "[SPIKE] Proposal for terms/fields in Service Taxonomy for RO MVP"
## Description

**Working document**
- [VBA Services](https://dvagov.sharepoint.com/:x:/s/VBAVA.govmodernization/ET964xEqUFREirhtu34HQVIBbsNOu12QIUc-EVNF_aW98g) (requires VA network)

## Acceptance Criteria
- [x] VBA Services document is reviewed for blockers and decision points
- [x] New tickets created as necessary for remaining work
- [x] A meeting to review is scheduled with Product (UX refine

[2022-10-19 19:42] davidmpickett commented on #11267
Making this separate from https://github.com/department-of-veterans-affairs/va.gov-cms/issues/11250 just because the review and approval process on the descriptions and whatnot might take longer than that for the terms themselves. So #11250 might be able to move forward a little faster and unblock some things

[2022-10-19 19:44] #10911 closed

[2022-10-19 19:45] davidmpickett opened #11268 "Populate values for all fields on VBA terms in Service taxonomy"
## Description
Content being developed / agreed on in https://github.com/department-of-veterans-affairs/va.gov-team/issues/58511, and finalized by stakeholders in #14551 .

## Acceptance Criteria
- [ ] Taxonomy field values are populated in the VA Services taxonomy in the CMS, whether as new terms or updates to existing terms: https://prod.cms.va.gov/admin/structure/taxonomy/manage/health_care_ser